[2020-09-10 11:53] latotty commented on #1221
BTW @Pavel910 this could be some typescript misconfiguration, and my fix only fixes the side effect of it, this issue could affect many more packages.

[2020-09-10 13:48] latotty opened #1223 "App Admin: Hide settings section if it is empty"
## This is:

- Bug
- Feature request

## Specifications

  - version: 4.11.0

## Expected Behavior

If there is no `admin-menu-settings` plugins, it shouldn't be rendered.
Also if all the settings items rendering `null` (because of permission) it shouldn't render the settings.

## Actual Behavior

It is rendered empty.

## Steps to Reproduce the Problem

Remove all the `admin-menu-settings` and ch

[2020-09-10 13:51] Pavel910 commented on #1223
@latotty duplicate of #1073, so I'll close this issue in favor of the other one.

[2020-09-10 13:51] #1223 closed

[2020-09-10 13:53] Pavel910 commented on #1073
UPDATE: this issue is not dead, we're just redoing the security permissions, and once that is in place we can get back to this issue and see how to properly handle that Settings navigation.

[2020-09-10 13:55] latotty commented on #1223
Sorry didn't see it.
I've added a PR also, you could delete it if it is unnecessary.

[2020-09-10 16:08] TommyJackson85 commented on #1104
@Pavel910 @doitadrian can I get assigned to this issue as I am working on it?

[2020-09-11 09:15] doitadrian opened #1225 "I18N - restructure the way per-locale values are stored in the database"
## This is:

- Bug

## Detailed Description
Over time, we've realized that the data structure that's used for storing per-locale-values is not ideal. Consider the following example:

[code]

So, there are two things "wrong" with this data structure.

1. First of all, the locale is stored with ID, instead of with the locale code, e.g. `en-GB`.
2. Storing different values in an array makes it diffic

[2020-09-11 09:22] doitadrian opened #1226 "Implement TypeScript 4.0"
As the title of the issue says, we need the latest TS support in the V5 version of Webiny.

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-0.html

[2020-09-11 09:23] doitadrian opened #1227 "Implement RMWC 6"
As the title of the issue says, we need the latest RMWC support in the V5 version of Webiny.

https://github.com/jamesmfriedman/rmwc

[2020-09-11 09:25] doitadrian opened #1228 "Implement Yarn2"
This is not a high-priority task, but if there will be time, let's see what yarn2 actually brings to the table and see if maybe we want to have it in Webiny v5.

[2020-09-11 09:39] doitadrian opened #1229 "Apps - change the way we access plugins (use context / hook)"
## This is:
- Feature request

## Detailed Description
In React apps, right now, we are using the default `registerPlugins`, `getPlugins`, `getPlugin` functions to work with plugins, e.g.:

[code]

Although this is very convenient, it actually becomes problematic in situations where you dynamically want to add new plugins.

Let's say we have a view that renders three items because initially, we ha

[2020-09-11 09:42] Pavel910 commented on #1229
As much as I want this, I'm not 100% sure this will be possible, as not all plugins are React components. A plugin can be an Apollo link which is created outside of React context, so we still need to access plugins directly using `import`.

[2020-09-11 09:42] doitadrian commented on #1229
Interesting note.

[2020-09-11 11:53] latotty opened #1230 "Project Utils: Function: WebpackBar is spamming terminal output on non interactive environments"
## This is:

- Bug
- Feature request

## Specifications

  - version: 4.11.0

## Expected Behavior

When I build a function in CI or lerna concurrent streamed run it shouldn't use progress bar.

## Actual Behavior

It always renders progress bar.

## Steps to Reproduce the Problem

Build a function in CI env, or using `yarn lerna run build --concurrency 10 --stream`

## Detailed Description

Webpa

[2020-09-11 13:41] Pavel910 opened #1232 "Upgrade Page Builder to use Slate ^0.58"
## This is:
- Improvement

## Detailed Description
Currently, CMS and Form Builder already use Slate 0.58. We'd like to also upgrade the Page Builder to use this new version of slate, to get full support for TS and become more lightweight. This will also allow us to create a Rich Text component in our `ui` package, to be used everywhere in the system.

[2020-09-11 13:43] Pavel910 commented on #1232
Just realized it's a duplicate of #1208. Closing.

[2020-09-11 13:43] #1232 closed

[2020-09-11 14:17] nkumnberlin opened #1233 "CMS - Establish relations between two (or more) fields"
Having bigger Content Models with many fields and explicit identifiers defining parents and child references lead to more complex templates in the webiny gui,  bigger graphql queries and also more code in the frontend.

Example:
![fr0](https://user-images.githubusercontent.com/26595416/92933681-d6fcc800-f446-11ea-8eb2-b313b71e8575.PNG)

It would be easier for the developer and the editor to add a

[2020-09-11 16:10] ramonck commented on #1150
It's almost impossible to have all of these different APIs from PaaS of different companies working under one bucket. The closest you'll get to that is on the serverless product but it's focused only on the Functions part.
It's either a "buy in" into those vendors or have a mesh Docker Swarm/Kubernetes setup, it's the easiest path. And depending on the case can be cheaper to sideload the nodes the

[2020-09-11 16:28] Pavel910 commented on #1150
@ramonck the idea here is to have separate configuration templates for each vendor: AWS, Azure, whatever. When you create your Webiny project, we'll ask you which vendor you want to use, and will create infrastructure configuration specific for that vendor. From Webiny v5 we'll be using https://www.pulumi.com/ to handle all the infrastructure, and that will allow us to support different cloud prov

[2020-09-11 16:37] ramonck commented on #1150
@Pavel910 If you get it working with the main vendors that's huge, it's like the alternative to docker to me at least.
Yes it will not work simultaneously but that's is fine because each project you want to focus on a vendor anyways is not like I want to use CosmosDB with AWS Lambda.. not for now at least :).

But thinking about the storage portion why not try to make it like they do with the dock

[2020-09-11 16:44] Pavel910 commented on #1150
@ramonck by `storage` I meant file storage (sorry for not being clear). As for DBs, we're now working on supporting DynamoDB, so by default, we'll always setup a project for DynamoDB. Mongo and SQL will also be supported, if you need it. But again, if you're on AWS, Dynamo is an obvious choice.

Also, by supporting VPCs (also coming in v5), we're opening the gates for DocumentDB, Aurora, etc. so t

[2020-09-11 16:48] doitadrian commented on #1150
I had the need to respond to this question as well, just didn't have the time.

@ramonck

Actually, to setup Webiny, you "just" need services like API Gateway, CDN, Storage, Functions. And these kinds of services are provided by every major cloud provider, which means we should be able to deploy Webiny there.

Once a user installs Webiny on his provider of choice, it's up to him to pick more compl

[2020-09-11 17:02] doitadrian commented on #1150
BTW, if anybody is interested in contributing - building Azure or GCP Pulumi infrastructure templates, let us know.

We already have 90% done for the AWS, so with that in hand, it might be a bit easier to do the same for Azure or GCP, whatever you prefer.

If someone is interested / wants to try it, let su know, and we'll provide the necessary links / instructions. Note that it will probably take

[2020-09-11 17:12] smartboyathome commented on #1150
I know I am too late on this particular piece, but while I like the pulumi offering, I have hesitations due to self hosting being restricted to their enterprise offering. Hopefully you guys can document the setup process so that it can be replicated on something more friendly to this like Terraform.

[2020-09-11 17:14] Pavel910 commented on #1150
@smartboyathome what do you mean by `self hosting being restricted to their enterprise offering` ? Pulumi is open-source and you are deploying to your own cloud account (AWS, Azure).

[2020-09-11 17:15] doitadrian commented on #1150
https://www.pulumi.com/docs/troubleshooting/faq/#can-i-use-pulumi-without-depending-on-pulumi-com

[2020-09-11 17:17] smartboyathome commented on #1150
I see that my info was out of date. I was referring to the state storage. Apologies.

[2020-09-11 18:09] ramonck commented on #1150
@doitadrian I'm still learning about webiny but I understand the main ideas I believe no clue about the code, if you want some coding help just send me what you can and I will be glad to help and publish in whichever branch so we can make it work. If you can tell me were the AWS part is I can start from there that's fine too. Not sure how pulumi works but if it's NodeJS I will figure out.

[2020-09-11 19:25] doitadrian commented on #1150
Cool @ramonck, I'll try to polish up a couple of things over the weekend and in the beginning of the next week, and then provide some instructions.

BTW which cloud provider would you be interested in trying to tackle? And which database?

Thanks!

[2020-09-11 23:11] ramonck commented on #1150
Azure and CosmosDB.

[2020-09-13 21:07] markwilcox opened #1234 "Headless CMS: Enable adding more typedefs to the read endpoint in a CmsModelFieldToGraphQLPlugin"
I've been trying to create a custom field for the CMS, with a single string as input (the key for a file uploaded to the file manager) then the API side adds more data to the model before it's stored and returned. The extra data has known structure, so I'm using a 'fields' field in Commodo, but the only option to return it from the "read" endpoint currently via GraphQL is using JSON rather than a

[2020-09-13 21:28] tbender-unicon opened #1235 "Improve Scaffold Modeling Capabilities"
## Scope: This request is specifically for the development of webiny Apollo GraphQL APIs.

## Title
Improve Scaffold Modeling Capabilities

## This is:
- Feature request

## Detailed Description

The `yarn webiny scaffold` option supports the creation of a single endpoint (e.g. "api/library") and a single model `Book`. It would be helpful if there were a scaffolding option to create _multiple_ mod

[2020-09-14 06:07] jcode-hub commented on #1099
I'll leave my CI/CD pipeline here: https://github.com/oev-berlin/aws-cdk-webiny-deployment-pipeline it's written in python with the AWS CDK

[2020-09-14 09:30] #1219 closed

[2020-09-14 09:41] #1196 closed

[2020-09-14 09:48] #1230 closed

[2020-09-14 09:54] #1221 closed

[2020-09-14 10:01] #1218 closed

[2020-09-15 12:38] doitadrian commented on #1234
Hi @markwilcox,

I don't know how, but this works:
![image](https://user-images.githubusercontent.com/5121148/93209124-eee18e00-f75d-11ea-976d-f6fa885daba4.png)

So it seems that the `createSchema` is read in the `read` property too.

I also created a test for exactly this case, so we're sure it works in the future. Will pushing it as a separate PR that will close this issue.

In any case, let me

[2020-09-15 13:06] markwilcox commented on #1234
Hey - that's awesome, thanks.

I have the sort of personality that's never happy with "I don't know how, but this works for me" 😄, so I did some digging.
It works because of this:
https://github.com/webiny/webiny-js/blob/master/packages/api-headless-cms/src/content/plugins/utils/getSchemaFromFieldPlugins.ts

Given this is intentionally working for "read", and createSchema() can basically be used t

[2020-09-15 13:47] Pavel910 commented on #1234
@markwilcox @doitadrian CMS supports any number of plugins, and will just process everything you throw at him. `createSchema` does work for both `manage` and `read` so you're free to use that for custom types/resolvers.

[2020-09-15 14:00] doitadrian commented on #1234
![image](https://user-images.githubusercontent.com/5121148/93220152-6fa78680-f76c-11ea-87a4-3f0b763d2f7f.png)

This is what @markwilcox was referring to, the TS doesn't have `createSchema` listed on the `read` property.

You are right @markwilcox , will add it and will be available today/tomorrow.

[2020-09-15 14:18] doitadrian commented on #1150
@ramonck Just a short update @ramonck, please hold on for a couple of more days (I've been busy with some other stuff). I will start working on preparing the necessary parts for you tomorrow, with full attention to it.

Will provide updates ASAP.

[2020-09-15 17:59] #1234 closed

[2020-09-16 10:56] doitadrian opened #1244 "A better way of handling parallel queries and context plugins"
We encountered an interesting problem that occurs if a client is executing more than one GraphQL query in a single request.

Please check [this PR](https://github.com/webiny/webiny-js/pull/1243) that explains the problem, and at the time, introduced a fix that is definitely not elegant / scalable.

[2020-09-17 06:51] latotty opened #1247 "Bug: Explicit type export creates an error on importing, and the build is suppressing the error"
## This is:

- Bug

## Specifications

  - version: 4.12.0

## Expected Behavior

The build should notify about an 'illegal' operation. (from babel-typescript's view)

## Actual Behavior

It compiles, and it will fail to build on import from npm in an external project.

## Steps to Reproduce the Problem

Import the UI button from 4.12.0 in an external project and try to build it.

## Detailed Desc

[2020-09-17 07:11] latotty opened #1248 "Question: Why do webiny builds the libraries with babel, instead of tsc?"
## This is:

- Question

## Detailed Description
Based on this issue: https://github.com/webiny/webiny-js/issues/1247

Currently webiny builds all the libraries with babel-typescript, instead of simply typescript.
In my view this is one unnecessary step, which slows the build a bit. Also creates the problem stated in #1247 .
Typescript can compile react and node libraries also, and when the final

[2020-09-17 07:28] doitadrian commented on #1248
This is really a question for @Pavel910. But, his availability will be limited a bit today, so he won't respond soon, but I'm sure he'll do that as soon as he gets the chance.

The idea you're proposing here sounds interesting, to me at least, because I'm sure TSC out of the box probably already supports everything one might need. And it's also great it can be combined with webpack.

But again, le

[2020-09-17 07:31] jcode-hub opened #1249 "webiny:admin build failes during deployment"
## This is:

- Bug

## Specifications

  - version: 4.12
  - OS: Ubuntu 20.04

## Expected Behavior

The build of the admin app should be successfull

## Actual Behavior

I tried to update my existing project with `yarn upgrade` and then run `yarn webiny deploy apps --env=prod` again and the build failed (no problems with api though)
Then I created a new project to check if this is a problem with

[2020-09-17 07:33] doitadrian commented on #1249
Will take a look now @jcode-hub.

[2020-09-17 07:41] latotty commented on #1249
@doitadrian Checked on my admin, and it relates to https://github.com/webiny/webiny-js/issues/1247

[2020-09-17 07:55] doitadrian commented on #1249
I see, I can see this in my `yarn start`, in a brand new project:

![image](https://user-images.githubusercontent.com/5121148/93436763-7dbfe900-f8cb-11ea-88c7-52e4c7f0b2fb.png)
(which is what is shown in #1247 - thanks @latotty )

At first, this looks to me like some 3rd party dependency got changed. Because this is a brand new issue, and I'm pretty sure nothing has changed in this department.

Le

[2020-09-17 07:59] latotty commented on #1247
A quick fix for the current problem could be to remove the explicit type export.

https://github.com/webiny/webiny-js/blob/e8061c223ddaeaf69e1aa736ca51b963f55e6eab/packages/ui/src/Button/index.ts#L1-L9
[code]
this seems to fix the current build problem, but there is several files exporting type explicitly, but those didn't caused problems with build (as far as I know)

[2020-09-17 08:00] doitadrian commented on #1247
Interesting 🤔

[2020-09-17 08:14] doitadrian commented on #1247
Yeah.. this is also what's happening in `packages/ui/src/Icon/index.ts:2`, otherwise the error might appear there as well:

![image](https://user-images.githubusercontent.com/5121148/93438763-0a6ba680-f8ce-11ea-9ede-5988a55f17da.png)

The other files that you mentioned, not causing errors, are probably not export types, but just actual components.

[2020-09-17 08:14] latotty commented on #1247
export * is fine with babel-typescript, check the issue from babel I linked

[2020-09-17 08:26] doitadrian commented on #1233
Sorry for the delay @nkumnberlin.

I believe I understand what you need.

So instead of adding profile image 1, profile image 2, profile image 3, via the single files field, and then doing the same with title and description via text fields, you would want to have a field that consists of multiple entries, and where a single entry is all that - so a profile image, description, and text. Right?

If

[2020-09-17 08:34] latotty commented on #1247
@doitadrian ❤️  https://github.com/webiny/webiny-js/commit/63a691b9cc1e219addf13fe230105bb3bddbe764

[2020-09-17 08:40] TommyJackson85 commented on #1249
@doitadrian thanks! I'm getting the error too. At first I thaught it was related to my own changes but when I pulled the master branch to update it, the error came up then.

[2020-09-17 08:41] doitadrian commented on #1247
No problem @latotty, I'm just glad the fix wasn't too crazy and hard-to-debug, but that's very much thanks to you, so thanks a lot again for helping and providing valuable resources and knowledge. 🚀 🚀

I will also close the #1249 once `4.12.1` is up, which should be as soon as the [CI/CD](https://github.com/webiny/webiny-js/runs/1127519554?check_suite_focus=true) is done 🙂 .

But of course, will l

[2020-09-17 09:14] doitadrian commented on #1249
[4.12.1 release in progress.](https://github.com/webiny/webiny-js/actions/runs/259056644)

[2020-09-17 09:52] doitadrian commented on #1249
The 4.12.1 is up, please give it a try (I tried it already on my own machine).

Thanks @TommyJackson85 @latotty @jcode-hub!

[2020-09-17 09:56] latotty commented on #1249
@doitadrian thanks, working for me also 👍

BTW: the pipeline's "Deploy Apps stack" step fails https://github.com/webiny/webiny-js/runs/1127692810?check_suite_focus=true

[2020-09-17 10:11] jcode-hub commented on #1249
I can also confirm the fix worked! Nice, many thanks @doitadrian  and the team!

[2020-09-17 10:11] #1249 closed

[2020-09-17 10:51] doitadrian commented on #1247
Will close this one @latotty.

[2020-09-17 10:54] doitadrian commented on #1249
Nice guys! 🎉

BTW @latotty, yeah, saw that one, which immediately got me concerned that something went wrong again, and that's why I immediately tried the new version locally.

Not sure why it failed, especially because while releasing `4.12.1.beta.0`, everything was OK.

Will have to debug this one.

[2020-09-17 10:56] latotty commented on #1247
Sure, but the issue is still on 😄 and can happen in the future again, so I think the `isolatedModules` flag should be investigated.

[2020-09-17 10:58] doitadrian commented on #1247
I understand @latotty.

I'll bring the issue back.

But hopefully, the CI should catch these errors in the future. Not sure why it didn't happen with this particular case, maybe it was a bug in the CI config. I'll have to investigate that.

[2020-09-17 17:51] Pavel910 commented on #1248
@latotty @doitadrian the main reason is build speed while developing. `tsc` is very slow because it does all the type checks. Let me elaborate:

When working on, say, `app-page-builder` in our repository, you run `admin` app which imports `@webiny/app-page-builder`. `admin` app itself doesn't build packages, it only consumes them via `node_modules`. So those packages need to be ready for use. If y

[2020-09-17 17:58] Pavel910 commented on #1247
@latotty the issuew you linked (https://github.com/babel/babel/issues/8361) issue also references a PR which allegedly adds support for named type exporting:  https://github.com/babel/babel/pull/11171. That should've be available since `babel@7.9.0` 🤔

[2020-09-17 20:54] TommyJackson85 commented on #1249
Great work! Thanks! It's up and running for me again!

[2020-09-18 10:54] doitadrian opened #1250 "Page Builder - upload installation ZIP to a public S3 bucket"
As mentioned in #1238, we don't want to upload PB's installation ZIP file in every new project, it's simply redundant. Let's host it on our public S3 bucket, and have the installation process pul the files from it.

I think we can just create a simple S3 bucket in our main AWS account, and host the files there. I remember @Pavel910 mentioning having a new folder for every version of Webiny, but at

[2020-09-18 11:02] doitadrian opened #1251 "Inspect / correct configurations for development tools and processes"
While working on v5, I noticed a couple of things that might use some checking:

### TODO:
- [ ] 1. Prettier - whole project scanned
- [ ] 2. `lint-staged` - incorrect file filter applied
- [ ] 3. ESLint - not ignoring `build` files

### 1. Prettier - whole project scanned
While running pre-commit actions, this prettier command takes a lot of time, because it's actually scanning the whole project,

[2020-09-18 11:25] Pavel910 opened #1252 "Add password protection to site app"
## This is:
- Feature request

## Detailed Description
We need to allow users to password-protect their sites. Once `v5` is out we'll be able to create a proper login mechanism for apps, but at the very least we should allow Basic Auth for the whole app (any app). Especially since we're serving the site app via a dedicated lambda, this should be doable.

## Possible Solution
Enabling something lik

[2020-09-18 12:32] doitadrian opened #1253 "Investigate 1024MB of RAM as the default value for every function"
As the title itself says, let's see if we gain anything by increasing the default 512MB of RAM to 1024RAM.

In my very short investigation a couple of weeks ago, I noticed that the execution was much faster and that the price essentially stayed the same, as the following screenshot suggests:

![image](https://user-images.githubusercontent.com/5121148/93597548-82fc6100-f9bb-11ea-9311-68fbbc9c5c24.p

[2020-09-18 12:33] doitadrian commented on #1253
Probably a useful article, came out a couple of days ago: https://dev.to/aws/deep-dive-finding-the-optimal-resources-allocation-for-your-lambda-functions-35a6

[2020-09-18 12:35] doitadrian opened #1254 "Lambda/DynamoDB optimization — enable HTTP keep-alive"
Let's make sure we enable and try this.

https://medium.com/predict/lambda-optimization-tip-enable-http-keep-alive-ef7aa7880554

[2020-09-18 13:06] latotty commented on #1247
@Pavel910 I use 7.10, so it is fine on my part, but webiny builds the packages with 7.0 so it is vulnerable to this kind of issues.
If I understand the PR correctly after babel 7.9 we could use `export type` in typescript so it wouldn't compiled into the js files.

[2020-09-18 13:18] Pavel910 commented on #1247
@latotty what do you mean `7.0`? I have `@babel/cli@7.11.6` locally on my machine. This is what we have in our `package.json`:
[code]

That means `anything greater or equal to 7.0.0` - which will always pull in the latest available version.

[2020-09-18 13:29] latotty commented on #1247
@Pavel910 Ohh yeah, sorry, got used to exact types in my projects 😄
So then the webiny packages can be changed to use the export type syntax.

[2020-09-18 17:28] Pavel910 opened #1255 "Add missing scopes to app-file-manager"
This is:
- Bug

## Expected Behavior
When adding security scopes, a scopes dropdown should contain File Manager scopes.

## Actual Behavior
File Manager scopes are missing.

## Possible Solution
Add the missing `security-scopes-list` plugin.

[2020-09-18 23:54] ramonck commented on #1150
Ok no worries @doitadrian , would be nice to maybe put it on the README/Wiki so others can also jump in and help as they can and you can have more people helping the library and growing the features around it. The more you share on this piece the more plugins others can help you guys out there in this perspective so maybe we can be an army of a couple and not only us.

[2020-09-20 16:39] sherlockholmes opened #1256 "webiny:api build failes during deployment - Quickstart"
## This is:
- Bug

## Specifications

  - Version: 4.12
  - OS: Amazon Linux AMI 2018.03(Cloud9)
  - Browser: Chrome
  - Node Version:  v10.20.1
  -  Yarn Version: 1.22.5

## Expected Behavior
The build of the api should be successfull following the Quick start guide.

## Actual Behavior
I tried to deploy a new fresh  version of webiny on my AWS environment following the Quickstart guide, but when

[2020-09-21 09:10] Pavel910 commented on #1248
@latotty can I close the issue or do we still have something to discuss here? Cheers!

[2020-09-21 09:13] latotty commented on #1248
Sure, thanks!

[2020-09-21 09:13] #1248 closed

[2020-09-21 09:13] Pavel910 commented on #1247
@latotty so what's the verdict here? So far we never had problems with this, your PR is the first one that hit this. Would you like to submit another PR to fix that Button type export, or....?

[2020-09-21 13:35] latotty commented on #1247
@Pavel910
My problem is that we can't export types explicitly currently in a webiny package. Because webiny uses typescript@3.7.4, which doesn't support `export type` yet. But event if the ts is upgraded to 3.8, a big problem will be still there.
The build system does not notify the developers about the mistake, that they exported a type as a value, and babel compiles that into the js file, which

[2020-09-21 13:41] Pavel910 commented on #1247
@latotty I'm confused now. Is it babel's or TS's problem? We talked about babel not supporting it, then we figured out that 7.9.0 `should` support it 🤔

[2020-09-22 06:51] latotty commented on #1247
@Pavel910
First, babel will never support this kind of statement:
[code]
this will always compile to a faulty code.
The solution is to enable `isolatedModules` fllag in typescript, so the tsc will throw an error if someone exported a type as normal export by mistake.

Babel offers 2 solutions to export types from an other module.
One is the `export * from './type';` it will work.
The other one is

[2020-09-22 07:04] Pavel910 commented on #1247
@latotty Great, thanks for the summary! We're planning to upgrade to TS 4 for `v5` and we'll take this issue into account and see what to do about it.

[2020-09-22 08:22] #1255 closed

[2020-09-23 06:14] econtentmaps opened #1258 "Page Builder page disappears while editing"
While editing a page in the Page Builder, I have seen an issue occur numerous times. I'm not 100% sure what causes the problem, but in general, I'm making text edits while it happens. Suddenly the page will disappear. Clicking 'back' on the browser updates the URL to the page list, but the page itself doesn't load, the page remains blank.

## This is:

- Bug

## Specifications

  - version:
4.12.1

[2020-09-23 09:25] Pavel910 opened #1259 "Improve admin app navigation"
## This is:
- Feature request

## Detailed Description
Our current navigation in the admin app needs several improvements:
- [ ] Convert bottom items (links to source, community, etc) to plugins, so users can remove/override those in their projects
- [ ] Fix API Information icon to match the style of other navigation icons

This is the part of navigation I'm talking about:
![image](https://user-im

[2020-09-23 09:28] SvenAlHamad commented on #1259
On this one, let's also replace `community` with `slack`.

[2020-09-23 11:49] econtentmaps opened #1260 "Page Builder link validation is too restrictive."
## This is:

- Feature request

## Detailed Description
When specifying the URL for a link (in a button or a menu item, for example), Page Builder requires a full URL.

## Possible Solution
Ideally, it should allow anything that the href property of the a tag supports (#, relative, absolute etc). I imagine the value should also be sanitized server(less)-side before being stored, though.

**Note:**

[2020-09-23 13:50] everium commented on #1205
An example of this behavior on a live website can be seen here: https://www.dougherty.ga.us/visitors-community/news-events/public-notice

[2020-09-23 16:22] TommyJackson85 commented on #1176
Just to inform everyone, I haven't abandoned this. I'm still working on this. I just got delayed over my regular job and from bugs with my initial PR. I have abandoned [PR #1207](https://github.com/webiny/webiny-js/pull/1207) but I am using it as a reference still. I am now working on [PR #1246](https://github.com/webiny/webiny-js/pull/1246). 🚀 🚀 😄

[2020-09-23 18:10] doitadrian opened #1261 "⚠️ Services Bundles Optimization"
A more-than-we-would-like amount of code is piling up in our Lambda functions / federated GraphQL services, which affects cold starts.

There are a couple of annoying packages that increase the size significantly, for example the `apollo-server-lambda`, which I decided to trim this week. By going deep into the package and checking what it contained, I managed to shave of ~1.3MB from each service!

[2020-09-24 07:07] Th-Os opened #1262 "Outdated Theme Docs + Question how it works"
## This is:
- Question

### Outdated Docs:

Navigate to [https://docs.webiny.com/docs/developer-tutorials/new-theme-overview/](https://docs.webiny.com/docs/developer-tutorials/new-theme-overview/). You will find outdated information and broken links.

### Question:

Currently, I am trying to set a theme to the PageBuilder, Admin App and Site App to be able to set colors and fonts of the Text eleme

[2020-09-24 09:29] brunozoric opened #1263 "Image list is not displaying images in preview mode in Page Builder"
When you create a page and add a block and then a image list, which you populate with few images, images are displayed in edit mode but in preview mode they are not displaying.

## This is:
- Bug

## Specifications

  - version: 4
  - OS: any
  - Browser: any

## Expected Behavior
Images should display in preview mode in Page Builder

## Actual Behavior
Images are not displayed (there is an empty

[2020-09-24 14:50] SvenAlHamad commented on #1262
Hi @Th-Os,

apologies about that, you're right, some information on that page is out of date and needs updating. I'll handle this in the next few days. In the meantime, so you can move forward:
1. Create a new folder `theme` inside `apps/site/src` (the apps/site/src folder should already exist with the default webiny installation)
2. Inside that folder copy the contents of this package: https://gi

[2020-09-24 14:56] SvenAlHamad commented on #1189
@Ashu96 can we close this task?

[2020-09-24 14:59] Ashu96 commented on #1189
Sorry @SvenAlHamad it's has not been fixed yet.

[2020-09-24 15:02] #847 closed

[2020-09-24 15:22] alanreynosov commented on #1150
I think this link could be useful to know what are the equivalencies of  resources required by webiny in GCP and Azure
https://www.datamation.com/cloud-computing/aws-vs-azure-vs-google-cloud-comparison.html

[2020-09-24 15:25] doitadrian commented on #1150
Very nice @alanreynosov!

BTW just a short update from my side...

Still doing some refactors and testing. Actually, this is my main focus this week, and will probably be in the next one as well.

More time was needed for abstracting a couple of places and make them multi-cloud compatible. And there is still a couple of places to check.

But it's going well I'd say.

I will update you as soon as w

[2020-09-25 00:55] ramonck commented on #1150
Hey no problem, I've been working late so no worries no rush. Crazy times.. lots of demand.

[2020-09-25 06:19] Th-Os commented on #1262
Hello @SvenAlHamad,

thank you for your help!

I still have problems with the imports in ```apps/admin/src/App.tsx```:
[code]

The upper import won't resolve, because it is not in rootDir and not in include. Both configurations can be found in the tsconfig.json. I tried to use ```import myTheme from 'site/src/theme'``` but that throws the following error:

[code]

Seems like i have an import or a

[2020-09-25 06:35] Th-Os opened #1265 "Question: How to add custom Security Service"
## This is:

- Question

## Question

Hello, it's me again.
I want to add a custom Security Service to implement an existing authorization API. The workflow would look like this:
1. User enters his credentials
2. Security Service is called
3. Within Security Service it calls my external API and gets a token
4. The user will be logged in and gets a JWT Token and have some other informations
5. Secu

[2020-09-25 06:52] Ashu96 opened #1266 "Update `api-files` package to `api-file-manager`"
## This is:
- Feature request

### About the issue:

How about we update `api-files` package to `api-file-manager`. We already have the [`app-file-manager`](https://github.com/webiny/webiny-js/tree/master/packages/app-file-manager) package.
This way it will be consistent with our other packages. For example:

-  [`api-page-builder`](https://github.com/webiny/webiny-js/tree/master/packages/api-page

[2020-09-25 09:24] #1263 closed

[2020-09-25 11:06] Pavel910 commented on #1265
Hi @Th-Os!

Our current security layer is not at all flexible and we're addressing it in the next major release of Webiny coming around New Year (#1194 and #1206).

The way you imagined it is doable, you'll need to create a new [GraphQL service](https://youtu.be/SgfWQG8YirU?t=66), and add your token generation logic there. Then you'll add a login/signup to your custom app and handle that however y

[2020-09-25 13:03] Pavel910 commented on #1262
Hey @Th-Os, sorry for the troubles. I'll record a video and update the docs which will explain what and how of creating a custom theme. It's not very straightforward in the current version of Webiny so it's best to create a video guide and explain the mechanics and reasons behind them.

We do have it on our roadmap for v5, so it will be more dev-friendly in the future.
Please hang on, I'll try to

[2020-09-26 13:08] Pavel910 commented on #1262
@Th-Os I've added an example of code with step-by-step instructions: https://github.com/webiny/webiny-examples/tree/master/custom-theme

Please try following those, and let me know if you still have problems.

Cheers!

[2020-09-27 09:22] Th-Os commented on #1262
@Pavel910 Thank you for you help!

I tried your approach and got it working, when I added "--config-file ../../.babel.react.js" to the build command in the package.json of my theme package.

[2020-09-27 09:27] Pavel910 commented on #1262
@Th-Os I don't know why you need that parameter, it should work out of the box, since there is `.babelrc.js` inside of `packages/theme`, which imports the `.babel.react.js` file from your project root.

[2020-09-27 13:19] Th-Os commented on #1262
Seems like i didn't copy that. Totally my fault.

[2020-09-27 13:19] #1262 closed

[2020-09-28 18:16] Th-Os commented on #1265
Thank you very much! I will get back to you, when i tried it.

[2020-09-28 18:22] Th-Os opened #1268 "Question: AWS region not everywhere the same"
## This is:

- Question

When I deploy the API with ```yarn deploy api --env=dev``` and set the AWS region to eu-central-1, I see this region everywhere but in these last lines. This could possibly lead to some overhead. Is this the expected behavior? If it is, then please close this issue.

[code]

[2020-09-28 18:35] Pavel910 commented on #1268
@Th-Os interesting, this doesn't look right; we haven't noticed that before. @doitadrian you are deploying to `eu-central-1`, could you please double-check that you're getting the same output, when you get a spare minute? Thanks

[2020-09-28 20:12] gpips opened #1269 "App Page Builder - Rebuild page in client"
Create a way for the client to rebuild a page built in page builder after publishing a new version.

[2020-09-28 20:17] doitadrian commented on #1268
I'm using `eu-central-1`, works correctly all the time.

Where did you change the region?

[2020-09-29 14:50] Th-Os commented on #1268
I changed it in the root ```.env.json``` and in my ```~/.aws/credentials```.
Can I change the Cloudfront integration without doing a full refresh of the site?

[2020-09-29 21:37] WioZak commented on #1124
I'd like to be assigned to this issue. Participating in Hacktoberfest, first-timer in open-source.

[2020-09-30 08:58] Pavel910 commented on #1124
Hey @WioZak! Welcome! Here are some links to get you started:
Some instructions about contributing: https://github.com/webiny/webiny-js/blob/master/docs/CONTRIBUTING.md
Our YouTube channel with different videos about the project, how stuff works, etc: https://www.youtube.com/c/Webiny/videos

Regarding the issue:
https://github.com/webiny/webiny-js/blob/master/packages/app-headless-cms/src/admin/vi

[2020-09-30 12:20] brunozoric opened #1270 "Admin login logo as a component"
## This is:
- Feature request

## Detailed Description
Add an option to add plugin that changes logo in `packages/app-plugin-security-cognito-theme/src/admin/views/StateContainer.tsx`.

## Possible Solution
Create a plugin type and logic for it so dev can send a component instead of current login logo.

[2020-09-30 12:39] latotty opened #1271 "Pagination with date sorting fails"
## This is:

- Bug

## Specifications
  - version: 4.12.1

## Expected Behavior

Sorting an entity by createdOn (or savedOn), and paging it should work.

## Actual Behavior

It throws an error. `Cannot read property 'id' of undefined`

## Steps to Reproduce the Problem

1. Create 10+ Form
2. Set page size to 10
3. Click on the next page button

## Detailed Description

This line throws an error: h

[2020-09-30 13:25] Pavel910 commented on #1271
Our unit tests are missing the test case where data is sorted by date. We should start by adding a test case, and see if we can reproduce it in `commodo` itself.

[2020-09-30 22:36] daniloff200 commented on #423
Well, I should ask, in what it should be fixed?
Centered, font-size change, any other ideas?

[2020-10-01 01:22] imrishabh18 commented on #1125
I would like to take up this issue

[2020-10-01 04:16] sccalabr commented on #1260
Id like to give this a try. What kind of sanitation are you looking for? Also roughly where is the code for this?

[2020-10-01 05:45] Ashu96 commented on #1260
Hey @sccalabr! Welcome! Here are some links to get you started:
Some instructions about contributing: https://github.com/webiny/webiny-js/blob/master/docs/CONTRIBUTING.md
Our YouTube channel with different videos about the project, how stuff works, etc: https://www.youtube.com/c/Webiny/videos

**Regarding this issue**:
Here is the code responsible for handling the Page Builder `menu item` link:
ht

[2020-10-01 05:53] blenderskool commented on #1195
@AlbionaHoti I would like to work on this :slightly_smiling_face:

[2020-10-01 05:56] Ashu96 commented on #1125
Sure @imrishabh18 :100:
Welcome! Here are some links to get you started:
Some instructions about contributing: https://github.com/webiny/webiny-js/blob/master/docs/CONTRIBUTING.md
Our YouTube channel with different videos about the project, how stuff works, etc: https://www.youtube.com/c/Webiny/videos

Regarding this issue:
Here is the code responsible for creating the `New Content Model` dialog:

[2020-10-01 08:46] AlbionaHoti commented on #1195
Hi @blenderskool, Welcome to Webiny :) Regarding the AWS account, you can read more from one of the [FAQ](http://docs.webiny.com/docs/faq/is-webiny-free/). If you want to, you can [follow up our Get Started](https://www.youtube.com/playlist?list=PL9HlKSQaEuXScbySDD7QgITEA8RCHp-IS?utm_source=GitHub&utm_medium=webiny-youtube-get-started&utm_campaign=webiny-hacktoberfest-blog-oct-1&utm_content=webiny

[2020-10-01 10:40] Ashu96 commented on #423
Hey @daniloff200
Welcome! Here are some links to get you started:
Some instructions about contributing: https://github.com/webiny/webiny-js/blob/master/docs/CONTRIBUTING.md
Our YouTube channel with different videos about the project, how stuff works, etc: https://www.youtube.com/c/Webiny/videos

**Regarding this issue**:

We're looking for something similar to this one:

![image](https://user-imag

[2020-10-01 14:02] #1270 closed

[2020-10-01 19:19] Lavish-Garg commented on #1259
i have to change api icon from code or i can post the image here?

[2020-10-01 19:23] Pavel910 commented on #1259
@Lavish-Garg the `API Information` icon is an SVG, but its size doesn't match the other icons below it. THere is something wrong with the width, or something. You'll need to change it through code.

[2020-10-01 21:25] adithyaakrishna commented on #1125
Hii @Ashu96 @AlbionaHoti , Saw there was no assignees to the issue, I have worked on this and updated it locally. Do lmk if I can commit and create a PR 🚀

[2020-10-02 04:31] Ashu96 commented on #1125
Yeah go ahead @adithyaakrishna  👍🏼

[2020-10-02 06:45] imrishabh18 commented on #1125
@Ashu96 But I am already working on this.

[2020-10-02 08:08] Ashu96 commented on #1125
No worries @imrishabh18
I might have missed the acknowledgment from your side.
I'm assigning you this issue :)

[2020-10-02 08:15] aloks98 commented on #423
Hey, how I do reach the not authorized page? I have made some changes but cannot figure out how to reach the page.

[2020-10-02 08:36] Ashu96 commented on #423
Hey @aloks98,
This view is rendered by [SecureRoute](https://github.com/webiny/webiny-js/blob/master/packages/app-security/src/components/SecureRoute.tsx) component, which is used throughout the admin app and other Webiny apps to **secure the route from unauthorized access** as the name suggest.

For example, https://github.com/webiny/webiny-js/blob/master/packages/app-page-builder/src/admin/plugi

[2020-10-02 10:00] adithyaakrishna commented on #1125
Okay No Worries!, Happy Hacking @imrishabh18 🚀

[2020-10-02 11:47] geekysrm commented on #653
Fixed in https://github.com/webiny/webiny-js/pull/1276.
Please merge.

[2020-10-02 12:21] geekysrm opened #1277 "Broken link in i18n-react README"
## This is:

- Bug

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior
Correct link to webiny-i18n on GitHub

## Actual Behavior
Links to https://github.com/webiny/webiny-js/blob/master/packages/webiny-i18n which results in a 404.

[2020-10-02 15:09] ritwikchakraborty123 commented on #1260
Hai can anyone help me to solve this issue

[2020-10-02 15:10] ritwikchakraborty123 commented on #1252
Hai I want to solve this issue

[2020-10-02 15:10] ritwikchakraborty123 commented on #1252
Can anyone help me with some of resources

[2020-10-02 16:29] doitadrian commented on #1258
Hi @econtentmaps,

can you provide the page that's causing the issue (c/p the content from the database)?

Feel free to send me the content over Slack, if you don't want to expose it publicly here.

Thanks!

[2020-10-02 16:33] econtentmaps commented on #1258
Sent over slack!

[2020-10-02 17:34] doitadrian commented on #1258
@econtentmaps, I think I found the solution.

Will release a fix next week - Tuesday/Wednesday.

If this is critical, give me a ping and I'll let you know where you can make amends (directly in code in `node_modules`), so that in the meantime you can edit the pages (and maybe doublecheck if the fix did the trick on all pages, not just the one you sent me).

Sorry for the inconvenience.

[2020-10-02 17:37] doitadrian commented on #1268
Not sure if this is possible, because when you deploy stuff, all of the resources deployed are written in the `.webiny` folder.

I think deploying from scratch might be the best option here. Maybe there was a bad config while the initial deployment was made.

[2020-10-03 06:26] lokeshvenkatesan commented on #423
I am taking up this issue.

[2020-10-03 06:28] lokeshvenkatesan commented on #1259
I am Taking up this issue

[2020-10-03 06:44] sccalabr commented on #1260
Let me know if this is what you were thinking. Thanks :)

[2020-10-03 07:28] aloks98 commented on #423
@Ashu96 here is a ss for that
![webiny](https://user-images.githubusercontent.com/45600289/94985933-2337b580-0578-11eb-9efe-6ae6bd26fcc7.png)

[2020-10-03 17:08] parshnt commented on #1195
Hello @AlbionaHoti @bbarthel

I would like to work on this issue :)

[2020-10-03 17:22] peterjgrainger commented on #898
@doitadrian can I have a go at this?

[2020-10-03 18:00] doitadrian commented on #898
Sure, go ahead @peterjgrainger :)

[2020-10-04 20:16] AlbionaHoti commented on #1195
Hi @parshnt, You can continue with the issue. If you do have any question, please join our [community slack](https://webiny.com/slack?utm_source=GitHub&utm_medium=Hacktoberfest-issues-github&utm_campaign=webiny-hacktoberfest-work-oct-4&utm_content=webiny-hacktoberfest-2020&utm_term=W00124), for it's easier to get in touch with the core team :)

 @blenderskool thank you for your effort :)

[2020-10-05 03:27] ShyamPraveenSingh commented on #1259
Hi @Pavel910, I would like to work on this issue.
Can you please assign it to me?

[2020-10-05 07:43] parshnt commented on #1195
Sure @AlbionaHoti

I'm part of the community on Slack as well now :)

[2020-10-05 08:23] Ashu96 opened #1283 "Disable GraphQL playground is not working."
## This is:
- Bug

## Specifications

  - version: 4.12.0

## Expected Behavior
Changing `GRAPHQL_PLAYGROUND: false` in the `api/.env.json` file should disable GraphQL playground.

## Actual Behavior
Changing `GRAPHQL_PLAYGROUND: false` in the `api/.env.json` file doesn't diable GraphQL playground as intended.

## Steps to Reproduce the Problem
1. Change GRAPHQL_PLAYGROUND: false` in the `api/.env

[2020-10-05 13:07] #379 closed

[2020-10-05 15:15] tbender-unicon opened #1285 "Disabling the GRAPHQL PLAYGROUND is NOT disabled when setting GRAPHQL_PLAYGROUND: false in your .env.json file"
## This is:

- Bug

## Specifications

  - version: 4.9.0 ?
  - OS: OS X 10.13.6
  - Browser: Chrome, Friefox

## Expected Behavior
  - when I visit the graphql URL in a web browser, it provides the same response as if the page does not exist. e.g. 404?

## Actual Behavior
  - GraphQL Playground appears and is 100% usable

## Steps to Reproduce the Problem

1. Set the .env.json in your api directo

[2020-10-05 15:16] tbender-unicon commented on #1285
{
        "default": {
                "GRAPHQL_INTROSPECTION": false,
                "GRAPHQL_PLAYGROUND": false,
                "S3_BUCKET": "webiny-js-files-9e90cfae",
                "JWT_SECRET": "RMbUslezA4bWQhXnwYUuX6eSpI+9cTnC6VV6B2sQTJzZ6W6x5D6T1isjHKKC"
        }
}

[2020-10-05 16:02] aloks98 commented on #1260
@Ashu96 I would like to take up this issue if the PR made by @sccalabr is invalid or it needs more work.

[2020-10-05 16:18] aloks98 commented on #1259
@Pavel910 why arent we using `<Link>` from `@webiny/react-router` in Footer? I can take up this issue can make changes.

[2020-10-05 17:15] doitadrian commented on #1285
Duplicate of https://github.com/webiny/webiny-js/issues/1283 (which was fixed by @Ashu96). Closing.

[2020-10-05 17:15] #1285 closed

[2020-10-05 17:17] doitadrian commented on #1266
@Ashu96 Did you work on this already? Asking because I have some of these done in my feat/v5/pulumi branch (I just changed the package name to `api-file-manager`).

[2020-10-05 17:19] doitadrian commented on #1250
One other thing we should investigate here.

Let's divide the installation process into a separate Lambda function.

No need to pollute the GraphQL service with packages that are related to installation.

This will reduce the cold start duration for the PB GraphQL function.

[2020-10-05 17:30] doitadrian opened #1288 "Page Builder / Recoil - Error Handling"
Once we start with the Recoil implementation for the Page Builder's editor, let's immediately plan for proper error handling.

The thing is, right now, when errors occur in React components, sometimes, users just see a blank screen.

This:
1) Completely prevents them from editing the page they might have been working on for a long time.
2) Doesn't output any helpful error message, leaving the user

[2020-10-06 02:13] anushkrishnav commented on #899
I would like to work on this issue . Any guide / Doc I can refer to .

[2020-10-06 02:17] anushkrishnav opened #1289 "Greeting and Stale Bot"
Create a Contributor Greetings Bot and a stale bot.
Every Contributor to an OpenSource Project is special that is why I feel We should add a small GithubAction to give a warm welcome to the contributors.
Closing Stale PR/Issue often takes away valuable maintainers time why not let GitHub action take care of it for you? And if the authors still wants to work on it after months of no activity he sti

[2020-10-06 02:53] Ashu96 commented on #1266
No @doitadrian  I haven't started working on it. 🙂
Just created the issue so that we can discuss about it and write down more details if needed.

[2020-10-06 03:36] Yash-pardeshi opened #1290 "Grammatical errors in contributing.md file"
On the first important paragraph there's written invaluable instead of valuable. I am adding a PR for it

[2020-10-06 05:18] Ashu96 commented on #1290
Hey @Yash-pardeshi, I appreciate your enthusiasm. :)
But, there is no **grammatical** error in that line.

**Invaluable** means **extremely useful** not the other way around.

If you're new to open source and looking to contribute, I would suggest you check the issues labeled [Good first issue](https://github.com/webiny/webiny-js/issues?q=is%3Aissue+is%3Aopen+label%3Agood-first-issue)
On this note

[2020-10-06 05:18] #1290 closed

[2020-10-06 06:35] Yash-pardeshi commented on #1290
Oh. No idea why my brain worked so interpreting invaluable as not valuable even when I already know that it doesn't mean so.

[2020-10-06 08:03] #1258 closed

[2020-10-06 08:04] Pavel910 commented on #1259
@aloks98 because `<Link>` is mostly for public apps where we have internal links pointing to, say, Page Builder pages. That component then preloads data for faster page transitions. In admin app such routes do not exist, so we don't use it there.

[2020-10-06 08:10] doitadrian commented on #1289
I think this is a good idea.

Feel free to start with this if you want. You can even create a draft PR.

Let us know if you'll need any help.

Thanks @anushkrishnav!

[2020-10-06 08:27] AlbionaHoti commented on #1259
Hi, can you please confirm if you are working on the issue? If not, the next person will get the assignment. We need confirmation from everyone in order:

- [ ]  @Lavish-Garg
- [ ]  @lokeshvenkatesan
- [ ]  @ShyamPraveenSingh
- [ ]  @aloks98

[2020-10-06 11:04] anushkrishnav commented on #1289
This should be a cake walk if you have any custom message as a greeting do share 😀

[2020-10-06 17:44] iamdarshshah commented on #1251
Hey @doitadrian 👋 ,

 If the issue still exists, would like to have a look into this. Let me know if someone is already working on solving this. Thanks

[2020-10-06 19:36] BhuwanChandra commented on #1259
Hey @AlbionaHoti If no one is working on this issue, I would like to take this. please assign this to me.

[2020-10-06 20:27] AlbionaHoti commented on #1259
Hey, @BhuwanChandra you are on the list, next @aloks98 - We will wait for a confirmation and decide on the assignment. Meanwhile, did you follow up on the [Contributing.md](https://github.com/webiny/webiny-js/blob/master/docs/CONTRIBUTING.md?utm_source=GitHub&utm_medium=webiny-github-contributing&utm_campaign=webiny-discussions-oct-5&utm_content=webiny-contributing-guide&utm_term=W00168) guides to

[2020-10-06 21:43] jacqui opened #1294 "API deploy hangs on s3 bucket creation if project name includes capital letters"
## This is a:

- Bug

## Specifications

  - version: 4.13.0
  - OS: OS X Catalina 10.15.6
  - Browser: All (command line, not browser issue)

## Expected Behavior

If I try to deploy an API stack with an invalid project name, the deploy should error and tell me to choose another, valid, name.

## Actual Behavior

The deploy hangs at this step instead:

[code]

## Steps to Reproduce the Problem

1

[2020-10-06 22:35] aloks98 commented on #1259
@Pavel910 i am open to work on this issue, and yes, I have set up webiny locally. I have been working on another issue too and about to complete it. 😄

[2020-10-07 11:25] doitadrian commented on #1294
Thanks @jacqui, will check this for the next week's release.

[2020-10-07 11:34] doitadrian commented on #1289
I just googled a bit, for starters we can go with a basic message.

Not sure which events you can cover but here are a few:

##### New Issue
Hello there! 👋  Welcome to Webiny! 💖

Thank you and congrats 🎉  for opening your very first issue in this project. Hope you have a great time there! 🙂

##### New PR
Hello there! 👋  Welcome to Webiny! 💖

Thank you and congrats 🎉  for opening your first pull re

[2020-10-07 11:36] doitadrian commented on #1271
This was resolved with the Webiny `4.13.0` / `@commodo/fields-storage` `2.1.2` releases.

Closing.

[2020-10-07 11:36] #1271 closed

[2020-10-07 11:37] doitadrian commented on #1205
This was resolved with the Webiny `4.13.0` and `@commodo/fields-storage` `2.1.2` releases.

Closing.

P.S. To upgrade from `4.12.*`, just run `yarn upgrade` in project root.

[2020-10-07 11:37] #1205 closed

[2020-10-07 11:42] doitadrian commented on #1251
Sure, go ahead @iamdarshshah! 👍

Let us know for any questions.

[2020-10-07 11:43] doitadrian commented on #1251
P.S. Note that you need to branch from `v5` branch.

We don't need this for `master`.

[2020-10-07 13:04] anushkrishnav commented on #1289
Awesome let me add these events too

[2020-10-07 13:07] doitadrian commented on #1289
Awesome!

[2020-10-07 15:00] iamdarshshah commented on #1251
@doitadrian Sure noted. I'm on it! 👍

[2020-10-07 15:01] AlbionaHoti commented on #1259
@aloks98 Please reach out again when the other issue is complete and merged. Until then, this issue is open for other contributors, if any :)

[2020-10-07 15:12] AlbionaHoti commented on #899
@sunguru98 Can you please confirm if you want to continue working on this issue? If not, @anushkrishnav you can continue :)

We will add more details regarding the issue!

[2020-10-07 15:17] BhuwanChandra commented on #1259
@AlbionaHoti if this is open, I would like to work on it!

[2020-10-07 15:33] AlbionaHoti commented on #1259
@BhuwanChandra you can continue on the issue. Please post an update of where you think the problem is after diagnosing it and the solutions you tried (communication here is key) - Join our slack community to communicate faster with the community and the core team. Enjoy :)

[2020-10-07 23:40] ng29 commented on #1169
Heya Guyz,

Can i take this one?  ?

[2020-10-07 23:41] ng29 commented on #1203
Hey Tom,

Can i pick this one up ? ?

[2020-10-07 23:48] ng29 opened #1295 "Adding Table of Content to Readme.md"
@Pavel910 / @doitadrian
The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.

I would like to work on this issue.
## This is:

- Idea

[2020-10-08 02:39] sunguru98 commented on #899
Hey 👋 Albiona, currently I am not doing any open source, so you can very well let him do it. Thanks.

[2020-10-08 05:56] lokeshvenkatesan commented on #1259
I am working on this issue. Please send me slack join link. Thank you.

On Wed, 7 Oct, 2020, 9:04 pm Albiona, <notifications@github.com> wrote:

[2020-10-08 06:49] Ashu96 commented on #1259
@lokeshvenkatesan Please join [Slack](https://www.webiny.com/slack/) :slightly_smiling_face:

[2020-10-08 07:20] Pavel910 commented on #1252
Hey @ritwikchakraborty123, this issue is assigned to v5 project, as it's related to infrastructure setup, which is changing in v5. So for now this issue is in `on-hold` mode. Thanks for your interest! 🚀

[2020-10-08 07:45] josselineperdomo commented on #1124
Hello! Does @WioZak still working on this issue or is this available? I'd like to work on this :)

[2020-10-08 11:44] AlbionaHoti commented on #1259
@lokeshvenkatesan @BhuwanChandra is working on this issue, until we have an update from him on the progress we can't assign the issue to someone else. Thank you.

[2020-10-08 11:53] AlbionaHoti commented on #1124
@WioZak can you please post an update of your progress on the issue and the solutions you tried (communication here is key) - Join our[ slack community](http://webiny.com/slack?utm_source=GitHub&utm_medium=webiny-slack-invite&utm_campaign=webiny-hacktoberfest-slack-github&utm_content=webiny-slack-community&utm_term=W00173) to communicate faster with the community and the core team. Enjoy :)

@joss

[2020-10-08 12:09] TommyJackson85 commented on #1203
If you would like to, go ahead.

[2020-10-08 13:59] BhuwanChandra commented on #1259
@AlbionaHoti I did the local setup of webiny, also went through the code files and looked at where to make changes to solve the issue. I am working on it and will make a PR soon.

[2020-10-08 15:57] anushkrishnav commented on #899
Would be glad to know more about this issue. And how I can get started

[2020-10-08 16:19] jevgen commented on #945
They published extensive documentation about that at https://cloud.yandex.ru/docs/overview/platform-comparison/aws

[2020-10-08 18:51] #1289 closed

[2020-10-08 22:33] TommyJackson85 commented on #1203
@ng29 this was given a wontfix label so maybe dont bother anymore. I wasnt sure what that label meant until hovering over it. Sorry for wasting your time.

[2020-10-08 22:41] ng29 commented on #1203
@TommyJackson85
Ahh i see, no worrries. I just started the prep work
(Lil sad as it makes me one step backward for Webiny swag pack)

[2020-10-09 00:59] doitadrian commented on #1173
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1168
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1166
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1163
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1153
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1151
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1149
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1141
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1139
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1138
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1127
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1126
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1112
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1100
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 00:59] doitadrian commented on #1098
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-09 03:14] appsyslab commented on #662
I am a SW architect at a large asset manager.
My team just built a fully serverless SPA app using dynamodb fronted by the API gateway.
I would be willing to help answer questions or brainstorm around possible approaches.
Basically, what we need is a good design for a primary key and a sort key based on the items that are stored and how best to shard them.
I am planning to install webiny with mongo

[2020-10-09 04:44] sccalabr commented on #1226
Would this just be bumping the typescript version in the package json?

[2020-10-09 04:47] Ashu96 commented on #1226
@sccalabr It's more than that and Is being worked on. Sorry for the confusion :slightly_smiling_face:

[2020-10-09 06:15] brunozoric commented on #1226
Sorry, forgot to link the PR to the issue.

[2020-10-09 08:24] #423 closed

[2020-10-09 14:27] ng29 commented on #138
hey @doitadrian / @Pavel910

Any more info on this so that it can be catered ?

[2020-10-09 14:38] ng29 commented on #851
Hey @doitadrian / @Pavel910

can i pick this up? And more info regarding this will be highly appreciated 👍

Cheers,

[2020-10-09 14:46] Ashu96 commented on #1295
Hey @ng29, I appreciate your enthusiasm. :)

But, I strongly believe that the project Readme is quite comprehensible :slightly_smiling_face:
In the future, it might need restructuring and will reconsider then but for now, it won't be a valuable addition.
On this note, I'm closing this issue.

If you're new to Webinyand looking to contribute, I would suggest you check the issues labeled [Good first

[2020-10-09 14:46] #1295 closed

[2020-10-09 14:53] ng29 commented on #1166
@doitadrian
Can i work on this one ?

[2020-10-09 17:33] doitadrian commented on #138
Closing this issue, not that relevant at the moment.

[2020-10-09 17:33] #138 closed

[2020-10-09 17:34] doitadrian commented on #1166
No need, because in v5 this is irrelevant.

But you can maybe try to solve this one -  https://github.com/webiny/webiny-js/issues/1294. What do you say?

[2020-10-09 17:34] #1166 closed

[2020-10-09 20:42] ng29 commented on #1166
Just checked that issue @doitadrian can give it a shot, but to be honest, I have started aws within a month ago so might not be win win for me.

But yeah will give it a shot for sure :)

[2020-10-10 00:59] doitadrian commented on #1181
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 00:59] doitadrian commented on #1094
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 00:59] doitadrian commented on #1092
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 00:59] doitadrian commented on #1091
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 00:59] doitadrian commented on #1089
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 00:59] doitadrian commented on #1083
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 00:59] doitadrian commented on #1076
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 00:59] doitadrian commented on #1068
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 00:59] doitadrian commented on #1063
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 01:00] doitadrian commented on #1061
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 01:00] doitadrian commented on #1060
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 01:00] doitadrian commented on #1044
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 01:00] doitadrian commented on #1035
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 01:00] doitadrian commented on #1034
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 01:00] doitadrian commented on #1033
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-10 06:57] doitadrian commented on #1294
Feel free to take a look @ng29, if you need any help, let us know.

[2020-10-10 07:02] doitadrian opened #1300 "Invalid Authorization header causing errors"
## This is:

- Bug

## Expected Behavior
I should just get auth error when sending this:
![image](https://user-images.githubusercontent.com/5121148/95648415-26322900-0ad7-11eb-85a8-36c2ddcc1882.png)

## Actual Behavior
[code]

[2020-10-10 16:37] AlbionaHoti commented on #899
@anushkrishnav We will get back with more details shortly, thank you for your patience!

[2020-10-10 17:00] iamdarshshah commented on #1251
@doitadrian Check PR #1301 that will fix this issue for branch `v5` & let me know if there is anything that needs to change. Thanks

[2020-10-11 01:02] doitadrian commented on #1183
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #1029
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #1021
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #1020
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #1003
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #999
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #994
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #963
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #952
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #940
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #939
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #929
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #927
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 01:02] doitadrian commented on #917
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-11 04:14] josselineperdomo commented on #1124
Hello again! @AlbionaHoti Please let me know if I can start working on this issue :)

[2020-10-11 12:18] chrisands commented on #1256
Had the same error. For me it helped to setup `~/api/.env.json` file
[code]

[2020-10-11 13:55] jakubgs commented on #1029
I've abandoned my plans to use the software as it seemed too unstable.

[2020-10-11 13:55] #1029 closed

[2020-10-11 19:05] AlbionaHoti commented on #1124
Hey @josselineperdomo, since @WioZak didn't respond and it's been 12 days since his last activity, you can continue with the issue :)

[2020-10-11 23:08] WioZak commented on #1124
Hi! Sorry for not responding, I had issues with my hardware. If it’s ok with you, I’ll find another task.

[2020-10-12 01:01] doitadrian commented on #912
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #911
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #909
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #901
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #889
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #875
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #873
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #870
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #864
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #855
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #846
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #844
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #837
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 01:01] doitadrian commented on #840
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-12 05:24] #1260 closed

[2020-10-12 15:53] doitadrian commented on #1294
Let us know if you need any help @ng29.

Thanks!

[2020-10-12 16:01] ng29 commented on #1294
hiya @doitadrian I didn't get much time to look into it, but some starter points will be very appreciated.(Possible root cause)

Cheers

[2020-10-12 20:22] tommybender commented on #1283
Will this be fixed in a minor release 4.12.x? Or is this not addressed until 5.x.y?

[2020-10-13 01:01] doitadrian commented on #1186
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #836
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #833
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #832
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #830
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #829
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #826
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #824
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #822
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #821
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #820
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #812
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #804
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 01:01] doitadrian commented on #802
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-13 02:23] josselineperdomo commented on #1124
@AlbionaHoti and @Pavel910 I opened a PR to solve this issue, but there is a stage in the actions which doesn't pass. Please let me know any comments :blush:

[2020-10-13 05:51] doitadrian commented on #1283
This was fixed and released last week @tommybender.

The version is `4.13.0`, you can upgrade by just doing `yarn upgrade` in your project.

[2020-10-13 08:43] doitadrian commented on #1294
Hi @ng29, you can put a check here (above the `debug("Checking ...`): https://github.com/webiny/webiny-js/blob/fc87f378f4ecfc343de5e6a2feaef634006a5091/packages/serverless-aws-s3/utils.js#L41

So, if the name of the S3 bucket starts with an upper case, just throw an error with an appropriate error message.

Let's see if that will work.

You can also add your own `debug` message, for example: `debu

[2020-10-14 01:01] doitadrian commented on #801
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #800
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #786
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #785
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #784
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #781
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #771
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #760
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #745
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #741
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #740
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #738
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #737
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 01:01] doitadrian commented on #730
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-14 04:12] BhuwanChandra commented on #1259
@AlbionaHoti I have created a PR #1298 for this issue, can you review it and suggest some improvements(if any)?

[2020-10-14 09:31] AlbionaHoti commented on #1259
@BhuwanChandra thank you very much for the PR, our team member @Ashu96 will get back to you later today with feedback!

[2020-10-14 09:44] AlbionaHoti commented on #898
Hey @peterjgrainger, can you please post an update of your progress on the issue and the solutions you tried (communication here is key) - Join our [slack community](webiny.com/slack) to communicate faster with the community and the core team. Enjoy :)

[2020-10-14 09:52] peterjgrainger commented on #898
Ok, will do, thanks

[2020-10-14 09:53] AlbionaHoti commented on #899
@anushkrishnav due to our next big update of the Webiny version 5, we will no longer use Slate, that being said we will close this issue. We are sorry we didn't update it earlier! In the meantime, check out the issues Hacktoberfest project, we will definitely update/add more issues.

[2020-10-14 09:53] #899 closed

[2020-10-15 01:02] doitadrian commented on #1190
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #712
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #690
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #674
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #672
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #668
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #666
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #665
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #656
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #655
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #650
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #640
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #635
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 01:02] doitadrian commented on #628
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-15 12:49] brunozoric opened #1308 "Fix PluginsContainer.byType method arg and return"
## This is:
- Bug

## Specifications

  - version: all
  - OS: all
  - Browser: all

## Expected Behavior
`byType` method returns all plugins if type is undefined

## Actual Behavior
Method returns all plugins if no type is sent which is not a good thing to do.
It is called `byType` so returning all plugins when type is undefined is wrong.
Check in: https://github.com/webiny/webiny-js/blob/master/

[2020-10-15 14:50] peterjgrainger commented on #898
@AlbionaHoti I've tried this in safari `Version 14.0 (15610.1.28.1.9, 15610)` and there doesn't seem to be the same problem.

I couldn't find a way of downloading exact versions of safari to test it out on. Maybe this issue could be closed?

![image](https://user-images.githubusercontent.com/1332395/96146421-2c247180-0efe-11eb-9840-86b9e764b8f8.png)

[2020-10-15 17:30] endymion1818 commented on #898
Hmm I’ll test in the latest version when I can

[2020-10-16 01:03] #1168 closed

[2020-10-16 01:03] #1173 closed

[2020-10-16 01:03] #1153 closed

[2020-10-16 01:03] #1163 closed

[2020-10-16 01:03] #1149 closed

[2020-10-16 01:03] #1151 closed

[2020-10-16 01:03] #1139 closed

[2020-10-16 01:03] #1141 closed

[2020-10-16 01:03] #1127 closed

[2020-10-16 01:03] #1138 closed

[2020-10-16 01:03] #1112 closed

[2020-10-16 01:03] #1126 closed

[2020-10-16 01:03] #1098 closed

[2020-10-16 01:03] #1100 closed

[2020-10-16 01:03] doitadrian commented on #614
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-16 01:03] doitadrian commented on #586
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-16 01:03] doitadrian commented on #564
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-16 01:03] doitadrian commented on #561
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-16 01:03] doitadrian commented on #558
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-16 01:03] doitadrian commented on #548
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-16 01:03] doitadrian commented on #541
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-16 11:54] #1294 closed

[2020-10-17 01:02] #1094 closed

[2020-10-17 01:02] #1181 closed

[2020-10-17 01:02] #1089 closed

[2020-10-17 01:02] #1091 closed

[2020-10-17 01:02] #1092 closed

[2020-10-17 01:02] #1076 closed

[2020-10-17 01:02] #1083 closed

[2020-10-17 01:02] #1068 closed

[2020-10-17 01:02] #1060 closed

[2020-10-17 01:02] #1061 closed

[2020-10-17 01:02] #1063 closed

[2020-10-17 01:02] #1044 closed

[2020-10-17 01:02] #1034 closed

[2020-10-17 01:02] #1035 closed

[2020-10-17 01:02] #1033 closed

[2020-10-17 01:02] doitadrian commented on #447
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-17 01:02] doitadrian commented on #445
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-17 01:02] doitadrian commented on #446
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-17 01:02] doitadrian commented on #424
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-17 01:02] doitadrian commented on #415
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-17 01:02] doitadrian commented on #388
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-17 01:02] doitadrian commented on #386
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-17 09:03] jmakhack commented on #1308
Hi @brunozoric, I'd like to work on this issue. Can you assign it to me?

[2020-10-17 10:51] brunozoric commented on #1308
@jmakhack there you go :)

[2020-10-18 01:05] #1183 closed

[2020-10-18 01:05] doitadrian commented on #1046
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-18 01:05] #1020 closed

[2020-10-18 01:05] #1003 closed

[2020-10-18 01:05] #999 closed

[2020-10-18 01:05] #963 closed

[2020-10-18 01:05] #994 closed

[2020-10-18 01:05] #952 closed

[2020-10-18 01:05] #940 closed

[2020-10-18 01:05] #939 closed

[2020-10-18 01:05] #927 closed

[2020-10-18 01:05] #929 closed

[2020-10-18 01:05] #917 closed

[2020-10-18 01:05] doitadrian commented on #380
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-18 01:05] doitadrian commented on #363
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-18 01:05] doitadrian commented on #294
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-18 01:05] doitadrian commented on #288
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-18 01:05] doitadrian commented on #237
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-18 01:05] doitadrian commented on #235
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-18 01:06] doitadrian commented on #163
Please reopen this issue once you add more information and updates here. If this is not the case and you need some help, feel free to seek help from our [Slack Community](https://www.webiny.com/slack) or ping one of the reviewers. Thank you for your contributions!

[2020-10-18 13:19] endymion1818 commented on #898
OK so the issue only occurs on focus, when you begin to type in the box:

<img width="771" alt="Screenshot 2020-10-18 at 14 18 22" src="https://user-images.githubusercontent.com/2216344/96368640-cf6ac600-114c-11eb-858e-d0ec5c1382fd.png">

[2020-10-18 13:28] endymion1818 commented on #898
Hmm autocomplete seems to think I type that a lot ...

[2020-10-18 13:37] peterjgrainger commented on #898
Ah, I see it. I'll take a look

[2020-10-18 14:25] aloks98 commented on #1195
@AlbionaHoti since there is no updates or PR by parshnt can I take up this issue?

[2020-10-18 17:04] camosuit opened #1313 "Testing Bot"
## This is:

- Bug
- Feature request
- Question
- Idea

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3.

## Detailed Description

## Possible Solution

[2020-10-18 17:10] #1313 closed

[2020-10-18 17:11] camosuit opened #1314 "Bot Test #2"
Testing bot...

[2020-10-18 17:13] #1314 closed

[2020-10-18 19:55] AlbionaHoti commented on #1195
Hey @aloks98, let's see if @parshnt has an update, if not, you can continue on the issue :)

[2020-10-18 20:00] parshnt commented on #1195
@AlbionaHoti

I'm halfway there, I've successfully added the current version to the bottom left on /admin but I'm a bit confused about API information part.

[2020-10-19 03:53] #1259 closed

[2020-10-19 04:25] lokeshvenkatesan commented on #1259
Sorry to mention.
We have been suffering from Pandemic and we are struggling to cope up.
I am interested in getting webiny swags and due to pandemic I am not able
to complete the work.

Let me know what's need to be done for minimum requirements to obtain
webminy swags .

Sorry for delay. Regret for the inconvenience.

Thank you
Lokesh

On Mon, 19 Oct, 2020, 9:24 am Ashutosh, <notifications@github

[2020-10-19 05:47] #1254 closed

[2020-10-19 11:08] markwilcox commented on #1179
I still intend to finish this, but have paused with a plan to pick it up again on the v5 beta.

[2020-10-19 14:32] jcode-hub commented on #1213
Hi there,
before closing this issue due to inactivity we would really like to know if some of you had the chance to try to reproduce the issue and if so has there been similar behavior?

[2020-10-19 14:45] doitadrian commented on #1213
Hey @jcode-hub,

we didn't have the chance to take a closer look at this, primarily because we're super busy with `v5` features and improvements, and also because other users didn't report anything similar.

I believe tomorrow I should have some time with the `v4` Headless CMS, so I'll try to give it a couple of tests while I'm at it.

I'll let you know as soon as I can / have some info. Sorry aga

[2020-10-19 15:28] BhuwanChandra commented on #1125
@imrishabh18 are you still working on this issue? if not, I would like to work on this one.

[2020-10-19 16:15] imrishabh18 commented on #1125
@BhuwanChandra I am a bit busy with some repos for contribution. Will make a PR for this in some time. Otherwise, will let you know for the grab.

[2020-10-19 18:17] AlbionaHoti commented on #1125
hey, @imrishabh18 can you please share your progress? If you weren't able to work on this one, don't worry there will be other issues coming up :) Otherwise, @BhuwanChandra will continue working on this one.

[2020-10-19 22:55] mehang opened #1315 "An error occured when deploying api in local environment"
I tried following the steps of webiny app

## This is:

- Bug

## Specifications

  - node version: 12.19.0
  - Database: MongoDB hosted in Atlas
  - yarn version: 1.22.10
  - OS: macOS Catalina 10.15.7
  - Browser: Chrome

## Expected Behavior
The api should deploy to AWS.

## Actual Behavior
Got AccessDenied Exception
[code]

## Steps to Reproduce the Problem

Basically the same step in quick-st

[2020-10-20 08:11] Pavel910 commented on #778
Removed the `stale` label as this is actively being worked on.
We're currently in the process of implementing resolvers for the core Webiny apps using Dynamo.

[2020-10-20 16:29] aloks98 commented on #1200
This looks like something I can help with. Can I take up this issue as part of Hacktoberfest?

[2020-10-20 19:52] Pavel910 commented on #1200
@aloks98 glad you're up for a challenge! :) Sure, we can easily assign it to hacktoberfest.
One thing though, before you begin: we already tried this, and the main problem is that Apollo Client 3 completely changed how InMemory cache works, so we were unable to make it work without introducing the insanity of their new approach. Just something to keep in mind. The best way to attack this issue is

[2020-10-21 01:18] tjrexer commented on #674
Bug still exists in latest version.  Attached a screenshot for example.  Tooltip with `heading 1` is the previously selected field, while tooltip with `heading 2` is the currently selected field.  Not sure what else you guys are looking for.

<img width="1174" alt="image" src="https://user-images.githubusercontent.com/7013045/96661205-8a47bf00-1319-11eb-943d-ecb54c053b92.png">

[2020-10-21 06:45] Pavel910 commented on #674
@tjrexer not looking for anything, it was a bad stale bot configuration using Adrian's token, so it looks like it was him commenting, but in fact we just spammed our own repo accidentally :D

[2020-10-21 08:15] aloks98 commented on #1200
What exactly are the breaking changes for `InMemoryCache` when moving to apollo v3? I am not really familiar with Apollo but I would like to learn more about it!

[2020-10-21 08:20] Pavel910 commented on #1200
@aloks98 oh, if you're not familiar with it, probably this issue will be too complex to start with. See the official changelogs and migration guides on apollo's site, they have it all laid out in details.

They changed the normalization of data in cache, which is a `big` change and is not easy to overcome. That's why we put this issue on hold.

[2020-10-21 10:44] aloks98 commented on #1200
Hey if you think it's too complicated for me then it will be better for me not to work right now but at a later time when I have a better understanding of Apollo client 😀 I have seen other issues like implementation of Yarn v2 and RMWC v6. If they're not too complicated I can work on them for hacktoberfest! Is that okay?

[2020-10-21 11:22] Pavel910 commented on #1200
@aloks98 you could try `yarn2`. We haven't tried it yet, would be interesting to see if it will `just work`. Please branch off the `master` branch for that one.

[2020-10-21 17:38] nkumnberlin commented on #1213
in this particular use case we had 2 content models with one entry each.
In our production env we have 12 content models with approx 3 content models each.

[2020-10-21 17:52] doitadrian commented on #1213
@nkumnberlin Yeah, that's nothing serious...

Weird, I was just working with a system that had 40+ models across 12 languages... the system did slow down, which I'm inspecting right now, but it still not as slow as you have it.

Starting to think there must be something really wrong in your case, but what 🤯

I think the next logical step would be just to check how long are DB proxy database calls

[2020-10-23 14:36] AlbionaHoti commented on #1195
@parshnt please reach out if you have any questions on our [slack community](https://webiny.com/slack).

[2020-10-23 14:38] AlbionaHoti commented on #1125
@BhuwanChandra are you still interested to contribute to this issue? If yes, we can assign it to you :)

[2020-10-24 09:44] BhuwanChandra commented on #1125
@AlbionaHoti yes, I would like to work on it.

[2020-10-24 14:24] #1308 closed

[2020-10-26 08:42] #1124 closed

[2020-10-26 12:41] AlbionaHoti commented on #1195
Hey @aloks98, if you are interested to contribute, you can continue with this issue, I'll assign it to you, just let me know!
Note that we have time up until 31st of October for the `hacktoberfest` approved issues  🚀

[2020-10-26 16:16] aloks98 commented on #1195
@AlbionaHoti I have some questions about this.
1. Where exactly I can find the version of webiny in the project? I found some version fields in `package.json` of some packages in api
2. I also found the last released version from `CHANGELOG.md`. Should I use that?
3. Where do I need to show the version of webiny? In the admin app/or the actual website that will be published?

[2020-10-26 16:34] Ashu96 commented on #1195
Hey @aloks98, thanks for asking these questions.

1. We should first try to add a `REACT_APP_WEBINY_VERSION` variable to our bundling process. Something similar to this [project-utils/bundling](https://github.com/webiny/webiny-js/blob/master/packages/project-utils/bundling/app/index.js#L4). As the CLI version will always be the same as other package versions, so it's safe to add it there.
2.  Idea

[2020-10-26 17:26] aloks98 commented on #1195
Hey @Ashu96 I have made some changes!
![Screenshot from 2020-10-26 22-51-26](https://user-images.githubusercontent.com/45600289/97205769-e446f980-17dd-11eb-9488-a4bc55a74df1.png)
One more thing, the `process.env.REACT_APP_WEBINY_VERSION` will be static? If it's static we have to change it with every version release.
If I may suggest, we can change the version in the `package.json` of the admin or

[2020-10-26 17:37] Ashu96 commented on #1195
Nice work @aloks98

I don't get why `process.env.REACT_APP_WEBINY_VERSION` will be static if we're setting it to the package version we're importing like:
[code]
as mentioned in the earlier comment.

[2020-10-26 17:47] aloks98 commented on #1195
Oh okay I missed that part xD I will change that now and make a PR :D

[2020-10-26 21:12] mehang commented on #1315
It turned out that when I created the app it stored my another account credentials, so even changing the credentials after that did not seem to work. So reinstalling the app after wiping out old account credentials file seemed to work for me.

[2020-10-26 21:12] #1315 closed

[2020-10-27 05:05] #1195 closed

[2020-10-27 23:00] TommyJackson85 opened #1322 "Feat: Allow children items within Item component from Menu Navigations in App Admin folder."
## This is:

- Feature request

## Specifications

  - version:
  - OS:
  - Browser:

This issue is blocked until Webiny v5 is out.

## Expected Behavior

Item component should be able to receive children components to render custom components, and maybe Section and Menu components as well.

## Actual Behavior

The Item component is not able to contain child components leaving it limited to showin

[2020-10-27 23:30] TommyJackson85 commented on #1104
@doitadrian Im still looking for a review of my PR for this issue, but I'm happy to wait till webiny version 5 is released aswell. 🙂

[2020-10-30 11:43] doitadrian opened #1325 "Upon deleting files, flush CDN"
One of users reported that, even though the file was deleted from the FileManager, that file was still accessable.

This is because of the fact that the CDN edge still has the cached object on it.

It seems that we're gonna have to flush the CDN cache upon deleting files.

[2020-10-30 15:32] TommyJackson85 opened #1326 "Feat: Display menu items type as icon in the menu builders form"
## This is:

- Feature request

This issue is blocked until Webiny v5 is out.

## Specifications

  - version:
  - OS:
  - Browser:

## Ehancement Idea

The structure display within the menu form does't display the item type. I feel each item should show it's associated icon from the item selector.

## Detailed Description

Refer to the images below, and see how it is not easy to distinguish the i

[2020-10-30 17:35] chrisands opened #1327 "Improve documentation"
## This is:

- Feature request

Hi, I tried to build simple api and must to say that there's a great lack of documentation.
Later I saw that there a video course about using commodo, but video format is not very handy, when write code.

To make webiny more accessible there should be more documentation on plugins and plain-text tutorials.

I would like to help with docs, but currently has a lot to

[2020-10-30 17:40] #1327 closed, assigned to nobody

[2020-10-31 10:00] pitipatdop commented on #1315
@mehang So how did you solve this problem? What do you mean be "wiping out old account"

[2020-10-31 17:03] jdpaterson commented on #1256
Instead of `yarn webiny deploy api --env=default` use `yarn webiny deploy api --env=local`

[2020-10-31 19:27] mehang commented on #1315
@pitipatdop First, I deleted the credential file associated with my old account and then reinstalled webiny.

[2020-11-11 08:26] #1213 closed

[2020-11-11 19:32] cullylarson opened #1332 "I'm getting SPAM emails from Sven"
I just got an unsolicited email from @SvenAlHamad, advertising Webiny. I'm not sure how you got my email address, but it seems like a pretty sketchy marketing strategy. I'm definitely taking Webiny off my list of recommended services.

[2020-11-11 19:38] cullylarson commented on #1332
<img width="1103" alt="Screen Shot 2020-11-11 at 11 33 55 AM" src="https://user-images.githubusercontent.com/10721380/98856475-73752380-2412-11eb-9603-3204689bf3e3.png">

[2020-11-11 21:08] SvenAlHamad commented on #1332
Hi Cully, sorry you feel it this is SPAM. This is not my intention. I was only looking for feedback. If you feel like I offended you in any way, I apologise.

[2020-11-11 21:08] #1332 closed

[2020-11-12 11:07] econtentmaps opened #1333 "PageBuilder: Image plugin doesn't apply 'alignment' styling correctly"
PageBuilder: Images are always rendered on-site as left aligned, no matter how the alignment is configured in the element's settings in the page editor.

## This is:
- Bug

## Specifications

  - version:
4.12.1

  - OS:
All

  - Browser:
All

## Expected Behavior
The image should align correctly in its container.

## Actual Behavior
It's always to the left!

## Steps to Reproduce the Problem
1. C

[2020-11-12 15:56] #1333 closed

[2020-11-18 13:45] CandyZack commented on #1169
Hey @doitadrian  @Pavel910
I have raised a PR- #1335 for this issue. Please assign this to me.

[2020-11-18 14:11] Pavel910 commented on #1169
@CandyZack we'll have to pause with this for now, as we're completely changing the deployment mechanism for v5. We do not accept any contributions to v5 at this point as the system is still not stable enough.

[2020-11-18 15:00] CandyZack commented on #1169
@Pavel910  Okay, I shall keep the PR as draft then.

[2020-11-18 15:48] daniel-shuy commented on #1300
I've created a PR to fix this in `v5` at #1330, and backported the fix for `v4` at #1331

[2020-11-21 00:06] rsmngdlmx commented on #1158
Hi! We're using Webiny to develop a project at my work and we've made some adjustments to enable deployment to VPC, as VPC and DocumentDB were both requirements for the project. Everything seems to be working fine so far, so, we'd like to know if we could contribute (maybe even create a PR) to help with this issue. :)

Generally speaking, we've made 2 things:
1) Enable TLS connection to the databa

[2020-11-23 09:13] TommyJackson85 commented on #1176
I will come back to this once webiny version 5 is released.

[2020-11-23 09:15] Pavel910 commented on #1176
@TommyJackson85 sure, no worries. It's a bot, so don't worry about it :)

[2020-11-23 12:24] doitadrian commented on #1261
Will close this, we did massive optimizations along the way.

[2020-11-23 12:24] #1261 closed

[2020-11-24 11:03] brunozoric commented on #1288
@doitadrian we removed the row/cell elements from the page builder. we can introduce some kind of error handling/reporting in Recoil event action handler

[2020-11-25 02:47] gustavotr commented on #1150
Any updates? Can I try integrating GCP with pulumi branching from feat/v5/pulumi, @doitadrian?

[2020-11-25 13:01] doitadrian commented on #1150
Hey @gustavotr,

sorry for the delay.

We didn't manage to find time for the thorough multi-cloud support, that's why this issue hasn't received any updates.

We're extremely busy with wrapping things up, and I'm sure we won't have the time to concentrate on this until the end of the year.

I think it might be just better to pause this until we officially release v5.

That being said - if you stil

[2020-11-25 13:55] gustavotr commented on #1150
🍺

[2020-11-26 07:16] brunozoric commented on #1208
@Pavel910 i removed slate from page builder with a new pr so we can close this one

[2020-11-29 07:47] #1247 closed

[2020-11-30 10:37] Th-Os commented on #1268
Ok, I had to start from scratch and now it works. Thank you for you help!

[2020-11-30 10:37] #1268 closed

[2020-11-30 11:15] jcode-hub opened #1342 "yarn webiny deploy apps fails during "Building""
During deployment of a new created webiny project, the deploy apps command fails
## This is:

- Bug

## Specifications

  - template: "@webiny/cwp-template-cms@4.14.0"
  - OS: Ubuntu 20.04

## Expected Behavior

Deployment should succeed

## Actual Behavior

Deployments failed

## Steps to Reproduce the Problem

1. `npx create-webiny-project deploytest --template=cms`
2. configure .env.json files

[2020-11-30 11:42] jcode-hub commented on #1342
I just tried to install a local env and then start the admin app with "yarn start" and had no issue there :thinking: went back to deploy env=dev and it failed during building 'admin'

[2020-11-30 11:49] Pavel910 commented on #1342
@jcode-hub it's the same issue that has happened to several other users.
Check the solution on Slack: https://webiny-community.slack.com/archives/C013GG6HKHD/p1606296421176000

For some strange reason, `core-js` is not being resolved when doing production build.
We're currently way too busy with wrapping up v5 so i can't promise an official fix, but a per-project fix is pretty simple so please do

[2020-11-30 12:04] jcode-hub commented on #1342
thanks @Pavel910
no need to make an official fix for me...keep up the v5 work!

[2020-12-01 07:47] #1189 closed

[2020-12-05 07:47] #1269 closed

[2020-12-08 07:54] unixfox commented on #662
bump

[2020-12-08 09:01] Pavel910 commented on #662
Update for everyone in this thread:
We're soon releasing v5 of Webiny, which is based on DynamoDB so I'm closing this issue, as there won't be a driver for Commodo, instead we're introducing a simple DB client layer (with drivers), with Dynamo being the default setup.

[2020-12-08 09:01] #662 closed

[2020-12-09 07:47] #653 closed

[2020-12-12 07:47] #1277 closed

[2020-12-12 07:47] #1266 closed

[2020-12-12 07:47] #1250 closed

[2020-12-14 16:49] Nikuson123 opened #1343 "Can I create my own online store builder based on your service?"
Can I create my own online store builder based on your service?

[2020-12-15 06:04] patrickjm opened #1344 "Git Bash for Windows: Can't start admin app locally"
## This is:

- Bug

## Specifications

  - version: `@webiny/cli 4.14.0`
  - OS: windows 10 pro
  - Browser: N/A

## Expected Behavior
After running deploy, can navigate to `./apps/admin` and start the app with `yarn start`

## Actual Behavior
Command throws error:
[code]

## Steps to Reproduce the Problem

1. Deploy app like in quick start guide
2. Verify that `~/.webiny/config` does exist and co

[2020-12-15 07:48] #1226 closed

[2020-12-15 11:57] doitadrian commented on #1343
Can you elaborate a bit on store-builder?

Thanks @Nikuson123 !

[2020-12-17 13:59] shubham-kaushal opened #1346 "Feature Request: Webiny Multi-Tenant App and Database Design (Discussion)"
## This is:

- Feature request

## Specifications

  - Webiny Multi-Tenant App and Database Design

## Challenge

The major architectural concern with multi-tenant apps is the database layer, which is also called the persistence layer. There are three aspects of database design that we’ll address:

- The level of tenant data isolation;
- Difficulties with restoring data;
- Difficulties with data e

[2020-12-17 14:17] Pavel910 commented on #1346
@shubham-kaushal we're already implementing v5 as a multi-tenant system with single DB and single-table design.
DynamoDB is our primary database, but it will also work with other databases. All PKs have a `T#{id}` prefix to differentiate between tenants. Regarding ElasticSearch, which is a crucial part of our system now, we are creating a separate index per-tenant.

For now, with the soon-to-be re

[2020-12-17 14:46] shubham-kaushal commented on #1346
@Pavel910 v5 sounds very promising and I think it will simplify our work with respect to multi-tenant. Could you plz. align the doc, guide, or repo for multi-tenant with us, so that we can collaborate with you guys on this to release it with v5 only. We are specifically going to start working on this portion from coming Monday so it will help us. The major challenge I am looking at as of now is on

[2020-12-17 14:52] Pavel910 commented on #1346
@shubham-kaushal we're glad you're interested in contributing, but until v5 beta is out by the end of December, we won't be taking any contributions on this. It would greatly slow us down and we still haven't touched the documentation of everything, so you can imagine how this makes it impossible for outside contributors to participate.

Once `beta` is out, it will be a lot easier for us to guide

[2020-12-17 15:07] narender2031 commented on #1346
yes agree I agree with the @shubham-kaushal regarding the cost. I think we need think an alternative or come up with a architecture that can solve this issue.

[2020-12-17 15:32] Pavel910 commented on #1346
@narender2031 @shubham-kaushal Webiny is a serverless platform, and we won't be looking into anything server related as our main course of development. I'm not sure about what you're aiming at, but just wanted to make it clear.

If you have some concrete ideas, feel free to flush them out, and we can discuss the potential and validity of those ideas. If you  feel that your project will be too expe

[2020-12-17 15:42] shubham-kaushal commented on #1346
**High Compute Use Case:** For high compute use cases (such as ETL jobs, real-time data processing & video processing) consider the following scenario for application:

Allocated memory 2496 MB
No. of invocations: 30,000,000 times/month
Execution duration: 500 sec

**AWS Lambda Pricing Calculation:**
GB-sec = 30,000,000 * 0.5s * 2496/1024 = 36,562,500 GB-sec
Compute charges = 36,562,500 * $0.00001

[2020-12-17 15:48] shubham-kaushal commented on #1346
My observation Lambda works best around and below 3 million function executions per month ([source](https://cloudserviceevaluation.com/2017/02/02/lambda-or-ec2-which-one-do-you-use-to-save-the-most-money/)) since we’d want to operate in the range where the free executions that come with Lambda still have a noticeable impact on the bill.

However, if the traffic starts getting ahead of 3 million, t

[2020-12-17 15:50] Pavel910 commented on #1346
Video processing is definitely not something you should run on Lambdas. Functions are not a solution for every problem in your life. But they are for a vast range of business scenarios. Looks like your case is just not suitable to be run on top of Lambdas. Another thing that is very clumsy with serverless - websockets. If you need websockets - don't go the Lambda way.

But - that doesn't mean you

[2020-12-17 15:57] shubham-kaushal commented on #1346
So, I think the hybrid approach will be better, Lambda with EC2.

If I will consider Shopify (eCommerce SaaS) then how do you suggest to implement the Architecture with Webiny?

@Pavel910

[2020-12-18 07:52] #889 closed

[2020-12-18 07:52] #855 closed

[2020-12-18 07:52] #864 closed

[2020-12-18 07:52] #837 closed

[2020-12-18 07:54] #1225 closed

[2020-12-18 07:55] #1229 closed

[2020-12-18 22:14] #558 closed

[2020-12-19 07:51] #836 closed

[2020-12-19 07:51] #832 closed

[2020-12-19 07:51] #830 closed

[2020-12-19 07:51] #826 closed

[2020-12-19 07:51] #824 closed

[2020-12-19 07:51] #822 closed

[2020-12-19 07:51] #821 closed

[2020-12-19 07:51] #820 closed

[2020-12-19 07:51] #812 closed

[2020-12-19 07:51] #804 closed

[2020-12-20 03:49] excitedbox opened #1347 "Using Webiny without AWS?"
Webiny looks like a great platform but if using any AWS services is a requirement that eliminates many use cases out of privacy and security concerns. Any privacy sensitive APP should not be using any services hosted by Amazon or Google because of their blatant disregard for customer privacy and data harvesting. We have all heard of the cases where a pregnant teen gets advertisements for pregnancy

[2020-12-20 07:50] #1203 closed

[2020-12-20 07:50] #786 closed

[2020-12-20 07:50] #801 closed

[2020-12-20 07:50] #785 closed

[2020-12-20 09:39] SvenAlHamad commented on #1347
Hi @excitedbox thanks for raising those concerns. At the moment Webiny is AWS only, but there are potentials to get it working with something like kubernetes, which in theory would allow you to self host Webiny on private infrastructure.
However at the moment we’re quite constrained with engineering resources and are not able to focus on that. If you’re interested in doing this work and contributi

[2020-12-20 20:19] excitedbox commented on #1347
I would love to help but I am always quick to jump onto a project and am way to overloaded at the moment. I am gonna look at the code and see if I find a solution I can integrate without too much work. If it is still needed when I get some free time I will try and work on it but I can't make any promises right now.

[2020-12-21 07:53] #1190 closed

[2020-12-21 07:53] #771 closed

[2020-12-21 07:53] #760 closed

[2020-12-21 07:53] #741 closed

[2020-12-21 07:53] #668 closed

[2020-12-21 09:30] SvenAlHamad commented on #1347
Sounds good ... I'll close the issue for now and if you decide to tackle it at a later point feel free to reopen it.

[2020-12-21 09:30] #1347 closed

[2020-12-22 07:55] #666 closed

[2020-12-22 07:55] #665 closed

[2020-12-22 07:55] #640 closed

[2020-12-22 07:55] #650 closed

[2020-12-22 07:55] #635 closed

[2020-12-22 07:55] #548 closed

[2020-12-22 07:55] #541 closed

[2020-12-23 07:56] #586 closed

[2020-12-23 07:56] #564 closed

[2020-12-23 07:56] #445 closed

[2020-12-23 07:56] #388 closed

[2020-12-23 07:56] #424 closed

[2020-12-23 07:56] #386 closed

[2020-12-24 07:57] #1046 closed

[2020-12-24 07:57] #447 closed

[2020-12-24 07:57] #363 closed

[2020-12-24 07:57] #288 closed

[2020-12-24 07:57] #294 closed

[2020-12-24 07:57] #237 closed

[2020-12-24 07:57] #163 closed

[2020-12-24 07:57] #235 closed

[2020-12-25 07:56] #1244 closed

[2020-12-25 07:56] #1233 closed

[2020-12-25 07:56] #1228 closed

[2020-12-25 07:56] #1227 closed

[2020-12-25 07:56] #1206 closed

[2020-12-25 07:56] #1187 closed

[2020-12-25 07:56] #1107 closed

[2020-12-25 07:56] #1099 closed

[2020-12-25 07:56] #898 closed

[2020-12-25 07:56] #877 closed

[2020-12-25 07:56] #784 closed

[2020-12-25 07:56] #446 closed

[2020-12-25 18:17] khanjasir90 commented on #1125
@AlbionaHoti  can i work on this issue

[2020-12-26 07:56] #1179 closed

[2020-12-26 07:56] #781 closed

[2020-12-26 07:56] #765 closed

[2020-12-26 07:56] #747 closed

[2020-12-26 13:28] AlbionaHoti commented on #1125
@khanjasir90, unfortunately, we'll close this issue due to the next version of Webiny in which a lot of things will change, one of the changes will be this part here. But, please join us on our [slack community](webiny.com/slack) to follow our journey, and in the near future, we'll have options for our community to work on different areas of Webiny. Thank you for your effort!

[2020-12-26 13:28] #1125 closed

[2020-12-27 07:56] #778 closed

[2020-12-27 13:57] TommyJackson85 commented on #1104
Still waiting for my PR to be reviewed which will close this issue:
https://github.com/webiny/webiny-js/pull/1174

[2020-12-28 07:57] #1200 closed

[2020-12-29 07:58] #129 closed

[2020-12-29 07:58] #113 closed

[2020-12-31 14:26] compositeFlows opened #1351 "Creating a new webiny project on Windows 10"
Run:
npx create-webiny-project project-two

## This is:
- Bug

## Specifications
  - version: node 15.5.0, npm 7.3.0, yarn 1.22.10
  - OS: Windows 10
  - Browser: Chrome

## Expected Behavior
Should create a new project called project-two

## Actual Behavior
Fails producing this error:
npx create-webiny-project project-two
  Creating project at C:/facemunch/webiny/project-two:
  √ Pre-template set

[2020-12-31 16:50] compositeFlows commented on #1351
It works with node v14.15.3
But npm complains about several high vulnerabilities
And Jest won’t run on scaffolded books without an extra library

[2020-12-31 16:50] #1351 closed

[2021-01-02 05:22] atharva-u-01 opened #1353 "DWoC tag not found in any of the issues"
## This is:
- Question

## Detailed Description
I found this project as part of Devscript winter of code program but didn't find any issue labelled as DWoC

## Possible Solution
Raise an issue with the tag or opt out of the program.

[2021-01-02 10:14] zolbayars opened #1354 "Changes on graphql schema are not taking effect with api specific deployment"
## This is:

- Bug

## Specifications

  - version: 4.14.0
  - OS: Windows 10
  - Node.js version: v12.18.3

## Expected Behavior
On API development, changes on GraphQL schema (`graphql.ts`) should take effect after `yarn webiny deploy api apiName api --env=local`

## Actual Behavior
The changes are taking effect only after running `yarn webiny deploy api --env=local` (which takes x5 more time to

[2021-01-06 08:05] #1326 closed

[2021-01-06 08:05] #1325 closed

[2021-01-06 08:05] #1322 closed

[2021-01-07 08:06] #1256 closed

[2021-01-10 15:15] akrish4 opened #1365 "Integrate welcome bot"
## This is:

- Feature request

## Detailed Description
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time.
For reference, check out: https://github.com/apps/welcome

If you feel this is a great idea!
## Possible Solution

config file

[2021-01-10 15:16] akrish4 commented on #1365
If you feel this is a great idea!
Please assign me it

@jmrapp1 @jbampton @markwilcox @latotty

[2021-01-14 10:10] himanshu007-creator opened #1367 "Automating the webapp"
I would like to work on this issue.I will create a script that will enable opening website from CLI.
Please add DWOC label to it and assign me this issue.

[2021-01-14 11:14] Pavel910 commented on #1367
@himanshu007-creator please follow the issue template and describe what the issue is, and how you plan to solve it.

[2021-01-14 11:18] himanshu007-creator commented on #1367
Bash script to open the website using CLI

## This is:
- Feature request

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem
try to open website in UBUNTU. It takes some time.

## Detailed Description
Id a developer is working on operating systems like UBUNTU , where all work is dont through CLI, opening the website is

[2021-01-14 12:12] Ashu96 commented on #1367
hey @himanshu007-creator can you please provide a screen recording of the what exactly is the issue. The steps to reproduce it.
Please also mention the **Specifications** details like `version, OS and Browser`.
Thanks

[2021-01-18 10:41] daniel-shuy commented on #1300
hi @doitadrian, could you review the PRs?

[2021-01-18 18:58] shubham-kaushal opened #1371 "New Feature: Plugin for subFooter"
## This is:
- Feature request for customize ability of subFooter by creating plugin for the same.

## Specifications
N/A

## Expected Behavior
Customize the subFooter

## Actual Behavior
non-customizable

## Steps to Reproduce the Problem
N/A

## Detailed Description
N/A

## Possible Solution
Instructions to create plugin for customizing ability of subFooter.

cc @doitadrian

[2021-01-18 19:13] shubham-kaushal opened #1372 "New Feature: Changing UI Library"
## This is:
- Feature request for changing Material Design to different UI Library. For ex.: https://github.com/numldesign/numl

## Specifications
N/A

## Expected Behavior
N/A

## Actual Behavior
N/A

## Steps to Reproduce the Problem
N/A

## Detailed Description
How to replace the Material Design with new runtime CSS framework UI Library https://github.com/numldesign/numl ?

## Possible Solution

[2021-01-19 10:28] Pavel910 commented on #1372
Hey @shubham-kaushal,
The UI is baked deeply into Webiny Admin app. All the apps use `@webiny/ui` package directly, and internally it uses RMWC library to work with Material. It is *not possible* to make it replaceable for a very simple reason: if we want to make it replaceable, all UI libraries in the world need to follow the same API and accept the same props, follow the same hierarchy of compon

[2021-01-19 10:29] #1372 closed

[2021-01-19 10:54] doitadrian commented on #1371
Just checking, is this still relevant?

Not sure how you're going to proceed, since you mentioned a complete from-scratch UI creation is possible on your end.

[2021-01-20 07:33] shubham-kaushal commented on #1371
Yes, we decided to create the UI from scratch but this will be still relevant as we will trying to experiment & learn more with Webiny so the instructions will be helpful. Also, if you can give us a little insight on replacing the UI from scratch what are the parts that need to look into deep then it will be a great help.

[2021-01-20 08:28] Pavel910 commented on #1158
This is implemented. Closing.

[2021-01-20 08:28] #1158 closed

[2021-01-21 15:27] #1365 closed

[2021-01-21 18:06] vmelnych opened #1377 "docker-compose deployment"
## General:
Would be great to increase the onboarding ratio by reducing complexities for non-React community and providing a friendly docker-compose file with the containerized environment. Otherwise, a good deal of possible followers and evangelists will fall off due to NodeJS module dependencies (node, npm, yarn) nightmares. For me launching `Strapi`, `Squidex` and `Directus` was a lot easier, w

[2021-01-21 19:12] Pavel910 commented on #1377
Hi @vmelnych, thanks for letting us know about your problems.  Sorry you ran into those, but you should've ask for help on our community Slack, we're there each and every day, we'd help you out. The problems you're describing are not something anybody reported to us before and we have over 500 community members who tried Webiny + there are several companies using Webiny in production.

We're aware

[2021-01-21 19:12] #1377 closed

[2021-01-22 22:05] zherar7ordoya opened #1378 "News website"
## This is:

- Idea

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3.

## Detailed Description

Hi. I'm reading the documentation and mulling over the issue, but I can't "put the pieces together" to build a conventional news website, where there are well-differentiated actors: the "outsider" reader, the read

[2021-01-23 12:20] #1378 closed

[2021-01-24 09:12] RikClaessens opened #1379 "Webiny Headless CMS crashes when adding a just created custom content model and adding it to a page."
# Bug Report 🐛

## Specifications

  - version: Webiny v5.0.0-beta.1
  - OS: Mac OS X Big Sur 11.1
  - Browser: Google Chrome Version 88.0.4324.96

## Expected Behavior
The content row should be added to the page.

## Actual Behavior
I created two types of content models on the new Webiny v5 beta. One is a "Content Row" that holds a rich text field and a list of images and the other is a page cons

[2021-01-25 08:23] #1169 closed

[2021-01-25 08:23] #945 closed

[2021-01-25 12:17] c42alyst opened #1383 "A newly created user is not visible under Security->Users"
## This is:
- Bug

## Specifications

  - version: Webiny v5.0.0-beta.1
  - OS: Windows
  - Browser: Chrome

## Expected Behavior
A newly created user should show under Security -> Users

## Actual Behavior

- Created a new user without any group assignments
- Saved successfully
- The user doesn't show up under Users

## Steps to Reproduce the Problem
1. Go to Security -> Users
2. Fill in the deta

[2021-01-29 07:49] shubham-kaushal commented on #1346
https://github.com/webiny/webiny-js/blob/v5/packages/api-security-tenancy/src/context.ts#L13
It looks like we can connect to any database that includes in the header

Today I think we should verify whether that database belongs_to the user or not

Also, I was checking the latest doc but didn't found the Diagram for Tenancy. Could you plz. share the diagram fo tenancy.

cc: @Pavel910 @doitadrian

[2021-01-29 07:50] shubham-kaushal commented on #1371
@doitadrian Still waiting for your update on this.

[2021-01-29 14:29] Pavel910 commented on #1346
@shubham-kaushal multi-tenancy will be rolled out as an enterprise-only feature. We took this direction as many clients wanted to have a ready-made solution for SaaS applications out of the box and the multi-tenancy deployment has to be tailor made to many individual cases and we’re only able to provide that through our enterprise support model (there are many technical challenges that vary depend

[2021-01-29 19:43] c42alyst opened #1395 "Use Aurora Serverless v2 database with Webiny when generally available"
## This is:
- Feature request
- Idea

## Detailed Description
Look at using Aurora Serverless v2 when it becomes generally available

## Motivation

As AWS ElasticSearch is not serverless, we are meant to
- Think about high availability for production deployments by creating multi-az deployments
- Scalability is not granular or usage based
- Also the data is across two different engines (Dynamo an

[2021-01-30 15:15] ElianVanCutsem opened #1396 "Deploy with no AWS credentials redirects to wrong url"
## This is:

- Question

When running the deploy command without valid AWS credentials, the info/error msg redirects you to a non existing page: [https://docs.webiny.com/docs/guides/aws-credentials
](https://docs.webiny.com/docs/guides/aws-credentials). It should be changed to: [https://docs.webiny.com/docs/how-to-guides/deployment/configure-aws-credentials](https://docs.webiny.com/docs/how-to-gui

[2021-01-31 07:54] #1176 closed

[2021-02-01 07:55] #1288 closed

[2021-02-02 07:55] #1208 closed

[2021-02-03 08:24] econtentmaps opened #1404 "Allow querying by entryId in headless CMS read api."
- Feature request

## Detailed Description
Let’s say I’m using getArticles query (to get a single item from my Articles model).
Get queries expect a primary key so they can fetch the specific item.

With articles etc, title etc can be changed by the user, and the CMS modifies the ID on each publish/save. We need a way to uniquely identify an article for the purposes of the query, that doesn’t chan

[2021-02-03 21:43] jimjoes opened #1411 "Margin not settable independently on Button in Page Builder"
## This is:

- Bug

## Specifications

  - version: 5.beta.4
  - OS: MacOS
  - Browser: Chrome 88.0.4324.96

## Expected Behavior
Margin (top/right/bottom/left should be settable independently on button in page builder app.

## Actual Behavior
Deselecting the 'link all' option and adding individual margins has no effect on the button.

## Steps to Reproduce the Problem
1. Create page.
2. Create Gr

[2021-02-03 21:48] jimjoes opened #1412 "Setting width of grid in Page Builder affects child cells, too."
## This is:

- Bug

## Specifications

  - version: 5.beta.4
  - OS: MacOs
  - Browser: Chrome 88.0.4324.96

## Actual Behavior
Setting the width of a grid to 50% makes the width of a child cell also 50% (i.e. the cell becomes 25%, rather than just 50% (minus a little)).

## Expected Behavior
Setting the width of a grid to 50% shouldn't directly affect the width % of its children.

## Steps to Rep

[2021-02-04 17:05] dparizek opened #1413 "Folks from this company send unsolicited email spam - Boycott!!!"
Folks from this company sending unsolicited email spam - Boycott!!!

[2021-02-04 17:11] SvenAlHamad commented on #1413
@dparizek - we only reached out and asked for feedback. We didn't spam anyone we sent a single honest email.

[2021-02-04 17:11] #1413 closed, assigned to nobody

[2021-02-06 20:19] #1396 closed

[2021-02-08 07:51] Pavel910 commented on #851
Closing this. Something along these lines will be introduced once we get the real publishing workflow going.

[2021-02-08 07:51] #851 closed

[2021-02-09 04:41] jimjoes opened #1419 "Headless CMS: Setting a before or after validator when creating/editing date field causes blank page"
## This is:

- Bug

## Specifications
  - version: 5.beta.4
  - OS: MacOS Catalina
  - Browser: Chrome 88.0.4324.146

## Expected Behavior
You should be able to set a "before" or "after" validator on a date field and configure its options.

## Actual Behavior
As soon as you set the switch to 'on' in the validator tab, the page goes blank.

## Steps to Reproduce the Problem
1. create new model
2. a

[2021-02-09 05:00] jimjoes opened #1420 "Headless CMS: Modifying a date that is already set causes blank page"
## This is:

- Bug
-
## Specifications
  - version: 5.beta.4
  - OS: MacOS Catalina
  - Browser: 88.0.4324.146

## Expected Behavior
You should be able to modify the date by typing

## Actual Behavior
The page goes blank as soon as you start typing in a date field that's already got a value

## Steps to Reproduce the Problem

1. create model
2.create date field
3. set date field value
4. edit date

[2021-02-09 05:46] jimjoes opened #1421 "Headless CMS: Page goes blank when creating new model"
## This is:

- Bug

## Specifications

  - version: 5.beta.4
  - OS: MacOS
  - Browser: Chrome 88.0.4324.146

## Expected Behavior
After creating a new model, the CMS should open the model editor page.

## Actual Behavior
Intermittently, after configuring the name etc and clicking create, the page goes blank. The model is actually created, however. Possibly related to re-creating a model that prev

[2021-02-09 06:02] jimjoes opened #1422 "Headless CMS: Can't add items to a model with a date/time (no timezone) field"
## This is:
- Bug

## Specifications
  - version: 5.beta.4
  - OS: MacOS Catalina
  - Browser: 88.0.4324.146

## Expected Behavior
You should be able to add the item.

## Actual Behavior
Save gives an error: "mapper_parsing_exception". The item seems to have been sort of saved because, even though I've not been able to save the item and it doesn't appear in the list of content items for the model,

[2021-02-09 18:12] jimjoes opened #1427 "FEATURE: Provide simple way to make arbitrary changes to PB site metadata schema"
## This is:
- Feature request

## Detailed Description
It would be useful to have a simple way to add/modify fields in the page builder site settings. For example, add support for arbitrary social profiles, or add metadata (for example address) that can be added to queries used for footer/header etc.

It makes more sense for site metadata to live in the website settings, rather than to add *anothe

[2021-02-11 07:46] #1265 closed

[2021-02-11 07:47] #1167 closed

[2021-02-11 14:47] jimjoes opened #1433 "Headless CMS: Using (sort: field_ASC) or (sort: field_ASC), where 'field' is a number, returns no results and no error"
## This is:
- Bug
-
## Specifications

  - version: 5.beta.4
  - OS: MacOD
  - Browser: Chrome 88.0.4324.146

## Expected Behavior
The query should return results in order.

## Actual Behavior
The query returns no results and no error

## Steps to Reproduce the Problem

1. Create model with a text, richtext and a number field
2. Create some items
3. example query sorting by the number field:

[cod

[2021-02-16 17:56] jimjoes opened #1442 "Page Builder: Saved block is not being created properly."
## This is:
- Bug

## Specifications

  - version: 5.beta.4
  - OS: MacOS Catalina
  - Browser: Chrome 88.0.4324.150

## Expected Behavior
When inserting a saving a block to a page, it should be the same as the block that was saved. Possibly related to the button as I have one other block that is saving/inserting correctly.

## Actual Behavior
Looks like the last item in the block is being replica

[2021-02-16 17:59] jimjoes opened #1443 "PB Website: background image flickers on chrome when dev tools open"
## This is:
- Bug

## Specifications

  - version: 5.beta.4
  - OS: MacOS Catalina
  - Browser: 88.0.4324.150

## Expected Behavior
Background image shouldn't flicker

## Actual Behavior
The background image flickers.

## Steps to Reproduce the Problem
Create an item with background image.
Open dev tools
Watch the image flicker.

Looks like it's this issue:

https://stackoverflow.com/questions/563

[2021-02-16 18:23] jimjoes opened #1444 "Page Builder: Selecting all text and pasting other content adds to the existing text, it doesn't replace it"
## This is:
- Bug

## Specifications

  - version: 5.beta.4
  - OS: MacOS Catalina
  - Browser: Chrome 88.0.4324.150

## Expected Behavior
The pasted text should replace the selected text.

## Actual Behavior
The text is pasted at the position the cursor was at when you selected all and inserted into the selected text.

## Steps to Reproduce the Problem

1. Create text component.
2. Set focus onto

[2021-02-16 19:30] jimjoes opened #1445 "Page builder: Elements from the "source" of a saved block and the new, placed, elements, seem to be linked in some way."
## This is:
- Bug

## Specifications

  - version: 5.beta.4
  - OS: MacOS Catalina
  - Browser: Chrome

## Expected Behavior
An inserted element seems to be connected in some way to the source element it was saved from.

## Actual Behavior
Saved elements that are inserted should be independent of the source element that was saved

## Steps to Reproduce the Problem

1. Create a new empty grid block

[2021-02-18 07:47] #1186 closed

[2021-02-18 07:47] #912 closed

[2021-02-18 07:47] #911 closed

[2021-02-18 07:47] #901 closed

[2021-02-18 07:47] #909 closed

[2021-02-18 07:47] #873 closed

[2021-02-18 07:47] #875 closed

[2021-02-18 07:47] #870 closed

[2021-02-18 07:47] #846 closed

[2021-02-18 07:47] #840 closed

[2021-02-18 07:47] #844 closed

[2021-02-18 07:47] #829 closed

[2021-02-18 07:47] #833 closed

[2021-02-20 04:37] shubham-kaushal opened #1456 "Replacing Cognito with Ory IDaaS Solution in Webiny"
## This is:

- Question

## Specifications

  Guide for replacing Cognito with Ory IDaaS Solution in Webiny.

## Expected Behavior

Use Ory

## Actual Behavior

Using Cognito

## Steps to Reproduce the Problem

N/A

## Detailed Description

Use Ory as an IDaaS (Identity Provider as a Service) Solution
ORY Hydra for OAuth 2.0 and OpenID Connect provider.
ORY Oathkeeper for Identity and Access Proxy

[2021-02-20 07:47] #800 closed

[2021-02-21 07:46] #1344 closed

[2021-02-21 07:46] #1343 closed

[2021-02-21 07:46] #1252 closed

[2021-02-21 07:47] #745 closed

[2021-02-21 07:47] #740 closed

[2021-02-21 07:47] #738 closed

[2021-02-21 07:47] #737 closed

[2021-02-21 07:47] #730 closed

[2021-02-21 07:47] #712 closed

[2021-02-21 07:47] #690 closed

[2021-02-21 07:47] #672 closed

[2021-02-21 07:47] #656 closed

[2021-02-21 07:47] #655 closed

[2021-02-21 07:47] #628 closed

[2021-02-21 07:47] #614 closed

[2021-02-21 07:47] #561 closed

[2021-02-22 13:02] jimjoes opened #1459 "Page Builder: Clone (or template) page feature"
## This is:
- Feature request

## Detailed Description
In the same way as it's possible to save page elements, it would be nice to be able to save/clone pages, which could then be used as templates for new pages.

## Possible Solution
I guess a "clone page" button with the same icon as the clone element button, but on the page's toolbar (when you're on the page builder's preview' tab)?

[2021-02-23 07:47] #380 closed

[2021-02-23 07:47] #415 closed

[2021-02-24 07:47] #1253 closed

[2021-02-24 07:47] #1251 closed

[2021-02-24 07:47] #1194 closed

[2021-02-24 07:47] #1235 closed

[2021-02-24 07:47] #1161 closed

[2021-02-24 07:47] #1073 closed

[2021-02-24 07:47] #1152 closed

[2021-02-24 14:13] #1442 closed, assigned to Ashu96

[2021-02-24 14:13] #1445 closed, assigned to Ashu96

[2021-02-25 06:47] serban-mihai opened #1467 "How to rollback a deploy on AWS?"
Awesome project first of all but I was wondering, how can we rollback a deploy on AWS if we can?

I deployed on the `dev` environment just for testing and now I would like to cleanup everything that has been created there (DynamoDB Table, Cloudfront Distributions, S3 Buckets and so on)
I read the docs but I didn't find any other command for webiny besides `deploy`, do I have to delete everything b

[2021-02-25 07:05] anirudhsai20 commented on #1353
Hi @webiny-bot . Can I please work on this issue under DWOC?

[2021-02-25 09:03] Pavel910 commented on #1467
@serban-mihai Thanks, glad you dig it:)

For granular deploy: https://docs.webiny.com/docs/how-to-guides/deployment/deploy-your-project#the-app-deploy-command
For removal of resources: https://docs.webiny.com/docs/how-to-guides/deployment/destroy-your-project

Also, feel free to join our [Slack Community](https://www.webiny.com/slack), it's a great place to ask question and go deeper with discussi

[2021-02-25 09:16] serban-mihai commented on #1467
I don't know how I missed those :)
Thanks a lot for the quick reply!

[2021-02-25 09:40] #1467 closed, assigned to nobody

[2021-02-26 07:47] #699 closed

[2021-02-28 07:47] #674 closed

[2021-02-28 07:47] #75 closed

[2021-03-01 15:47] #1411 closed, assigned to Ashu96

[2021-03-05 07:48] #1104 closed

[2021-03-09 20:29] dilyankostov opened #1497 "Failed while installing project dependencies with Node v15"
## This is:

- Bug

## Specifications

  - Node: v15.11.0
  - npm: 7.6.0
  - yarn: 1.22.10
  - OS: MacOS Catalina,  Intel Core i7

## Expected Behavior
```npx create-webiny-project my-new-project``` succeeds

## Error Log
[code]

# Node 14:
I uninstalled node v15 and installed v14:
[code]
Then did `npx create-webiny-project my-new-project`
and got

I can post the full logs for the v14 run as well

[2021-03-10 11:36] Pavel910 commented on #1497
Hi @dilyankostov,

we test Webiny only with LTS version of node (currently 12 and 14). Those are the only versions supported by AWS Lambda, so we like to stick to the closest matching version for reliability.

As for ` YN0000: Done with warnings in 1m 45s` - that's perfectly fine; there are hundreds if not thousands of dependencies, and most them are out of our control. Most of the warnings come f

[2021-03-10 11:36] #1497 closed, assigned to nobody

[2021-03-11 08:06] frankzickert opened #1499 "Project creation fails"
When I run the command `npx create-webiny-project home` the script fails
[code]

[2021-03-11 08:39] adrians5j commented on #1499
Looking at:

[code]

Are there any additional logs in the mentioned log files?

Also, which version of node is this?

Thanks!

[2021-03-11 09:11] frankzickert commented on #1499
Node version is v15.8.0

In fact, node-sass failed to install because I did not install Python2 (I only run Python3 on my machine)

Installing Python2 resolved the issue.

[2021-03-11 09:11] #1499 closed, assigned to nobody

[2021-03-11 09:13] adrians5j commented on #1499
Weird... :(

We'll see if this becomes a recurring issue, and add a warning to our docs.

Thanks a lot for letting us know! 🍻

[2021-03-11 10:32] Pavel910 commented on #1499
@frankzickert this is related to Node 15. Another user ran into the same problem here https://github.com/webiny/webiny-js/issues/1497. We only support LTS versions (12 and 14), as many packages on `npm` are not supporting experimental and latest features.

[2021-03-12 07:48] #1354 closed

[2021-03-15 13:09] fultonm commented on #1499
I was also having this issue. Installing Python2 did not resolve the issue on Node version v15.11.0.

[2021-03-15 13:12] Pavel910 commented on #1499
@fultonm As stated in the previous comment, node v15 is the problem. Please downgrade to v14.

[2021-03-15 13:24] fultonm commented on #1499
I propose updating Webiny documentation which states` Node.js > 12#any version equal or greater than 12`, and provides a link to download Node.js v15

[2021-03-15 13:26] adrians5j commented on #1499
Will do @fultonm. Thanks!

[2021-03-15 20:23] fultonm commented on #1161
I'm interested in this.

[2021-03-16 08:22] himanshu007-creator commented on #1367
I will work on it, I am having exams rn.

[2021-03-16 08:57] Pavel910 commented on #1367
@himanshu007-creator if you plan to contribute, please read the [guide on contributing first](https://github.com/webiny/webiny-js/blob/next/docs/CONTRIBUTING.md#working-on-an-issue). PRs without a connected issue will not be accepted. Make sure you open an issue first and describe the exact problem in details. If possible, attach screenshot to better illustrate your problem.

[2021-03-17 14:17] endymion1818 opened #1514 "Idea / Feature request: Subscriptions Manager"
## This is an:
- 💡Idea

## "Grow subscribers and monitor their activity"

I've been very impressed by the product iteration of Ghost CMS; as well as a blogging platform you can now publish content via email as well; kinda like a self-hosted Mailchimp or similar. Then you can build sustainable revenue from subscribers and see how they're interacting with your content.

Ghost do this by implementing

[2021-03-18 05:41] jimjoes opened #1515 "Page Builder: Add ability to clear responsive-specific css attributes"
It would be very useful to be able to 'clear' any CSS attributes that have been set specifically at a responsive layout so that it inherits from its parent again.

## This is:
- Feature request

## Specifications
## Detailed Description
At the moment, once an attribute is set for an element, it doesn't appear to be possible to unset it.

## Possible Solution
Perhaps make the little device icon to

[2021-03-18 09:17] brunozoric commented on #1433
Hi @econtentmaps!

I will take a look and write a test for it just in case.

Btw. I noticed that you are sorting with `sort: priority_ASC`, it should be `sort: [priority_ASC]`.

best regards

[2021-03-18 09:23] brunozoric commented on #1433
Hi @econtentmaps!

Sorting is working. PR with the test for number sorting is here: https://github.com/webiny/webiny-js/pull/1516

Can you query with this:
[code]

[2021-03-18 09:26] brunozoric commented on #1422
Hi @econtentmaps!

That was a beta bug where Elasticsearch mapping was wrong. It was fixed in 5.0.0.

[2021-03-18 09:28] brunozoric commented on #1420
Hi @econtentmaps

Can you provide more info about the error? Did it happen again in the 5.0.0?

[2021-03-18 09:29] StefanoAgazzi opened #1517 "Deployment error while following the Install Tutorial"
## This is:
- Bug

## Specifications

  - version: latest version available as of 2021-03-17 (how can I get the version number?)
  - OS: macOS Big Sur 11.2.3 (Intel)
  - Browser: none

## Expected Behavior
Successfully complete the deployment as explained in the [Install Tutorial](https://docs.webiny.com/docs/tutorials/install-webiny/)

## Actual Behavior
Deployment fails complaining about an S3 A

[2021-03-18 09:29] brunozoric commented on #1419
Hi @econtentmaps

Can you provide console error? Did it happen again in the 5.0.0?

[2021-03-18 10:17] jimjoes opened #1518 "Page Builder: Improvements to saved block management"
## This is:
- Feature request

## Detailed Description
The following improvements/features would make the use of Blocks much easier:

1. Allow the user to change which group a block is a member of (e.g. content, header etc)
2. Allow existing blocks to be updated/saved over
3. The list of blocks appears to be cached locally. If a block is deleted, the cache is not invalidated, so the deleted block

[2021-03-18 13:16] Ashu96 opened #1519 "Page Builder: Save block/element is not working in Firefox browser"
## This is:

- Bug

## Specifications

  - version: 5.1.0
  - OS:
  - Browser: Firefox version : 78.6.0 (64-bit)

## Expected Behavior

When a user clicks on the _Save element_ action, the dialog should appear with the selected element's preview.

## Actual Behavior

When a user clicks on the _Save element_ action, nothing happens and an error is being thrown in the console.
## Steps to Reproduce

[2021-03-19 10:07] brunozoric commented on #1421
Hi @econtentmaps

Did this error appear again in 5.0.0?

[2021-03-19 10:50] Ashu96 commented on #1518
Hi @econtentmaps,

The requested improvements/features already exist in the Page Builder app.

Although, there is a bug whereby the preview of the updated block doesn't get stored properly which makes that operation look broken.
We're aiming to resolve that bug in the upcoming release. Please check out the linked PR for more detail.

[2021-03-19 12:45] #1519 closed, assigned to Ashu96

[2021-03-19 13:52] MaxSamnani commented on #1517
i am also having issue in setting up webiny

biny/my-new-demo). If you have not created a project yet, use `pulumi new` to do so
Karims-MacBook-Pro:my-new-demo karimbadruddin$ yarn webiny deploy
webiny info: Deploying api project application...
webiny info: Running 'build' in 11 packages...
api-dynamo-to-elastic: webiny log: Start bundling
api-headless-cms: webiny log: Start bundling
api-file-mana

[2021-03-19 14:14] adrians5j commented on #1517
@MaxSamnani from the logs, I can see:

https://docs.webiny.com/docs/tutorials/install-webiny/#the-aws-access-key-id-needs-a-subscription-for-the-service

[2021-03-19 16:40] davea38 opened #1522 "Cannot create scaffold other than default example (Books)"
## This is:

- Bug

## Specifications

  - Version: 5.2.0
  - OS: Ubuntu 20.04
  - Browser: N/A

## Expected Behavior

CLI scaffold should create a custom GraphQL type

## Actual Behavior

Scaffold crashes with exception

[code]

## Steps to Reproduce the Problem

1. Run ```yarn webiny scaffold```
2. Select ```GraphQL API package```
3. Enter anything other than Books for the initial data model
4.

[2021-03-19 16:48] adrians5j commented on #1522
I can confirm this happening on my end too:
![image](https://user-images.githubusercontent.com/5121148/111814831-3bf41780-88db-11eb-92c9-1d27b2aac62a.png)

[2021-03-19 20:14] StefanoAgazzi commented on #1522
Same for me, I had to manually fix the following import while build is running:
<img width="792" alt="image" src="https://user-images.githubusercontent.com/2686945/111837096-a4e98880-88f7-11eb-9e25-3d0e6bd2b9ff.png">

I could only do this becuase I had an antivurs that pause the scaffold script asking for permission, otherwise the scaffold would run quickly and I could not fix it manually.

In add

[2021-03-19 20:44] Pavel910 commented on #1522
@StefanoAgazzi the playground is not served from the API. Playground is embedded into the `admin` app and it handles the authorization tokens for you. If you want to access it externally, use https://www.electronjs.org/apps/graphql-playground and use one of the API endpoints, but in this case you'll need to add an Authorization header with an API Key created in the Security module in the `admin` a

[2021-03-20 08:50] brunozoric commented on #1522
@StefanoAgazzi yes, unfortunately there is ListBooksWhere left hardcoded in the code. Its something I missed from before v5.0.0 it seems. Change the ListBooksWhere to `ListSessionsWhere` and start the build process again.
Fix is on the way.

[2021-03-20 09:56] #1522 closed, assigned to brunozoric

[2021-03-22 07:11] #1518 closed, assigned to Ashu96

[2021-03-22 12:19] jbampton opened #1527 "Just wanted to show you the amazing Webiny stickers !!!"
Close this issue whenever.

I got the picture on my GitHub profile too -> https://github.com/jbampton

Hope to soon have more swag stickers.

The big Webiny sticker is great 👍

The side of my dusty old bookshelf showing swag:

![bookshelf](https://user-images.githubusercontent.com/418747/111987661-3573d300-8b5b-11eb-884e-ec68658200d0.png)

[2021-03-22 12:23] SvenAlHamad commented on #1527
@jbampton we can always make them bigger :D
Thanks for sharing this, looks great and an amazing company to be in!

[2021-03-23 11:51] dukesx opened #1528 "Deploy Webiny to Local System instead of Aws?"
### This is:
- Question

### Question
Isnt there a way that I can use webiny and build my application  without pushing to amazon aws? Just deploy on my local system.

[2021-03-24 11:50] MaxSamnani commented on #1517
Hi doitadrian,

can you tell me how many days it takes to get the subscription?

[2021-03-24 12:06] adrians5j commented on #1517
Not sure @MaxSamnani , but what I can suggest is to check this troubleshooting item, maybe it contains something you didn't do on your end:

https://www.webiny.com/docs/how-to-guides/deployment/deploy-your-project#subscriptionrequiredexception-the-aws-access-key-id-needs-a-subscription-for-the-service

[2021-03-25 15:57] StefanoAgazzi commented on #1517
FYI @doitadrian I've managed to install webiny without any issue on a new AWS account. Actually also the other account where the deploy/installation first failed was quite new.
If you are interested I can provide further details on those two AWS accounts.

[2021-03-25 16:48] adrians5j commented on #1517
Cool, thank for sharing the info @StefanoAgazzi.

BTW @MaxSamnani , did you managed to get it working? Did the AWS link that's included in [the section](https://www.webiny.com/docs/how-to-guides/deployment/deploy-your-project#subscriptionrequiredexception-the-aws-access-key-id-needs-a-subscription-for-the-service) I provided in my last response, provide any help?

[2021-03-26 08:03] Pavel910 commented on #1528
@dukesx in short - no. Webiny is a cloud-native system which relies on many cloud services that can't be emulated locally. It's not just Lambda we use, it's also Dynamo Streams, S3 events, Cognito, soon to come SQS. We are focused on serverless, and don't plan to support servers/containers.

[2021-03-26 08:03] #1528 closed, assigned to nobody

[2021-03-28 07:51] #1300 closed

[2021-03-28 12:02] StefanoAgazzi commented on #1517
@doitadrian ok, I've found what was the issue, I had turned on the S3 option to **Block Public Access settings for this account**
Switched them off, like in the screenshot, and the deployment worked.
![image](https://user-images.githubusercontent.com/2686945/112751300-8a856e00-8fcd-11eb-801a-c73ea379dba8.png)
so the pbInstallation.zip could not be uploaded.

Totally forgot about it, pretty obvious

[2021-03-30 07:24] openainext opened #1541 "npx create-webiny-project my-new-project ===>Cannot find module '@webiny/cwp-template-aws/package.json'"
npx create-webiny-project my-new-project

Cannot find module '@webiny/cwp-template-aws/package.json'
nodejs 12.21

[2021-04-07 02:07] knollfear opened #1553 "404 when visiting link after failed deployment"
The link listed in this error message (I was to blame for the error) points to a page that currently gives me a 404 error
[code]

## This is:

- Bug

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior

The link should go to a page with documentation on how I should configure my credentials.
## Actual Behavior

I get a 404 page not found error
## Steps to Reproduce the Probl

[2021-04-07 07:51] #1395 closed

[2021-04-07 07:51] #1371 closed

[2021-04-07 07:51] #1346 closed

[2021-04-07 08:38] adrians5j commented on #1553
This was fixed, just not yet released (https://github.com/webiny/webiny-js/pull/1539).

Thanks for reporting anyways! 🚀

[2021-04-07 08:38] #1553 closed, assigned to nobody

[2021-04-12 07:52] #1383 closed

[2021-04-12 08:14] Pavel910 commented on #1404
To add more context to this issue, here's an example from the Playground:
![image](https://user-images.githubusercontent.com/3920893/114362311-7a49c300-9b77-11eb-9742-f746895c4955.png)

I think we should simply allow querying by `entryId`, without the revision part. It should return the latest published record.
Also, it would be useful to expose some kind of `_entryId` field, so consumers of the A

[2021-04-14 23:30] braco opened #1563 "Warn users before creating aws resources"
It was a surprise to me that all the aws services were being created. I'm sure I didn't read the docs carefully enough, but this is a huge point that I think deserves a warning in the command line.

"yarn webiny deploy" doesn't hint that it's going to use the system's aws credentials to create so many resources.

A simple "This is going to create resources on aws using your default account, is thi

[2021-04-15 00:20] braco opened #1564 "TypeError: Cannot read property 'login' of null"
I was not able to complete setting the service up.

I seemed to have gotten as far as creating the user, but now the error "Cannot read property 'login' of null" occurs, and the screen is stuck loading:

<img width="537" src="https://user-images.githubusercontent.com/2449172/114796333-b3905780-9d5e-11eb-92a1-304b11c0e5af.png">
<img width="576" src="https://user-images.githubusercontent.com/2449172

[2021-04-15 09:12] jimjoes commented on #1412
This is still a problem in 5.4.0.

[2021-04-15 09:57] Pavel910 commented on #1412
@econtentmaps thanks for the bump. Need to reconfigure the stale bot... Reopening this.

[2021-04-15 10:17] Pavel910 commented on #1563
@braco thanks for stopping by!
To be honest, I'm not sure how it can be a surprise. AWS and cloud infrastructure is mentioned several times at the very beginning of the [Install Webiny](https://www.webiny.com/docs/tutorials/install-webiny) tutorial. [AWS account](https://www.webiny.com/docs/tutorials/install-webiny#aws-account-and-user-credentials) is in the `prerequisites` section. [First Deploym

[2021-04-15 10:22] Ashu96 commented on #1412
@econtentmaps Can you please provide some screenshots? It will help in reproducing the bug.
Thanks :+1:

[2021-04-15 14:22] braco commented on #1563
The surprise wasn't that those things are in use at some point, the surprise was that command begins deploying remote services immediately. Like I said, surely it's my fault for not reading more carefully, just want to point out that the severity of that command in my opinion warrants an "are you sure?" on the first run.

(This is an aside, but I actually think it's a big security issue on the par

[2021-04-19 13:04] jimjoes commented on #1404
Hello! Do you have an idea yet what release, if any, this might end up in?

[2021-04-19 14:14] Pavel910 commented on #1404
@econtentmaps no idea :) It will eventually.

[2021-04-20 19:19] itpropro commented on #1150
I would like to run webiny on Azure Functions, with the possibility to use durable-functions, it seems like a much better solution than Lambda.
As v5 is out, are there any update on this @doitadrian?

[2021-04-21 08:01] adrians5j commented on #1150
Sorry @itpropro, no updates here, unfortunately. We just had a lot of other things to deal with along the way.

But it's still something we want to revisit in the near future.

[2021-04-21 16:37] shubham-kaushal opened #1568 "Discussion on Vite (unbundled development) with Webiny"
## This is:

- Idea

## Specifications

  Vite for build tools

## Expected Behavior

Vite (unbundled development) with Webiny

## Actual Behavior

Webpack with Webiny

## Steps to Reproduce the Problem

Run the Webiny project for build and experience slow build process.

## Detailed Description

The current build of Webiny with Webpack is very slow and time-consuming.

## Possible Solution

Use V

[2021-04-21 17:16] Pavel910 commented on #1568
@shubham-kaushal

I see Vite is a frontend tool, so you can easily integrate it into your Webiny project yourself. See this https://www.webiny.com/docs/how-to-guides/webiny-cli/working-with-workspaces#how-it-works.

This is the place in your project where you can replace webpack with any other tool:
- for `admin` - `apps/admin/code/webiny.config.js`
- for `website` - `apps/website/code/webiny.conf

[2021-04-22 16:09] itpropro commented on #1150
Thanks for the update @doitadrian! Let me know if you need any help or testing with Azure Functions

[2021-04-27 05:25] taifok opened #1574 "Error occurs during upgrade from 5.4.0 to 5.5.0"
## This is:

- Bug

## Specifications

  - version: 5.4.0
  - OS: Windows WSL

## Expected Behavior

upgrade from 5.4.0 to 5.5.0

## Actual Behavior

error

## Steps to Reproduce the Problem

1. `yarn webiny upgrade 5.5.0`

## Detailed Description

Missing `webiny.application.js` in `@webiny/cli/commands/upgrade/upgrades/5.5.0/templates/webinyApplication/api/`

[code]

[2021-04-27 09:47] adrians5j commented on #1574
Hey @taifok, thanks for reporting, we'll release a fix for this during the day, and notify you once it's up.

[2021-04-27 10:45] adrians5j commented on #1574
We've updated the upgrade docs (https://www.webiny.com/docs/how-to-guides/upgrade-webiny/5.4.0-to-5.5.0/#upgrade-webiny-project).

Basically, before running the `yarn webiny upgrade 5.5.0`, please run the following:

[code]
This will apply a small patch to the upgrade command.

Once you've run it, feel free to proceed by running the `yarn webiny upgrade 5.5.0` command again.

Please close this iss

[2021-04-28 08:05] Pavel910 commented on #1456
Reopened the issue: security articles are WIP and should be available shortly. Then you can work on ORY integration.

[2021-04-29 05:53] jimjoes opened #1578 "Page Builder: Mobile Menu doesn't close after clicking a nav link."
Mobile Menu doesn't close after clicking a nav link in Safari

## This is:
- Bug

## Specifications

  - version: 5.5.0
  - OS: MacOS Big Sur
  - Browser: Safari Mobile

## Expected Behavior
The menu should close once a link has been clicked so that the user can see the content they've navigated to without an extra click to close the menu.

## Actual Behavior
The menu stays open once the user has

[2021-04-29 15:57] damianesteban opened #1581 "Form Builder is not redirecting"
## This is:

- Bug

## Specifications

  - version: most recent
  - OS: macOS 11.2.3
  - Browser: Chrome

## Expected Behavior
When I add a redirect URL to form builder, the user should be redirected to that URL after clicking "Submit"

## Actual Behavior
Nothing happens.

## Steps to Reproduce the Problem

1. Make a form
2. Add a redirect url and save it
3. Test it.

## Detailed Description

## P

[2021-04-30 14:23] jimjoes opened #1583 "Page Builder: Ability to modify a grid's configuration in different responsive views."
## This is:

- Feature request

## Detailed Description
It would be useful to be able to add/remove cells in a grid in different responsive viewports.

## Possible Solution
Make the grid settings persist per viewport, in the same way other properties such as width etc can be set differently for the same element in different viewports.

[2021-05-01 15:08] #1568 closed, assigned to nobody

[2021-05-01 15:10] Pavel910 commented on #1433
@brunozoric what's the status of this issue?

[2021-05-01 15:11] Pavel910 commented on #1420
@econtentmaps can you still reproduce this issue? There were many releases since this was reported, just wondering if you're still running into this. Cheers!

[2021-05-02 16:17] damianesteban commented on #1581
I had to enable the redirection plugin. I wish the documentation was clearer about this.

[2021-05-02 16:17] #1581 closed, assigned to nobody

[2021-05-02 16:21] Pavel910 commented on #1581
@damianesteban you mean like `enable in the form settings` or `import in code` ?

[2021-05-04 07:47] #1353 closed

[2021-05-04 15:02] Pavel910 opened #1589 "Headless CMS: no way to change content model group"
## This is:
- Bug

## Expected Behavior
Once the Content Model is created, we should be able to change the group in model settings.

## Actual Behavior
There's no way to change the group after creating a content model.

## Possible Solution
Add a dropdown with content groups to content model settings view.

[2021-05-05 07:15] brunozoric commented on #1433
@Pavel910 I don't think it is an issue, sort value was not an array and @econtentmaps did not fetch errors to see what is wrong. I will close.

[2021-05-05 07:15] #1433 closed, assigned to brunozoric

[2021-05-05 15:31] #1527 closed, assigned to nobody

[2021-05-06 08:17] #1517 closed, assigned to nobody

[2021-05-06 08:18] StefanoAgazzi commented on #1517
@doitadrian closing  this issue since it si not a Webiny issue strictly speaking

[2021-05-06 09:55] #1589 closed, assigned to nobody

[2021-05-06 13:12] ajcwebdev commented on #1150
I've been researching this [general problem space](https://github.com/redwoodjs/redwood/issues/947#issuecomment-814431525) with @t-eckert. Can confirm this is wicked complicated and resists any sensible time estimation. I think the two most fundamental things you need to understand is how they each handle events and how they integrate HTTP.

## Handling events

AWS Lambda uses a straightforward ev

[2021-05-06 13:17] #1150 closed

[2021-05-09 16:20] SyedUmerHasan opened #1598 "Project Initialization : Yarn setup-project not building in Linux environment"
## On Linux Environment - yarn setup-project is not working

I have cloned a new repo from webiny (specifically next branch)

## Specifications

  - version: 5.5
  - OS: Linux/Ubuntu 20.04
  - Browser: Google Chrome

## Expected Behavior
The build should pass without anything

## Actual Behavior
I need to run sudo command to install anything first and another 'webiny' command is not found either

[2021-05-09 16:21] SyedUmerHasan commented on #1598
Hi @Pavel910, Can you please look into this.
Created this issue
Thanks

[2021-05-09 16:56] Pavel910 commented on #1598
@SyedUmerHasan it should be fixed now. Please pull the `next` branch and run `yarn && yarn setup-project`. And never use `sudo` with anything, as it will cause problems down the line.

[2021-05-10 11:33] brunozoric opened #1600 "Standardize where input to ease the querying of the data"
We need a small and simple method that will standardize the where input to some structure.

## This is:
- Idea
## Detailed Description

Parsing the object:
[code]
should produce something like:
[code]

When this is done we will have a standard way using the where input throught all of our applications.

User should be able to register their own operations (and unregister existing ones).

Built-in

[2021-05-10 11:44] Pavel910 opened #1602 "File Manager - Private files (research)"
## This is
- Implementation Research

## Detailed Description
As discussed in #1593, we want to implement a way to protect files from public access. It's clear that requests for files must be "presigned" right before sending an HTTP request.

## Action Items
- [x] Research the feasibility of `<PresignFile/>` component; find all the locations where this would have to be added in code and see if it'

[2021-05-10 11:45] #1598 closed, assigned to Pavel910

[2021-05-10 12:05] Ashu96 opened #1603 "PB: improve srcset implementation in image component"
## This is:
- Improvement

## Detailed Description:
To improve the performance on mobile devices, we should improve the implementation of the `srcset` feature in the image component in the page builder.

The goal is to include the `sizes` attribute so that we can help the browser to choose optimal image for a given viewport and device. Here is an example:

[code]

Currently we support the followin

[2021-05-10 12:39] Ashu96 opened #1604 "File Manager - Incorrect tooltip in file details sidebar"
## This is:
- Bug

## Expected Behavior
In the case of a file, the tooltip should show `Delete File`:

<img width="1424" alt="File manager: delete file action" src="https://user-images.githubusercontent.com/13612227/117658820-d163a780-b1b8-11eb-9b74-17df91c30895.png">

## Actual Behavior
In the case of a file, the tooltip is showing `Delete Image`:

![File manager: delete image action](https://use

[2021-05-10 12:46] adrians5j opened #1605 "Create a new CI/CD scaffold"
## This is:

- Idea

## Description

As I was writing dev workflows docs, I sensed a need for a Webiny CLI scaffolding utility, which would establish a complete CI/CD pipeline for a Webiny project.

It would create things like a code repo, necessary long-lived branches (`dev`, `staging`, `prod`), CI/CD workflow files that run tests / deploy to different environments, and so on.

For starters, we w

[2021-05-10 13:05] Pavel910 opened #1606 "Page Builder - Expandable page data and page settings"
## This is
- Feature request

This feature is a prerequisite for dynamic pages.

## Detailed Description
We need to be able to expand page data (main data and settings). This involves modifications on both React side, and GraphQL side. Currently, validation of input data is very strict and crude. It's impossible to expand the models doing the validation.

I've discussed this with @doitadrian and w

[2021-05-10 13:08] adrians5j opened #1607 "New CI/CD fixes and improvements"
## This is:

- Idea

## Description

At the moment, our CI/CD needs a couple of fixes and improvements.

#### Deploy a single ElasticSearch cluster for executing E2E tests

In order to speed up `e2e` tests, let's deploy a single ES cluster, and instruct all deployed e2e-test-purpose instances to use it. This way we won't have to deploy an ES cluster every time and drastically slow down the CI/CD p

[2021-05-10 13:12] brunozoric opened #1608 "General: Pluginable storage operations"
## This is:
- Idea

## Description
Currently we are missing support for different databases - it works with DynamoDB for storage and Elasticsearch to support searching through the records.. Users should be able to choose which database do they want to run the system with.

## Solution
We should provide storage operation interface to enable adding support for multiple databases / search indexes.

#

[2021-05-10 13:21] Pavel910 opened #1609 "Headless CMS - Trying to write a / in textarea opens the search widget"
## This is:
- Bug

## Expected Behavior
Typing a `/` in textareas should treat it as a regular character.

## Actual Behavior
Hitting `/` opens the Search widget in the top app bar.

## Steps to Reproduce the Problem
1. Setup a content model with a textarea field.
2. Open content entry form, and try typing `https://`
3. Hitting `/` will open the search widget.

## Possible Solution
 `/` is a short

[2021-05-10 13:21] brunozoric opened #1610 "Headless CMS: DynamoDB storage operations adapter implementation"
## This is:
- Idea

## The problem
Currently our system works with DynamoDB + Elasticsearch which is not fully serverless. While we do need Elasticsearch to perform complex searches on a lot of the records, there is also a need for DynamoDB only (or any other storage) option for smaller projects or the development of the system.

## Description
We should provide the interface to implement multiple

[2021-05-10 13:29] Ashu96 opened #1611 "Add visual feedback when an unstructured error is returned from server"
## This is:
- improvement

## Detailed Description
Currently, if the server responds with an unstructured error message, for example, `500 internal server error` or similar,
there is no visual feedback for the user.

We want to resolve this by showing a snack bar to the user with an appropriate error message so that the user has the information about it.

## Action items:
- [x] debug: what happens

[2021-05-10 13:39] Ashu96 opened #1612 "API: debug why the error is not being returned from a lambda function"
## This is:
- Bug

## Detailed Description
Currently, for some reason, if the lambda execution fails, it does not return an appropriate error to the API gateway, which, in turn, returns a server error. We need to debug, why that is the case?

Note: We need to check whether setting the `DEBUG` flag `true` helps in discovering the error.

Admin Area:
---
![Untitled-2](https://user-images.githubuserc

[2021-05-10 13:45] Ashu96 opened #1613 "Research: how can we set DEBUG=true as a default for the dev environment"
## This is:
- improvement

## Detailed Description
If `DEBUG=true` helps in providing more information about the server error, we need to find out how can we set `DEBUG=true` as a default for the dev environment.

## Action items
- [x] research how can we set `DEBUG=true` as a default for the dev environment
- [x] set `DEBUG=true` as a default for the dev environment

[2021-05-10 13:45] Ashu96 opened #1614 "Improve Error Handling - Errors Not Shown In Browser"
## This is:
- Maintenance

## Detailed Description
This is a master issue that is consist of the following sub-tasks:
- [x]  [Add: visual feedback when an error happens (Admin Area) #1611](https://github.com/webiny/webiny-js/issues/1611)
- [x]  [Debug: why the error is not being returned from a lambda function #1612](https://github.com/webiny/webiny-js/issues/1612)
- [x]  [Research: how can we set

[2021-05-10 15:19] myfreax opened #1615 "Can deploy webiny to aws china region？"
## This is Question
Can deploy webiny to aws china region？

[2021-05-10 15:22] Pavel910 commented on #1615
@huangyanxiong01 yes, but you need to verify that all the services we deploy are supported in that region. Like Cognito, DynamoDB, etc. To change the region:
1) create a Webiny project and select any region
2) edit `.env` file, and modify the AWS_REGION to whatever you need.
3) Run deploy.

Be careful not to change the region between deployments. Once you deploy to a certain region, and decide to

[2021-05-11 05:38] myfreax commented on #1615
@Pavel910 Thinks. I will try it.

[2021-05-11 08:47] myfreax opened #1616 "What is typescript type CmsEditorFieldTypePlugin?"
Follow this docs [Create headless cms plugin](https://www.webiny.com/docs/tutorials/headless-cms/create-a-webiny-headless-cms-address-field-plugin).I can not import typescript type `CmsEditorFieldTypePlugin`  and at last steps i can not run `yarn webiny ws run build --folder=packages/api-headless-cms`. The `packages/api-headless-cms` folder is not exist.
[code]
## This is Bug

## Specifications

[2021-05-12 10:42] brunozoric commented on #1616
Hi @huangyanxiong01 !
CmsEditorFieldTypePlugin is imported from the `@webiny/app-headless-cms` package.
[code]
I have added missing imports in the example code and modified the deploy/run commands.
PR for that is [here](https://github.com/webiny/docs.webiny.com/pull/282), going to merge today after I double check everything.

[2021-05-13 02:49] myfreax commented on #1615
Amazon Cognito User Pools are not currently available in the Beijing Region.

[2021-05-13 02:49] #1615 closed, assigned to nobody

[2021-05-13 12:20] adrians5j opened #1619 "Pass the `--debug` argument to Pulumi CLI (`webiny deploy` and `webiny destroy` commands)"
## This is:

- Bug

## The Issue
When users run the `yarn webiny deploy {folder} --env {env} --debug` or `yarn webiny destroy {folder} --env {env} --debug` commands, the specified `--debug` flag isn't actually passed to the underlying Pulumi CLI command that we run. At the moment, this flag is only passed to the [build-packages](https://github.com/webiny/webiny-js/blob/next/packages/cli-plugin-dep

[2021-05-14 12:22] myfreax opened #1620 "How add custom field to database user table?"
## This is Question
I think webiny manage user by this package [api-security-user-management](https://github.com/webiny/webiny-js/tree/54ab395e45773ed98814bf2339c4a9166bd234d1/packages/api-security-tenancy). The package as node_module install. How add field to user table by modify this package user gql?

In docs, I can not find about custom user field infomation

[2021-05-14 12:35] myfreax commented on #1616
@brunozoric thanks. It work well

[2021-05-14 12:35] #1616 closed, assigned to brunozoric

[2021-05-14 13:05] #1603 closed, assigned to Ashu96

[2021-05-15 13:29] #1574 closed, assigned to nobody

[2021-05-16 07:50] #1367 closed

[2021-05-17 04:00] ankurvr opened #1621 "If entering single letter in last name on signup then whole system stops working."
## This is:

- Bug

## Specifications

  - version: 5.6.*
  - OS: MacOS Bigsur
  - Browser: Chrome Version 90.0.4430.212

## Expected Behavior

It should work normally if i enter 1 character in last name or first name

## Actual Behavior

It's not working normally if i enter 1 character in last name or first name. The login page keeps loading and giving JS error in console.

## Steps to Reproduce

[2021-05-17 06:38] adrians5j commented on #1621
Thanks for opening the issue @ankurvr. I'll see that I provide instructions on how to solve this issue and maybe somebody from the community would be able to tackle it.

[2021-05-17 07:06] ankurvr commented on #1621
@doitadrian I am ready to tackle it if you can guide me.

[2021-05-17 07:19] adrians5j commented on #1621
Cool @ankurvr!

It should be relatively easy to fix it.

So, I was looking at the backend code and saw the [following validators](https://github.com/webiny/webiny-js/blob/next/packages/api-security-tenancy/src/crud/users.crud.ts#L22-L23) applied on `firstName` and `lastName` fields:

[code]

And this is why the process failed. The frontend allows for one char to be entered into the first name and

[2021-05-17 07:22] ankurvr commented on #1621
I understood. I will make that change.

Thanks

[2021-05-17 07:53] #1621 closed, assigned to nobody

[2021-05-17 10:16] SvenAlHamad commented on #1602
Regarding the last point - this could be problematic if we need to add query strings to public files as they might not get cached in an efficient way. Alternatively, we can maybe mitigate this issue by tweaking the CloudFront configuration for file delivery so it ignores the query strings. For private files that's not an issue, as they will send the max-age=0 downstream anyhow.

[2021-05-17 10:26] Pavel910 commented on #1602
@SvenAlHamad Unfortunately, the file key is generated once, and the user can toggle private flag (or any privacy settings) as much as he wants. These will have to be checked against DB or a meta file in S3. But in any case, Lambda will have to be involved.

Would excluding query string from CDN cache cause problems with requests to different file sizes? Are those URLs currently cached? @doitadrian

[2021-05-17 10:29] adrians5j commented on #1602
Yes @Pavel910, we cache different sizes too. Good point.

[2021-05-17 11:14] SvenAlHamad commented on #1602
I wouldn't go with the explicit option of setting permissions upon upload - it won't be a good user experience if they need to change permissions down the line.

I think by ignoring the query strings as part of the cache-key on CloudFront we'll achieve good results. Public files will contain the query string on the client side, but then will be cached and all users will access the file through cac

[2021-05-17 11:14] Pavel910 opened #1626 "Dynamic Pages"
## This is
* Feature Specification

## Detailed Description
We want to use Page Builder editor as a template builder for data from Headless CMS. Pages need to be rerendered when data in CMS changes, and also when the page template itself is updated.

The #1535 PR is a PoC to verify that it is doable; it contains a lot of code that can now be organized properly. Below is the breakdown of things lea

[2021-05-17 11:27] Pavel910 commented on #1620
@huangyanxiong01 can you describe a little bit more what exactly are you trying to achieve in your application? The package you're mentioning is only meant for `admin` app.

Btw. we need to update the README, as it's not called `api-security-user-management` anymore 🤦

[2021-05-17 12:15] #1619 closed, assigned to nobody

[2021-05-18 02:20] myfreax commented on #1620
@Pavel910 I want implements VIP function for user module。 The way I thought of is to add a field vip in the user table to determine whether the logged-in user is a vip

[2021-05-18 08:37] imrishabh18 commented on #1604
Hey @Pavel910, I would like to take up this issue.

[2021-05-18 08:40] Pavel910 commented on #1604
@imrishabh18 Lovely! Go ahead, I'll assign you to the issue. If you need help, leave a comment here or join our Slack.

[2021-05-18 09:16] Pavel910 commented on #1620
@huangyanxiong01 I checked the code and currently it's not possible to add new data to the user model. It's too restrictive. We encountered the same problem with the Page Builder.

I'll open an issue related to this question and once I sort out the Page Builder (same problem), maybe someone from the community will be able to implement the same solution for the user module.

[2021-05-18 09:27] imrishabh18 opened #1627 "Script missing in Contribution readme file"
## This is:

- Documentation

## Detailed Description
This README file https://github.com/webiny/webiny-js/blame/next/docs/CONTRIBUTING.md#L88
In the 3rd step says to use command `yarn setup-repo` but that command is not present in the package.json.

## Possible Solution
I am not sure but is `yarn setup-project` is the command that needs to be used here?

[2021-05-18 09:28] Pavel910 commented on #1627
@imrishabh18 you're correct! It was renamed to `setup-project`. Feel free to open a PR to fix the command in the CONTRIBUTING.md file. Thanks!

[2021-05-18 09:31] Pavel910 opened #1628 "Expandable user data"
## This is
- Feature request (based on #1620)

## Detailed Description
We need to be able to expand user's data via plugins. Currently, model validations are very restrictive and don't allow any new data to be added.

With this, I also suggest we use this opportunity and separate `api-tenancy` and `api-security-admin-users` into separate packages, as these two things have nothing in common, but fo

[2021-05-18 12:46] #1609 closed, assigned to nobody

[2021-05-18 19:33] #1627 closed, assigned to nobody

[2021-05-19 08:18] #1422 closed, assigned to nobody

[2021-05-19 08:19] #1421 closed, assigned to nobody

[2021-05-19 08:19] #1419 closed, assigned to nobody

[2021-05-21 06:21] #1614 closed, assigned to Ashu96

[2021-05-21 07:57] #1605 closed, assigned to nobody

[2021-05-21 10:14] xintellion opened #1635 "Http method check in contextSetup should be null safe"
## This is:

- Bug

## Specifications

  - version: 5.6.0
  - OS: *
  - Browser: none

## Expected Behavior
The method check should pass successfully even if there is no request present.

## Actual Behavior
The check fails with:
`TypeError: Cannot read property 'request' of undefined`

## Steps to Reproduce the Problem
1. Create a lambda function that include the plugins from [here](https://github

[2021-05-21 10:33] Pavel910 commented on #1635
@xintellion That's not the only thing that will fail if you don't send a proper HTTP event. Security depends on HTTP headers, so HTTP event is what we expect to be triggering the Lambda.

I guess you're trying to invoke your custom Lambda from another Lambda using AWS SDK? What are you trying to achieve?

[2021-05-21 13:59] xintellion commented on #1635
@Pavel910 That's right. But I'm not using the AWS SDK. Details can be found in your slack [thread](https://webiny-community.slack.com/archives/C0147R8166P/p1621572219004400)

[2021-05-23 20:44] #1606 closed, assigned to Pavel910

[2021-05-23 22:06] #1611 closed, assigned to Ashu96

[2021-05-23 22:06] #1612 closed, assigned to Ashu96

[2021-05-23 22:06] #1613 closed, assigned to Ashu96

[2021-05-23 22:06] #1602 closed, assigned to Pavel910

[2021-05-24 07:22] taifok opened #1640 "Dynamodb latest content entry record not updated after save"
## This is:

- Question / Bug

## Specifications

  - version: 5.6.0

## Description
When a content entry is updated, only the latest record in `esDb` but not the one in the default `db`.
And when I called `cms.entries.getLatestByIds()` will return the non-updated result.

Is it a expected behavior or is it a bug?

### related code
https://github.com/webiny/webiny-js/blob/ecdee2336e1a983083c31f48c

[2021-05-24 07:51] #1514 closed, assigned to nobody

[2021-05-24 11:35] brunozoric opened #1641 "Headless CMS: add filtering by createdBy and ownedBy"
We need a way to find entries created or owned by specific user and entries with a certain entryId.

## This is:
- Feature request

## Possible Solution
Add a scheme definition for entryId, createdBy and ownedBy system fields.
Internally map values received in those variables to a path to be used to filter entries.
Because those are system fields, it will require some level of hardcoding the field

[2021-05-24 12:10] Ashu96 opened #1642 "Add Cypress Test for Form Builder Application"
## This is:
- Feature request

## Detailed Description:
This task contains the list of E2E tests for the Webiny Form Builder application.

## Action Items:
- [x] Test 1: create, publish, create a new revision, and immediately delete everything
- [x] Test 2: create, publish, unpublish, re-publish, and immediately delete everything

[2021-05-24 12:14] Ashu96 opened #1643 "Add Cypress Test for I18N Application"
## This is:
- Feature request

## Detailed Description:
This task contains the list of E2E tests for the I18N application.

## Action Items:
- [x] Test 1: create a locale, select, unselect and immediately delete everything
- [x] Test 2: not allow deleting `"default locale"`
- [ ] Test 3: create a new `"default locale"`

[2021-05-24 12:19] Ashu96 opened #1644 "Add Cypress Test for Headless CMS Application"
## This is:
- Feature request

## Detailed Description:
This task contains the list of E2E tests for the Headless CMS application.

## Action Items:
- [x]  Content Model Groups
    - [x]  Test 1: create, update, and immediately delete everything
    - [x]  Test 2: create, search, sort, and immediately delete everything
- [ ] Content Models
   - [x]  Test 1: create, edit, and delete content model

[2021-05-24 12:21] Ashu96 opened #1645 "Add Cypress Test for Security Application"
## This is:
- Feature request

## Detailed Description:
This task contains the list of E2E tests for the Security application.

## Action Items:
- [x]  Users
    - [x]  CRUD
- [ ]  Groups
    - [x]  CRUD
    - [x]  Permissions (could be complicated)
- [x]  API keys
    - [x]  CRUD
    - [x]  Permissions (could be complicated)
- [x]  Account (Try updating current user account)

[2021-05-24 12:22] Ashu96 opened #1646 "Add Cypress Test for the File Manager Application"
## This is:
- Feature request

## Detailed Description:
This task contains the list of E2E tests for the File Manager application.

## Action Items:
- [x]  Open File manager view
- [x]  Upload Image(s)
- [x]  Delete Image
- [x] Search and Filter files
- [x]  Edit image details
    - [x]  Name
    - [x]  Tags

[2021-05-24 12:24] Ashu96 opened #1647 "Add Cypress Test for the Page Builder Application"
## This is:
- Feature request

## Detailed Description:
This task contains the list of E2E tests for the Page Builder application.

## Action Items:
- [ ]  Category
    - [ ]  Create a category
    - [ ]  Update a category
    - [ ]  Delete a category
- [ ]  Menu
    - [ ]  Create a menu
    - [ ]  Update a menu
    - [ ]  Delete a menu
- [ ]  Page
    - [ ]  Create a page
        - [ ]  Add coupl

[2021-05-24 12:24] Ashu96 opened #1648 "Add Cypress Tests for Webiny Applications"
## This is:
- Improvement

## Detailed Description:
We need to add End-to-End tests for all Webiny applications using Cypress.
This issue contains the list of all sub-tasks that describes the scope of this task.

### Action Items:
- [x] write test cases for the [Form Builder](https://github.com/webiny/webiny-js/issues/1642) app
- [x] write test cases for the [I18N](https://github.com/webiny/webiny