[2019-12-06 12:33] Pavel910 commented on #635
This can easily be done without introducing breaking changes. What I like about this is that commands get scoped to a particular "section", like `api` or `apps`  and so each "section" can have more child commands. Also it allows us to introduce commands like `push` and `pull` for state management as discussed in #633.

[2019-12-06 12:37] doitadrian commented on #635
Yeah, "section" is the same word that comes to my mind too.

👍

[2019-12-06 15:10] ValiDraganescu commented on #632
This was fast :) I'll try the fix now, 10x mate.

[2019-12-06 15:11] Pavel910 commented on #632
@ValiDraganescu update the CLI and try to create a new project. Let me know if there are more problems 🍻

[2019-12-06 15:49] mectors opened #637 "Delete of images is not working"
## This is:

- Bug

## Specifications

  - version: 2.4.1
  - OS: Mac and AWS
  - Browser: Chrome

## Expected Behavior

Clicking the delete image button should delete the image

## Actual Behavior

Nothing happens

## Steps to Reproduce the Problem

1. Open page builder
2. Add image element
3. Upload image
4. Click the i on the image
5. Click the Delete Image icon

## Detailed Description

After

[2019-12-06 15:52] Pavel910 commented on #637
Thanks @mectors, we'll look into it.

[2019-12-06 16:03] mectors commented on #637
thanks

[2019-12-06 16:07] mectors opened #638 "I cannot seem to upload some images"
Uploading some images gives an error while uploading another image does not

## This is:

- Bug

## Specifications

  - version: 2.4.1
  - OS: Mac and AWS
  - Browser: Chrome

## Expected Behavior

All the images that are visible in the page builder image selector should be able to be added to the image element

## Actual Behavior

Some work fine but others do not appear. When adding them a broken

[2019-12-06 16:09] Pavel910 commented on #638
@mectors is that a file of your own that you uploaded? If so, could you please send it over to us? We'd like to test using the exact same file. Either drop me an email (see my profile for the address) or join us on https://gitter.im/Webiny/webiny-js and send via private message. It will help a lot to pinpoint the problem.

Thanks a lot!

[2019-12-06 16:42] doitadrian commented on #638
Hi @mectors,

I tried opening your image, and yeah, I cannot load it.

I noticed the `width=2500`, so I simply tried `width=1000`, and that worked.

https://dut1alnks85jp.cloudfront.net/files/8k3ubshlo-myclientsleft.png?width=1000

I will check how the dimensions of the image can cause issues.

[2019-12-06 16:44] doitadrian commented on #637
I just tried deleting an existing image, it worked for me.

Can you please check if there is an error in the console?

Let me know if you need any help with that.

[2019-12-06 16:51] doitadrian commented on #637
Hey @mectors, I actually followed exact same steps you provided.

And I managed to reproduce it.

I click on the garbage can icon, and really, nothing gets triggered.

Thanks a lot for the report, will check this out!

[2019-12-06 16:58] doitadrian commented on #638
I managed to reproduce the issue with your image.

Will fix this!

[2019-12-06 17:03] mectors commented on #638
thanks

[2019-12-06 17:05] mectors opened #639 "How do you define a link between two pages?"
Dumb question but if you want to link between two pages, what is the URL structure you need to introduce in the link on the first page?

## This is:

- Question

[2019-12-06 17:16] SvenAlHamad commented on #639
Hey Martin,

If I understood your question correctly, you want to place a link on one page so when a user clicks on that link, that it takes him to another page on your website?

To add a link between two pages, you should use a relative link, without the domain name. For example, if the page you want to link to has a url of: `http://domain.com/my/page` you would put `/my/page` into the link field

[2019-12-06 21:05] jinman commented on #628
Thanks for the quick reply and sorry for my tardy reply. We would love it if you can point us to the right direction in the existing apps (page-builder, form-builder, etc) and (if we are able to do it), we would love to contribute it back in terms of documentation and/or code as well.

Here is what we were thinking about hello-world webiny app: If we want to create a new app or move an existing se

[2019-12-07 00:30] jinman opened #640 "Internal Site App"
This is feature request/Question.

Can we move the Site App  to "internal" aka. behind the login?
How can we change the ACL/security later so "Site" settings can have toggle setting so it can go behind login. This will enable a lot of other use cases such as Intranet, Knowledgebase etc.  Admins and Editors can get access editing content, employees and other internal folks can see the site.

[2019-12-07 11:06] Pavel910 commented on #640
Yes, that can be done relatively easy, it's a matter of mounting an extra React component which manages authentication via Cognito (it's pluginable, but we provide a Cognito  plugin by default).

We also have components for handling authorization, so you can render app views based on user's scopes and roles.

Let me setup an example to double-check everything and I'll just add to our repo.

[2019-12-08 10:43] SvenAlHamad opened #641 "Standardize the way how apps and plugins register their layouts"
## The Problem
Often Webiny plugins and apps have several parts. Take for example the Mailchimp plugin or the Form Builder. One of these parts is a component that defines how the render looks like for the ‘site’ app for that plugin or app.

The dilemma we face is around where the render is defined and how it’s introduced into the theme.

### Option 1 - using plugins to register new render layouts

[2019-12-08 10:54] Pavel910 commented on #641
Another related thing is styling of common input elements, like `input`, `textarea`, `select`, etc. We have multiple apps which render those, like `Form Builder`, `Mailchimp`, and now `Security`. Each of those have their own CSS classes and markup, which is redundant; it meas I need to re-style every app instead of just styling global components in my theme.

I'm currently working on a `secured si

[2019-12-09 09:13] mectors commented on #639
Thanks that solved it.

[2019-12-09 09:38] #637 closed

[2019-12-09 10:10] doitadrian commented on #638
This has been fixed @mectors.

Basically, the function that was doing image resizing wasn't equipped with enough system resources.

I released the fix for this, so new users won't experience on the same issue. For your existing Webiny setup, the easiest way to fix this would be to go to the `api/serverless.yml`, search for `imageTransformer` key, located in `files` component, and change the memory

[2019-12-09 10:10] #638 closed

[2019-12-09 10:28] doitadrian commented on #637
Hi @mectors,

this has been fixed and released. The issue was happening only inside of the Page Builder. In other places, like for example account settings (where you can upload your avatar image), this worked correctly.

Somehow we missed the issue you found in the Page Builder, but it is fixed (and released) now.

To get the fix, just upgrade the `@webiny/app-admin` package, by doing `yarn upgra

[2019-12-09 11:41] #639 closed

[2019-12-09 12:07] Pavel910 commented on #641
After an extensive discussion on a conference call, we've decided to push the `everything is a plugin` concept even further. When everything is following the same design pattern, it's much easier to think about the structure of an app, write documentation, and contribute to a project.

## Theme package changes
- `theme` package is to be removed in favor of an `npm` module
- themes are to be regist

[2019-12-09 12:14] ValiDraganescu commented on #632
It works as expected, 10x!

[2019-12-09 12:15] Pavel910 commented on #640
OK so I'm working on adding support for secured site app, it's actually pretty simple to implement, but I've encountered a problem that has more to do with rendering of UI, you can see the discussion and a proposed solution in #641.

This will be resolved soon enough; I'll keep you updated. And there will also be a working example in our repo. Stay tuned :)

[2019-12-09 12:31] Pavel910 commented on #628
@jinman we do have a storybook with our UI components: https://storybook.webiny.com/
As long as you are using those components in the context of our `admin` app, those components will look and work seamlessly.

Regarding everything else (1, 2 and 3), I'll quickly put together a `hello-admin` app and push it to our repo; I think it will be much faster than for both you and me.

We would greatly app

[2019-12-10 07:58] #626 closed

[2019-12-10 19:39] Pavel910 commented on #357
@roman-vabishchevych this is fixed and released. The related issue is #621 and PR #631.
I'm closing this issue as I'm not even sure if it's related or not since the original issue by @doitadrian has no description except the screenshot.

[2019-12-10 19:39] #357 closed

[2019-12-11 15:46] doitadrian opened #645 "When site logo is not sent, an img tag with src "undefined" is created"
If the site logo is not set, an `img` tag with `src="undefined"` is mounted in the head, but we should not mount anything in that case. Even bigger problem is that this will trigger a request, which will of course return error 404.

## This is:
- Bug

## Expected Behavior
Only create the `img` element if there is a valid `src`.

[2019-12-13 22:23] doitadrian commented on #628
I like the approach, Next.js has taken: https://nextjs.org/learn/basics/getting-started/setup

[2019-12-18 13:06] doitadrian commented on #622
### A short update

In general, everything we discussed here is implemented, with some very nice extras and optimizations too. One of the most important features is link-preloading. Basically, we noticed that even with the SSR, when navigating from one page to another, we still have the loading overlay, because the page content is fetched on-demand, or in other words, when users click on links.

S

[2019-12-19 10:45] doitadrian opened #646 "Global search opened when "n" key is pressed in textarea"
Check global search - it's triggered when a user presses the "n" key, it shouldn't do that.

## This is:
- Bug

## Expected Behavior
Global search component should not be opened.

## Actual Behavior
Typing in the "Description" text area should not opet global search. Happens when the "n" key is pressed.

![image](https://user-images.githubusercontent.com/5121148/71167398-eacb2300-2254-11ea-95e2-81

[2019-12-19 20:47] doitadrian opened #647 "serverless-files: on "webiny remove-api", do not delete the S3 bucket"
## This is:
- Bug

## Expected Behavior
Once the user executes `webiny remove-api`, do not delete the S3 bucket that was created upon deploying the `serverless-files` component. We don't want users to loose all of the uploaded files, let them delete the bucket manually if they want to.

P.S. Let's also print out a simple message in the removal process so that the user knows this.

## Actual Behavi

[2019-12-23 13:48] doitadrian commented on #645
Closing this one, as I cannot reproduce it. Tried on local setup and on fully deployed site. Tried also uploading different site image / favicons, still could not reproduce it.

![image](https://user-images.githubusercontent.com/5121148/71361144-5af9e180-2592-11ea-8ba2-6c8eec4aa939.png)

[2019-12-23 13:48] #645 closed

[2019-12-23 15:26] jozef-slezak opened #650 "Deploy button and/or docker-compose"
Hello, great job done with Webiny! You can inspire by "Deploy to Cloud" button. Deploy button is being used in many opensource projects (eg. https://github.com/parse-community/parse-server-example). I understand the benefits of serverless but it complicates quickstart (I beleive that it simplifies production deployment). Please consider:
A. simple deployment to a cloud simmilar to https://docs.has

[2019-12-23 20:09] Pavel910 commented on #650
Hi @jozef-slezak, thanks for giving Webiny a spin :)

1. Not sure what was the problem here, as you **don't** need to do anything with Cognito, it is set up during the initial deploy of your API. Could you provide some details?

2. That docker image is created by a community member for Webiny `v1`, not the serverless `v2`.

3. The `sassOptions` was fixed about 2 weeks ago, so all new projects (sin

[2019-12-29 15:59] #647 closed

[2019-12-29 16:00] #646 closed

[2020-01-04 00:27] boreendesign opened #651 "Stuck on Installing Dependencies"
I am trying to install webiny for the first time but I keep getting stuck on installing dependencies as below, I have to manually stop it.

My Details
Mac
Node Version : 12.14
Yarn install : 0.27.5
[code]

[2020-01-05 14:41] doitadrian commented on #651
Hi @boreendesign, thanks for the report.

Can you please tell me the following...
1) Which OS version you have?
2) Can you please check the version of Yarn, you stated `0.27.5`, but current stable version is `v1.21.1`.

Thank you!

[2020-01-05 19:26] VividWombat commented on #575
I'm familiar with react/dynamodb and deploying with serverless. will do some code and see how it works. happy to share if its of interest. I agree that if you want to promote using the app on AWS, it should be using something like dynamodb

interesting project. good luck with it

[2020-01-06 03:44] boreendesign commented on #651
My apologies, I thought I had updated Yarn globally, I checked again and indeed I had not and now that its updated its installing, thank you.

[2020-01-06 03:44] #651 closed

[2020-01-06 08:08] doitadrian commented on #651
Awesome!

[2020-01-06 08:12] doitadrian commented on #575
Thank you @VividWombat.

@everyonce and I started already with something, we'll see how it goes.

Maybe we should create a separate branch/PR for this so everybody can see the status of this feature?

@everyonce

[2020-01-06 11:56] everyonce commented on #575
I'm on board with any help anyone is willing to offer :-) - my progress has been slow just trying to understand the way the driver piece is abstracted, which makes sense.

[2020-01-06 16:48] jbampton opened #653 "Broken link in `packages/validation/README.md`"
The `validation` link is broken in the table of contents since there are two headings
 with the text `validation`.

Currently the link in the table of contents links back to the README's top level heading.

https://github.com/webiny/webiny-js/tree/master/packages/validation

![Screen Shot 2020-01-07 at 2 37 12 am](https://user-images.githubusercontent.com/418747/71832976-c2b63d80-30f7-11ea-9d35-31

[2020-01-06 18:38] jbampton opened #655 "Broken image and broken link in `packages/cli/create/template/README.md`"
The Webiny logo is broken at the top of the `README` and the `docs` link is broken too.

https://github.com/webiny/webiny-js/blob/master/packages/cli/create/template/README.md

## This is:
- Bug

![Screen Shot 2020-01-07 at 4 27 03 am](https://user-images.githubusercontent.com/418747/71839556-25630580-3107-11ea-95be-d194059f6de1.png)

Let me know what the link should be and I will add a PR to fix

[2020-01-06 19:43] jbampton opened #656 "Broken link in `examples/apps/admin/README.md`"
The `Post-Processing CSS` link in the table of contents is broken.  The markup that it links to is malformed and seems to be commented out.

https://github.com/webiny/webiny-js/blob/master/examples/apps/admin/README.md

## This is:
- Bug

![Screen Shot 2020-01-07 at 5 35 37 am](https://user-images.githubusercontent.com/418747/71843718-3b28f880-3110-11ea-917c-2bd4e87812f4.png)

![Screen Shot 2020-0

[2020-01-06 19:51] Pavel910 commented on #656
That README is from CRA setup, and is not really relevant, as the entire `examples` folder is just a sandbox to use while developing. It was created ages ago, and I believe it's been fixed in `create-react-app`  since then.

Thanks for pointing out, I'll see if it's best to delete that file entirely to avoid confusion in the future.

[2020-01-07 12:11] naokia opened #657 "Minimum password length is different from defined in Cognito"
## This is:

- Bug

## Specifications

In any environment

## Expected Behavior

Password shorter than 8 characters should be rejected by validation module.
(because minimum password length on cognito is 8 characters)

## Actual Behavior

Password shorter than 8 characters passes validation on front end.
But, Validation on Cognito reject it.

## Steps to Reproduce the Problem

1. Display initial a

[2020-01-07 12:20] Pavel910 commented on #657
Hey @naokia, good find! Our default password policy for `cognito` component looks like this:

[code]

However, the installation form is not in sync with those settings. I'm leaving this issue opened; we need to figure out a good approach to keeping those settings in sync. @doitadrian This is something to discuss after our upcoming release.

[2020-01-08 09:48] jamesgeorge007 opened #659 "[CLI]: No warning shows up if an unknown command is passed in"
## This is:

- Bug

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior

An appropriate warning message along with the help information (optional) should show up.

## Actual Behavior

Nothing is logged on to the console.

## Steps to Reproduce the Problem

1. Install the CLI globally
2. `webiny junkcmd`

## Detailed Description

Users should be warned if an unrecognized comm

[2020-01-08 09:55] doitadrian commented on #659
Thanks for the report!

[2020-01-08 10:29] #659 closed

[2020-01-12 18:35] doitadrian opened #662 "Support for DynamoDB - create Commodo driver"
## This is:
- Feature request

## Detailed Description
Since a noticeable interest for implementing DynamoDB support was received by the community, I decided to create a dedicated issue, that would enable us to stay in sync regarding the status of this feature request.

The following things need to be finished in order to create the Commodo DynamoDB driver:

- [ ] create `@commodo/fields-storage-d

[2020-01-12 18:37] doitadrian commented on #575
I created a new issue for the DynamoDB support - #662.

So we can continue or discussion there, in a dedicated issue.

@everyonce @VividWombat @Pavel910 @dburbridge

[2020-01-13 05:13] #575 closed

[2020-01-13 15:15] VividWombat commented on #662
we may need to evaluate other options first. DocumentDB might be easier/better, at least as a first choice

https://docs.aws.amazon.com/documentdb/latest/developerguide/what-is.html

it mentions:
- MongoDB compatibility
- For developing and writing applications against an Amazon DocumentDB cluster, you can also use the MongoDB drivers with Amazon DocumentDB.

https://www.mongodb.com/compare/mongod

[2020-01-13 18:19] doitadrian commented on #662
Actually, we did try DocumentDB in the past.

There are a couple of reasons we didn't end up using it.

First, in order to connect to it, you need to put a function into a VPC
which dramatically increases cold starts. I'm talking 10seconds cold starts
here.

The next thing is price - there is no free tier and even the cheapest
instance is not cheap for a regular developer, that just wants to quick

[2020-01-16 23:40] sergiofilhowz opened #663 "Considering Typescript or Aurora Serverless Data API?"
Hi there,

I've been looking at Webiny for a year from time to time and I really like the project. Serverless, GraphQL, and Drag n' Drop CMS... all of these altogether, well... amazing!! Congratulations!

I'm considering on contributing to this awesome project and one thing that I noticed is that Typescript would really help on creating plugins / connectors like Database / Security.

What do you t

[2020-01-17 08:45] Pavel910 commented on #663
Hey @sergiofilhowz, glad you like Webiny :)  You'll be delighted to hear that we are finalizing migration to Typescript, it will be included in our upcoming release. Most of the plugins now have their corresponding types, so it will be much easier to contribute and discover the system.

Regarding Aurora, I'll let @doitadrian give you the information regarding that, as he's the author of our DB lay

[2020-01-17 09:10] doitadrian commented on #663
Hi @sergiofilhowz,

supporting Serverless Aurora is actually something we were considering at one point in time, and actually we have the MySQL driver already. Yes, it's a bit old, but it could definitely be refactored, to meet the latest code requirements.

If there is a real interest from the community for the support for MySQL, or you are willing to give it a try, I can prepare a separate issue

[2020-01-20 07:41] rpalmite opened #664 "[Bug] [Admin] Broken Link in Default Content"
## This is:

- Bug

## Expected Behavior

Links in default content should work

## Actual Behavior

There's a broken link

## Steps to Reproduce the Problem

1. Create a new instance of webiny
2. Create an admin and log in
3. Go to Page > Get Started
4. Notice to the link to https://docs.webiny.com/docs/cms-guides/get-started-webiny-administration

## Detailed Description

![image](https://user-im

[2020-01-20 07:47] rpalmite opened #665 "[Idea] [Admin] Suggestion for changes to the admin navigation menu"
## This is:

- Idea

## Detailed Description

I believe Pages, Categories, Menus, and Form Builder are likely to be most frequently used and deserve top hierarchy status in the admin navigation menu. Currently they're all contained within Content.

![image](https://user-images.githubusercontent.com/123492/72706138-dcdc2b00-3b8f-11ea-9f4e-ff7dae111631.png)

## Possible Solution

I suggest removing

[2020-01-20 07:59] Pavel910 commented on #665
Hi @rpalmite , thanks for the detailed example. The structure we provide by default comes from many years of building custom software for clients, where content management is just a minor part of the system. Webiny is not like Wordpress where you only have content management and maybe 1-2 additional modules. The goal of Webiny is to be a platform for web apps - whatever they are, not specifically

[2020-01-20 09:23] rpalmite opened #666 "[UX] [Admin] Split Screen Layout"
## This is:

- Idea

## Detailed Description

As it stands currently, I feel that clicking "(+)" and having it erase your current fields, which you may not expect and may not even realize happened, could use some improvement.

Current experience:

![image](https://user-images.githubusercontent.com/123492/72705738-d1d4cb00-3b8e-11ea-8a8c-03e7cc6a0af5.png)

## Possible Solution

The use of split scr

[2020-01-20 09:25] rpalmite opened #667 "Ability to click out of help tutorial"
## This is:

- Bug
- Suggestion

## Expected Behavior

When clicking outside of the mini-tutorial I expect it to disappear.

## Actual Behavior

You must click "I'm Ready" button at end of tutorial to continue editing your content.

## Steps to Reproduce the Problem

1. Inside page editor
2. Click help (?) from bottom of left hand navigation menu
3. Up pops a useful tutorial on editing a page
4. C

[2020-01-20 09:26] Pavel910 commented on #666
Great feedback @rpalmite. I myself am not much of a UX expert, but maybe @SvenAlHamad could join the discussion and share his insight.

[2020-01-20 09:28] rpalmite opened #668 "[Idea] [Admin] Rename Security Users to Users"
## This is:

- Idea

## Detailed Description

The term security users sounds less natural than simply users.

## Possible Solution

I think simply having a hierarchy of "Security > Users" would more naturally express that users are related to security. The typical user of this application inside my company is in marketing and this simple change would improve a reluctance to add users caused by the

[2020-01-20 09:28] Pavel910 commented on #667
Currently you can `Esc` out of it. Maybe we could enable the `hide on click` @SvenAlHamad ?

[2020-01-20 09:33] Pavel910 commented on #668
The term Security encompasses more than just users; there are groups, roles, we're also planning to add Personal Access Tokens, maybe even support for different Auth providers. In a broad sense it is exactly that - app security.

Let's keep this one open and see if we can get more feedback from the community.

Thanks for opening! 🍻

[2020-01-20 09:46] rpalmite opened #669 "[Content Update] Update Chat link to point directly to gitter"
## This is:

- Bug

## Expected Behavior

Link directly to current discussion website

## Actual Behavior

Marketing website currently links to old chat site (spectrum)

## Steps to Reproduce the Problem

1. Go to marketing homepage (https://www.webiny.com/)
2. Click on menu Resources > Chat
3. You'll be directed to spectrum (https://spectrum.chat/webiny/)

## Detailed Description

Gitter appears

[2020-01-20 14:35] SvenAlHamad commented on #666
Hey @rpalmite thanks for taking the time an opening this issue.

You have a good point, it's unexpected that the (+) restarts your form, especially if you have already typed something into the fields.  It's not good from the UX side.

The solutions you have suggested do have some advantages, but also many tradeoffs. The reason we have opted-in for the split-screen view is to use up all that screen

[2020-01-20 14:42] SvenAlHamad commented on #665
As Pavel mentioned, the current menu structure is taking into account that you can add many more items/apps to Webiny and still have a good experience with the navigation.

I do also understand your point, wherefrom somebody who only wants to use Webiny as a CMS, splitting out individual items into top-level navigation would improve the user experience.

For now to easiest way would be to overwrit

[2020-01-20 14:45] SvenAlHamad commented on #669
@rpalmite good one, thanks for spotting it. How are you comfortable with creating a PR and updating the link? I'm happy to assist.

[2020-01-20 14:46] SvenAlHamad commented on #668
On this one, I would reflect on my comment on issue #665

[2020-01-20 14:59] SvenAlHamad commented on #667
Sounds good ... I would also encourage a contribution on this issue. It's a question of adding a simple onClick={closeDialog} attribute on the Overlay component.

This is the reference: https://github.com/webiny/webiny-js/blob/master/packages/app-page-builder/src/editor/plugins/toolbar/onboarding/Onboarding.js#L94

[2020-01-23 00:04] tjrexer opened #670 "Webiny Create fails with unhandled promise rejection"
When trying to create a webiny project, the project fails to completely install.

## This is:
- Bug

## Specifications

  - version: 2.6.0
  - OS: WSL (Ubuntu 18.04.3 LTS)
  - Browser: Firefox

## Expected Behavior
webiny successfully creates project.

## Actual Behavior
webiny create fails to complete or exits, returning the following error before completing.

`Webiny collects anonymous usage ana

[2020-01-23 03:30] GalacticDrifter commented on #670
Did you try installing a newer version of node? Using yarn may have given you a more detailed error the first time because or the whole yarn-workspace/lerna thing?

[2020-01-23 09:52] Pavel910 commented on #670
Hey @tjrexer, to be honest, we're running everything on node `^10.14`  locally, so maybe try installing at least that? A greater version should also work, but try at least `10.14`.

Btw. a great tool to manage you node versions and switch them instantly is https://www.npmjs.com/package/n.

Let us know how it goes :)

[2020-01-23 14:01] tjrexer commented on #670
@Pavel910 that solved it, was running v8.10 as that's what was available through default package managers.  Updated to current release v13.7 and that succeeded.  Might be worth adding a version check for nodejs on create to at least require minimum that you're running.

Not going to close the issue in case you want to add that as an enhancement.

[2020-01-24 13:10] sergiofilhowz commented on #663
Thanks @doitadrian and @Pavel910

Awesome to have Typescript on Webiny! :)

I've been wondering these days and probably makes more sense to me to use DynamoDB instead of a database because I don't want to run too many resources for this website at the moment.

And I also saw that you already have one issue open to create DynamoDB implementation.

[2020-01-24 13:10] #663 closed

[2020-01-24 15:07] Fsalker commented on #667
Hey, I'd like to take this on. This would be my first contribution on Webiny.

[2020-01-24 15:11] SvenAlHamad commented on #667
Brilliant!
To get started make sure to check the contribution doc: https://github.com/webiny/webiny-js/blob/master/CONTRIBUTING.md

For any other questions, just give me a ping here.

[2020-01-24 15:12] Fsalker commented on #667
Yep, I'm currently working on launching the project locally. I'm not sure whether I'll particularly need an AWS account for this PR.

[2020-01-24 15:12] Fsalker commented on #667
Your guys' promptness is amazing.

[2020-01-24 15:16] SvenAlHamad commented on #667
We try our best :)

In regards to AWS, you’ll still need an account to even run Webiny locally, as the API, even in development mode needs to be deployed into the cloud because of all other services it’s consuming.

https://docs.webiny.com/docs/get-started/development-principles/#cloud-native-development

P.S after your PR, checkout this page: https://www.webiny.com/swag

[2020-01-24 17:18] Pavel910 commented on #667
@Fsalker just a quick note: we strongly recommend you wait until our next release (should land tomorrow 🙏 ) as it introduces Typescript and many other changes. I will let you know when the `master` branch is ready for PRs.

[2020-01-24 17:31] Fsalker commented on #667
Ah sure. It's taken me a while to get a good grip on the project since I've actually started reading about Webiny, its funding, serverless stuff etc. You guys got a quite interesting company and project on your hands.

I was now stuck at deploying the api thru `webiny delpoy-api` with error `CredentialsError: Missing credentials in config`. I suppouse it's because I haven't coupled my AWS IAM with

[2020-01-24 17:35] Pavel910 commented on #667
Since we use AWS SDK to deploy infrastructure, we need working AWS  credentials.
The `AWS_PROFILE` is set in the `.env.json` file in the root of the project (or in the `examples/.env.json` if you're cloning this repo).

All you need to do is get your AWS user credentials and store them in `~/.aws/credentials` file.

[2020-01-24 17:38] Fsalker commented on #667
Thanks, I'm looking into it. You've saved me a lot of time 😄.

[2020-01-24 17:53] Fsalker commented on #667
Any clues for this new error?

`SubscriptionRequiredException: The AWS Access Key Id needs a subscription for the service`

I'm not sure which service it's talking about. I've populated `~/.aws/credentials` with my Access & Secret keys

[2020-01-24 17:55] Pavel910 commented on #667
Ah, looks like you credit card has not been approved yet. When you create AWS account, they require to setup a credit card, in case you go beyond the `Free Tier` usage. So unless you do that, your credentials will not work.

[2020-01-24 17:58] Fsalker commented on #667
It turns out I'm using a card that has expired on 09/2019 😆

I've created my AWS account quite a while ago, I've never been aware I was to use a valid card before using AWS.

[2020-01-24 18:16] Fsalker commented on #667
There doesn't seem to be any status on the `Payments Methods` page, but they did charge me $1 and I'm getting the same subscription error in the console.

[2020-01-24 18:23] Pavel910 commented on #667
Just give it some time; if anything is wrong, there will be a message about credit card validation.
I was helping my friend the other day to setup his AWS account, and it was `not instant` to say the least.
But it did work eventually. Unfortunately, there's nothing we can do about it 🍻

[2020-01-24 19:06] Pavel910 commented on #670
Great! Actually we did have a check, but it was for node 8.10; updated it for the upcoming release 👍

[2020-01-25 17:23] tjrexer opened #672 "Control Z in Page Creator issue"
Using the hotkey Ctrl+z to undo a objects move in Page Creator requires multiple actions to completely undo.

## This is:
- Feature request

## Expected Behavior
Ctrl+z should undo last user initiated action.

## Actual Behavior
Ctrl+z undoes last action, either user initiated or automatic back end.

## Steps to Reproduce the Problem
1. Move object from one part in page, to another.
2. Observe sea

[2020-01-25 17:39] Pavel910 commented on #672
Thanks for reporting :) You're spot on - it's caused by multiple actions being dispatched to perform any operation. It's difficult to identify the "beginning" of an action, since moving elements sometimes causes a lot of actions being dispatched in the background, for example, when moving a Column from a Row to a different Row.

If you have some ideas, please do share 🍻 ❤️

[2020-01-25 18:06] tjrexer opened #673 "Page updates unrecoverable"
About 30 minutes worth of work on a page is now gone and un-recoverable.

## This is:
- Bug

## Specifications

  - version: 2.6.0
  - OS: WSL (Ubuntu 18.04.3 LTS)
  - Browser: Firefox

## Expected Behavior
Any page changes should be saved, or rolled back if failed.

## Actual Behavior
It seems like new page is created, and then re-named to the old page.

## Steps to Reproduce the Problem
![image]

[2020-01-25 18:13] tjrexer opened #674 "Page Builder: Tooltip text field doesn't clear"
Tooltip for an already exited Text Field is still available and rendered.

## This is:
- Bug

## Specifications

  - version: 2.6.0
  - OS: WSL (Ubuntu 18.04.3 LTS)
  - Browser: Firefox

## Expected Behavior
Only tooltip for current working text field should be available.

## Actual Behavior
Multiple tooltips overlap based on what text fields are being edited.

## Steps to Reproduce the Problem
1.

[2020-01-25 18:22] tjrexer commented on #673
Certain Blocks are not being updated at all:

Post change: Listed as saved
![image](https://user-images.githubusercontent.com/7013045/73125525-9878d280-3f75-11ea-90b6-5105b6ad3072.png)

After Exiting Editor:
![image](https://user-images.githubusercontent.com/7013045/73125532-b5150a80-3f75-11ea-99bd-0bf1d5be86f0.png)

[2020-01-25 18:39] tjrexer commented on #672
If you tagged each user initiated change with an ID and count how many actions are dispatched, you can then track through how many tasks need to be rolled backed.  When the user hits ctrl-z, repeat it for the number of times needed to undo the tasks.  You can keep memory available by only tracking the last, 10 - 20 user initiated changes.

It would also be good to have an up-publish option.  The r

[2020-01-25 18:48] tjrexer commented on #673
During re-build of page, the original is now un-editable for a new error.  This was caused after the editor thought I tried to move a text field.  When I moved it back, and tried to edit the text again, it returned this error and won't let me edit the page.

`TypeError: element.data is undefined
../../node_modules/@webiny/app-page-builder/editor/plugins/elements/row/RowChild.js/RowChild</<
src/edi

[2020-01-26 10:15] Pavel910 commented on #673
@tjrexer great, I'll implement `ErrorBoundries` on elements so one broken element doesn't blow up the entire editor. Will see if I can reproduce any of the  bugs, but good finds anyway 🍻 ❤️

[2020-01-26 11:44] Pavel910 commented on #674
Thanks, will see what we can do about it.

[2020-01-26 11:49] zhex900 opened #675 "Quick start page is broken"
Hi,

Your project sounds very interesting. However, the quick start page is broken.

Jake

[2020-01-26 11:56] Pavel910 commented on #675
Hey @zhex900, thanks for reporting, something must have gone wrong with the last deploy. However, if you open the [link directly](https://docs.webiny.com/docs/get-started/quick-start/), the page does load. Something is wrong with page transitions, will check.

Cheers 🍻

[2020-01-26 12:16] zhex900 commented on #675
Great! Thank you. I thinking about contributing to this project. Where will
be a good starting point?

On Sun, 26 Jan 2020 at 22:56, Pavel Denisjuk <notifications@github.com>
wrote:

[2020-01-26 12:23] Pavel910 commented on #675
Awesome! For new contributors, there are [issues labeled `good-first-issue`](https://github.com/webiny/webiny-js/issues?q=is%3Aopen+is%3Aissue+label%3Agood-first-issue). Those are easy ones, and will help you to get to know the project.

However, my recommendation is to wait for our next release (1-2 days at most), since we've migrated the whole project to TypeScript, and we still have to merge it

[2020-01-26 16:36] kisg commented on #622
I have a different (alternative) suggestion: Why not use S3 as the page cache (together with any media and other assets)?

Whenever a page is modified, just store the SSR page data on S3 with the correct site structure, and serve the site from there. To make sure that the actual site API service (which could live at a different api.sitename.domain.com address so browser will load it in parallel) i

[2020-01-26 16:59] doitadrian commented on #622
Hi @kisg, thank you for your thoughts!

Basically we are doing this, but instead of storing the SSR directly on S3, we store it in the database and cache it on the CDN. Serving pages from a CDN edge will always be faster (and cheaper) because it's closer to the real user.

We will be doing a release of this feature very soon, so stay tuned.

P.S. I will check the link you provided.

[2020-01-26 17:00] Pavel910 commented on #657
Just to document a potential solution: the idea is to fetch Cognito Password Policy via SDK when a login form is rendered, so we can render an appropriate validation on password field. I'll try to implement this after we get our next release through the door.

[2020-01-26 17:41] kisg commented on #622
Hi @doitadrian, thank you for the quick reply!

I understand what you are doing, but with your current solution, when the CDN needs to pull page content from the source location, it needs to query the site lambda function, and this leads to a potential slow path if the lambda is not running.

My suggestion is to eliminate this slow path by using S3 as the source for the website. Of course, the pag

[2020-01-26 17:50] Pavel910 commented on #622
Having a lambda gives us more control over the request; apps consist not only of pages from Page Builder, but also of custom app routes which the API is not aware of. Those pages still require SSR capabilities, and with a lambda we can in fact render them as regular pages. While with S3 we can only have pages that come from Page Builder, as we know those in advance and render them when a page is p

[2020-01-26 18:32] Fsalker commented on #667
(still waiting on it, getting the same error; perhaps they don't validate credit cards during weekends 🙄)

[2020-01-26 18:34] Pavel910 commented on #667
That's weird 🤔 Maybe try opening a support ticket?

[2020-01-26 18:41] Fsalker commented on #667
I was thinking about that before checking whether they have live chat. Hope they answer it fairly quickly.

[2020-01-26 18:43] Fsalker commented on #667
Fun fact: they haven't returned my $1 yet. Maybe they're actually still working on it 🤔

I'll return with news soon.

[2020-01-26 18:44] Pavel910 commented on #667
Maybe you are right about not processing on weekends. Because they usually return your $1 when the card validation is completed. Maybe it has something to do with bank transaction cycles, who knows.

[2020-01-26 20:19] kisg commented on #622
Thanks to you all for your great work on Webiny! It's a beautiful piece of software, that is why I am here. :)

I don't want to persuade you to change / replace what you are doing, however I do plan to implement this method I described because then a Webiny site would get all the speed and reliability advantages of a static website (e.g. as if it was built using Gatsby), and all the nice dynamic f

[2020-01-26 22:37] Pavel910 commented on #622
Absolutely, depending on the implementation we can always support multiple setups so developers can pick what suits their project best. We'd be glad to help and provide input along the way, so feel free to begin working on it and in the end we can discuss if it is something that can be a simple configuration switch, or maybe a separate set of plugins.

[2020-01-27 05:57] doitadrian commented on #622
Hey @kisg, thanks again for your thoughts!

Just wanted to confirm a few things that @Pavel910 brought up.

As he mentioned, this might work if the only thing that needs to get SSRed are the pages created from the Page Builder. But that's not the case. Users can in fact choose not to use PB, and maybe just use the Form Builder, and just code simple React pages with forms embedded in them. In this

[2020-01-27 15:25] Fsalker commented on #667
AWS should be all good now (thanks to their support): the app has been deployed at https://d2h1tdh2pi8ke.cloudfront.net/

But I'm trying to go through `admin`'s installation process and it's telling me that the "User does not exist" 🤔. This is fairly weird, according to https://docs.webiny.com/docs/get-started/quick-start/ I suppouse I should just create an (admin) account like I would normally do

[2020-01-27 16:05] Pavel910 commented on #667
The `site` app can not work until you finished the installation wizard, so that's ok. We do have a pending task to add a check for that and not crash, but notify the user about the installation.

Now the user creation - it should work exactly as you expect. I'm wondering, how did it even let you submit the form with an invalid email address!?

Can you please try entering some valid data? Don't try

[2020-01-27 16:08] Pavel910 opened #676 "Check if installation was completed on site render."
We need to do a check if the installation of the system was completed when a user visits the site app. Currently it explodes with an ugly error, so we need to improve that.

[2020-01-27 16:12] Pavel910 commented on #667
Hah, there is actually a validator missing on the `email` input, I'll fix it right away and it will be included in our release tonight. Very good find 🚀

[2020-01-27 16:25] Fsalker commented on #667
Haha, I'm glad I could help.

The first time i tried inserting a valid email, it popped the same error. I've tried again now and it just worked 🤷‍♂️.

[2020-01-27 19:41] Pavel910 opened #678 "Update Apollo cache when a new Form is created."
Forms created in form builder are not visible in the page builder if the `listForms` query is executed BEFORE the form was created.

Say I opened the page builder, tried adding a Form, but realized I have not yet created a form, I went to Form builder, created a new form, but when I go back to the page editor, the forms list is not refreshed.

[2020-01-27 19:42] doitadrian commented on #678
Excellent, will fix/release this over the following days.

[2020-01-27 19:42] doitadrian commented on #676
Excellent, will fix/release this over the following days.

[2020-01-28 09:09] Pavel910 commented on #667
@Fsalker so we released the new version of Webiny; you can't upgrade an existing project, so you'll need to install a new version of our CLI and create a new project to get the latest stuff running.

Of, if you're working on a fork of our repo, update your fork. Everything is in the `master` branch. Let me know if you need help with anything.

[2020-01-28 09:10] Pavel910 commented on #675
@zhex900 we released the new version of Webiny; if you're working on a fork of our repo, update your fork. Everything is in the `master` branch. Let me know if you need help with anything :)

[2020-01-28 09:20] Pavel910 opened #679 "Create a new database name for each new project"
During some refactors, we moved the database connection data to `.env.json` in the root of the project. However, we forgot to update the CLI script that is creating the project and injecting the actual data into the file.

## Task description
`packages/cli/create/index.js:84` contains the line of code that injects the per-project database name into the `api/.env.json`. It needs to be applied to th

[2020-01-28 11:25] Pavel910 commented on #675
Thanks to @doitadrian, docs are now fixed; closing this issue.

[2020-01-28 11:25] #675 closed

[2020-01-28 11:50] Fsalker commented on #667
There seem to be plenty of audit vulnerabilities, perhaps you're already aware of them 🤔

![image](https://user-images.githubusercontent.com/16700631/73261587-0ff86d00-41d5-11ea-9b26-e48209f28216.png)
![image](https://user-images.githubusercontent.com/16700631/73261602-1a1a6b80-41d5-11ea-9ed3-90e508597a33.png)

[2020-01-28 15:02] Fsalker commented on #667
This time I deployed the app with `webiny deploy-api`, but I cannot reach the cloudfront server with DNS_PROBE_FINISHED_NXDOMAIN on Chrome (see the pic below)

![image](https://user-images.githubusercontent.com/16700631/73275514-e3058380-41ef-11ea-83fa-17cc5406b26b.png)

The first time I did so, before the release, it was okay. I've tried deploying again, but to no avail 🤔

[2020-01-28 15:04] Fsalker commented on #667
I've actually deployed it roughly 3h ago for the first time and I got so bored of waiting that I winded up to the gym hoping it will be up once I'll return. But it didn't fix itself in the mean time 🤷‍♂️

[2020-01-28 15:06] Pavel910 commented on #667
Wait, can you tell me some details about your project? So did you just updated the packages and deployed or have you created a brand new project with the new CLI?

[2020-01-28 15:08] Fsalker commented on #667
I've cloned master locally. Then I followed the `Local Setup` steps here https://github.com/webiny/webiny-js/blob/master/CONTRIBUTING.md and ran `yarn`, `yarn setup-repo`, `cd examples && webiny deploy-api`.

Cloudfront did seem to take a while to work, but it never worked for my API. It's odd, given that it worked a few days ago.

[2020-01-28 15:10] Fsalker commented on #667
Right now I've deployed the API again from CMD instead of Git Bash with `webiny deploy-api`, but I doubt it will work soon.

[2020-01-28 15:15] doitadrian commented on #667
Hi @Fsalker, I will try to set up the webiny-js/master from scratch, and let you know the results. Maybe that will give us additional hints. Hold on :)

[2020-01-28 16:25] doitadrian commented on #667
He @Fsalker, tried deploying everyhing from scratch, worked as expected, no errors.

But, I've checked the URL of your GQL endpoint (https://dy8cq7ti4nf.cloudfront.net/graphql), it seems to be working 🙃

![image](https://user-images.githubusercontent.com/5121148/73283170-fc5bff00-41f2-11ea-9ecc-b9ebd0fe9b13.png)

Can you check it out please?

[2020-01-28 16:35] Fsalker commented on #667
I've just checked it a few minutes ago (it was loading slowly so i just let the tab open). It does work now, weird but good.

Maybe it took longer than 10 minutes for the cloudfront server to be reachable for me (~5 hours to be precise). That's the only explanation I can think of.

[2020-01-28 16:38] Pavel910 commented on #667
Actually sometimes your browser can cache whatever was the first response, and not let it go for quite a while. So if something is taking suspiciously long, try opening in a different browser. For me it very often works. On Chrome, sometimes clearing the DNS cache also helps: chrome://net-internals/#dns

[2020-01-28 16:45] Fsalker commented on #667
Mm I did restart my computer though. I should've tried in incognito mode (it's a very easy way to use a new session / cache).

Hope I didn't take too much of your guys' time 😅

[2020-01-28 17:36] Fsalker commented on #667
I was able to sucessfully run the admin (and site) app, modify something and see the change live. Let me see if I got this right:

Lerna allows me to run specific packages within our monolithic project and transpile our code automatically on save into the `dist` folder. This will be `app-page-builder` in my case.

Then, the `admin` app run with `cd examples/apps/admin` sees this change and restart

[2020-01-28 17:42] Fsalker commented on #667
By the way, how do you guys navigate the project?

In my case it wasn't too difficult: I've wanted to edit a button so I searched its text ("Publish changes"). I found its component and it was all good. (even though it does have a duplicate in `app-form-builder` 🤔)

But perhaps there's a better way to do it, isn't there?

[2020-01-28 17:49] Pavel910 commented on #667
Spot on! Let me give you more details:

Since this is a monorepo, it means we have lots of independent packages that can have their own build process/configs, so they need to be built before using them in any apps. That's what `watch` scripts do - they simply transpile the package using their respective `.babelrc.js` and put it in `dist`.

React apps "see" the change because `webpack-dev-server` i

[2020-01-28 19:47] #667 closed

[2020-01-28 20:51] Fsalker commented on #679
I'll look into this

[2020-01-29 16:57] #679 closed

[2020-01-29 17:24] #622 closed

[2020-01-29 17:37] doitadrian opened #682 "Database connection errors - improve error messaging"
In spite of the fact that the steps for setting up the MongoDB Atlas service are written in the official docs, database connection establishment errors still happen frequently.

In order to help our users resolve this issue more quickly, we can improve the error messaging.

Once a connection establishment error occurs, let's try to give them a few suggestions on how to fix the issue. A link to the

[2020-01-29 17:52] doitadrian commented on #670
@Pavel910 can we close this?

[2020-01-29 18:03] doitadrian opened #683 "Fix links included in the initial Page Builder pages"
Initial Page Builder pages, that come out-of-the box with every Webiny installation, contain links to some of the docs.webiny.com pages.

But, a few links on the `For Developer` and `Get Started` pages point to non-existing pages. So we need to fix this (and we probably need to check all of the links on these initial pages).

And additionally, for some reason, all of the links in these pages are p

[2020-01-29 22:50] Fsalker commented on #683
I'd like to take this on ☄

[2020-01-29 23:50] robotrekker opened #684 "Unable to deploy api with latest cli"
## This is:

- Bug

## Specifications

  - version: 2.6.0
  - OS: MacOS
  - Browser: Chrome

## Expected Behavior
webiny deploy-api should perform a deploy for the local environment.

## Actual Behavior
Get the following error:
An error occurred during deployment of cognito
TypeError: this.context.instance.getResourceName is not a function

## Steps to Reproduce the Problem
1. Follow Quick Start s

[2020-01-30 05:21] doitadrian commented on #683
Be my guest @Fsalker :)

[2020-01-30 09:12] Pavel910 commented on #684
@robotrekker the CLI was updated to version 3, so you need to upgrade your global `@webiny/cli` package. And when you do, please create a new project, because there were breaking changes, and the project setup with the old CLI will not work.

[2020-01-30 11:35] doitadrian commented on #683
I will provide a few instructions quickly @Fsalker . Hold on :)

[2020-01-30 12:05] doitadrian commented on #683
Added a short document that says a few words about the initial data and files that are utilized in the Page Builder process (all located in a single ZIP file).

https://github.com/webiny/webiny-js/blob/master/packages/api-page-builder/README.md

The links we're talking about in this issue are all located in the initial pages that are created in the Page Builder installation process, and these page

[2020-01-30 15:27] Fsalker commented on #683
Sure, I'm very easygoing with the issue.

If this is critical I may always speed it up 😄. I'm coming with questions / feedback soon.

[2020-01-30 15:27] Fsalker commented on #683
Thanks!

[2020-01-30 15:44] Pavel910 opened #685 "Improve error messaging on apps deploy."
Currently, if you run a `deploy-apps` command, and the environment config is missing in the `.env.json` file, the output looks like this:

![image](https://user-images.githubusercontent.com/3920893/73464362-14f92000-437f-11ea-82b2-c72026d45c45.png)

Ok, it does tell you that the environment config is missing. But it **doesn't** tell you that you get that config by deploying an API for that respect

[2020-01-30 15:56] doitadrian commented on #685
Looks good to me @Pavel910, I think this will help.

[2020-01-30 16:23] doitadrian commented on #662
So far nobody from the team had the chance to work on this, but if anyone from the community would like to take a stab at this, take it away :)

P.S. You can count on our support for any related issues / questions.

[2020-01-30 16:25] doitadrian commented on #683
@Fsalker, it's not critical, take as much time as you need!

Thank you! 🍻

[2020-01-30 17:08] robotrekker commented on #684
Thx for the prompt response, you guys are awesome.  Love, love, love this project.  I did a global install and still after version check was not up to 3.0.0.  After digging deeper, it seems I had two versions installed somehow (probably yarn/npm mismatch issue).  I cleaned it up by removing both installs and reinstalled clean, verified the version and it is now working when I create a new app as m

[2020-01-30 17:08] #684 closed

[2020-01-30 17:13] Pavel910 commented on #684
Awesome! Let us know if you run into more issues, we'll be glad to help 🍻

[2020-01-31 11:50] Pavel910 opened #686 "Implement ErrorBoundary in PB Editor"
The related issue is #673. We need to implement [React Error Boundaries](https://reactjs.org/docs/error-boundaries.html) on the `Element` components, so they don't blow up the entire editor. This way content editor will be able to remove the broken element from the content.

The related components that need to implement the error boundaries are:
1) `packages/app-page-builder/src/render/components/

[2020-01-31 21:32] Pavel910 opened #687 "Missing await in listPublishedForms resolver"
The following query results in an error because we lost an `await` along the way:

![image](https://user-images.githubusercontent.com/3920893/73575883-6c7bb680-4479-11ea-9835-e2e44bb8e67b.png)

## Solution:
Add an `await` at `packages/api-form-builder/src/plugins/graphql/formResolvers/listPublishedForms.ts#L57`

[2020-02-02 18:23] #683 closed

[2020-02-04 11:32] doitadrian opened #689 "Immediately populate cache for initial Page Builder pages"
In the Page Builder installation process, a set of initial pages are created.

In order to make initial UX better, let's immediately populate the cache for these initial pages.

In order to that, once the pages are created, we just need to fire a simple GET request to the page's URL.

[2020-02-04 11:37] Pavel910 commented on #670
Yep; closing.

[2020-02-04 11:37] #670 closed

[2020-02-04 11:40] doitadrian commented on #664
Fixed and merged in #688.

[2020-02-04 11:40] #664 closed

[2020-02-04 11:41] doitadrian commented on #423
Old one, closing.

[2020-02-04 16:33] doitadrian opened #690 "Create a list of necessary AWS permissions and check them before deploying anything."
## This is:
- Bug

## Detailed Description
Before executing the `webiny-api deploy` or `webiny-apps deploy`, we should check if the user has AWS credentials (profile) set properly. Because currently, if that's not the case, the user will experience the following error:
![image](https://user-images.githubusercontent.com/5121148/73764902-042c1e00-4774-11ea-8eeb-ef7e6d740e2a.png)

[2020-02-05 07:54] #687 closed

[2020-02-05 07:56] #689 closed

[2020-02-05 08:16] #678 closed

[2020-02-05 08:18] Pavel910 commented on #690
The SLS components are doing the check for credentials. This error is not about the missing credentials, but about wrong permissions those credentials have. That's the issue we talked about earlier, where we need to create an exact list of permissions and check those.

[2020-02-05 09:54] Pavel910 opened #695 "Personal Access Tokens"
We need to add support for PATs (personal access tokens) to our security app.

## Overview
The idea is to use these tokens for access to the API without having to log in to get an authorization token. One of the most obvious use cases is the Headless CMS (which is currently in development).

PATs are in no way related to authentication providers (like Cognito). They are handled by Webiny itself, s

[2020-02-05 10:38] #676 closed

[2020-02-05 14:10] #682 closed

[2020-02-06 19:32] doitadrian opened #698 "Incorrect link on initial "Get Started" page"
## This is:
- Bug

## Expected Behavior
The link should contain the correct URL.

## Actual Behavior
The link contains an incorrect URL.

## Steps to Reproduce the Problem
1. Open YOUR_SITE/blog/get-started
2. On the bottom, there is a button `JOIN WEBINY COMMUNITY`
3. Check its link, it's wrong

![image](https://user-images.githubusercontent.com/5121148/73971487-434aa280-491f-11ea-8342-e2cb7c5e23

[2020-02-07 12:48] doitadrian opened #699 "Page Builder - image element rendered with incorrect dimensions"
## This is:
- Bug

## Expected Behavior
Images should be the same size.

## Actual Behavior
Image is large in preview, and small in the editor.

## Steps to Reproduce the Problem
1. Add a new image element, and select an image (possibly small)
2. Compare its size with the one in the page preview mode

## Possible Solution
Check render/editor plugins and determine which one is rendering the image i

[2020-02-07 22:55] kszpirak opened #700 "Can't seem to install - An error occurred during deployment of cognito"
Can't seem to install webiny-js. using MacOS Mojave 10.14.6

Here is my stack trace:
`
**webiny deploy-api --debug**

This is the first deploy of local environment, so it may take a few minutes.
Here's 🍪 to make the time pass faster :)
💡 Loaded local environment from /Users/user/src/test-serverless/frontend/www.test.com/webiny/.env.json...
💡 Loaded local environment from /Users/user/src/test-serve

[2020-02-08 05:53] doitadrian commented on #700
Thank you for the report @kszpirak, can you let us know which version of `@webiny/cli`, node and yarn you have installed?

[2020-02-08 18:01] Pavel910 commented on #700
This is definitely a CLI issue (that `getResourceName` method is related to the improved resource names that were introduced in the CLI v3). So please upgrade your `@webiny/cli` to the newest version and it will work just fine.

Cheers!

[2020-02-08 18:30] tjrexer opened #701 "Allow for custom names with multiple projects"
If hosting multiple sites with webiny, it may become difficult to manage which functions, endpoints, & buckets are used for which application.  You can look through the env files, but if you are trying to manage or troubleshoot within AWS it is difficult.

## This is:
- Idea

## Detailed Description
You can easily add another string between the function name and the unique id.  This would make it

[2020-02-08 18:51] tjrexer commented on #701
Could also just replace webiny-uuid with <app>-uuid.

[2020-02-08 18:51] Pavel910 commented on #701
With our latest release we have improved the naming of resources, so they now look like this:

![image](https://user-images.githubusercontent.com/3920893/74090464-ecbe9f00-4aab-11ea-9d43-500b77e1c05e.png)

So the structure of the name is: `{sls_id}_{env}_{alias}_{purpose}`.
`{sls_id}` is taken from `api/.serverless/_.json`, `{alias}` is the key of the resource from `serverless.yaml` and `{purpose}

[2020-02-08 19:01] Pavel910 commented on #701
Ah I get it now, you actually want a human-readable string to be a part of this ID, like `my-project_sqxkkbs_local_pageBuilder_graphql`, right?

I think that shouldn't be a problem 👍

[2020-02-08 19:01] tjrexer commented on #701
Yep, that's the idea.

[2020-02-08 22:04] tjrexer opened #702 "Menu Edit crashes if Title not provided"
When adding a Page item to the Menu, if the Title is not provided first, the builder can't set the menu.

## This is:
- Bug

## Specifications

  - version: 3.0.1
  - OS: Ubuntu 18 (WSL)
  - Browser: Firefox

## Expected Behavior
Page is mapped, then user can move to title.

## Actual Behavior
Page is not mapped, error window shows up with the error below:
TypeError: selection is undefined

## Ste

[2020-02-09 05:34] doitadrian commented on #702
Found the error, and submitted a PR, will merge it soon.

[2020-02-09 15:08] doitadrian opened #706 "DB Proxy - add connection check on deployment"
## This is:

- Feature request

## Description
To improve DX, we will add a database connection establishment check upon deploying the `dbProxy` component.

By default, the connection will be tested, but let's also give an option for the users to disable the check (just in case this for some reason isn't possible).

[2020-02-09 22:01] tjrexer opened #708 "CSS File not updated on deployment"
After updating the SCSS file and pushing to production environment the html file still has a reference to an older version of the main.uuid.css file.

## This is:
- Bug

## Specifications

  - version: 3.0.1
  - OS: Ubuntu 18 (WSL)
  - Browser: Firefox & Chrome

## Expected Behavior
After updating App.scss to include custom scss file, should expect new css file to be re-deployed and html file to b

[2020-02-11 13:38] #702 closed

[2020-02-11 13:40] #708 closed

[2020-02-11 15:28] doitadrian opened #711 "Page Builder - if installing on localhost, add warning about site domain"
## This is:

- Feature request

## Description
In the Page Builder app's installation process, users need to enter their site domain. Normally, if the app was deployed to the cloud (and being accessed via CloudFront URL), the admin and site apps will reside on the same domain. So, prefilling the site domain input with the domain over which the admin was accessed, is in 99.99% cases correct.

But i

[2020-02-11 15:29] doitadrian commented on #711
The input is located here: `packages/app-page-builder/src/admin/plugins/install.tsx:121`.

The default value for the Domain field is set here: `packages/app-page-builder/src/admin/plugins/install.tsx:95`

[2020-02-11 15:33] doitadrian opened #712 "Admin - implement better auth error handling"
## This is:

- Bug

## Actual Behavior
When opening admin with an old (from previous installation) or invalid token, users get the following error:

![image](https://user-images.githubusercontent.com/5121148/74251177-064e2980-4cec-11ea-8a36-6aeee22ff792.png)

## Expected Behavior
We should implement better error handling.

[2020-02-11 15:36] doitadrian opened #713 "Run AWS credentials check automatically via CLI"
## This is:
- Feature request

## Expected Behavior
In order to make DX better, let's automatically execute the following check for our users, and throw a clear error message if the credentials are incorrect / missing.

![image](https://user-images.githubusercontent.com/5121148/74251470-78bf0980-4cec-11ea-874a-21ff0f42b909.png)

[2020-02-11 15:41] tjrexer commented on #708
Glad you fixed it in the code, what's the best short term solution for me? Remove the Site Lambda function and re-deploy?

[2020-02-11 15:43] doitadrian commented on #708
Hi @tjrexer, we will be releasing a set of fixes today or early tomorrow, so I'll let you know when that's out.

[2020-02-12 12:14] doitadrian commented on #702
Hi @tjrexer, we just released a set of fixes, so this should work for you.

But before updating, can you tell me which version of CLI you have installed (`webiny --version`)? And maybe also `app-page-builder` (`yarn list @webiny/app-page-builder`)?

Just checking so we can see what would be the best way to upgrade.

If the CLI is on major version 3 or higher, then you can just run `yarn upgrade --

[2020-02-12 19:49] Pavel910 opened #714 "RFC - React app templates"
## Introduction
In this RFC I will propose an implementation of React app templates. Code snippets provided below are taken from a functional prototype. I want to collect some feedback and see if this is something we want to roll out as our main approach to app setup.

## The goal
What we want to achieve with app templates is:
1) ease of app setup (drastically reduce the amount of boilerplate code

[2020-02-12 23:31] tjrexer commented on #702
webiny@3.0.2
webiny/app-page-builder@3.1.1

[2020-02-12 23:42] tjrexer commented on #702
Ran `yarn upgrade --scope @webiny` from the project root, but it didn't update the app-page-builder, it's still @ version 3.1.1.  It pulled the update for @webiny/api-page-builder to 3.0.3, but not app-page-builder.

[2020-02-13 05:17] doitadrian commented on #702
Very weird... I just tried it, had a package `3.1.1`, after running the command, it upgraded it to `3.1.2`.

Can you...
1. try running the command once more?
2. try running it from e.g. the `apps/site` folder?
3. check what package version is set in the `apps/site/package.json`?

Thank you @tjrexer!

[2020-02-13 06:30] tjrexer commented on #702
I had had tried all of those combinations. Semverlevel is set correctly in package.json with ^3.1.1. It may be a mirror replication delay since I'm in the US, so I'll try again tomorrow.

[2020-02-13 23:56] tjrexer commented on #702
So upgrade wasn't working, either with scope or the @webiny/app-page-builder package.  Outdated would show that the update was available.  Had to run upgradeInteractive and select all the packages to get it to update.

After updating the repackaging, both of my latest issues were solved.  Thanks guys.

[2020-02-14 09:53] doitadrian commented on #708
One thing to note here, please just remove the `invalidateOnDeploy` flag in your `apps/serverless.yml` file. We realized it's not needed in the end (don't worry, cache invalidation will still happen on site visit).

![image](https://user-images.githubusercontent.com/5121148/74520550-164a5100-4f18-11ea-970b-eacf7b30ec66.png)

[2020-02-14 09:57] Pavel910 opened #715 "Missing plugins for PageList element"
When you add a `pageList` element, there's something wrong with the type of the plugin; you get a  `Selected page list component not found` and the following warning in the console:

`
Warning: Pages list component "pb-editor-page-element-pages-list-component-default" is missing!
`

This has something to do with our migration to TS; need to recheck plugin types.

[2020-02-14 12:29] Pavel910 opened #716 "Backspace and Delete keys not working in Slate editor."
## This is:
- Bug

## Expected Behavior
Backspace and Delete should delete the text in the Slate editor.

## Actual Behavior
Backspace and Delete are completely ignored.

## Steps to Reproduce the Problem
1. Insert text element
2. Click into the text
3. The cursor is blinking, you can enter new text, but can't delete anything

[2020-02-14 13:31] #716 closed

[2020-02-14 13:37] #715 closed

[2020-02-14 14:43] Pavel910 commented on #603
This is implemented, closing.

[2020-02-14 14:43] #603 closed

[2020-02-14 14:45] Pavel910 commented on #641
This is implemented, closing.

[2020-02-14 14:45] #641 closed

[2020-02-14 17:58] asktree commented on #662
I think that Cloud Firestore could be a good/better fit. Disclaimer: I'm not a DynamoDB expert.
Features include:
- More similar data model to MongoDB
- Free tier & similarly low price (storage is less, read/write slightly more)
- No cold start related problems afaik
- Nice JS API
- GCP lets you set up database triggers etc for executing functions.

I cant speak to the aggregations available, woul

[2020-02-14 18:32] doitadrian commented on #662
Cloud Firestore sounds interesting, but at the moment, to implement that, we'd also have to create good GCP support. The Cloud Firestore implementation itself is probably going to be a solid amount of work, not mentioning the full GCP.

I think that if we were to choose between the two, DynamoDB would be higher on the priority list, simply because we're already so embedded into the AWS cloud.

[2020-02-15 00:33] tjrexer opened #719 "Buttons & Images only link internally"
When adding a url to a button only internal pages are linked.

## This is:
- Bug

## Specifications

  - version: 3.1.2
  - OS: Ubuntu 18 WSL
  - Browser: Firefox

## Expected Behavior
Links should open to external pages if the url is complete.

## Actual Behavior
Site url is appended to the front of the url in the link.

## Steps to Reproduce the Problem
1. Create a button or an image.
2. Update

[2020-02-15 10:12] Pavel910 commented on #719
This sounds very familiar; we did have a PR recently, related to link construction and we also had this problem with external links not so long ago. I'll review it again, thanks for reporting 👍

[2020-02-17 09:54] val-fom opened #720 "SSR cache does not refresh"
## This is:

- Bug

## Specifications

  - version: @webiny/http-handler-ssr@2.0.3

## Expected Behavior

Cache refreshes asynchronously.
When refreshing the page, `max-age` in response headers should be ~19 `(staleTtl)`, then ~60 `(ttl - staleTtl)`

## Actual Behavior

`max-age` header always shows around ~19 `(staleTtl)` and never gets ~60 `(ttl - staleTtl)`

## Possible Solution

See PRs

[2020-02-17 11:17] doitadrian commented on #628
A few notes:

- webiny create xyz - explain initially generated folder structure and files

[2020-02-18 16:52] Pavel910 commented on #633
Quick update: resource naming is already implemented in our latest release. Resources are now named like this: `{project_id}_{env}_{alias}_{optional-name}`.

There is also another issue that requested an improvement on resource naming for multiple projects: #701. This one is still opened.

[2020-02-18 23:39] tjrexer commented on #719
Taking a closer look, it looks like the page renders 2 Anonymous Objects.
![image](https://user-images.githubusercontent.com/7013045/74786564-06fe3700-527b-11ea-8c6c-863e71fb26c8.png)

The outer object links to the correct place.
![image](https://user-images.githubusercontent.com/7013045/74786588-154c5300-527b-11ea-8b1a-16840d7b3ff9.png)

But the inner Object, has added the section to the url.
![i

[2020-02-19 02:14] tjrexer commented on #719
Pushed PR #724

Long term solution might be to add another boolean value for the link object.  This way you don't have to determine whether to do a `Link` or `a` based on an internal value.  This can either be populated by user selection or automatically.  Automatically, could mimic the menu functionality, or could compare the href against the site url.  The disadvantage to the later method would

[2020-02-19 12:33] tjrexer commented on #719
What's the best way to fix this in the short term. I've added the code in the PR with `yarn add file:path` to apps/site but when I run `webiny deploy-apps --env=prod` it doesn't actually update the production js, am I missing a reference somewhere? I also re-deployed the API with no success.

[2020-02-19 13:28] Pavel910 commented on #719
If it's urgent and you really need it `now`, the easiest way would be to override the Page Builder plugins that render those links: `pb-render-page-element-button` and `pb-render-page-element-image`.

Here are the references:
https://github.com/webiny/webiny-js/blob/master/packages/app-page-builder/src/render/plugins/elements/button/index.tsx
https://github.com/webiny/webiny-js/blob/master/package

[2020-02-20 00:20] tjrexer commented on #719
That fix worked, missed it in the project root.  I don't want to derail any dev you guys have in flight since I seem to be the only person affected by it.  I'll take a look at the re-work you recommended in the PR & work it in.

[2020-02-20 09:21] doitadrian commented on #720
Fixed by #722. Closing.

[2020-02-20 09:21] #720 closed

[2020-02-20 11:35] Pavel910 commented on #719
Perfect! If you need help let me know :) Thanks for your time and effort ❤️

[2020-02-21 10:46] #700 closed

[2020-02-21 10:50] Pavel910 commented on #577
This one is solved and released.

[2020-02-21 10:50] #577 closed

[2020-02-22 07:06] doitadrian commented on #706
Closing, fixed by #707.

[2020-02-22 07:06] #706 closed

[2020-02-23 17:00] #719 closed

[2020-02-24 14:38] Fsalker commented on #686
I'll snatch this

[2020-02-24 18:37] doitadrian opened #727 "Page Builder - Invalidate SSR cache when user changes sensitive settings"
## This is:

- Bug

## Expected Behavior
When the user changes some of the page builder settings that are located behind these two menu items, we should refresh the SSR cache.

![image](https://user-images.githubusercontent.com/5121148/75179067-92733e80-5739-11ea-9297-13f86d44ff6e.png)

The SSR caching mechanism is unfortunately not documented yet, so ping me for details if interested, or check ou

[2020-02-25 21:36] Pavel910 commented on #686
Closed by #726

[2020-02-25 21:36] #686 closed

[2020-02-26 14:00] Pavel910 commented on #674
Managed to identify the exact reproduction steps for this bug: once the menu appears and you click outside of the text, the element gets deactivated but the menu is not hidden. This one will be tricky to handle but I'll see what I can do about it so it is not some kind of an insane hack.

[2020-02-26 14:10] tjrexer commented on #674
There may also be another bug that is related, haven't fully troubleshot it to determine if it's a bug or user error though.  It seems there are some cases where clicking out of the text, the element doesn't always save to the database.  It still seems cached because you can exit the editor, and it looks the same.  However, after you navigate to a new page and back, the text changes have been reve

[2020-02-26 15:33] Pavel910 commented on #673
This issue should be resolved now. In #726 we added per-element handling of errors, so in case any particular element explodes, it will be handled locally, and you'll get a chance to delete the broken element.

[2020-02-26 15:33] #673 closed

[2020-02-26 15:35] Pavel910 commented on #674
Great feedback, I'll test this behavior when I get to this issue.

[2020-02-27 13:43] ahmad-reza619 commented on #685
i would like to try this one, but i'm first time contributor. Am i really have to make an AWS account to contribute to this issue?

[2020-02-27 13:45] Pavel910 commented on #685
@ahmad-reza619 for this particular issue you can get away without AWS account as this error is thrown before the actual deploy process begins. Let us know if you need help, and please review our [contributing guide](https://github.com/webiny/webiny-js/blob/master/CONTRIBUTING.md).

We're here for any questions :)

[2020-02-27 13:46] ahmad-reza619 commented on #685
thanks @Pavel910 , i'm on it 👍

[2020-02-28 12:00] Pavel910 opened #729 "GraphQL security scopes"
Before moving to Apollo Federation we were able to list all system security scopes via a simple query on `security` field:

[code]

Now that all services are standalone, we no longer have the ability to see all existing scopes.

## Proposed solution
Each `@webiny/api-*` package that defines GQL schema, should provide a plugin which contains a list of scopes (and possibly a description of each scop

[2020-02-28 14:06] doitadrian opened #730 "CLI - Scaffolding"
## This is:
- Feature request

## Detailed Description
When it comes to creating initial files for a new GraphQL service or a new React app, currently, our users still have to do a significant amount of manual repetitive work.

That's why we want to add the "scaffolding" function to the CLI. Basically, if a user wants to start creating a new GraphQL service, he would use the CLI to generate all of

[2020-02-28 14:16] doitadrian commented on #730
When you get a chance @Pavel910, could you please share your thoughts regarding the actual files that need to be generated. We can start with the API, and then resolve the apps part (I know you had some new ideas in the apps department).

And of course, any suggestions/comments on the said above are also welcome.

[2020-02-28 19:33] Pavel910 commented on #730
I really don't think we need to go over the top with plugins here. Just regular default export of an object:

[code]

As you @doitadrian  said, the `options` method can return an array of options for inquirer, we'll just run the inquirer internally to get the answers and forward them to `scaffold` function.

--
At this point I don't have anything to add that was not already mentioned. Let's get th

[2020-02-28 19:58] doitadrian commented on #730
@Fsalker You can start with this when you're ready.

BTW @Pavel910 the other PR from @Fsalker requires my attention before merging it.

[2020-02-28 20:00] Pavel910 commented on #730
@doitadrian I was editing my comment as you posted the response; I added 2 templates I would like to start with.

I'm not touching that PR, it's yours ;)

[2020-02-28 20:01] doitadrian commented on #730
Sorry @Pavel910!

Great addition, thank you!

[2020-02-29 02:05] tjrexer opened #731 "Page List Link for Menu Fails"
Adding a menu item with a ~~folder~~ page list fails to render.

## This is:
- Bug

## Specifications

  - version: 3.2.1
  - OS: OSX 10.15.3
  - Browser: Firefox

## Expected Behavior
Drop Down should open with a list of all pages in the category.

## Actual Behavior
Page crashes when renders menu with an error pointing to this section.
https://github.com/webiny/webiny-js/blob/3da0566f29e1d46df0e

[2020-02-29 02:09] tjrexer commented on #731
Mistyped in original, it's a page list not a folder.  I solved the problem with a folder and manually creating the page links as needed.

[2020-02-29 13:01] Pavel910 commented on #731
I'll see what's going on. The entire menu structure is constructed on the API side, so most probably there is a bug there, and React just explodes due to invalid data being returned.

Thanks for creating an issue :)

[2020-02-29 17:55] #685 closed

[2020-03-01 11:41] doitadrian commented on #731
@tjrexer The PR has been submitted and hopefully will be merged/released today.

[2020-03-01 14:34] ahmad-reza619 commented on #698
Hi @doitadrian where is the link should goes to? i have tried to open it and it points to https://community.webiny.com

[2020-03-01 17:25] #731 closed

[2020-03-01 17:40] doitadrian commented on #698
Oh, it seems that this was already resolved via #683.

Sorry for that :/

Will close this immediately.

[2020-03-01 17:40] #698 closed

[2020-03-01 18:43] doitadrian commented on #731
Released!

`yarn upgrade @webiny/api-page-builder` is what you'll need, but of course, you can run `yarn upgrade --scope @webiny` in order to upgrade all `@webiny/*` packages.

If that doesn't work (like it was the case a while ago 🙂), then I guess `yarn upgrade-interactive` will be a way to go.

[2020-03-02 01:13] tjrexer opened #736 "Error: Can't open Helmet.js in the editor"
Since the last upgrade (3/1/2020), can't run the site locally.  After using `yarn run start`, receive an error that it can't open Handler.js in the editor.

## This is:
- Bug

## Specifications

  - version: 3.2.1
  - OS: OSX 10.15
  - Browser: Firefox

## Expected Behavior
When the page loads, it should load completely.

## Actual Behavior
Page begins to load, then errors out when it tries to loa

[2020-03-02 05:31] doitadrian commented on #736
Very weird, I've just tried it (NOT by upgrading from `v3.0.2`, but with a brand new project), that worked. I also tried the site locally. It seems that this is really something that happened in the upgrade process as you mentioned.

For starters, can you check please if there are any errors returned from the API, in the network tab? Just to eliminate that possibility.

[2020-03-02 23:51] tjrexer commented on #736
No, I made sure to disable the cache and do a hard reload as well, no errors.  I also don't see any errors in the CloudWatch logs either.

[2020-03-03 00:08] doitadrian commented on #736
Can you please try executing a GQL query in GQL playground?

Open your-api.com/graphql and enter the query pageBuilder / getMenuBySlug(slug: "main-menu")

For that field, get the data field and also the items field. I'm curious about the GQL response.

Sorry I could not paste the exact query, on a phone.

You can paste me the URL of your site/API too so I can try maybe too check it out.

Thanks!

[2020-03-03 00:24] tjrexer commented on #736
{
  "data": {
    "pageBuilder": {
      "menus": {
        "data": {
          "slug": null,
          "title": "Main menu",
          "items": [
            {
              "title": "Home",
              "url": "/about/about-us",
              "id": "5e3f0fb8204ab80008102c07",
              "type": "page"
            },
            {
              "title": "Available Tools",
              "url":

[2020-03-03 04:51] doitadrian commented on #736
Thank you @tjrexer!

[2020-03-03 05:48] doitadrian commented on #736
Hah!

Managed to reproduce it! After several attempts, finally, an idea crossed my mind - tried using your API URL for my local app.

And then I figured the error was indeed related to the Helmet component. More specifically, how we nested React nodes in it in the `packages/app-page-builder/src/site/plugins/index.tsx`. That's what caused the `TypeError: can't convert symbol to string` error.

The

[2020-03-03 09:48] Fsalker opened #737 "Clicking outside of the text of a menu button doesn't link to another page"
When creating a `Navigation` component (`packages/app-page-builder-theme/src/components/Navigation.tsx`), it is only possible to access the linked url by clicking on the button's text itself (the **blue** area in the screenshot).

Even though the `li` element intuitively shows us we're focusing the button, clicking it sometimes won't do anything. This happens when we click on the `li`'s padding ra

[2020-03-03 10:45] SvenAlHamad commented on #737
We should remove the padding from the list item `li`, and move it to the anchor element...this will fix it.

[2020-03-03 11:04] SvenAlHamad opened #738 "When navigating between pages the scroll bar doesn't go to the top."
## This is:
- Bug

## Specifications
  - version: 3
  - OS: Mac
  - Browser: Chrome

## Expected Behavior
If I navigate to one page, scroll to the bottom of the page, and then click on another page in the main navigation, the new page opens, but the scroll bar still stays on the bottom of the page.

## Actual Behavior
The scrollbar should go to the top of the page as I navigate between pages.

##

[2020-03-04 00:00] tjrexer commented on #736
Worked, thanks for the quick fix.

[2020-03-04 00:00] #736 closed

[2020-03-04 02:20] tjrexer opened #740 "Word Wrap Text Around Images"
In order to provide better formatting wrap text around image.

## This is:
- Feature request

## Detailed Description
When developing pages, the formatting is constrained to layout objects of rows and columns.  This is good for most use cases, but if you are writing an article and wish to embed an image it becomes a little difficult to format it correctly.

## Possible Solution
Formatting can eith

[2020-03-04 04:30] doitadrian commented on #736
Awesome!

[2020-03-04 16:16] Pavel910 commented on #740
Not sure how we can make this work; as you mentioned, each element is kind of a `box` and you can't put image element inside of the Slate text element. Our whole idea is to use rows/columns to make websites mobile responsive out of the box. The elements do use flex layout, but on a column level.

The only solution is to create a custom element which would contain an image and a Slate editor (insid

[2020-03-04 17:15] doitadrian opened #741 "CLI scaffolding - "New model""
## This is:
- Feature request

## Detailed Description
This is an extension of issue #733. It defines a new scaffolding template - "New model".

Basically, we need a new scaffolding template, which will enable users to immediately jump into defining their data models, without doing the repetitive initial setup.

So basically, the user selects the template, and enters the name of the model. I think

[2020-03-04 17:20] doitadrian commented on #741
The only thing I'm questioning now... how should these models be wired with the GraphQL plugins? Currently, the user will have to do it by himself.

Should we offer a wiring option to the user? For example, we could ask him if he'd like we create basic GraphQL CRUD fields?

[2020-03-04 17:26] Pavel910 commented on #741
Some feedback from me:

1) I would call it `New data model`, or `New Commodo model`, as Commodo is kind of a brand of its own here.

2) Regarding this snippet of code:
[code]

If the scaffolding template for the whole `apollo service` generates this base setup (talking about `graphql-context-models` plugin here), which only creates the `base`, then the `New model` scaffolding can reliably use AST

[2020-03-04 17:32] doitadrian commented on #741
1. Cool.
2. Oh, the `apollo-service` scaffolding template is generating the `models.ts` file too? Okay cool, I think it makes sense.
3. Let's leave it out for v1.
4. This is linked with the #2, and me not realizing that the base `apollo-service` scaffolding template will also prepare the foundation for models. This sounds good as well.

[2020-03-04 18:07] Pavel910 opened #742 "AWS_PROFILE from ENV variables"
This is something to think about: our CLI is loading env variable values from `.env.json` files (root, api folder, etc). but those values overwrite the ones already defined in the `process.env`. We need to evaluate this and think about how this will work in a CI environment, where we don't want to overwrite existing values.

Maybe completely removing `AWS_*` variables from all `.env.json` files is

[2020-03-06 01:27] tjrexer commented on #740
I understand the intent, hence why I'm bringing it up.  It is possible as rows, columns but limiting.

Image of the problem
<img width="1260" alt="Screen Shot 2020-03-05 at 8 10 13 PM" src="https://user-images.githubusercontent.com/7013045/76040466-687e0100-5f1d-11ea-96c8-4877de6314e4.png">

This problem then gets worse on mobile since the image then splits the paragraph.
<img width="541" alt="Scr

[2020-03-06 06:01] doitadrian opened #745 "I18N Support"
Work in progress

## This is:

- Feature request

## Detailed Description
In order to consider the Webiny's I18N solution complete, we need to finish a couple of things.

Ideally, it would be awesome if we could manage to resolve all of these. Otherwise, I'd say the I18N interface is the most important one.

Let's take a look.

## TODO

- [x] `i18n.ns`
  - With `i18n.namespace` method for defining

[2020-03-09 10:41] #729 closed

[2020-03-09 10:46] #727 closed

[2020-03-09 12:33] doitadrian opened #747 "Introduce fine-grained security scopes"
## This is:

- Feature request

## Detailed Description
Currently, the security scopes that are assigned in the GraphQL API plugins are just too vague. In other words, they don't allow fine-grained permissions control.

For example, for all of the `Menu`-related GQL fields (`packages/api-page-builder/src/plugins/graphql.ts`), we used the `pb:menu:crud` security scope. Because of this, users cannot

[2020-03-10 10:06] doitadrian opened #748 "I18N Service Plugins - Improve Error Messaging"
## This is:

- Feature request

## Detailed Description
Currently, if a user forgets to pass the `I18N_API_URL` into the serverless component (`serverless.yml`), the whole service would not work at all.

![image](https://user-images.githubusercontent.com/5121148/76301239-3b837280-62be-11ea-8b91-558fe73fa40c.png)

And if you open the CloudWatch log, you can see the following error:
![image](https:/

[2020-03-10 18:28] Pavel910 opened #749 "Headless CMS"
This issues contains the list of tasks that need to be completed before launching Headless CMS:

## API
- [x] Allow creation of content models without fields (add tests)
- ~Create `@webiny/serverless-cms` component which will deploy a separate Apollo GW + Headless service and expose 3 endpoints `/cms/read`, `/cms/manage`, `/cms/preview`, + `{env}` combinations. These endpoints all route to the sam

[2020-03-12 12:19] Arvisix commented on #748
May I start working on this issue?

[2020-03-12 12:20] doitadrian commented on #748
Sure, go for it!

If you need any assistance, just let us know here, or via [gitter](https://gitter.im/Webiny/webiny-js).

[2020-03-12 12:49] doitadrian commented on #695
I added more details to the issue.

The most significant change is the fact that PATs cannot be JWTs, but can be any string and must be checked against the Security service.

Please take a look and let me know if you have any other ideas.

[2020-03-12 14:32] Pavel910 commented on #695
I read the entire issue, it looks fine to me. I'm sure there will be more questions along the way but let's get this going and we'll work on it as we progress.

[2020-03-12 19:41] doitadrian opened #751 "`yarn commit` doesn't work"
## This is:

- Bug

## Expected Behavior
When doing development in the `webiny-js` repo, running `yarn commit` should complete successfully, but it doesn't.

This is super important. Not only this forces the developers to use the standard `git commit` command (possibly with `--no-verify` flag), but also creates a bad DX which could possibly discourage them from making contributions.

## Actual Beh

[2020-03-12 19:45] doitadrian commented on #695
Cool.

But still, I will add more info regarding the standalone function implementation tomorrow. Didn't manage to finish the issue in time. Will notify when the issues is updated.

[2020-03-13 08:30] Juan007 commented on #712
Hi, I've just installed Webiny and I am receiving this error. What exactly needs to be done to resolve the issue from my side?

[2020-03-13 08:31] doitadrian commented on #712
Thanks for the question @Juan007.

@Pavel910 If you want I can check the exact steps/implementation details and outline them here.

[2020-03-13 08:39] Juan007 commented on #712
I'm sure I simply botched something small during initial setup!

I'm going to make some assumptions here:
I'm busy with the setup process where I'm supposed to launch the admin portion and run through the setup wizard for the first time.

When I load the page (http://localhost:3001/admin), it shows the following briefly before redirecting:
![image](https://user-images.githubusercontent.com/2021922

[2020-03-13 08:42] Pavel910 commented on #712
Hey @Juan007, could you verify your API is actually working? Simply open you API URL and if everything is ok, it should load the GraphQL Playground. If not, you'll get some insight into errors under the hood.

Sorry you ran into problems. We're here to help resolve this so feel free to post every bit of information you have. Cheers!

[2020-03-13 09:17] Juan007 commented on #712
Thanks, also - I raised this issue on the wrong page! Apologies, I misread the error in your screenshot.

Here's the error I am receiving:
![image](https://user-images.githubusercontent.com/2021922/76604529-88ae5100-6517-11ea-88d6-adad1e2a68d8.png)

I've deleted the project and restarted (just in case I've missed a step).

I'm following this tutorial: https://docs.webiny.com/docs/get-started/quick

[2020-03-13 09:21] doitadrian opened #753 "`webiny deploy-api` not working"
Continuing from #712...
---

Here's the error I am receiving:
![image](https://user-images.githubusercontent.com/2021922/76604529-88ae5100-6517-11ea-88d6-adad1e2a68d8.png)

I've deleted the project and restarted (just in case I've missed a step).

I'm following this tutorial: https://docs.webiny.com/docs/get-started/quick-start

Not sure if I missed this error before, but when I run `webiny deploy

[2020-03-13 09:22] doitadrian commented on #753
@Pavel910 @Juan007

I hope you don't mind, I moved this to a separate issue.

[2020-03-13 09:23] doitadrian commented on #712
This is a different error message, so a new #753 issue was created.

[2020-03-13 09:27] Pavel910 commented on #753
This error is actually not because of Webiny itself, but because when you run `webiny`, your terminal sees the `webiny.js` file and thinks you want to open that (see that `script` path in the dialog).

My guess would be:
1) try removing `js` file association, so it doesn't attempt to open the file
2) try running this with `yarn webiny deploy-api --debug` (yarn will resolve to the appropriate binar

[2020-03-13 09:33] Juan007 commented on #753
Thanks! Hopefully this will help someone in future!

Yes, exactly that: So the issue was "windows by default associate `*.js` files with _Microsoft Windows Based Script Host_"
Issue explained and resolved here: https://stackoverflow.com/a/40864934

I'm attempting to deploy the API now, will revert back if my issue(s) has been resolved!

[2020-03-13 09:52] Juan007 commented on #753
Ok, so now I'm back to where I started.

Ran webiny `deploy-api`:
![image](https://user-images.githubusercontent.com/2021922/76609765-961c0900-6520-11ea-9c2a-30b20135b648.png)

Ran `yarn start` in `app/admin`:
![image](https://user-images.githubusercontent.com/2021922/76609863-b8158b80-6520-11ea-9038-e546641ef435.png)

Then when I browse, it's back to:
![image](https://user-images.githubuserconten

[2020-03-13 09:54] Pavel910 commented on #753
Try adding the `--debug` flag, so you actually see the output during deploy. So `webiny deploy-api --debug`. To me this looks like it failed all together, because normally you get output with your API URL, etc. Also, is this `cmd` or `git bash` ?

[2020-03-13 09:56] Juan007 commented on #753
Ok, will do. I'm running from `cmd`. Should I rather switch to `git bash`?

[2020-03-13 09:57] Pavel910 commented on #753
If you can, please do try `git bash` (that's what I'm using on Windows). `cmd` is really a horrible terminal :( Let me know how it goes :)

[2020-03-13 10:47] Juan007 commented on #753
Seems to be working. Is it normal to take quite a while?

![image](https://user-images.githubusercontent.com/2021922/76614441-c071c480-6528-11ea-8e5c-1dc7acb180f9.png)

[2020-03-13 10:51] Pavel910 commented on #753
Not this long... usually the first deploy takes about 3 minutes.
Maybe try creating a blank new project with GitBash, and run a fresh deploy.

[2020-03-13 13:01] Juan007 commented on #753
Done! Finally! :)

**Learnings from this for users that might run into the same issues in the future:**

1. Make sure Windows associates `*.js` files as text editor (like Notepad or VS Code)
2. Run commands from Git Bash as administrator instead of using cmd
3. Be patient with the API deployment step. It takes a while. (mine took 429 seconds).
4. After API has been deployed, the output will will s

[2020-03-13 13:01] Pavel910 commented on #753
Glad you made it! 👍

[2020-03-13 13:01] #753 closed

[2020-03-13 14:12] doitadrian commented on #695
Something to discuss... @Pavel910

@Fsalker and I talked about PATs, and we came to the conclusion that if all PATs just inherit the permissions of the user, there isn't a strong value in enabling the user to create multiple PATs. Every PAT will have the same permissions.

With that being said, I would still enable multiple PATs creation, just in case one day we decide to add per-PAT-permissions,

[2020-03-13 14:47] Pavel910 commented on #695
@doitadrian @Fsalker I agree. We need to make this upgradeable. The short term solution is ok, but we do know that more advanced and fine-grained control of tokens will be necessary, so let's plan with those requirements in mind.

[2020-03-13 16:51] bigb123 opened #756 "[UI improvement] The "i" icon that opens picture properties in File Manager is not obvious"
## This is:

- Improvement

## Specifications

  - version: @webiny/cli@3.2.5, @webiny/serverless-files@2.3.3, @webiny/api-files@2.2.1
  - OS: MacOs Catailna 10.15.3
  - Browser: 73.0.1

## Expected Behavior

The "i" icon that opens picture's properties panel in File Manager should be easy accessible.

## Actual Behavior

The "i" icon that shows picture properties in File Manager is hidden and it

[2020-03-13 16:56] SvenAlHamad commented on #756
Fully agree. I need to check why the icon isn't showing on the image hover. I believe that was the original behaviour.
Thanks for reporting, we'll sort it out.

[2020-03-13 17:05] Arvisix commented on #711
I'll take this one

[2020-03-13 17:32] doitadrian commented on #695
@Fsalker You can check the issue, and let me know the questions.

[2020-03-13 19:16] glennfaison commented on #713
What do you think about running `aws sts get-caller-identity` as a node.js `child_process`? This is based on the assumption that the AWS CLI will be installed before running `yarn setup-repo`.

[2020-03-14 08:48] doitadrian opened #757 "Refresh "/" when a new homepage is published"
## This is:

- Bug

## Detailed Description
When a homepage is changed and published via Admin UI, a cache invalidation request is issued to the `/{page-slug}` URL, but not the `/` URL.

## Possible Solution
Detect if a published page is a homepage. If so, make sure that the path `/` is also invalidated.

## Implementation
For the CDN cache invalidation, we have a set of plugins, located in here:

[2020-03-14 10:55] Pavel910 commented on #713
@glennfaison that was the idea, yes. We use [execa](https://www.npmjs.com/package/execa) in our CLI for all child process executions.

This is the place where the check should be implemented: `packages/cli/sls/execute.js:6`, right at the beginning of that function.

[2020-03-16 12:42] Pavel910 opened #758 "`create-webiny-project` and other DX improvements"
## Background
While working on #730, we discovered many small but very annoying DX issues and realized we need to change how we handle API services (this includes both YAML template, code location, building, TS configs, etc) and overall project setup.

## Goals
The goals is always the same - to make developer experience the best it can be! We want to provide our users a complete project setup that

[2020-03-16 13:03] doitadrian commented on #758
1. From my experience, the "waiting" functionality wasn’t super needed, because you would get used to the fact that each save = deploy very quickly. It really has become second nature very quickly.

2. ~It would be cool to have webpack stop creating a build, if in the process another change comes to the code from the dev.~ Not possible for now.

3. I was also thinking about the same for the compon

[2020-03-16 13:12] Pavel910 commented on #758
We'll see if this delayed deploy is something that will make sense once we start working on page builder and those bigger apps, as they could build longer (even on incremental builds) and maybe they will last longer than those 3 seconds - we'll see as we go.

You can't abort webpack build, it handles itself, so whenever you change something it will rebuild itself. Once it is done building, it call

[2020-03-16 15:07] #748 closed

[2020-03-17 04:57] doitadrian opened #759 "Cannot disable form inputs"
## This is:

- Bug

## Detailed Description
Passing a `disabled={true}` prop on components like `Input` and `Select` does not have any effect. For example:

https://storybook.webiny.com/?path=/story/components-input--usage
https://storybook.webiny.com/?path=/story/components-select--usage

It works in the RMWC library - https://rmwc.io/text-fields.

Not sure where the bug is but if I hardcoded the

[2020-03-17 05:23] doitadrian opened #760 "Page builder - possible to switch ordering on mobile?"
I got this question from our community member @JeremyTijal and per our conversations, I'm creating this issue.

## This is:

- Question / feature request

## Detailed Description
In the following screenshot, we have a couple of text sections and images.
![image](https://user-images.githubusercontent.com/5121148/76824346-24410980-6817-11ea-9dc3-3408af1f131d.png)

On mobile, instead of showing the `

[2020-03-17 05:25] doitadrian commented on #751
Closed via https://github.com/webiny/webiny-js/pull/754.

[2020-03-17 05:25] #751 closed

[2020-03-17 05:44] doitadrian opened #761 "Page Builder - "Icon" page element not working"
## This is:

- Bug

## Specifications

  - version:
  - OS: MacOS
  - Browser: Version 80.0.3987.132 (Official Build) (64-bit)

## Expected Behavior
I should be able to add the `Icon` page element to my page.

## Actual Behavior
An error occurs.

![image](https://user-images.githubusercontent.com/5121148/76825577-a41ca300-681a-11ea-8059-0e9d9daaaa2b.png)

## Steps to Reproduce the Problem
1. Creat

[2020-03-18 18:04] Joel-Raju opened #763 "yarn install failed. Cypress installation error !"
Did a clone and yarn install. Installation throws an error

`The Cypress App could not be downloaded.`

I'm not using a proxy.

## This is:
- Bug

## Specifications

  - version:
  - OS: Mac OS 10.15.3 (19D76)
  - Browser: Firefox 74.0 (64-bit)
 -  Node: v12.14.1
 -  Yarn: 1.21.1

## Expected Behavior
Installation should be successful

## Actual Behavior
Installation throws an error

## Steps to R

[2020-03-18 18:34] Pavel910 commented on #763
@Joel-Raju had this same error the other day in my fork, a re-run fixed it for me. I think it was a network connection issue on my side. Could you try running `yarn` again? This doesn't really have anything to do with Webiny itself.

[2020-03-19 14:45] Joel-Raju commented on #763
I tried re-running it a couple of times, but still it fails. Opening an issue in Cypress repo https://github.com/cypress-io/cypress/issues/6789

[2020-03-19 15:08] Pavel910 commented on #763
I just tried your fork, `yarn` completes successfully, all dependencies installed normally.
I'm using Windows 10, node `v10.14.0`. Also tried using `v12.14.1` - everything works as expected.

Very weird 🤔

[2020-03-19 22:41] jfgrissom commented on #662
Hi,

I'm a Senior Software Engineer on the Cloud Engineering team at Intuit, Inc.

I've received approval for some time to work on this project. (About 5 hours a week).

I can think of many ways to access DynamoDB for use with Webiny.

I'll look around for a chat channel, review the docs, and install webiny to get a sense of what it's doing.

Do you have any other recommendations for me to help ou

[2020-03-20 09:36] Pavel910 commented on #763
@Joel-Raju I'm closing this issue for now as it is not related to Webiny. Once you manage to install the repo, please let us know what was the issue with Cypress, so we can help other community members who might get that error.

Thanks!

[2020-03-20 09:36] #763 closed

[2020-03-20 12:12] Pavel910 opened #764 "create-webiny-project"
Create a `create-webiny-project` tool to bootstrap Webiny projects using `npx create-webiny-project`.

## Why?
Currently, project creation is handled by our `@webiny/cli` package which is installed globally. We want to move away from global installations and handle everything from withing the project (same way `create-react-app` does). The CLI will only contain tools to build/deploy/scaffold the e

[2020-03-20 12:42] doitadrian opened #765 "Page Builder - enable support for I18N"
## This is:

- Feature request

## Detailed Description
Often users need to create their pages in different languages, and currently, this is not possible.

This issue explains what needs to be done in order to introduce I18N support for the Page Builder app.

## Tasks
The tasks are broken up into the following sections:
- Page Builder - editor
- Pages view
- Categories view
- Menus view
- Install

[2020-03-20 13:01] SvenAlHamad commented on #662
Hi @jfgrissom, welcome to Webiny!

It's great to hear that your company supports open-source contributions, the whole community needs more of that and we're super happy you decided to pick our project.

This task, in particular, is one that has been requested by many members so it's gonna have a great impact on the wider project. That being said, we want to provide you with all the support you mig

[2020-03-20 16:38] Joel-Raju commented on #763
@Pavel910 Okay. I'll keep you posted.

Thanks.

[2020-03-21 05:42] ahmad-reza619 commented on #759
hey @doitadrian i've seen the Input component, is it possible for missing prop types cause this? i think the implementation is already good

[2020-03-21 11:31] Pavel910 commented on #759
@ahmad-reza619 what do you mean by `missing prop types`?

[2020-03-21 11:43] ahmad-reza619 commented on #759
@Pavel910 the Input component has no disabled prop types, but it use disabled prop, so I think it automatically remove props that doesn't specified in prop type. It's just my guess actually, I never used typescript before

[2020-03-21 11:48] Pavel910 commented on #759
Actually that’s not correct, as you can see we compose types by importing the original Rmwc type and add our own props on top of that.

Also, TS doesn’t remove anything, no tools do. You can’t remove a prop from component; whatever is passed to component will be in the props object at runtime.

This is an interesting bug, I’ll take a look at it as well.

[2020-03-22 15:37] Fsalker opened #766 "The Error snackbar from Account settings is not closeable"
## This is:
- Bug

## Specifications
  - OS: Windows 10
  - Browser: Chrome

## Expected Behavior
When clicking the `Close` button, the `Snackbar` element should vanish. Also, the `Close` message is currently black on a dark gray background (see the screenshot below), which makes it nearly invisible and is thus very difficult to use: its text color should be more user friendly. 🙂

## Actual Behavi

[2020-03-23 09:13] doitadrian opened #767 "Return and handle validation errors"
## This is:

- Bug

## Detailed Description
When a Commodo-related `VALIDATION_FAILED_INVALID_FIELDS` error occurs in a GraphQL resolver, the `error` field in the GraphQL response is missing the actual fields that are invalid (only `data: {}`) is returned.

We need to inspect the `data` key and see why the invalid fields are not returned.

### Check forms
Initially, the idea was that the forms (e.

[2020-03-23 09:14] doitadrian commented on #155
Closing this (opened #767).

[2020-03-23 09:14] #155 closed

[2020-03-23 09:45] doitadrian opened #768 "Admin - handle non-existing routes"
## This is:

- Bug

## Detailed Description
If a user opens a non-existing route in the Admin app, a blank page is shown.

![image](https://user-images.githubusercontent.com/5121148/77301988-e2213780-6cf0-11ea-9305-0e587cdc5b93.png)

## Possible solution
Let's create a simple "Not found" page.

An example that shows how a default route is registered can be found [here](https://github.com/webiny/we

[2020-03-23 18:00] drexlar5 commented on #763
@Joel-Raju I changed my cypress version to 4.2.0 in my package.json file and retried the installation. That solved the issue.

[2020-03-23 18:13] jfgrissom commented on #662
Very nice. I shot you an email to say hi.

I'll connect with your team on Gitter once I get familiar with the project.

[2020-03-24 08:04] doitadrian opened #770 "Types - amend types and add short description"
## This is:

- Feature
- Docs

## Detailed Description
A few of our base types could use some minor amends. Check out `packages/app-security/src/types.ts:44` as an example. The plugins below should follow the same structure.

#### `MenuPlugin` (packages/app-admin/src/types.ts:44)
The type is missing `type: "menu"` property.

Also, add a short description for the type, and [a link](https://docs.web

[2020-03-24 15:23] jfgrissom commented on #662
I'm wrapping up some items and it looks like I will do some exploration this afternoon.

I should be able to connect with you on gitter tomorrow (Mar 25th).

[2020-03-24 16:13] doitadrian commented on #662
Just updated the issue, and made clear that @ostappartyka is working on the first task - creating the DynamoDB driver for the Commodo library.

[2020-03-24 19:07] bigb123 opened #771 "Jump to a specific location on the same page using Webiny menu"
## This is:
- Feature request

## Detailed Description
Some businesses require just a simple website with one, long, scrollable landing page. It will be very useful to present to the user all page's sections with Webiny menu and let him jump directly to a specific part of the page.

Example (comes from https://barluca.com.au/)
![example copy](https://user-images.githubusercontent.com/9221943/77466

[2020-03-25 16:23] Fsalker opened #773 "Clicking outside of the white account button does nothing"
A very similar bug to #737 happens with the Account button in `admin` app when clicking outside of the button (see the blue arrow in the screenshot below). A `pointer` cursor is shown & the button's glowing animation is played regardless, as if it was functioning.

![image](https://user-images.githubusercontent.com/16700631/77560212-d470db00-6ec5-11ea-8b66-ed6a87c352ee.png)

## This is:

- Bug

##

[2020-03-26 00:10] jfgrissom commented on #662
I can help out with the 2nd to last item on the list (create table definitions for every).

[2020-03-26 17:59] jfgrissom commented on #742
I think this makes more sense but I'm working from the perspective of AWS only. I wonder how multi-cloud impacts any work that might need to go into this?

[2020-03-26 18:15] Pavel910 commented on #742
That wouldn't affect anything. Actually, you can even go into your `.env.json` and remove all `AWS_*` definitions (with current state of things). That will then use everything that is already in `process.env`.

[2020-03-26 18:58] jfgrissom commented on #742
I'm on board for this. Leave it up to the user for credentials.

Less work overall to manage and it's already common practice to manage credentials/auth using existing (well established) AWS practices.

[2020-03-27 09:35] doitadrian commented on #759
I found the issue here. Actually, it's related to the `Bind` component and how it spreads props to the child component:

`packages/form/src/Bind.ts:78`:
![image](https://user-images.githubusercontent.com/5121148/77741729-ac908d00-7015-11ea-85cb-5fe06c9a7fe2.png)

Changing this to the following fixed the issue:

![image](https://user-images.githubusercontent.com/5121148/77742307-946d3d80-7016-11ea-

[2020-03-28 11:28] Pavel910 opened #774 "Fix pageContentModifiers config object"
@doitadrian in this here file `packages/api-page-builder/src/plugins/pageContentModifiers.ts:11` we have a `{ database }` parameter, and TS is screaming at me that I'm not passing it to the factory of `Page Builder` plugins (here: `packages/api-page-builder/src/plugins/index.ts:6`), but we actually never passed it anyway.

Please take a look at that file, as I can see references to `database` thro

[2020-03-28 11:44] ahmad-reza619 commented on #759
Is it already fixed?

[2020-03-28 11:47] Pavel910 commented on #759
@ahmad-reza619 nope, feel free to submit a PR if you'd like to take on this :)

[2020-03-28 15:14] ahmad-reza619 commented on #759
Alright will do, but wow, i never thought another component is the cause of all this 🤔 how is it even possible? is Bind forward it props to the children?

[2020-03-28 22:04] baskin opened #776 "problem in first time setup"
## This is:
- Bug

## Specifications
  - version: 3.2.5 (cli)
  - OS: mac
  - Browser: chrome

## Actual Behavior

tail of `webiny deploy-api --debug`

webiny:gateway Inputs were not changed, no action required. +0ms
  webiny:api Input was not changed, no action required. +0ms
Error: invalid reference ${api.url}
    at Object.<anonymous> (/usr/local/lib/node_modules/@webiny/cli/sls/template/utils.

[2020-03-29 03:39] bigb123 commented on #776
Hi @baskin,

As a temporary solution: can you try to use the current version of node.js (13.12.0 at the moment I'm writing it - https://nodejs.org/en/) rather than LTS?

There was a problem reported on Webiny Community and the solution was to use the current version of the node.js - https://community.webiny.com/t/errors-trying-to-setup-local-webiny-environment/114/3.

Also: I'm using yarn version

[2020-03-29 07:17] baskin commented on #776
@bigb123 Tried both (upgraded node to 13.12.0 and yarn to 1.22.4).
Same issue `Error: invalid reference ${api.url}` still persists.

[2020-03-29 07:52] Pavel910 commented on #776
@baskin  I assume this log is from subsequent deploy attempts, not the first one. Because it says ‘no input was changed’.

Try removing resources by running `webiny remove-api —debug` and then deploy again.

[2020-03-29 08:47] baskin commented on #776
Thanks. I actually removed the entire setup and did it afresh with the above versions of node & yarn. Indeed the api deployment is now successful. Many thanks.

However, since then I tried moving to the next step of starting the admin app per https://docs.webiny.com/docs/get-started/quick-start/.
[code]

The code compiles fine, but at runtime it errors (CORS) out saying
[code]

I tried opening 'ht

[2020-03-29 09:13] Pavel910 commented on #776
The API deployment is definitely failing 🤔 When you open `https://xyz.cloudfront.net/graphql` it should open GraphQL Playground. The error you see is due to one of the services failing to deploy. Let me try creating a blank project; I'll get back to you.

[2020-03-29 09:39] Pavel910 commented on #776
@baskin so I just created a blank project and deployed it successfully. Could you post the content of this file: `api/.webiny/gateway/handler.js` ? We need to find out which service fails to deploy on your side.

[2020-03-29 10:36] baskin commented on #776
Ok. Looks like "security" service failed in deployment somehow.
[code]

Rest looked fine
[code]

[2020-03-29 10:39] Pavel910 commented on #776
Ok, now try deploying just that one service using `webiny deploy-api --alias=gateway --alias=security --debug`, see if that goes well. So with this command you're deploying Apollo Gateway and Security services.

[2020-03-29 10:49] baskin commented on #776
Should I do a remove-api first?

Running `webiny deploy-api --alias=gateway --alias=security --debug` as is, gave the same error.
Below is the relevant log.
` webiny:security Finished API Gateway deployment: undefined +2ms`
Below is the complete output
[code]

[2020-03-29 10:50] Pavel910 commented on #776
This is very weird. I have no idea why it is failing, I'm also deploying all this back and forth as we speak and it's all working :( Could you try creating a completely new project?

[2020-03-29 10:55] baskin commented on #776
Sure. Will try that and couple of other things and will report back in case it works. Thanks for the help thus far :)

[2020-03-29 10:56] Pavel910 commented on #776
Sorry you ran into all those problems :( Also if you want, join us on https://gitter.im/Webiny/webiny-js, it may be easier and faster to chat there.

[2020-03-29 12:53] doitadrian commented on #767
I found the issue on the API side.

This is the issue: `packages/commodo-graphql/src/InvalidFieldsError.ts:8`

![image](https://user-images.githubusercontent.com/5121148/77849567-f7083a00-71cc-11ea-9e8e-e97a4614c422.png)

It should be `VALIDATION_FAILED_INVALID_FIELD`, not `VALIDATION_FAILED_INVALID_FIELDS`.

[2020-03-29 15:34] baskin commented on #776
I did a `webiny remove-api` and a redeploy worked like a charm. (except there was a minor hiccup of missing graphql endpoint on cloudfront -- figured that was due to delay in cloudfront propagation).

I think a previous deployment failure would have rendered the config (e.g. url: "undefined/graphql") in an inconsistent state and a `remove-api` followed by a `deploy-api` fixed that.

Thanks @Pavel9

[2020-03-29 15:35] Pavel910 commented on #776
Glad you figured it out! 🚀 Let us know if you need help along the way :)

[2020-03-29 15:35] #776 closed

[2020-03-29 17:01] bigb123 commented on #776
Hi guys,

Just a quick comment on the end: I came across the `undefined` link problem before. It happened when I lost wifi connection for a moment during deployment. After reading debug log from deployment I realised some components had `undefined` links. My solution was to run `remove-api` and clean up `api/.serverless/` directory.

My feeling is this error happens randomly when some errors occur

[2020-03-31 16:28] #770 closed

[2020-03-31 17:25] doitadrian opened #778 "Support for DynamoDB - create table definitions"
Continuing from #662, this issue contains specifics related to creating DynamoDB table definitions, which is one of the tasks we need to resolve in order to make Webiny fully DynamoDB compatible.

# This is:
- Feature request

# Introduction

Unlike with MongoDB, which can create database collections on-fly, DynamoDB requires us to define database tables in advance and deploy them. Because of this

[2020-03-31 17:27] doitadrian commented on #778
I managed to finish this issue finally.

Please take a look @Pavel910 when you get a chance (we can jump on a call too if needed).

I'm mostly interested in your thoughts regarding the serverless.yml DynamoDB resource definition (the one and only screenshot in this issue), and the creation of the `@webiny/serverless-dynamodb` package.

[2020-03-31 18:04] Pavel910 commented on #778
@doitadrian that's quite an issue :D I will try to fork the component and put it into `master` so Jay can simply fork this repo and play with it. I think it `could` even work using the [original component](https://github.com/serverless-components/aws-dynamodb); I'm pretty sure it should work, especially for PoC.

I agree we should start small, take a single app and see how it goes. Hopefully @osta

[2020-04-01 02:56] chanced opened #779 "Is there any way to disable the acceleration option in webiny:files? It is causing my deployment to error out."
## This is:
- Question

## Specifications

  - version: 3.2.5
  - OS: macOS Catalina (10.15)
  - Browser: Not applicable.

## Expected Behavior
`webiny deploy-api` deploys api

## Actual Behavior
`webiny deploy-api` errors out at `webiny:files Setting acceleration to "true" for bucket webiny-files-xxxx. `

## Steps to Reproduce the Problem

1. Have an account that will not allow for S3 Acceleratio

[2020-04-01 07:15] Pavel910 commented on #779
Hi @chanced, we had this exact issue last week. The problem was not the acceleration at all; we investigated it and it just started working all by itself. Later we found out there were some disruptions in AWS services.

So the best thing to try is just leave it for a few hours, then try deploying again. I’m leaving this issue open so we can stay in touch. Let us know how it goes.

Cheers!

[2020-04-01 15:04] chanced commented on #779
No go on the attempt. I'm pretty sure in my case the issue is that I can't enable Accelerate.

<img width="549" alt="Screen Shot 2020-04-01 at 12 35 10 AM" src="https://user-images.githubusercontent.com/1073892/78152782-4b4b2e00-7408-11ea-9dad-94a5f34773c1.png">

I have a ticket in with AWS.

[2020-04-01 15:05] Pavel910 commented on #779
@chanced just wondering, what AWS credentials are you using? Is it `Full Admin` user, or do you have a custom set or permissions on your user? That could be the reason 🤔

[2020-04-01 15:06] chanced commented on #779
I should haver `Full Admin`. My account doesn't belong to an organization and I haven't limited my access in any way.

[2020-04-01 15:08] Pavel910 commented on #779
What region are you deploying to? Never had this error before; would love to know the reason so we can include it in our docs.

[2020-04-01 15:20] chanced commented on #779
us-east-1. I found a few other people asking about it on Stack and forums so I'm not alone in it. They didn't have solutions though.

[2020-04-01 18:00] doitadrian commented on #779
I tried an hour ago, and it didn't work. I'm not sure what's exactly wrong here, because I believe I changed the bucket name, turned acceleration off (directly hard-coded the flag to `false`), and it was still failing.

After 10-15minutes of fiddling, it just started working again, even with the acceleration enabled.  ¯\_(ツ)_/¯

I would love to be more precise with my findings, but unfortunately,

[2020-04-01 18:45] chanced commented on #779
Negative. I'm still waiting on AWS support to see why I can't enable it.
<img width="1009" alt="Screen Shot 2020-04-01 at 2 44 40 PM" src="https://user-images.githubusercontent.com/1073892/78174565-74c78200-7427-11ea-902e-d0f2c7eace03.png">

[2020-04-01 18:52] chanced commented on #779
FWIW, you guys are awesome for this support 😄

I was debating whether or not to roll my own CMS to accompany an app I'm building but you guys have built what looks like an awesome project. I'm picking up graphql so I can use webiny.

This is completely off topic but have you guys considered [type-graph](https://github.com/MichalLytek/type-graphql) to cut down on the boilerplate? I don't know how w

[2020-04-01 19:17] doitadrian commented on #779
Thanks a lot for your thoughts regarding the GraphQL/models @chanced!

Although `type-graph` definitely looks interesting, for now, we're gonna stick with the current approach, because we're unfortunately just super busy all over the place. But I'm sure If the community will demand changes in this "department", we will consider it.

By the way, Commodo is very flexible. With additional higher-orde

[2020-04-01 19:30] chanced commented on #779
Oh I'm sure you guys are! You're doing a good job; building a flexible CMS isn't easy by any stretch of the imagination. There are so many things that could be done, providing what seems like an endless amount of work.

Hopefully with traction, the community will alleviate the backlog through extensions/plugins. So long as the core is solid and extensible enough, that'll come. I'm sure that'll pic

[2020-04-01 19:32] chanced commented on #779
Where did you manually overwrite the config option to turn off Acceleration? I think I found it last night but I wasn't certain. Picking up graphql is taking enough time that I haven't gone back to investigating it.

[2020-04-01 21:05] jfgrissom commented on #778
Good stuff. I'll carve out some time to explore this some more. I'll keep you posted here.

[2020-04-02 03:54] doitadrian commented on #778
Sorry @jfgrissom I didn't notify you about the issue yet, was just waiting for the finalization of ERD/query logs. Almost done!

[2020-04-02 04:02] doitadrian commented on #779
Unfortunately, you cannot do it via `serverless.yaml` at the moment, you'll have to make a change directly in the `node_modules/@webiny/serverless-files/serverless.js:46`.

![image](https://user-images.githubusercontent.com/5121148/78209188-a0d61800-74a6-11ea-9466-71ec8f8e2287.png)

Try to add `accelerated: false`, just so we know if it makes any difference. If so, well, I think we'll just disable

[2020-04-02 08:51] Pavel910 commented on #779
@chanced just to add to @doitadrian answer regarding type-graph and other tools you mentioned:

Schema-from-model generation is `ok` if you have a simple CRUD application and a known app data model, and not too many access patterns; however, it's a very bad practice to map GraphQL schema to an exact data model as a 1:1 replica. More often than not, GraphQL API is only exposing a small subset of fi

[2020-04-02 09:30] #759 closed

[2020-04-02 15:48] chanced commented on #779
@doitadrian Thanks man! I did a search across the project for 'accelerate' and did't find it. Thanks! I'm still waiting on AWS support. It's apparently not an account level issue though.

@Pavel910 I didn't mean to make it seem like I was questioning your design decisions. Sometimes think pop up after the initial analysis of offerings and I just wanted to bring it to your attention incase you guys

[2020-04-02 15:54] Pavel910 commented on #779
@chanced absolutely man, we love to get info about tools out there, there's so much going on in the industry it's impossible to keep up with everything. Thanks for sharing! 💯

Our setup allows you to use the existing apps `as-is` and develop your new apps using whatever tools you like. All you have to do is follow some simple rules to connect your service with the rest of the system (our system of

[2020-04-02 15:54] doitadrian commented on #779
Thanks for the feedback @chanced.

I'm sure @Pavel910 will respond shortly, but I just wanted to add that if our users will still want something similar, they'll be able to do create a custom, let's call it, `withGraphQL` higher-order-function, and do whatever they want it to do.

Oh, and BTW, we do have some nice scaffolding tools in the works, so a good portion of work will be automated with it

[2020-04-02 16:46] jfgrissom commented on #778
@doitadrian - No worries at all. I saw my name and wanted to be sure you knew I was engaged. I'm still exploring.

I'll be spending time today reviewing the current structure in mongo and reviewing the code base specific to the database.

I'm also going to spend some time to see how the current dataset is being queried through graphql. This should give me some good indications of the access patter

[2020-04-02 16:56] Pavel910 commented on #778
@jfgrissom just sent you the query logs to your email, and we'll soon have the ERD so we'll follow up with that as soon as it's done (it's work in progress).

[2020-04-02 16:59] jfgrissom commented on #778
@doitadrian - Regarding this statement

I understand your scepticism on this.

I still feel pretty confident that it will likely all be in a single table. I might be getting a little ahead of myself but from past experience building a schema that accommodates many different "types".

The difference between the relational model that has been engrained into us and Dynamodb's partitioning and sorting

[2020-04-02 17:14] doitadrian commented on #778
Sorry if I sounded skeptical towards the single-table approach, that really wasn't my intention.

I have no opinion about it really since I don't know what's possible and what are good / recommended approaches in the DynamoDB world.

I'm sure you have a very good reason for what you're suggesting here, so feel free to do whatever you think it's best here and we'll test it out together.

[2020-04-03 14:03] amitsin6h commented on #768
I would like to work on this

[2020-04-03 14:08] Pavel910 commented on #768
@amitsin6h Awesome! Let us know if you need help with the setup. Please consult the [CONTRIBUTING](https://github.com/webiny/webiny-js/blob/master/CONTRIBUTING.md) guide to help you get started.

We're also on https://gitter.im/Webiny/webiny-js if you need help.

[2020-04-04 03:11] amitsin6h commented on #771
Oh, this is interesting targeting `id` in `href` will do it. I would like to add this feature

[2020-04-04 16:24] doitadrian opened #781 "Support for DynamoDB - data restructuring - introduction"
# This is an introduction issue
This is an introduction issue that contains general information about needed data restructuring, which must be done as part of the [DynamoDB support](https://github.com/webiny/webiny-js/projects/8) project. Since, as we'll soon see, we'll need to implement changes on a couple of different fronts, I decided it would be best to implement them one-by-one. So, along wit

[2020-04-04 21:41] b0nbon1 commented on #773
I'd love to contribute this one as my first issue

[2020-04-04 21:57] Pavel910 commented on #773
Great! Let us know if you need any help along the way 🚀

[2020-04-05 13:36] gbitdev opened #782 "Allow use sls offline plugin"
It will good to allow to use severless offline plugin to fully offline development.

## This is: Feature request

[2020-04-05 14:47] Pavel910 commented on #782
@gbitdev this won't be possible as we're not using Serverless Framework itself, but their Serverless Components.

The best thing you can do at this point to develop completely offline is to use test driven development, and white tests for your plugins. With our upcoming release we will greatly improve testability and provide some tools to easily construct tests (we use those same tools to develop

[2020-04-05 14:47] #782 closed

[2020-04-06 04:11] doitadrian opened #783 "Support for DynamoDB - data restructuring - Page Builder - querying latest pages"
Continuing from #781, this issue gives more details about solving the "Page Builder - querying latest pages" issue.

## From the introduction issue
Pages can have multiple revisions, where each revision has the `parent` field which just contains a reference to the initial revision of every page. Note that when a brand new page is created, `id` and `parent` fields are the same.

![image](https://us

[2020-04-06 06:18] doitadrian opened #784 "Support for DynamoDB - data restructuring - Page Builder - querying images"
Continuing from #781, this issue gives more details about solving the "Page Builder - querying latest pages" issue.

## From the introduction issue
Both pages and page elements (`PbPage` and `PbPageElement` collections in the database) contain images and currently, they are stored as simple IDs in the database. That means every time a page is being loaded, the database needs to be queried / the fi

[2020-04-09 02:40] #779 closed

[2020-04-09 06:02] doitadrian opened #785 "Support for DynamoDB - data restructuring - Headless CMS search table"
## This is:
- Idea
- Discussion

## Introduction
As mentioned in the initial issue, ideally, we would like to have all base Webiny apps multi-database compatible.

In a couple of discussions, we figured this might not be quite possible for the Headless CMS app. More specifically, it seems that the way data-filtering-purposed collections are currently designed won't fit into the DynamoDB model, and

[2020-04-09 06:06] doitadrian commented on #785
I created a separate issue, which explains the idea for a new data structure for the Headless CMS Search table, which would possibly enable us to avoid making a separate package for the Headless CMS app, when used with the DynamoDB database. This was discussed the other day on Slack.

Please read it when you get a chance and let me know your thoughts.

@Pavel910 @SvenAlHamad @ostappartyka @jfgriss

[2020-04-09 06:50] Pavel910 commented on #785
Since you and I discussed this in details, I think this is a good way to support all databases. It's a different approach from what we used to have through the years, but it's an interesting one.

The major benefit of this approach is that we don't need to have 2 tables per content model. We can store all the data in 1 data table + 1 search table for the entire CMS (this would work with SQL, Mongo

[2020-04-09 11:01] Pavel910 commented on #774
Fixed in `feat/headless-latest` branch.

[2020-04-09 11:01] #774 closed

[2020-04-09 12:34] Fsalker opened #786 "Storybook Dialogs are outdated"
So, one day I decided to use Webiny Dialogs in order to make an awesome UI for Access Tokens. I immediately copy-pasted the example from [our Storybook](https://storybook.webiny.com/?path=/story/components-dialog--usage).

But to my dismay, I was unable to use Dialogs because the imports could not be resolved. For example, **DialogHeaderTitle** doesn't exist in @webiny/ui/Dialog.

I then inspected

[2020-04-09 13:08] doitadrian opened #787 "Page Builder: saved page elements not visible in the elements menu"
## This is:

- Bug

## Expected Behavior
When we save a custom page element in Page Builder editor, the element should be visible in the page-elements menu on the left side of the screen.

![ezgif-2-7b621d46430d](https://user-images.githubusercontent.com/5121148/78898746-99010f80-7a74-11ea-8c09-3a2f378fb1ea.gif)

## Actual Behavior
It's not visible.

![image](https://user-images.githubusercontent.

[2020-04-10 12:53] Jeremytijal commented on #787
I tried your solution and it's working.
![Capture d’écran 2020-04-10 à 14 51 09](https://user-images.githubusercontent.com/40340340/78992207-09726400-7b3b-11ea-9be8-a0fb46d74c43.png)

[2020-04-10 12:57] doitadrian commented on #787
Hey that's awesome @Jeremytijal.

Would you be so kind as to submit a PR, please?

🍻🍻🍻

[2020-04-12 04:55] #787 closed

[2020-04-14 14:51] doitadrian commented on #749
### Handling locales with localized / non-localized fields

Had a discussion with @Pavel910 today, and we agreed on the following.

1. Fields can be localized (contain values for multiple languages) and non-localized. This was already established before, and we again confirmed that it is the way to go.

2. On the GraphQL interface level, on the Manage API, a single content model field (e.g. text,

[2020-04-14 18:06] SvenAlHamad commented on #749
What if we take the approach that all fields must be localized? The only downside here is that the user will need to copy/paste some field value across multiple languages. Which I agree is a bit on a pain, but we can add some UX improvements in v2 to make this less of a problem, if users do actually complain.

With this approach we remove the problem of adding a new locale.
Ideally we should try a

[2020-04-15 09:29] doitadrian commented on #749
What do you think @Pavel910 about not having the localization as a field option?

I agree that we would avoid some tricky cases with this approach, and kinda feel this wouldn't be too much of a UX issue.

Regarding other points...

I think it all makes sense, we just thought to maybe leave the background processing to post-beta-launch. We'll see about it, it depends on the overall progress.

The o

[2020-04-15 09:43] Pavel910 commented on #749
@doitadrian @SvenAlHamad I'm ok with having all fields localizable, to handle the UX we can easily add `Copy values from ...` button to copy values from other locales into the locale you're editing.

I also agree that when you delete a locale, we should cleanup automatically, however this will require us to use some kind of event because i18n service is independent. Maybe we can add a simple plugi

[2020-04-15 10:30] SvenAlHamad commented on #749
Cool, it seems you did your research ... I'm ok with not copying default local data in this case.

[2020-04-15 15:08] #757 closed

[2020-04-19 05:28] Ashu96 commented on #756
Is anyone working on this issue? If not I would love to contribute

[2020-04-19 09:50] Pavel910 commented on #756
@Ashu96 sure, go ahead! I'll assign you to this issue :)

[2020-04-19 16:17] cbabione opened #791 "S3 Bucket Names for webiny-serverless-page-builder-XXXXXX is not unique preventing multi-account deployments."
## This is:
Question (perhaps bug)

Hello, and awesome work so far!  I have been looking for a serverless solution like Webiny for a while now -- Glad I have found it!

I have a multi-account AWS environment using control tower, with development and production environments in different accounts.  I was able to use the documented variables to assign AWS profiles correctly, change database endpoint,

[2020-04-19 16:33] Pavel910 commented on #791
Hi @cbabione, thanks for opening this issue. We discovered this bug ourselves several days ago, and in our upcoming release we'll improve the resource naming of all resources (including that page builder bucket).

However, your use case is something we haven't thought about: using 2 different accounts, for different environments. Glad you reported this.

A couple of quick and dirty fixes, before I

[2020-04-19 16:39] cbabione commented on #791
I was actually looking in the serverless.js to do just what you suggested, but wanted your take on it before I did as there might have been something better you had in mind.  Thanks for the prompt response, and if you need help testing in multi account environments in the future, let me know as I would be happy to assist.

[2020-04-19 16:47] Pavel910 commented on #791
Using multiple accounts to deploy the same project causes this bug, because each project has its unique ID, which is used in resource names. So, if you try deploying the same project with 2 accounts, the unique ID stays the same, and you get that `bucket name is not unique` error, which makes perfect sense.

So there are 2 ways to solve this: either include an `env` value in the resource name, or

[2020-04-20 07:18] Ashu96 opened #793 "Page builder: Search is not working in Icon picker component"
## This is:

- Bug

## Specifications

  - version: @webiny/cli@3.2.5, @webiny/app-page-builder@3.2.4
  - OS: Ubuntu 18.04.4 LTS
  - Browser: Chrome Version 80.0.3987.149 (Official Build) (64-bit)

## Expected Behavior

The Icon picker should show icons as per the search filter input
checkout this video sample:
https://www.loom.com/share/a1e45908510d4101a5a0856d72c23df4
## Actual Behavior

The Ico

[2020-04-20 11:01] Pavel910 commented on #791
@doitadrian I'm trying to look at this issue from a different perspective: would it be possible to avoid creating this S3 bucket for page-builder installation files completely, and let the PB use the original `files` bucket as a storage for that ZIP file?

I'm looking at the code and I think this would totally work. What do you think?

[2020-04-20 12:18] doitadrian commented on #791
This looks doable @Pavel910 and I'll see that we implement this now, since we're already working on the `acceleration` fix.

[2020-04-20 15:17] doitadrian opened #795 "Remove "graphql-shield" package"
## This is:

- Feature request

## Intro

All Webiny apps (like for example Page Builder, Form Builder, I18N, ...) rely on the GraphQL API in order to do queries and mutations in the system.

For all **admin** queries and mutations, users need to be logged in, otherwise, the GraphQL server will respond with the "Not authorised!" error.

![Snipaste_2020-04-15_10-27-17](https://user-images.githubuse

[2020-04-20 17:22] doitadrian commented on #779
Hey @chanced,

Just wanted to let you know that we've released a fix for the `ACCESS_DENIED` error that you, and a couple of other users have been experiencing.

If it's still of interest to you, check my response [here](https://community.webiny.com/t/problem-deploying-files/195/14).

Cheers 🍻

[2020-04-20 17:31] #783 closed

[2020-04-20 17:55] chanced commented on #779
@doitadrian I'm sorry, I meant to update this. Amazon got back to me and fixed the issue on my account. The problem is on their side.

[2020-04-20 17:57] doitadrian commented on #779
Very interesting.

Nevertheless, thanks for letting us know :)

[2020-04-20 18:01] chanced commented on #779
I also meant to let you guys know that Typegoose + type-graph came with some serious overhead. One of my queries needs to return 8k+ results. It was taking 8 - 14 seconds to iterate over everything.

There were a few bottlenecks, namely Typegoose doesn't alter Mongoose so in order to get an object in Typegoose/type-graph, the results first have to be iterated over for Mongoose, then again to get t

[2020-04-20 18:06] Pavel910 commented on #779
@chanced Wow! Great info, thanks for sharing ❤️

[2020-04-22 12:42] doitadrian commented on #795
You will also need to update [this page](https://docs.webiny.com/docs/webiny-apps/security/development/api/graphql-helpers/has-scope), with latest code samples.

[2020-04-23 08:09] #793 closed

[2020-04-23 10:06] Pavel910 opened #798 "Don't hide PB editor loader image"
Our PB Editor has a loader which has this animated image, unfortunately data loading sometimes takes longer than the duration of the animation so the image is hidden and the screen looks broken:

![image](https://user-images.githubusercontent.com/3920893/80086831-8dc0e000-855a-11ea-90ba-190de0263716.png)

We need to prevent the image from disappearing to make it look like this:

![image](https://u

[2020-04-23 18:19] doitadrian opened #800 "Missing images for default pages"
## This is:

- Bug

## Expected Behavior
Default pages should have images assigned.

## Actual Behavior
Some of the pages do not have an image assigned:
![image](https://user-images.githubusercontent.com/5121148/80134856-a9020e80-859f-11ea-9f11-52b6d48582c9.png)

## Steps to Reproduce the Problem
1. Create a new page.
2. Add the pages list.

## Possible Solution
Images should be created and assign

[2020-04-26 15:12] Ashu96 commented on #761
Hey @doitadrian
I would love to help with this bug fix :smile:

[2020-04-26 15:14] Pavel910 commented on #761
@Ashu96 Great, have fun :D

[2020-04-26 18:10] mdm373 opened #801 "Save Element Fails in Firefox"
## This is:
- Bug

## Specifications

  - version: 3.2.8
  - OS: macOS Catalina 10.15.3
  - Browser: Firefox 75

## Expected Behavior
- Page builder opened, Page Edited, Element Save Selected
- Selecting Save from Save Element Modal
- Should save the element (also, the image preview does not appear in the modal)

## Actual Behavior
Clicking save, nothing happens in UI.

## Steps to Reproduce the P

[2020-04-26 18:12] Pavel910 commented on #801
Thanks for reporting @mdm373! It's great that you narrowed it down to Firefox, we'll see what's going on there :) 🍻

[2020-04-26 23:38] tjrexer opened #802 "Add Sitemap Feature"
In order to improve searchability & integration with Google, add a sitemap generation or manual sitemap upload tool.

## This is:
- Feature request

## Detailed Description
In order to improve searchability with Google & other search engins, add an un-formatted sitemap page, or automatic sitemap generation tool.

https://support.google.com/webmasters/answer/6259634?hl=en

[2020-04-27 05:44] doitadrian commented on #802
Thanks for the request @tjrexer. The funny thing is, we just discussed this last week, had a couple of users asking about it, along with handling the `robots.txt` file.

We'll see how we can incorporate this into our current schedule.

[2020-04-27 14:58] dhavalsoni2001 opened #804 "Webiny-app-form-builder with NextJS"
## This is:

- Question

Can we use webiny-app-form-builder with NextJS?

[2020-04-27 15:56] Pavel910 commented on #804
Hi @dhavalsoni2001, all our apps are built using our system of plugins, and you can't just grab one app and use it as a standalone piece within another application. So short answer is `no`.

On our feature page for [Form Builder](https://www.webiny.com/serverless-app/form-builder) you can see how Form Builder is a part of a larger [app development framework](https://www.webiny.com/serverless-web-d

[2020-04-27 16:15] doitadrian commented on #804
Hi @dhavalsoni2001,

I would just add a short comment to this.

As @Pavel910 mentioned, currently, it's not possible. But, with a couple of tweaks / minor additions, the feature you're asking could become available (we already have the standalone [Form](https://docs.webiny.com/docs/webiny-apps/form-builder/react-component) component).

PRs are always welcome, so if you're up for it, we could give

[2020-04-28 14:44] leandrofinger opened #806 "How to create a Page Builder theme?"
I'm trying to create a page builder theme to set a default style for the whole project. I've read the docs and I've tried to base it on app-page-builder-theme but I was not able to extract it from the monorepo and create my own repo. Is there a sample theme repo?

## This is:
- Question

[2020-04-28 14:50] doitadrian commented on #806
Hi @leandrofinger,

you can find the complete source code of the theme [here](https://github.com/webiny/webiny-js/tree/master/packages/app-page-builder-theme/src), from where you should be able to copy it into your project.

I know it's not ideal, but try it, and we'll see how we can optimize this.

@Pavel910 This could be a good addition to the CLI/scaffolding feature?

[2020-04-28 15:02] Pavel910 commented on #806
@doitadrian yeah sure, let's get back to this after the upcoming release, and we can start working on improving DX on this front :)

[2020-04-28 15:27] leandrofinger commented on #806
@doitadrian I've followed your suggestion copying the theme as a plugin, but it seems to ignore the scss file changes. I've added `import './styles.scss';` to theme index.js file. Is there something else?

[2020-04-28 15:43] doitadrian commented on #806
Could you maybe me give me a ping via [gitter](https://gitter.im/Webiny/webiny-js) so maybe you could share some sshots / code?

Thanks!

[2020-04-28 16:27] doitadrian commented on #806
Resolved.

The user did import his own `styles.scss` correctly, but the original import `@import "~@webiny/app-form-builder-theme/styles.scss";` (from the `apps/site/src/App.scss`) was still there. Once we removed that one, everything worked.

[2020-04-28 16:27] #806 closed

[2020-04-29 07:23] fengzaiku opened #807 "Project creation failed"
## Specifications

  - version:
node v12.10.0
npm 6.10.3
yarn 1.22.4
nvm 1.1.7

  - OS:
win10
  - Browser:

## Steps to Reproduce the Problem
1.npm -g install @webiny/cli
2.webiny create my-project

## Detailed Description

F:\factor-example\webiny>webiny create my-project

Webiny collects anonymous usage analytics to help improve the developer experience.
If you'd like to opt-out run webiny disab

[2020-04-29 07:27] Pavel910 commented on #807
Hi @fengzaiku, is there anything in yarn log file in the `my-project` folder?

[2020-04-29 08:21] fengzaiku commented on #807
my-project
    ├─api
    │  └─.serverless
    └─apps
        ├─.serverless
        ├─admin
        │  ├─handler
        │  ├─public
        │  │  └─favicons
        │  └─src
        │      ├─config
        │      └─plugins
        └─site
            ├─handler
            ├─public
            ├─src
            │  ├─config
            │  └─plugins
            └─ssr
This is the currently generated di

[2020-04-29 08:25] fengzaiku commented on #807
my-project
├─api
│ └─.serverless
└─apps
├─.serverless
├─admin
│ ├─handler
│ ├─public
│ │ └─favicons
│ └─src
│ ├─config
│ └─plugins
└─site
├─handler
├─public
├─src
│ ├─config
│ └─plugins
└─ssr
This is the currently generated directory

[2020-04-29 09:01] Pavel910 commented on #807
Unfortunately it's such a vague error, I can't really tell you anything useful :( The best we can do is wait for our next release; we're creating a new tool to bootstrap the project without global installations, and hopefully it will make it work for you.

I know it's not ideal, but there isn't much I can do without a proper error log, sorry.

[2020-04-30 04:05] fengzaiku commented on #807
I looked at the yarn log log file, but its contents were empty

[2020-05-01 07:45] fengzaiku commented on #807
I delete "@webiny/api-plugin-security-cognito": "latest" in pakage.json under the directory global template.Then, it was installed successfully.Finally I need to install it separately

[2020-05-01 07:45] #807 closed

[2020-05-01 10:44] Pavel910 commented on #807
@fengzaiku if you had `"@webiny/api-plugin-security-cognito": "latest"` it means the project creation was broken in the first place. Those `latest` version numbers are replaced with actual version of the packages on `npm` at the time of project creation.

I would recommend you to create a blank project from scratch as broken project setup can cause more problems down the line.

Let me know if you

[2020-05-01 14:38] fengzaiku commented on #807
First of all, thanks for the answer. I built it with "@webiny/api-plugin-security-cognito": "^3.0.2"

[2020-05-01 15:00] doitadrian commented on #737
Had to revert changes made in the PR, since it introduced another bug with displaying the menu items:
![image](https://user-images.githubusercontent.com/5121148/80815021-37dcdf80-8bcd-11ea-8899-c9e70396b310.png)

[2020-05-02 16:09] doitadrian opened #808 "Headless CMS - Create Installation"
As with any other app, we need to create the installation process.

Three things need to happen in the Headless CMS installation process:
1. Create the "Production" environment
2. Create the "Production" environment alias and link it to the "Production" environment
3. Create a default Content Model group, so users can immediately start adding content models into it.
4. Create appropriate security

[2020-05-02 16:21] doitadrian opened #809 "Headless CMS - close menu when selecting "Manage environments""
When you click on the "Manage environments" link in the Environment selector dialog, the page refreshes (because of dynamic imports) and the menu is reopened. Please check the video:

![ezgif-2-f756f89cf066](https://user-images.githubusercontent.com/5121148/80869546-7e9c0980-8ca1-11ea-815e-f267eeeb5b23.gif)

The menu should not reopen, it should close.

The fix should be somewhere at `packages/app

[2020-05-02 16:39] doitadrian opened #810 "Headless CMS - User menu not opening anymore"
For some reason, the menu in top-right isn't opening anymore.

The original behavior:
![ddown menu](https://user-images.githubusercontent.com/5121148/80870041-39c5a200-8ca4-11ea-890a-b9fa44e58d66.gif)

[2020-05-02 16:43] doitadrian opened #811 "Headless CMS - Rich Text Field"
Implement a rich text field, which will allow the user to enter, as the name already suggests, rich text. 🙂

[2020-05-02 16:45] doitadrian opened #812 "Headless CMS - create a standalone Icon Picker component"
We have the same component used in the Page Builder and Headless CMS.

To avoid c/p-ing code, let's just create a standalone `IconPicker` component in the `@webiny/ui` package.

[2020-05-02 17:38] doitadrian opened #813 "Headless CMS - Indexes"
With this feature, users will be able to select indexes for a content model, which will enable them to sort and filter data in a way they need it.

- [x] Create "Indexes" tab in the CM Editor

We decided indexes will be defined in a third tab, here:
![image](https://user-images.githubusercontent.com/5121148/80870336-0c79f380-8ca6-11ea-982f-13080b839a74.png)

This should list all existing indexes,

[2020-05-02 17:43] doitadrian opened #814 "Headless CMS - Merge "float" and "integer" fields into a single "number" field"
No need to have two separate fields. For now, let's just go with a single "number" field and later down the road we can adjust this if needed.

BONUS:
I totally forgot that we have the `graphql-scalar` plugin.  So while you're at it, please document it as well.

Just create a new entry here: https://docs.webiny.com/docs/api-development/plugins-reference

[2020-05-03 14:26] #810 closed

[2020-05-03 14:47] doitadrian opened #817 "Headless CMS - Ref Field"
Implement the Ref field, which will allow the user to reference other content.

Note: the API should already support this functionality, the majority of work should be required on the UI side.

[2020-05-05 15:02] doitadrian commented on #814
@Pavel910 For this one, we're gonna need a separate `Number` type for the GraphQL schema I'd say. It's either that or the user will have to select the number type in field options.

What do you think?

Some good info here - https://www.apollographql.com/docs/apollo-server/schema/scalars-enums/

Also, check this to see how you can add new scalars: `packages/graphql/src/createSchema/prepareSchema.ts

[2020-05-05 15:06] Pavel910 commented on #814
I think a custom scalar type for GQL is actually a good idea 👍

[2020-05-05 15:27] doitadrian opened #819 "Headless CMS - Docs - Update `graphql-context` to `context`"
This page contains `graphql-context`, which is now just `context`.

https://docs.webiny.com/docs/api-development/plugins-reference

Before releasing, let's make sure this is updated.

[2020-05-05 17:30] doitadrian opened #820 "Headless CMS - auto-focus "Label" field"
Once a user adds drops a new field, and a dialog is shown, let's automatically
![image](https://user-images.githubusercontent.com/5121148/81096326-798bc400-8f06-11ea-9512-ead2f0804167.png)

Note that this is not a regular input, but a `I18NInput`. So, we'll need to add `autoFocus` property to it (regular `Input` component already has this).

[2020-05-05 20:15] Pavel910 opened #821 "CRUD List item count"
After moving to cursor based pagination we no longer have a clear information about what "page" of data the user is looking at, because it's not possible to know with cursor based pagination.

However, we can cheat a little, and do it the same way Gmail, AWS Console, etc. do, by tracking current page in the app state, and at least provide the pagination information as long as the user stays on the

[2020-05-06 15:17] doitadrian opened #822 "Headless CMS - create "unique" validator"
![image](https://user-images.githubusercontent.com/5121148/81194258-ba461480-8fbc-11ea-86f8-75c5ca655316.png)

~A couple of things to do here.~

~### API~
~1. Make sure the `unique` can only be set for text fields. BTW, because of this, I think the `unique` should be a separate Commodo field (`packages/api-headless-cms/src/handler/plugins/models/ContentModel/createFieldsModel.ts:23`). Since it's a

[2020-05-06 15:18] doitadrian opened #823 "Headless CMS - copying of environments"
Once a user creates a new environment, a copy of all data must be made.

[2020-05-06 15:19] doitadrian opened #824 "Headless CMS - field validation"
Make sure validation works per-locale, both in the app and on the API side.

[2020-05-07 08:27] doitadrian commented on #808
We discussed the number 4, and decided to skip this one.

It's easy for the security app to create initial roles and groups, because it has access to all `Security*` models. Other apps don't have this, they'd have to use GraphQL in order to do it.

Anyways, since other apps don't have this also (which I just noticed), we decided to skip this one, and maybe revisit it later.

[2020-05-07 09:57] doitadrian opened #826 "Headless CMS - prevent removing fields"
If a user tries to remove a field in a content model, but there are already entries that have values for it, prevent the removal.

[2020-05-07 10:55] Pavel910 opened #827 "Headless CMS - fix dependencies reported by adio"
Run `yarn adio` in the root of the repo, and fix dependencies reported by the tool for each relevant package. This is mandatory before publishing packages to `npm`.

[2020-05-08 06:38] doitadrian opened #828 "Headless CMS - `createdBy` not resolved"
As we can see in the following screenshot, the ID is returned, but `firstName` and `lastName` not.

![image](https://user-images.githubusercontent.com/5121148/81378141-0e5d1000-9107-11ea-9bc9-f060a0b73f06.png)

The data exists in the SecurityUser entry:
![image](https://user-images.githubusercontent.com/5121148/81378229-36e50a00-9107-11ea-9a4b-af67635d65d6.png)

[2020-05-08 06:39] doitadrian opened #829 "Headless CMS - security scopes"
When creating new content models, users should be able to define which user in the system can edit which content models / entries.

We should probably generate scopes dynamically based on `modelId`, and wrap all resolvers with  `hasScope` function accordingly.

Just a high-level idea, didn't go into much details here though.

[2020-05-08 06:42] doitadrian opened #830 "Headless CMS - content view"
Created this issue just for better observability.

[2020-05-08 10:35] doitadrian opened #831 "Headless CMS - finish date field"
### Type selector
Date/Time picker can accept following types (`packages/api-headless-cms/src/handler/plugins/graphqlFields/datetime.ts:190`):
![image](https://user-images.githubusercontent.com/5121148/81398016-b6cf9c00-9128-11ea-95ed-a50fd8a4469b.png)

So, we should create a selector for this in the UI, and then make sure to render input components differently, depending on what was selected here

[2020-05-08 10:40] doitadrian opened #832 "Headless CMS - prevent deletion of content model if there are existing entries"
To achieve this, implement a check in the `beforeDelete` hook in `packages/api-headless-cms/src/handler/plugins/models/contentModel.model.ts:58`.

[2020-05-08 10:42] doitadrian opened #833 "Headless CMS - check AutoComplete component"
Started behaving weirdly in this branch.

Might be linked with the recent code change that was made in the component by me.

[2020-05-08 23:18] TommyJackson85 commented on #612
@tforster I am having this same error and when I run """sudo hwclock -s""" on mac terminal I get a "command not found" error. Do you know another way to fix this?

[2020-05-09 08:07] doitadrian commented on #830
Let's discuss the UI a bit and pick the right approach. I'm leaning towards version 2.1, but let's come to a decision together.

## Version 1
A simple copy of the page builder's UI:

![image](https://user-images.githubusercontent.com/5121148/81467345-5c8e1400-91d8-11ea-9f2f-37876dbb8740.png)

I just wanted to see how it'll look like. But yeah, definitely too crowded. Let's scratch this one.

## Ve

[2020-05-09 08:09] doitadrian commented on #830
Of course, if anybody has anything else to add, feel free to do so.

[2020-05-09 08:36] doitadrian opened #835 "Headless CMS - Enable storing multiple values (lists)"
C/P from https://github.com/webiny/webiny-js/issues/749:

Note that, not all fields can have this option. Text and ref fields are definitely good candidates. On the other hand, the boolean field is certainly not.

[2020-05-09 09:00] doitadrian opened #836 "Headless CMS - rendering fields through plugins"
Currently, rendering fields is hardcoded in the main `ContentModelFormRender` component: `packages/app-headless-cms/src/admin/components/ContentModelForm/ContentModelFormRender/index.tsx:43`.

Ideally, a user should be able to choose the right component that will render the field. So, let's try defining renderers through plugins. We will of course ship headless CMS with basic set of plugins / fiel

[2020-05-09 09:08] Pavel910 commented on #830
I like version 3 the most. That was also sven’s suggestion all along so let’s do that for v1.

[2020-05-09 09:08] doitadrian opened #837 "Headless CMS - prevent a couple of changes"
Ensure (double-check) the following cannot be changed:

- [x] modelId cannot be changed (name can be changed)
- [x] fieldId cannot be changed
- [x] Field type cannot be changed
- [x] #826

[2020-05-09 09:11] doitadrian commented on #830
I'm aware this was @SvenAlHamad's idea, just wanted to have all variants in front of us.

I'll let this one stand here until Monday, just in case anyone has anything to add, and in the meantime work on other pending issues.

[2020-05-09 09:16] Pavel910 commented on #830
Just wondering, what if we remove the title completely and just have the toolbar and inputs? Could you attach such a screenshot please?

That title seems redundant because there is an input with that same string right below it.

[2020-05-09 10:15] doitadrian commented on #830
Sure:

![image](https://user-images.githubusercontent.com/5121148/81470815-29a24b00-91ed-11ea-887b-e8dde06ec088.png)

Note that this content model has the `Title` field, but others might not have it. For example, if we were to create a `Customer` content model, that one might have `First name` and `Last name` fields instead of a single field that could  be considered as title.

---

Off topic: The

[2020-05-09 10:17] Pavel910 commented on #830
This actually looks good. Let’s hear other opinions @SvenAlHamad @EmilK15 @Ashu96

[2020-05-09 10:18] doitadrian commented on #830
Cool, I'd be interested what they think too.

We can create a poll later and take a vote.

I'll name this last version v4. :)

[2020-05-09 11:15] SvenAlHamad commented on #830
V4 has a good baseline, but I think we need to work on the toolbar.
1. From the UX perspective, version and language dropdown have the same interaction preference. There is no reason to have a different visual design between those two components.
2. Also, why have "current locale", and then not have "current version". So we either have the wording on both, or on none.
3. From the more practical pe

[2020-05-09 13:02] tforster commented on #612
@TommyJackson85 My issues were specific to WSL2 which is the native Linux layer in Windows and thus the Linux (Debian) command to resync. The Mac operating system is based on BSD Unix which predates Linux and is not Linux compatible.

In my specific case, there was an early bug in WSL2 that the clock was not being updated after the system was awoken from a sleep cycle. So WSL2 thought the date/tim

[2020-05-09 13:06] Ashu96 commented on #830
@doitadrian Version 4 looks good.
I agree with @SvenAlHamad feedback.
In regards to point 2: Personally I think the top toolbar should not have labels like `current locale` and `current version`

[2020-05-09 18:10] dhavalsoni2001 commented on #804
Hey, @doitadrian Definitely I would like to create PR for the same.  I am looking for your guidance on the same.

[2020-05-09 20:55] TommyJackson85 commented on #612
@tsforster As my issue is specifically related to doing a local setup for contributions, I am going to create a new issue report on mine. I need to check if I am doing everything correctly, i.e. to check if my environment variables are correct.

[2020-05-09 21:50] TommyJackson85 opened #838 "Setting up local environment for contributions fails at InvalidSignatureException: Signature expired"
## This is:

- Question

Might be related to closed [Issue 612](https://github.com/webiny/webiny-js/issues/612) but as this issue is related to Local Setups for Contributions and as I am doing this on a macbook I created a new issue. Issue 612 didn't help me.

Following the prerequisites and local setup on the [Contributions page](https://github.com/webiny/webiny-js/blob/master/CONTRIBUTING.md), I

[2020-05-11 08:24] doitadrian commented on #804
Hi @dhavalsoni2001,

thanks, will prepare a separate issue with some instructions for you, and then I'll notify you.

[2020-05-11 11:17] doitadrian commented on #830
Did **1** and **2**, still have to do **3**.

![image](https://user-images.githubusercontent.com/5121148/81554648-74f06100-9387-11ea-9e72-af6ca6b9fa58.png)

But I have another question now, it's regarding revision.

With content entries, you basically **don't publish** previous revisions, like you can do with Pages in the Page Builder app. This is because GQL schema always shows the latest content

[2020-05-11 11:46] dhavalsoni2001 commented on #804
Hey, @doitadrian Thanks. I am looking forward to it.

[2020-05-11 12:25] Pavel910 opened #839 "Add pagination data to CRUD lists"
After moving to cursor based pagination we no longer have a clear information about what "page" of data the user is looking at, because it's not possible to know with cursor based pagination.

However, we can cheat a little, and do it the same way Gmail, AWS Console, etc. do, by tracking current page in the app state, and at least provide the pagination information as long as the user stays on the

[2020-05-11 13:07] Pavel910 commented on #839
This is a duplicate of #821.

[2020-05-11 13:07] #839 closed

[2020-05-11 13:55] doitadrian commented on #820
I thought "it should be a 5-seconds fix".

I turned out it's not.

In the end, I managed to create a hacky solution, but overall it's not good and it should be revisited at later stages.

I left a comment in the code, hoping it might help someone later.
![image](https://user-images.githubusercontent.com/5121148/81569514-a83eea00-939f-11ea-8b11-8d11b086eead.png)

[2020-05-11 13:56] SvenAlHamad commented on #830
In terms of the updated image ... there is no reason for the language to be separated from the rest of the actions in the toolbar, again, it has the same "preference" level as other actions in there so there shouldn't be any differentiation.

As for revisions - we should still allow the user to publish an older revision in case it's for the same content model version. Otherwise, what would be the

[2020-05-11 14:00] Pavel910 commented on #830
I agree that we should be able to publish older revisions, and `New from current` is also handy.

Not sure about the language selector; to me it looks `ok` on the left side, it's immediately visible and is something that will be used more often than other actions on the screen.

[2020-05-11 14:11] doitadrian commented on #830
Okay we can try.

Just have in mind that, when publishing an older revision, you might publish a revision that had a certain field not-required at that point in time, and the new content model requires the value. This means that, even though you have the field it set as required, you might still get empty values while accessing data via GQL.

The same goes for other validators. For example, if you

[2020-05-11 14:15] Pavel910 commented on #830
Validators are not an issue. If there is no content - there is no content. It's up to the content editor to worry about that.

I'm not sure about having multiple drafts, as the `preview` API only loads `latest` revision, so if you have 2 drafts, only the latest will be retrievable by the API.

[2020-05-11 14:32] doitadrian commented on #830
Agreed with Pavel regarding the missing content. The same goes for cases where other validators are not satisfied (the min/max example mentioned above).

[2020-05-11 14:36] SvenAlHamad commented on #830
On the missing content - I believe this is also the expected behaviour from the user's/dev's side, so that shouldn't pose a problem.

As for multiple drafts - the improve the UX, on the revisions tab it would be great to add a "status" tag for "latest draft". So it's clear that this is the version which is visible in the preview API.

[2020-05-11 16:17] doitadrian commented on #830
Sounds good guys. 👍

[2020-05-12 10:19] doitadrian opened #840 "Headless CMS - hide fields in GraphQL schema"
Users can delete a field from content models only if the field wasn't used on an existing content entry already. Currently, we only disable the label if that's the case:

![image](https://user-images.githubusercontent.com/5121148/81672411-674fdf80-944a-11ea-91b5-ffc0996bc089.png)

But ideally, we would want to enable a user to disable the field if needed. This would only hide the field in the Grap

[2020-05-12 17:48] doitadrian commented on #813
This is the very beginning of the indexes UI. I'm sure there are things to adjust. I really did a raw version here, just so we can start discussing the UI ASAP.

## A) Indexes list

![image](https://user-images.githubusercontent.com/5121148/81726810-41e1c680-9488-11ea-87b6-693b7f1cb612.png)

1. Here we have a simple list of indexes. The only action that we offer here is the delete button. Why is t

[2020-05-12 18:24] Pavel910 commented on #813
@doitadrian the UI looks very clean to me, if we can get away with these checkboxes, I would try that. Alternatively, we could have a simple list with <Switch/> component.

Regarding index actions, I would NOT have the `edit` action. Simply having `create` + `delete` is much more straightforward.

The `active/pending` label, I don't really understand how you will track the index creation, and if y

[2020-05-13 00:12] cianx commented on #742
I just spent a bunch of time debugging this. The configuration was broken out of the box. The documentation and links on step 4 of the quickstart(https://docs.webiny.com/docs/get-started/quick-start/) are confusing as they point to a serverless page that is not relevent(since the serverless.yml is not pressent) and explicity state that AWS_PROFILE environment variable is not used ( which is false)

[2020-05-13 04:17] doitadrian commented on #813
Adding field types for checkbox labels = 👍

Regarding the rest... OK, let's go without active/pending.

What do you guys think about the confirmation/summary screen (the one shown after the user preses NEXT in the dialog)?

I mean, I wanted to create another confirmation dialog after submitting the first, but that would then mean we'd have two dialogs. The main one, and the confirmation one, which

[2020-05-13 05:15] Pavel910 commented on #742
Hey @cianx, AWS environment variables are set via the `<project-root>/.env.json`.
`serverless.yml` is located in the `api` folder and the `apps` folder. Since those are 2 distinct infrastructure stacks, each needs a separate config file.

Thanks for joining this discussion, it confirms that this IS an issue and is confusing to the users.
Our next release is almost ready and we'll address this issu

[2020-05-13 05:20] Pavel910 commented on #813
@doitadrian do we need the confirmation dialog at all? I guess it depends on `when` the index creation is initiated. Is it on `content model publish`, or `confirmation dialog submit`, or `content model save` ?

If it's not on `confirmation dialog submit`, then I don't think it's necessary.

[2020-05-13 06:37] Pavel910 opened #842 "Check node and yarn versions in CWP"
In `create-webiny-project`, in this file `packages/create-webiny-project/bin.js` we should perform checks for node version and yarn version. `node` should be `>= 10.14.0` and `yarn` must be `1.x`.

Copy the logic from here: https://github.com/webiny/webiny-js/blob/master/packages/cli/bin.js and adjust the messages.

[2020-05-13 11:15] SvenAlHamad commented on #813
For confirmation, we can use the Alert component?

Overall, the UI is simple and clean, it's gonna work nicely for v1.
In terms of the checkboxes, personally I don't mind them but if you have a more complex model it might be tricky. Although for v1, again, this looks fine.

What I would maybe add to this screen is a reference to a documentation article so the user understands how indexes work.

[2020-05-13 12:18] doitadrian commented on #813
Finally got the chance to respond...

@Pavel910

Yeah, now when I think about it, the save isn't happening until the content model is saved. You are right.

Still, I'm wondering about the best approach. I mean, let's do it, but at least, when indexes are altered in the indexes tab, once the save button is clicked, I would show a confirmation dialog, which would tell the user that he's about to upd

[2020-05-13 12:21] doitadrian opened #844 "Headless CMS - add link to the Indexes article"
Let's add a link to the "Indexes" article in this view (once we have the article of course).

![image](https://user-images.githubusercontent.com/5121148/81811459-f29da380-9524-11ea-8d39-8a78ca267886.png)

[2020-05-13 12:23] Pavel910 commented on #813
@doitadrian I honestly don't see the point of having an extra dialog. In the end, the user doesn't care, he just wants to modify indexes. I'm not sure what's the best UX. Also, you'll be editing indexes one by one, so having a confirmation dialog after adding each index is "slow" for the lack of a better word.

Maybe just having that `<Alert>` at the top of the index creation dialog is enough? `It

[2020-05-13 12:27] doitadrian commented on #813
Yeah, I wouldn't show multiple confirmations for multiple indexes. Just one dialog, that would show the user a summary of all updates that are about to happen, and of course the warning that it might take some time. It doesn't matter if user edited just one, or multiple indexes.

I would go with this dialog just so it really catches the user's attention, but if you think guys this is too much, we

[2020-05-13 12:30] doitadrian commented on #813
Just to be sure, this is the Save button I was referring to:
![image](https://user-images.githubusercontent.com/5121148/81812306-3b099100-9526-11ea-9ed2-b85570059e7f.png)

[2020-05-13 12:30] Pavel910 commented on #813
Ok I just realized you want to show this `summary` dialog on `Content model save`. Then it makes sense to me.

[2020-05-13 12:30] doitadrian commented on #813
Yeah, sorry if I didn't manage to explain it well. :)

[2020-05-14 08:48] Pavel910 opened #845 "Migrate .env.json to .env.js"
We want to migrate from JSON to JS files, since `env-cmd` library we're using supports both. The  benefits of having a JS file is:
- we can add proper inline comments to help users understand what's going on
- we can add logic to the file and generate ENV variables however we like
- we can also load variables from other sources because `env-cmd` supports Promises

[2020-05-14 12:26] SvenAlHamad opened #846 "Headless CMS - Rich text component - add support for images."
This is an issue placeholder. Initially, the Headless CMS rich text component won't support image. In one of the upcoming releases, we actually want to add this feature.
Detailed requirement TBD.

[2020-05-14 12:33] SvenAlHamad opened #847 "Headless CMS - GatsbyJS sample site"
For the upcoming release of the Headless CMS we want to provide a sample site with the most popular static site generator which is GatsbyJS.

We are looking to create an example GatsbyJS repo that uses Webiny Headless CMS GraphQL API. Example: https://github.com/GraphCMS/graphcms-examples/tree/master/with-gatsby

The example should be either a list of products with product details or maybe a blog

[2020-05-14 17:22] Pavel910 opened #849 "Headless CMS - Create an IndexCreator lambda"
We need an asynchronous index generation process, that will be triggered when you change indexes on a ContentModel.

If there are already thousands of records in the database, and you add a new index to the ContentModel, it will take some time to generate the entries in the Search table. We want it to be asynchronous, plus we may want to give more RAM to that function, so this will take care of th

[2020-05-15 11:11] doitadrian commented on #804
Hi @dhavalsoni2001,

sorry for the delay, just swamped with all kinds of tasks.

Anyways, I create a sample code repo which shows how you can integrate Webiny Form Builder into a simple React app.

https://github.com/doitadrian/react-app-webiny-form-builder

This is the most basic form of how to do it, so before doing any changes on the actual Form Builder package, I wanted to hear your thoughts o

[2020-05-16 05:34] doitadrian commented on #838
Conversation continued on https://community.webiny.com/t/invalidsignatureexception-signature-expired-error-when-running-webiny-deploy-api-on-my-macbook-terminal-in-the-examples-folder/225

[2020-05-16 05:34] #838 closed

[2020-05-16 18:25] doitadrian opened #850 "Headless CMS - File field"
The last field to implement - the File field.

Before we continue, a note:
 - CM => Content Model
 - FM => File Manager

Had an additional discussion with @Pavel910 regarding this one, and here is the summary. Basically, in the end, we're not sure if the File field should work directly with FM, or over a File CM entry.

### 1. Working directly with FM
Basically, when you add a File field onto the

[2020-05-17 07:50] Pavel910 commented on #850
@doitadrian Slept this one over and I think I have a simple and future-proof solution. So the idea is to go with 1) approach described in the issue, and let the 2) approach be handled in one of the following ways:

1) create an `Asset` CM during installation (as a default setup), that CM would have, for example, `title`, description` and `file` field (which would open FM).

2) let the user create

[2020-05-17 10:24] SvenAlHamad commented on #850
I would go for the first solution. The second one won’t have a good UX. In a way replacing 10 images is an edge case, not something that happens often.
Also if needed, can we add a “replace file” option into FM?

[2020-05-17 10:26] Pavel910 commented on #850
@SvenAlHamad we've already discussed file replacement back when we worked on FM, and unfortunately it is not an option.

As I mentioned in my comment, if somebody wants to be able to replace files, it's an edge-case, and he can create a separate `Asset` or whatever CM, and make it an intermediary.

[2020-05-17 15:42] doitadrian opened #851 "Headless CMS - add "Meta" tab in the content entry form"
This could show some basic information, for example `createdBy`, `createdOn`, `updatedBy`, `updatedOn`, ...

I've seen some systems call this tab "Info" as well.

![image](https://user-images.githubusercontent.com/5121148/82153048-6f9e8500-9865-11ea-996c-f99f139c7442.png)

[2020-05-17 15:44] doitadrian commented on #851
P.S. Seen some systems also have the Comments/Conversations tab too. Just mentioning it, might be useful for the future.

[2020-05-18 16:58] doitadrian commented on #830
Wanted to post this earlier, but got stuck fixing some bugs and decided to do some minor improvements too.

Anyways, this is the current state of the content entry form:

![content-entry-form-2](https://user-images.githubusercontent.com/5121148/82235780-7abfe680-9933-11ea-9f76-687ec829cee6.gif)

1 - No title, only actions in the header

1.1 - Regarding actions, it felt good having the locale selec

[2020-05-18 17:16] Pavel910 commented on #830
Looks great!

I personally like the language selector on the left. It's very prominent, and it's an action you will use very often. I also like that there is no extra title in the form, looks nice and clean.

Regarding `Create a new revision and save` - sounds fine with me, very explicit.

4) sounds like the right way to go.

Overall - this is great and I don't have anything to add.

[2020-05-18 17:23] SvenAlHamad commented on #830
I believe this is now in a good shape for the launch. Things can be improved, for example like, the user might not understand that “Save” saves all languages, and not just the current one. As well as we can add some indicators that the content was edited but not yet saved and similar ... but let’s leave those as upgrades for later. This version will suffice for now.

[2020-05-18 19:27] doitadrian commented on #813
Indexes tab:
![indexes-tab](https://user-images.githubusercontent.com/5121148/82250767-5fada080-994c-11ea-9c24-174f00428de9.gif)

1 - Before all, "Preview" tab and "Indexes" tab will show the not available message if no fields were added

2 - When you go to the "indexes" tab, by default, one index is already there. It's the "id" index which is automatically created for all content models, and enab

[2020-05-18 19:48] SvenAlHamad commented on #813
For me, this looks good for v1. One thing I might add is an info message to the indexes tab that indexes define how you can search and sort your results for this content model, and also provide a link to an article on docs.webiny.com. For us it’s clear what “indexes” are, but for a new user, it might not make total sense the first time they see this interface.

[2020-05-19 11:24] Pavel910 opened #853 "Headless CMS - CWP template for headless only"
We currently have a template for full setup of Webiny, but it would be great to also have a template that will setup just the Headless; just the necessary API resources + Admin app with headless plugins.

Package name would be `cwp-template-headless`.

[2020-05-19 12:02] doitadrian opened #854 "Headless CMS - Finalize Content View"
1. On the save button, use the following label accordingly "Create a new revision and save"
2. When you click on the publish button, the data should be saved and then published. In other words, you shouldn't have to strictly press save first, and then publish.
3. Publish button should be disabled if an entry is already published.

[2020-05-19 12:05] doitadrian commented on #813
Will add a short message, I think it's a good idea.

With that, the link sounds awesome. We created an [issue](https://github.com/webiny/webiny-js/issues/844) for that a couple of days ago, so once we have the article, we'll link it.

[2020-05-19 12:05] #813 closed

[2020-05-19 12:06] doitadrian opened #855 "Headless CMS - Finalize Indexes View"
Continuing from https://github.com/webiny/webiny-js/issues/813, here are a few things to finish before the beta-launch:

- [ ] Add a short text, describing what indexes are and what are they used for.
- [ ]  #844
- [ ] If an index contains a field that's about to be removed, warn the user / prevent deletion. Users must remove the index first.
- [x] Only show indexable fields in the indexes dialog

[2020-05-19 13:58] doitadrian opened #856 "Headless CMS - Rename "Headless CMS" to just "CMS""
Go through the code, folders, `resource.js` files, and other files and replace the "Headless CMS" with just "CMS" (preserve the case of course).

[2020-05-19 17:17] haberdashPI commented on #740
Frankly, I find this pretty disappointing. I don't see how wanting something that works on mobile and web out of the box prevents proper word wrapping: e.g. there can just be some screen-size threshold below which the images are arranged in separate rows: above that threshold, for larger screens, the text wraps around the image. I don't think I'll be using Webiny.

[2020-05-19 17:20] doitadrian opened #857 "Headless CMS - instead of refetching the list, update the local Apollo cache"
Recently, the backend logic was updated a bit, and in short, the index, which is queried to get the list on the left, is refreshed asynchronously.

![image](https://user-images.githubusercontent.com/5121148/82357404-5af8f300-9a05-11ea-9aa1-6677d3d0da23.png)

So, the problem occurs when a new entry is created, the data list is refreshed, and in some cases, the new entry still wouldn't be visible in

[2020-05-19 17:26] Pavel910 commented on #740
There are trade-offs in every approach. Everybody is welcome to contribute and help improve the product, that's the reason Webiny is open-source 🍾 🚀

At this point our focus is 100% on Headless CMS, and we might get back to this problem in the future, but so far, not many users reported this as a show stopper.

Anyhow, we'd be thrilled to see a proof-of-concept PR from the community!

[2020-05-20 07:59] doitadrian opened #859 "Headless CMS - missing field descriptions"
Although each plugin contains the description for the field, we don't show it anywhere. Maybe we could show a tooltip once a user hovers of the field?

![image](https://user-images.githubusercontent.com/5121148/82420830-8cfb6b00-9a80-11ea-8817-81416e7416ae.png)

[2020-05-20 08:01] doitadrian opened #860 "Headless CMS - Long Text Field"
Create the Long Text field.

The field will have some differences, when compared to regular Text Field, most notably, at this stage, the values won't be indexable.

[2020-05-20 08:12] doitadrian opened #861 "Headless CMS - enable predefined values"
Users should be able to predefine values that can be typed / selected.

[2020-05-20 16:16] Fsalker opened #862 "Headless CMS - creating a new environment results in a harmless error"
I've created a new environment, which resulted in this error:

![image](https://user-images.githubusercontent.com/16700631/82470350-e76ee880-9acd-11ea-8d60-a0db777b1af9.png)

However, the environment is usable and everything seems alright.

## This is:
- Bug

## Specifications
  - version: **feat/headless-cms** branch
  - OS: Windows 10
  - Browser: Chrome

## Expected Behavior
The error shouldn't

[2020-05-20 16:24] Pavel910 opened #863 "Headless CMS - Add a view with all API URLs"
## This is:
- Feature request

## Description
We need to have a place where users can find a list of all URLs to all APIs and environments. Or at least have it per-environment.

When I was using Contentful I was going nuts trying to construct the API URL. I want it to be accessible within 2-3 clicks at most. It can be a separate view, a Dialog, whatever. We just need to make it very easily accessi

[2020-05-21 10:45] jakubgs opened #864 "MONGODB_NAME is not enough to change DB name"
I'm trying to use MongoDB `SRV` and `TXT` DNS records to configure the cluster but I found out that I can't select the DB properly with just `MONGODB_NAME` and I have to modify `MONGODB_SERVER` for each env separately.

For example, this config does not work when trying to deploy it:
[code]
And fails with:
[code]
But this one does:
[code]
I have to specify the DB name in the `MONGODB_SERVER` URI f

[2020-05-21 14:33] kisg commented on #785
If you store every content in a single table like you propose, then you essentially loose the option to use a strongly typed database (like SQL), or you need to store every value in a generic "binary blob" or "string" field. Am I missing something?

Also, these tables will grow in size pretty quickly, because they store everything in one place.

I am also not sure why the separate search table is

[2020-05-21 15:38] tjrexer commented on #740
Actually, @haberdashPI, it is really a low priority, almost a non issue.  I just highlighted it for the Webiny team as I knew it could be an issue to some users, and so it can be addressed by the open source community.  Ruling out an excellent platform because it currently only implements one form of text wrapping is ridiculous.

If this is an important issue for you, then instead of being critica

[2020-05-21 15:44] jakubgs opened #868 "User doesn't exist even though it does"
## Bug

I've created a user via my admin account with full permissions but when trying to log in I see the "User doesn't exist" error like so:
![webiny_no_user](https://user-images.githubusercontent.com/2212681/82576642-34b09000-9b8a-11ea-9488-114d33dd21db.png)
But that's clearly not true because I can see the user in the Admin UI and in MongoDB:
[code]

## Specifications

* Version: `3.2.8`

## E

[2020-05-21 20:35] Pavel910 commented on #868
Hi @jakubgs, thanks for reporting! We'll investigate this and get back to you :)

[2020-05-21 20:38] jakubgs commented on #868
Happy to help you debug, I still have the infra up, so I can check things that you suggest.

[2020-05-22 06:30] doitadrian opened #870 "Headless CMS - enable setting default values for fields"
As the title says, sometimes you'll want to set default values for fields.

The tricky thing about this is that the UI for setting those needs to change based on the field settings. For example, if you've selected a text input, sure, a simple text input will do. But then, if you change the field settings - set the field as multi-value field, then, instead of simple text input, you'll need a dynami

[2020-05-22 06:50] doitadrian opened #871 "Headless CMS - pressing Esc closes the edit field dialog"
Clicking on this, shows the I18N overlay. Pressing escape, closes both the overlay, and the edit field dialog.

![image](https://user-images.githubusercontent.com/5121148/82639552-42592a80-9c09-11ea-9b9d-e7f65b203720.png)

[2020-05-22 07:57] doitadrian opened #872 "Headless CMS - better warning message"
When an environment is deleted, we should show a more serious warning messages, since all of the environment data will be lost.

![image](https://user-images.githubusercontent.com/5121148/82644976-72f19200-9c12-11ea-8cdb-5f4b403911e3.png)

[2020-05-22 08:06] doitadrian opened #873 "Headless CMS - Search Table indexes"
Somewhere in the installation or in the deployment process, we should create actual indexes on the database collection.

[2020-05-22 08:10] doitadrian opened #874 "Headless CMS - cannot erase first character in input field"
![image](https://user-images.githubusercontent.com/5121148/82646173-68d09300-9c14-11ea-86fe-b3b972212520.png)

[2020-05-22 08:14] doitadrian opened #875 "Headless CMS - warn users on locale removal"
Before confirming the I18N locale removal, let's warn the users about the potential data loss that might happen in the Headless CMS app.

This means that the I18N Locale removal should be interceptable/pluggable.

P.S. Thinking if some kind of special check / mechanism should be made on the API side as well. 🤔

[2020-05-22 09:56] Pavel910 commented on #868
@jakubgs just tried this, and the problem is that although the user does exist in the Database, it doesn't get created in the Cognito User Pool. When you go to login form, and try to login, first the browser communicates with Cognito - and it tells you that the user doesn't exist.

I'll investigate this further and release a fix when I figure out the problem.

Once again, thanks for reporting!

[2020-05-22 11:08] doitadrian opened #876 "Headless CMS - do not allow creation of index if field not existing"
We had a case where an index had a field that actually did not exist on the content model itself.

Prevent these kind of mistakes by implementing a `beforeSave` check.

[2020-05-22 11:12] doitadrian opened #877 "Headless CMS - Rich Text Editor for consumers"
For users that will be consuming the Headless CMS API, we'll need to expose a simple React component that will render the content of "rich text" fields.

Currently, the users just receive an object with all of the data / content, and they cannot do anything with it.

# Implementaiton details
We'll need to opt-out from importing the rich text editor from the `app-i18n` package, like the `app-form-b

[2020-05-22 11:41] #827 closed

[2020-05-22 11:41] #811 closed

[2020-05-22 11:41] #860 closed

[2020-05-22 12:28] doitadrian opened #878 "Headless CMS - add link plugin to Rich Text Editor"
Add it both to Form Builder and Headless CMS app's Rich Text Editor.

[2020-05-22 12:37] doitadrian opened #879 "Headless CMS - make basic documentation articles"
Create a basic set of information for non-developers, and create links in the Headless CMS UI.

[2020-05-22 15:43] SvenAlHamad commented on #863
Can we display this information on the environment screen in the admin area?

[2020-05-22 15:51] doitadrian commented on #863
Actually, these links that Pavel pasted are environment aliases.

So you would have to go to the environment aliases, to get these.

But somehow I have the feeling this is too buried, it would take a lot of effort for the user to reach these.

I was thinking something like this:
![image](https://user-images.githubusercontent.com/5121148/82685533-a6eda700-9c54-11ea-9632-7c7129583b37.png)

So we put

[2020-05-22 15:54] Pavel910 commented on #863
Or maybe even a dialog. So you have an icon, you click it - get a detailed dialog? Tooltip might look too crowded 🤔

[2020-05-22 15:55] doitadrian commented on #863
That's OK too, especially because you'd probably want to c/p these links, and with a dialog, we'll be able to put COPY buttons.

[2020-05-24 06:24] sunguru98 commented on #871
Firstly, may I know what is the intended result, and how should it happen?
P.S I still have no idea how to fix it, although I do have a lot of state change experience in React, hence may I take this to challenge myself haha?

[2020-05-24 15:25] Pavel910 opened #882 "Headless CMS - Access tokens and access control"
We need to define how we want to handle access tokens for CMS. We already have the scope/role and PAT system in place, but that is related to the main GraphQL API.

Since CMS has 3 APIs, we want to control access to `read` and `preview` using CMS Access Tokens, and access to `manage` APIusing the existing JWT and PAT mechanisms.

## Implementation
1) create a new CRUD module at `Settings -> Headle

[2020-05-25 09:54] Pavel910 opened #883 "Add a Role resource to use 1 role for all functions"
We need a component to deploy an AWS IAM Role.
Currently in our full setup we are creating 16 functions, which in turn create 16 IAM roles which are completely identical. Creation of roles alone takes 4.5 minutes.

By introducing our own component, we would  deploy 1 single role, and simply assign it to other functions, thus shortening the initial deploy process by 4.5 minutes!!!!

Our own compone

[2020-05-25 15:44] doitadrian opened #887 "Headless CMS - field names must not start with numbers"
This happens if you make a field that starts with a number.

![image](https://user-images.githubusercontent.com/5121148/82827411-4312ea80-9eaf-11ea-858f-d7e82f813f2a.png)

`modelId` must not start with number as well.

[2020-05-26 04:32] doitadrian opened #888 "Headless CMS - update Apollo cache instead of refreshing the list"
Sometimes, the list doesn't get updated correctly, because the search catalog is being updated asynchronously on the backend. Because of this, we must not rely on the list refreshing when an entry is created/updated, but we must update the Apollo cache manually.

![image](https://user-images.githubusercontent.com/5121148/82860622-822a5580-9f1a-11ea-9b75-50141835a38d.png)

[2020-05-26 04:39] doitadrian opened #889 "Headless CMS - fix indexes creation (API/Apps)"
- [ ] Fix label

Once an index is added, this here should say something more informative, like:

![image](https://user-images.githubusercontent.com/5121148/82860710-c9184b00-9f1a-11ea-9198-df1be472d3b3.png)

- [ ] Make sure once the content model is saved, the label gets updated with the time (so, it should look like the above "id" entry)

- [ ] For some reason, the "id" index gets recreated on ea

[2020-05-26 11:25] doitadrian opened #890 "Headless CMS - saving of "usedFields""
Currently, the actual update (call to the `save` mehthod) of `usedFields` is removed, because at one point in time it was causing issues.

Bring back this functionality.

[2020-05-26 11:53] doitadrian commented on #871
Sorry for the delay @sunguru98,  we were super swamped with our new BETA release. Since it's out, all of the further fixes need to be done in the `release-4.x` branch.

Now, regarding the issue...

When you click the icon on which the arrow is pointing to, a full-screen UI pops up, which lets you to enter different values for all of the available locales.

[2020-05-26 11:57] sundeep-charan commented on #871
Aww .. I see, pretty doable I think. So may I take up on this one, BTW, I also applied to webiny for the developer role, so this would be a good chance to prove myself.

[2020-05-26 11:58] sundeep-charan commented on #871
If you could assign my username on to the assignees' option that would be great @doitadrian

[2020-05-26 11:58] doitadrian commented on #871
Didn't expect that fast of a response 👍

[2020-05-26 11:59] doitadrian commented on #871
I'll provide more instructions in an hour/two.

Just to give you a general idea how it might be solved.

[2020-05-26 12:00] sundeep-charan commented on #871
Haha, pretty excited. One small question, I should be pushing this change onto the release-4.x branch right?

[2020-05-26 12:00] doitadrian commented on #871
Yeah, PR to that branch would be awesome.

[2020-05-26 12:11] #856 closed

[2020-05-26 12:11] #853 closed

[2020-05-26 12:12] #862 closed

[2020-05-26 12:18] SvenAlHamad opened #891 "Headless CMS - Welcome screen"
Create a welcome screen for when users first enter the admin area.

A welcome screen should contain:
- button to create a first content model/page
- access to Webiny community

[2020-05-26 12:23] SvenAlHamad opened #892 "Webiny install process - add the option to subscribe to the newsletter."
Reference: https://github.com/webiny/website/blob/master/src/components/footer/newsletter.js

[2020-05-26 12:38] #742 closed

[2020-05-26 12:58] Pavel910 commented on #892
@EmilK15 the UI should go in here:
`packages/app-plugin-security-cognito-theme/src/admin/views/InstallForm.tsx:35`
and the `onSubmit` callback needs to be implemented here `packages/app-plugin-security-cognito-theme/src/admin/index.ts:53`.

That will allow you to subscribe the user to the newsletter when the form is submitted.

[2020-05-26 14:33] sunguru98 commented on #871
Any advices on how to start the repo (backend as well as SPA)? .. Pretty unfamiliar and overwhelmed seeing all the other files haha.

[2020-05-26 14:36] Pavel910 commented on #871
Read this whole document:
https://github.com/webiny/webiny-js/blob/release-4.x/docs/CONTRIBUTING.md

And before deploying your API do just this DB setup step: https://next.webiny.com/docs/get-started/quick-start#2-setup-database-connection

[2020-05-26 15:18] SvenAlHamad opened #893 "Headless CMS - Date/time field crashes the editor"
When you drag&drop the date/time component into the content model editor it crashes the editor and a white screen appears.

The debug console shows the following error:
![image](https://user-images.githubusercontent.com/3808420/82918397-8e3f0300-9f6c-11ea-9de5-12949d489297.png)

This was tested on `beta.3`.

[2020-05-26 15:29] SvenAlHamad commented on #893
Note: the bug seems to appear only if you select "Date" as the format, for other types it works fine.

[2020-05-26 15:42] doitadrian commented on #871
Hey @sunguru98,

so, the I18N overlay I mentioned can be found here `packages/app-i18n/src/admin/components/I18NInputLocalesOverlay.tsx`.

In it, please try to utilize this lib: https://github.com/doitadrian/react-hotkeyz lib in order to capture the `Esc` key, and do what's necessary.

We've used the lib on several occasions throughout `app-*` packages, so you should be able to find some useful ex

[2020-05-26 17:32] #893 closed

[2020-05-26 19:39] sunguru98 commented on #871
Hi @doitadrian, I am currently stuck at a place where I have to deploy from the sample_project directory. After installing webiny-cli, I am facing the following error.
**Unknown arguments: deploy, api**. Any ideas?

[2020-05-26 20:01] Pavel910 commented on #871
@sunguru98 you don't need to install `webiny-cli` especially not that particular package name :)
`@webiny/cli` is present in the repository, in `packages/cli`, and all you need to do is run it using `npx webiny deploy ....`.

`npx` will resolve `webiny` to your `node_modules`.

[2020-05-26 20:15] sunguru98 commented on #871
Gotcha! Thanks for the assist @Pavel910

[2020-05-26 20:35] sunguru98 commented on #871
Here comes another roadblock lol. I have successfully deployed and the cli asked me to setup my user information by creating an account. Everything is done, and I am right now at the following page.
<img width="1440" alt="Screenshot 2020-05-27 at 2 03 08 AM" src="https://user-images.githubusercontent.com/32637757/82947798-3df09100-9fbe-11ea-87dc-723692ab7730.png">

My question is how should I exac

[2020-05-26 20:41] doitadrian commented on #871
Open Headless CMS app / Models section.

![image](https://user-images.githubusercontent.com/5121148/82948274-c90f5e00-9fa1-11ea-8ecd-e685378985b5.png)

Create a new entry by clicking on the green (+) sign button, located in the bottom-right corner.

Once you're in the Content Model Editor, dragging/dropping one of these fields should open the Field Settings dialog.

![image](https://user-images.gi

[2020-05-26 20:47] sunguru98 commented on #871
No words to express my thankfulness. Simply amazing @doitadrian. I will check it out right away.

[2020-05-27 11:47] sunguru98 commented on #871
@doitadrian, Apologies for the delayed reply. Status update: Still stuck in figuring out the codebase, and especially react-hotkeys examples are not clear enough, the z-index attribute is something which is not clear, I noticed that the PORTAL for i18n-inputs-locale-container is possessing the 2nd overlay and dialog container is possessing the Dialog component. I also figured out that EditFieldDia

[2020-05-27 14:19] doitadrian commented on #871
I feel you.

Basically, it behaves in theory like a standard z-index you might have already seen in the CSS world.

If you're on, let's say, `zIndex` 150, all shortcuts that were registered on lower z-indexes (e.g. 149) will not be triggered.

This is especially useful in cases like these, where you, for example, have a modal, which might have shortcuts on one `zIndex`, and then we are opening the

[2020-05-27 14:42] sunguru98 commented on #871
Phew!!! After 9 hours of scratching and swearing, I finally made it work. It literally boiled down to just three things, stop the propagation and close the dialog. The useHotkeys library's zIndex was a bit confusing. I thought it as the CSS's zIndex and tried to match it with the library's term. But it is working now. May I commit the changes from my side? @doitadrian  & @Pavel910.

[2020-05-27 15:03] doitadrian commented on #871
Thanks @sunguru98 .

I know, the docs for the lib are lacking :)

Yeah, please create a PR so we can make a review.

Thanks a lot!

[2020-05-27 15:03] sunguru98 commented on #871
I bumped the zIndex value all the way to 121 and checked it lol. I can change the value if you want.
The code is like this right now.
<img width="832" alt="Screenshot 2020-05-27 at 8 30 57 PM" src="https://user-images.githubusercontent.com/32637757/83037075-fff47b00-a058-11ea-8217-4b943c1deca5.png">

[2020-05-27 16:54] sunguru98 commented on #871
Awaiting for the merging haha.

[2020-05-27 17:02] #871 closed

[2020-05-27 18:31] endymion1818 opened #898 "Headless CMS - Bug in Safari on Mac"
## This is:
- a Bug
## Specifications

  - version: 4.0.0-beta.2
  - OS: macOS Catalina 10.15.4
  - Browser: Safari 13.1 (15609.1.20.111.8)

## Expected Behavior
I should be able to see the word "search" clearly and see the words I type

## Actual Behavior
Text is partially obscured

## Steps to Reproduce the Problem
1. Launch Headless CMS
2. Open in Safari
3. Observe issue, screenshot below

<img

[2020-05-27 19:43] sunguru98 commented on #889
May I take this as well? Just adding up my odds to the hiring process lol.

[2020-05-27 20:11] Pavel910 opened #899 "Admin app typography tweaks for RichTextEditor"
This is what the typography looks like now:

![image](https://user-images.githubusercontent.com/3920893/83067357-d7737d80-a066-11ea-8154-b1021642f177.png)

The file in question is `packages\app-admin\src\styles\typography.scss`. This task depends on the completion of Slate migration.

[2020-05-28 09:45] sunguru98 commented on #899
May I take this task? A little debriefing would do great, as I would love to code scss as well :)

[2020-05-28 09:46] sunguru98 commented on #898
If you could assign me, I shall look into it @endymion1818

[2020-05-28 10:06] doitadrian commented on #898
Go for it @sunguru98, I think this one is a bit more appropriate than the other one you mentioned the other day.

Let's see how this one will go.