[2020-05-29 09:09] Fsalker opened #901 "CLI doesn't suggest the correct API name"
If you want to deploy one of the api's lambda functions such as `cmsGraphQL` using `webiny deploy api cmsgraphql --env=dev", it won't work. The CLI doesn't really tell you anything either and it's rather cryptic.

This is because the deployed lambda function's name is case sensitive and you should use `webiny deploy api cmsGraphQL --env=dev` instead.

Our CLI should suggest the correct form. We co

[2020-05-29 10:42] #835 closed

[2020-05-29 11:10] #890 closed

[2020-05-29 12:21] SvenAlHamad opened #903 "Headless CMS - favicon missing"

[2020-05-29 12:33] EmilK15 commented on #891
![welcomeScreen](https://user-images.githubusercontent.com/9532882/83259987-fe28d580-a186-11ea-8bff-574c78adb053.png)

[2020-05-29 12:42] EmilK15 commented on #891
![welcomeScreen](https://user-images.githubusercontent.com/9532882/83260781-5ad8c000-a188-11ea-8c69-f263375cdd7e.png)
Dark mode version

[2020-05-29 12:47] EmilK15 commented on #891
![welcomeScreen2](https://user-images.githubusercontent.com/9532882/83261219-fd913e80-a188-11ea-91a7-70d208b65df1.png)
Similarly the bottom could be spaced out so its two community links per line like this

[2020-05-29 12:49] Pavel910 commented on #891
I think we should add a lot more context here, because out of the blue you're inviting people to create a Content Model, and they are in here for the first time. It's kinda confusing.

[2020-05-29 13:29] SvenAlHamad commented on #891
Thanks for the screenshot @EmilK15

I would add a few changes to the screen:
1. The font size on dark mode should also change. It should be white.
2. As for "Join us", please rename that into "Join our community:"
3. Let's have Slack (https://webiny.com/slack), Github (https://github.com/webiny/webiny-js), Medium (https://blog.webiny.com) and Twitter (https://twitter.com/WebinyPlatform) there.

[2020-05-29 13:30] SvenAlHamad commented on #891
Also agree on the what Pavel said - maybe just add some context to both the upper bit regarding the task of creating the first content model and the lower bit that people know that in our community they can learn, discuss and ask for help.

[2020-05-29 18:57] EmilK15 commented on #891
![image](https://user-images.githubusercontent.com/9532882/83295244-a73df300-a1bc-11ea-8a57-1a74cfabe393.png)
![image](https://user-images.githubusercontent.com/9532882/83295272-b329b500-a1bc-11ea-9c81-993916c43573.png)
Above are the new page previews with the added body text, fixed dark mode lighting, and links to Medium and Twitter pages.

[2020-05-29 19:20] #882 closed

[2020-05-29 19:36] #888 closed

[2020-05-29 19:54] Pavel910 opened #907 "Headless CMS - Access Tokens improvements"
Make the input a `CopyInput`, so we have that `copy to clipboard` button:

![image](https://user-images.githubusercontent.com/3920893/83299695-f7d24200-a1f6-11ea-85d7-d5549467dcf7.png)

[2020-05-29 19:57] Pavel910 commented on #891
@EmilK15 FormBuilder is one thing. Content Models are part of Headless CMS, and that's another thing.

From this text it sounds like in FormBuilder you're creating a Content model.

[2020-05-29 19:58] doitadrian commented on #891
I see we didn't mention it, but a link to the docs site might be useful here as well.

[2020-05-29 20:02] doitadrian commented on #891
I think additional formatting should be added here as well.

![image](https://user-images.githubusercontent.com/5121148/83300222-e9d0f100-a1f7-11ea-86cd-a54f8dc575a4.png)

We ended the sentence (1) with `:`, and then in a new line, we just started a new one (2 and 3).

Using list bullets might be a nicer approach here.

[2020-05-30 13:23] SvenAlHamad commented on #891
I had a think about this, and the main problem I had with this approach was that it won't work for when a user has multiple apps installed, i.e. headless + pb + fb. To solve that my idea is that each app can have a plugin to register it's own very simple widget to the welcome screen. I've created a mockup below. The plugin for registering widgets takes 3 parameters: title description and a CTA. Th

[2020-05-30 13:41] Pavel910 commented on #891
This looks great and is very easy to implement!

[2020-05-30 14:59] Ashu96 commented on #891
Agreed! Looks awesome :rocket:

[2020-05-30 19:22] Pavel910 commented on #891
@SvenAlHamad how is this layout achieved in the CSS/Grid context ,is this a 4+4+4, then if we have 5 widgets it breaks down into a new Grid Row, or is this a flexbox with fixed widget width which breaks itself and centers everything?

[2020-05-30 20:06] SvenAlHamad commented on #891
@Pavel910 the part with app widgets can be a simple flexbox where you have 3 boxes with a fixed width. This way even if you have more than 3  apps, flexbox will automatically push the remaining boxes into new rows, you don’t need to code that logic, flexbox css will handle it.

[2020-05-31 08:11] Pavel910 opened #909 "CWP template build utils"
We need to create a utility within each of the `cwp-template-*` packages, to copy the setup from `sample-project` so we don't have to do it manually.

We consider `sample-project` to be the source of truth, and `.adiorc.js` now also includes those packages when checking dependencies. Adding this script would ensure our CWP packages are in sync with the `sample-project` and project dependencies are

[2020-06-01 04:54] doitadrian opened #910 "Headless CMS - remove GQL filtering for `multipleValues` fields"
Fields with `multipleValues` enabled cannot be searched at the moment. That's why we don't need filters like these:

![image](https://user-images.githubusercontent.com/5121148/83377006-8354fa00-a3d4-11ea-8209-5d5bfa825193.png)

Check all fields, and remove dynamic creation of any filters if the field has `multipleValues` enabled.

P.S. We're gonna need to revisit this topic in the future.

[2020-06-01 05:37] doitadrian opened #911 "Headless CMS - file field - allow registering a custom file-type renderer"
Enable users registering custom file-field file-renderers.

We should allow easy registration of new file-type renderers via a simple plugin. So, if a user had a special file extension, and wanted to create a different file-type renderer for it, he should be able to do it.

[2020-06-01 07:57] Pavel910 opened #912 "Navigating away from PB Editor causes loss of last edited text"
All the details are described in this topic https://community.webiny.com/t/bug-text-block-not-updating/239/3.

We need to try blocking the navigation event, and let the Editor complete it's `save` operation before allowing the user to change routes (this includes clicking the in-editor Back button as well as the browser Back button).

[2020-06-01 08:51] SvenAlHamad commented on #907
I've also noticed that when I create a new token it shows up on in the list on the left side, but it says no environments, although I’ve assigned it an environment.

Can you add a description under the Token field -  "Token will be shown once you save the form” (only when you are creating a new token)

[2020-06-01 09:18] doitadrian opened #913 "Headless CMS - "multipleValues" renderer for Rich Text"
We need a renderer, so that users can enter multiple values with the Rich Text field.

[2020-06-01 09:18] doitadrian opened #914 "Headless CMS - "multipleValues" renderer for Date/Time field"
We need a renderer, so that users can enter multiple values with the Date/Time field.

[2020-06-01 12:49] SvenAlHamad opened #915 "Headless CMS - NextJS Guide"

[2020-06-01 16:33] Pavel910 opened #917 "Headless CMS - RichText - Paste HTML from external sources"
Currently you can either paste "text" or do "Paste as plain text". HTML data is not being handled. Would be nice to handle external data and paste it as plain text no matter where it comes from.

[2020-06-01 17:43] #850 closed

[2020-06-01 19:19] EmilK15 commented on #891
![image](https://user-images.githubusercontent.com/9532882/83445604-43fdcc00-a41b-11ea-8c6f-9fdf2af17889.png)
![image](https://user-images.githubusercontent.com/9532882/83445626-4cee9d80-a41b-11ea-8952-04a5d2075e76.png)
Latest look and feel for the welcome page

[2020-06-02 09:00] SvenAlHamad commented on #891
@EmilK15 almost there, two small bits to be corrected:

1. The padding inside the app box needs to be bigger, set it to something like 20px (see the arrow in the image)
2. The grid is not aligned correctly between the upper bit and lower bit. I suggest adjusting it by tweaking the width or the margins.

![83451786-8b895580-a425-11ea-95ab-2aaab2602eef](https://user-images.githubusercontent.com/3808

[2020-06-02 09:02] Pavel910 commented on #891
And if you don't mind, I'd put those button icons left of the text, the `Documentation` and `Code examples`. It would look a lot cleaner that way.

[2020-06-02 09:44] SvenAlHamad opened #918 "Form Builder - ToS Checkbox label style needs correction"
The ToS checkbox button in the Form Builder seems to be displayed off centre from the checkbox.

![image](https://user-images.githubusercontent.com/3808420/83505585-e53d5e80-a4bd-11ea-816d-b1868990efb9.png)

[2020-06-02 09:53] #892 closed

[2020-06-02 09:54] Pavel910 commented on #918
I'll check this right now.

[2020-06-02 12:45] Pavel910 opened #920 "Update https://docs.webiny.com/docs/webiny/introduction/"
Review the whole article and update the tech-stack, etc.

[2020-06-02 13:15] #861 closed

[2020-06-02 14:48] EmilK15 commented on #891
![image](https://user-images.githubusercontent.com/9532882/83534158-7f9da200-a4be-11ea-943a-3d686ba656ba.png)
![image](https://user-images.githubusercontent.com/9532882/83534216-904e1800-a4be-11ea-9e22-c99c622c08f6.png)
Latest screenshots with those revisions you mentioned

[2020-06-02 14:50] #891 closed

[2020-06-02 16:02] #918 closed

[2020-06-02 16:17] EmilK15 opened #924 "Headless CMS React Guide"
For users that want to integrate with out headless CMS API, we should create a Guide for them to use for React.
## This is:

- Feature request

[2020-06-02 16:33] Pavel910 commented on #924
@SvenAlHamad what exactly is this issue about? @Fsalker will be doint `nextjs` I guess, so what should @EmilK15 do here?

[2020-06-02 17:05] SvenAlHamad commented on #924
Plain React, something like this:
https://strapi.io/blog/build-a-blog-with-react-strapi-and-apollo

[2020-06-02 17:33] #878 closed

[2020-06-03 07:54] Pavel910 opened #925 "Add apps stack hooks to print a more informative message"
Add `apps` deploy hooks to print a friendlier message to the user. Currently it looks like this:

![image](https://user-images.githubusercontent.com/3920893/83610705-2dbd5080-a580-11ea-82bb-2960c211463e.png)

[2020-06-03 09:06] #907 closed

[2020-06-03 11:15] #903 closed

[2020-06-03 19:11] EmilK15 opened #927 "Adding a Security User workflow is unclear"
## This is:
- Bug
## Expected Behavior
When you land on the page it seems like you need to click on this:
![image](https://user-images.githubusercontent.com/9532882/83678787-48a5ba00-a5ac-11ea-8559-c39e31c52df7.png)
## Actual Behavior
But clicking the button does nothing (see above)
## Possible Solution
Either the button creates a popup of the form to create a user (consistent with the rest of the

[2020-06-04 01:20] doitadrian opened #928 "Headless CMS - creating Ref field - only allow "valid" models to be chosen"
For the ref field, if a model that has no fields was selected, the whole GraphQL API breaks, because the GQL field is referencing the type of linked model.

And, the type for the linked model doesn't exist at all in the schema because it has no fields.

![image](https://user-images.githubusercontent.com/5121148/83704490-82a9a700-a612-11ea-958a-a2d945095847.png)

Then:

![image](https://user-images

[2020-06-04 01:25] doitadrian opened #929 "Headless CMS - Ref AutoComplete Warning Message"
If a model is referencing other model, and that model doesn't have a title field, then, the Ref AutoComplete component in the content form won't work, because it's doing searches by the title field.

Let's show a warning message or something, just so the view doesn't break and the user knows why he can't use the field.

[2020-06-04 01:31] doitadrian opened #930 "Headless CMS - date/time field - do not allow change of date/time type"
If data exists, we cannot change the type of data stored.

Throw an error if the user tries to change it on the API side. On the UI, disable the select input.

[2020-06-04 01:33] doitadrian opened #931 "Headless CMS - ref field - do not allow model change"
When editing ref field, prevent changes on the linked model type. If data exists, changing this would break the API.

On API, throw an error if user tries to change this.
On UI, disable the select input.

[2020-06-04 09:02] #437 closed

[2020-06-04 11:48] #920 closed

[2020-06-04 12:29] EmilK15 commented on #924
I believe my plan so far is to create a E-Library system example.
Basically just a way to create a Group called Library, add a Content Model named Book with the following fields:
IBSN, title, img, description.
And then have the React application pull that from the GraphQL interface

[2020-06-04 12:55] #817 closed

[2020-06-04 13:03] #876 closed

[2020-06-04 14:32] doitadrian opened #933 "Headless CMS - Rich Text editor - minor padding issue"
Small, but noticeable. :)

![image](https://user-images.githubusercontent.com/5121148/83770105-f71b2f00-a680-11ea-94f1-4916fb0510b0.png)

[2020-06-04 14:35] doitadrian opened #934 "Headless CMS - if type not selected, no validation error message"
When I press save, nothing happens if I didn't select a type here. We should have a validation error beneath the input.

![image](https://user-images.githubusercontent.com/5121148/83770438-5aa55c80-a681-11ea-940b-3cb218dd8b75.png)

[2020-06-04 18:02] doitadrian opened #936 "Headless CMS - handle incorrect API URLs"
Accessing an invalid URL, like the following...
```https://dugilt40hnfag.cloudfront.net/cms/reXYZad/5ecbedb4e78b2b00082b8b63```

...causes the following error to be thrown:
![image](https://user-images.githubusercontent.com/5121148/83794390-3efc7f00-a69e-11ea-9ba2-e4f3d02e7c7a.png)

[2020-06-04 18:03] EmilK15 commented on #924
Put some simple styling for a Library of fantasy novels:
![image](https://user-images.githubusercontent.com/9532882/83794483-15c2fb00-a66c-11ea-8977-bf5555c69d09.png)
I think the file not found is due to how I setup my server. I'll be doing this again with a fresh project, but wanted to complete the skeleton of this library application first

[2020-06-04 18:04] doitadrian opened #937 "Headless CMS - prevent deletion of title-field index"
By default, an index that contains only the title field is always automatically created.

Let's prevent the deletion of it, and force the user to choose another title field first.

Why?

Because, if a user deletes the title-field index, all autocomplete searches will immediately stop working. These components use the title field index in order to perform auto-completion.

[2020-06-04 18:23] doitadrian commented on #924
I like the theme, "fantasy novels" too, great job!

The only thing that's a bit awkward for me are the colors. I really somehow have a feeling that I'm looking at a web page that was created in 2005. :)

Maybe we could play with the colors a bit, what do you think?

BTW I really like this site: https://coolors.co/generate

It basically creates a set of colors that play well together. Maybe you'll

[2020-06-04 18:27] doitadrian opened #938 "Headless CMS - prevent deletion of models that are linked"
Imagine we have two CMs - `A` and `B`.

`B` has a ref field, that links modes of type `A`. That means that in the GraphQL schema, it will use the `B` type.

Now, if we delete `B` type, the GraphQL schema will immediately become invalid, simply because there is no `B` type.

We must prevent deletions in this case.

[2020-06-04 18:30] doitadrian opened #939 "Headless CMS - inspect the title missing error"
A `TODO` was left here:

`packages/api-headless-cms/src/content/plugins/graphqlFields/text.ts:66`

Basically, when creating a new entry, and if there is no title, the `field` in the `value` function is undefined. We need to check at the Commodo level what is going on, and why an invalid value is sent here.

[2020-06-04 19:43] EmilK15 commented on #924
Yea I put a color palette so it wouldn't look super awkward to start. I've used coolers before too.
Usually I integrate scss into the application so the primary/secondary/tertiary are completely up to the user, but I didn't want to add another layer of complexity to the project. It should just be, if you are using React, this is how easy it is to integrate with our Headless CMS.
I'll take a look i

[2020-06-04 23:55] doitadrian opened #940 "Headless CMS - ref field (multipleValues) - respect ordering"
When saving a list of ref content entries, the order is not preserved.

We should _probably_ add a simple "order" field into the `Entries2Entries` aggregation model.

[2020-06-04 23:59] #934 closed

[2020-06-05 05:21] #874 closed

[2020-06-05 10:27] asashay commented on #798
I'd like to handle this one

[2020-06-05 10:29] Pavel910 commented on #798
@asashay Great, I'll assign you to this issue. Btw. I'm sorry I didn't get back to you yet, we were busy with the new launch. I'll take a look at that deploy issue you were having. Did you, by any chance, manage to deploy the whole system ?

Also, branch off the `develop` branch for this issue :)

[2020-06-05 10:32] asashay commented on #798
@Pavel910 No worries, it was for the better. I pulled the latest code from `master` and deploy went smoothly. Think you don't need to bother (unless someone else experienced it as well)

[2020-06-05 10:33] Pavel910 commented on #798
Glad to hear that! :) Ok then, let us know if you need help with this issue! 🚀

[2020-06-05 11:30] doitadrian opened #942 "Headless CMS - use `latest` commodo"
Currently, we are relying on `next` tag.

Release all Commodo packages via the `latest` tag, and update versions across the whole project.

[2020-06-05 11:31] doitadrian opened #943 "Headless CMS - fields unlock"
When a user deletes all entries, unlock all of the fields in the content model.

[2020-06-05 11:32] doitadrian opened #944 "Headless CMS - check `if` statements and remove in necessary"
The statements can be found at `packages/api-headless-cms/src/content/plugins/utils/createDataModel.ts:110`

[2020-06-05 12:04] jevgen opened #945 "Deploy option for Yandex.Cloud"
There is no AWS in Russia. For local compliance, data ad its collection has to sit in Russia. Would be nice to have a deployment option for Yandex.Cloud

## This is:
- Feature request

[2020-06-05 12:07] Pavel910 commented on #945
Hi @jevgen, thanks for the information and your request. Currently we're pretty much focused on AWS only, but we do ideally want to deploy Webiny on other clouds as well.

Hopefully we'll be able to pull this off in the future! 🍻

[2020-06-05 15:03] chrisVillanueva opened #946 "Storybook failure on Ubuntu 18.04.4 LTS"
## This is:

- Bug

## Specifications

  - version: 4.0.2
  - OS: Ubuntu 18.04.4 LTS
  - Browser: Chrome

## Expected Behavior

Developer should be able to run `yarn webiny-ui-build-storybook` to see all currently available components in storybook.

## Actual Behavior

Developer runs `yarn webiny-ui-build-storybook`  and receives error in terminal.

## Steps to Reproduce the Problem

1. Pull webin

[2020-06-05 15:50] Pavel910 commented on #946
Hi @chrisVillanueva!

Just to make sure, did you setup the repo according to instructions? The key here is to have all packages built before starting any apps (storybook included).

So make sure you run `yarn build` in the root of the repo, so all TS code is built.

In the meantime, you can find the storybook on https://storybook.webiny.com/.

Let me know how the build process goes.

[2020-06-05 15:53] Pavel910 commented on #946
Oh btw. what you're trying to do is `build` storybook, not start it. To start the storybook locally, you need to do:

[code]

[2020-06-05 16:02] Pavel910 commented on #946
Trying to run this on Windows, and I'm seeing same error as you do. I'll let you know when I push the fix to the repo.

[2020-06-05 16:04] chrisVillanueva commented on #946
@Pavel910
Thanks for your quick responses. I appreciate it.

I updated my origin bug to include `yarn build`.  You're correct.  That step needs to occur.  I did `yarn build` initially.

I appreciate your attention on this matter. This looks like an awesome project! I would like to be more involved here.

[2020-06-05 16:19] chrisVillanueva commented on #946
Thanks for the suggested. I followed these steps and it produced this error:

[code]

I think root cause is the initial bug I noticed.  The `Accordion` component is missing.

[2020-06-05 16:42] Pavel910 commented on #946
@chrisVillanueva I fixed this. You need to:

1) pull the `develop` branch
2) run `node scripts/linkPackages`
3) `cd packages/ui && yarn storybook`

Done! :)

[2020-06-05 17:10] Pavel910 commented on #945
@jevgen do you know what is Yandex's alternative to AWS API Gateway and CloudFront? Those are the 2 missing pieces I can't seem to figure out.

[2020-06-05 18:04] chrisVillanueva commented on #946
That worked.  Thanks.

![webinyAccordionFix](https://user-images.githubusercontent.com/1554280/83908673-82ee9300-a735-11ea-8c12-c4bcbce69240.png)

[2020-06-05 18:04] #946 closed

[2020-06-05 23:40] boyuan459 opened #947 "api cmsContent error: commodo.withStorageName is not a function at createDataModel"
## This is:

- Bug

## Specifications

  - version: develop branch
  - OS: MacOS Catalina version(10.15.1)
  - Browser:

## Expected Behavior

no error for withStorageName

## Actual Behavior

there are errors in cloudwatch as follow:
INFO	[@webiny/handler-apollo-server] An error occurred:
{
    "requestContext": {
        "resourceId": "vjs1rs",
        "resourcePath": "/cms/{key+}",
        "htt

[2020-06-06 03:15] doughnet commented on #650
agree this would be good.

i was going to try out webinly CMS but after the complexity of setting it up I'm staying away until a proper installation is provided.

[2020-06-06 06:22] Pavel910 commented on #650
@doughnet Would you care to clarify which part of the setup you find complex? Thanks!

[2020-06-06 07:04] Pavel910 commented on #947
@boyuan459 actually the semver range is fine here, you don't have to change the versions, just install new packages, delete your `yarn.lock` and do `yarn` again, and it should pull the latest available versions.

If that doesn't help then we can update the versions numbers, sure, but it's not necessary.

If you'd like to change the package versions, feel free to send a PR with the updated versions

[2020-06-07 00:51] tomyun opened #950 "Can't install Security app"
## This is:
- Bug

## Specifications

  - version: 4.0.2
  - OS: macOS 10.15.5
  - Browser: Chrome 83

## Expected Behavior

Security app should be installed after an admin user is created.

## Actual Behavior

An error message shows up saying:
[code]

## Steps to Reproduce the Problem

1. Following a [Quick Start](https://docs.webiny.com/docs/get-started/quick-start) guide to install webiny (eith

[2020-06-07 06:28] Pavel910 commented on #950
Hi @tomyun, thanks for reporting. We had 2 other reports of this issue, and we're investigating. So far, we were unable to replicate this. It has to be some special set of conditions which trigger this behavior. I'll get back to you when we figure this out.

Cheers!

[2020-06-07 07:39] Pavel910 commented on #950
@tomyun we finally managed to replicate this - it's only happening for passwords shorter than 8 characters 😆 Such a stupid oversight on our side. Just use a password of at least 8 character, and it will be ok.

We'll fix this immediately and release in the following days with other bunch of improvements.

[2020-06-07 07:44] Pavel910 commented on #868
@jakubgs sorry for taking this long, we were overwhelmed by preparations for the new launch. Also just this morning we managed to figure out what the problem is thanks to several of our community members: just use password at least 8 characters long 😆

What an oversight on our side 🤦 We'll handle the validation on that password field ASAP.

Cheers!

[2020-06-07 14:16] doitadrian opened #951 "Headless CMS - enable max-file-size adjusting"
Users should be able to change the max file size that can be uploaded.

This can be done in the `resources.js`, via the `UPLOAD_MAX_FILE_SIZE` param, but this only adjusts it on the API side. The default value set there is 25MB.

The client still enforces the 10MB file size limit.

So, we should do two things:
1. Increase the limit on client side to at 25MB.
2. Enable adjusting this via the user i

[2020-06-07 16:17] icy-meteor opened #952 "Unable to convert multiple lines to code block in Rich Text Editor"
Multiline content in rich text editor is treated as a separate entity for code block.

## This is:
- Feature request
- Bug

## Specifications

  - version: 4.0.2
  - OS: macOS Catalina 10.15.5
  - Browser: Brave Version 1.9.76 Chromium: 81.0.4044.138 (Official Build) (64-bit)

## Expected Behavior
Allow to select multiple lines into a single code block.

## Actual Behavior
Each line becomes a sepa

[2020-06-07 16:23] icy-meteor opened #953 "Color of text in Rich Text Editor is black in dark mode"
The color of input text in rich text editor is black in dark mode. It should ideally be white.

## This is:
- Bug

## Specifications

  - version: 4.0.2
  - OS: macOS Catalina 10.15.5
  - Browser: Brave Version 1.9.76 Chromium: 81.0.4044.138 (Official Build) (64-bit)

## Expected Behavior
The text should be of a lighter color, maybe white.

## Actual Behavior
The text appears dark in dark mode.

#

[2020-06-07 16:24] icy-meteor commented on #917
Yes, this is good to have feature down the line.

[2020-06-07 16:26] icy-meteor commented on #877
@Pavel910 Can this not be parsed by the slate logic that you were talking about?

[2020-06-07 16:54] Pavel910 commented on #877
@icy-meteor It can, absolutely. You can ignore this issue, it's more of `being evaluated` than actually something we'll implement.

[2020-06-08 08:32] Pavel910 opened #956 "Check .gitignore file and include .webiny and .env.json files"
## This is:
- Bug

## Expected Behavior
When a project is created, we should have `.webiny` and all `.env.json` files in the `.gitignore` file.

[2020-06-08 09:12] Pavel910 opened #957 "Settings menu items visible to unauthorized user"
## This is:
- Bug

## Expected Behavior
When creating a new user without any access permissions (no roles assigned), the user should not see menu items under Settings menu.

## Actual Behavior
The user is able to see the whole Settings menu, but when clicking on a menu item it renders a `Not Authorized` view.

![image](https://user-images.githubusercontent.com/3920893/84012893-89208180-a978-11ea-8

[2020-06-08 11:02] #773 closed

[2020-06-08 11:16] #857 closed

[2020-06-08 12:55] doitadrian commented on #863
Add CMS links in environments and environment aliases views.
Also add it in the Access Tokens form.

[2020-06-08 13:33] jmrapp1 commented on #822
@doitadrian Im wondering why you decided to specify this as it's own field on the form-field itself. I'd argue that this would really act better and be more extendable as an additional validator option

[2020-06-08 13:35] doitadrian commented on #822
You are right, this will be a separate validator. :)

On Mon, 8 Jun 2020 at 15:34, Jon R <notifications@github.com> wrote:

--
Adrian S.

[2020-06-08 14:37] jcode-hub opened #960 "AWS CodeBuild returns build succeeded when it's failed"
## This is:

- Bug

## Specifications

  - version: cwp-template-full@4.0.2
  - OS: Ubuntu 19.10
  - Browser: Version 1.9.76 Chromium: 81.0.4044.138 (Official Build) (64-bit)

## Expected Behavior
I use AWS CodeBuild to deploy webiny. My deployment role is missing some permissions so the deployment fails with `...is not authorized to perform: iam:GetRole on resource: role ...` however codebuild wi

[2020-06-08 14:55] Pavel910 commented on #960
@jcode-hub nice find, to be honest we never tried CodeBuild. This is a great opportunity to do that :) I'll give it a try myself (thanks for the instructions) and get back to you.

[2020-06-08 15:10] EmilK15 commented on #924
See this PR: with the corresponding tutorial: https://github.com/webiny/docs.webiny.com/pull/117

[2020-06-08 15:44] doitadrian opened #961 "Page Builder - simplify domains management"
We've noticed users are struggling a bit with this concept of apps running on different localhost domains.

The first instance where they're actually asked to do something with the domain is in the Page Builder installation process, where they need to type in the domain on which their site is running.

This is really something we want to hide from them, as it's not easy to grasp. So, in the page b

[2020-06-08 15:52] doitadrian opened #962 "Page Builder - updating domain in PB settings doesn't get immediately reflected in the rest of the app"
Basically, once you update the domain in PB settings, the change should be immediately reflected in the rest of the Page Builder.

Currently, if you update the settings, and open the Page Builder editor, and click on the Preview button, the old domain would still be used. It would only work if the user refreshed the whole page, which is, of course, not a solution.

Make sure everything works immed

[2020-06-08 15:59] doitadrian opened #963 "Webhooks App"
We need an app that enables the user to manage webhooks.

We can check GitHub webhooks for examples / best practices as it seems they've got it figured out :)

[2020-06-08 16:06] Pavel910 opened #964 "AWS resources not always removed"
## This is:
- Bug

## Expected Behavior
When I run `webiny remove api --env=local` all AWS resources are removed (with the exception of S3 bucket).

## Actual Behavior
API Gateway for some reason is not removed. This is only happening on instances of sthe stack that was in use for some time. If I just run `deploy` and then `remove` - everything is removed correctly.

[2020-06-08 16:16] doitadrian opened #965 "Headless CMS - in content models view, add link to the actual content"
We already added `VIEW CONTENT` button in the content model editor, which leads the users immediately to the content view.

We should also have the same in content models view.

From the feedback sessions:

[2020-06-08 16:19] doitadrian opened #966 "Headless CMS - Add Publish / Save & Publish buttons"
Instead of a single "Save" button in the form footer, let's remove the footer completely, and move the button to the right side in the form header. We'll call it "Save", the label doesn't change. But we'll also add another button, called "Save and Publish", which will do just that.

This will significantly improve the UI.

P.S. The rest of the actions in the header will be moved to the left side.

[2020-06-08 16:22] doitadrian opened #967 "Headless CMS - ADD image / image gallery fields"
Adding these fields might make it easier for users who are looking just that, as "File" filed might not be that obvious.

It's possible to copy the file field and make necessary adjustments.

[2020-06-08 16:24] doitadrian opened #968 "Headless CMS - add searching of content"
Users need to be able to search for content via this search bar:
![image](https://user-images.githubusercontent.com/5121148/84055455-26011000-a9b5-11ea-9a8a-9ab4e6053422.png)

https://docs.webiny.com/docs/webiny-apps/admin/development/header

[2020-06-08 16:27] doitadrian opened #969 "Headless CMS - Ref field - show latest 10 entries"
When having a ref field in the content form, let's immediately give 10 options to choose from in the autocomplete/multi autocomplete.

![image](https://user-images.githubusercontent.com/5121148/84055829-a889cf80-a9b5-11ea-8f36-4becda89d547.png)

[2020-06-08 16:30] doitadrian opened #970 "Headless CMS - Rich Text Editor Max Height"
Let's set a max height on the editor, so that the editor doesn't expand too much, and toolbar icons don't get invisible.

With this issue, we could probably also solve this one: https://github.com/webiny/webiny-js/issues/933

[2020-06-08 18:49] Pavel910 opened #972 "AccordionItem unmountOnExit causes problems with Forms"
## This is:
- Bug

## Description
When I'm showing/hiding Accordion items, Form's <Bind> elements get unmounted leading to errors on Form submit.

## Steps to Reproduce the Problem
1. Start `admin` app
2. Go to User's Account form
3. Expand the `Bio` accordion item
4. Collapse the `Bio` accordion item
5. Click `Update account` button to submit the form

## Possible solution
This is most likely cau

[2020-06-09 05:10] #951 closed

[2020-06-09 07:16] Pavel910 commented on #960
@jcode-hub found the problem, will be fixed in the next update. Here's the command status output with the fix applied:

![image](https://user-images.githubusercontent.com/3920893/84117470-dc0a3f80-aa31-11ea-9a3a-b8eb89566a51.png)

Cheers!

[2020-06-09 07:17] jcode-hub commented on #960
@Pavel910 great! thanks for looking into this!

[2020-06-09 07:51] #756 closed

[2020-06-09 07:51] #761 closed

[2020-06-09 07:52] #809 closed

[2020-06-09 07:52] #814 closed

[2020-06-09 07:52] #819 closed

[2020-06-09 07:52] #831 closed

[2020-06-09 08:01] Pavel910 opened #974 "Use commitizen adapter with scopes"
## This is:
- Bug

## Expected Behavior
When running `yarn commit` within our repo, commitizen should use the adapter that includes `scopes`, this used to work  but got lost sometime during development.

[2020-06-09 08:12] #974 closed

[2020-06-09 09:20] jakubgs commented on #868
That's great to hear, thanks man.

[2020-06-09 10:36] cariboo opened #976 "Unable to deploy imageTransformer"
## This is:
- Bug

## Specifications

  - version: NodeJS 12.14.1 / yarn 1.21.1
  - OS: Mac OSX 10.15
  - Browser: Chrome

## Expected Behavior
Trying first local deployment with command yarn webiny deploy api --env=local

## Actual Behavior
Tried several times but always got the following error :

  This is the first deploy of local environment, so it may take a few minutes.
  💡 Loaded local envi

[2020-06-09 10:41] Pavel910 commented on #976
Hi @cariboo, this is a known issue on slower internet connections, it's being resolved and will be released this week. In the meantime, you can do this quick fix:

At the top of your `api/resource.js`, add this:
[code]

So the whole problem here is that `imageTransformer` is deploying a huge ZIP with `sharp` dependency to manipulate images, and on slower internet connections it hits AWS SDKs defau

[2020-06-09 12:01] #943 closed

[2020-06-09 12:01] #944 closed

[2020-06-09 12:03] #872 closed

[2020-06-09 12:40] #915 closed

[2020-06-09 12:43] doitadrian commented on #966
With this, we should also adjust the form view in general.

1. Make its max height the height of screen.
2. Once the form reaches the screen height, the scrolling will kick in.
3. The header must always be still / visible on the top of the form, so that the user can always access the actions in it.

[2020-06-09 14:37] doitadrian opened #980 "Headless CMS - GraphQL crash"
![image](https://user-images.githubusercontent.com/5121148/84161391-85bbf180-aa6f-11ea-8767-d075c68580f0.png)

[2020-06-09 16:59] #767 closed

[2020-06-10 08:29] Ashu96 opened #983 "Headless CMS - `limit`param in list content model query not working"
## This is:
- Bug

## Specifications

  - version: 4.x
  - OS: Ubuntu 18.04 LTS
  - Browser: Chrome 83

## Expected Behavior
Should return the content limit to the number specified by `limit` param in GQL query

The image below shows that the content model has entries
![limit_result](https://user-images.githubusercontent.com/13612227/84245029-18b56400-ab22-11ea-8769-c09e5d6c27b1.png)

## Actual Be

[2020-06-10 11:10] cariboo commented on #976
Thanks for the quick answer but i got the same result :-(
I will wait for the next release.

[2020-06-10 11:10] #976 closed

[2020-06-10 11:27] doitadrian commented on #980
I can't reproduce this.

These are the steps I've taken:

1. Create a model Author, add a field to it
2. Check the GraphQL schema - I can see the model in it
3. Deleted the Author model, and created again the same Author content model, with a different field
4. Checked the GraphQL schema again - everything still works, the different field is there

Only thing I've found is that when you delete a m

[2020-06-10 13:42] TommyJackson85 opened #984 "package.json has no "main" entry error and webiny module error when attempting to deploy local dev environment."
## This is:

- Bug

## Specifications

  - version:
  - OS:

## Expected Behavior
Deploy application following prerequisites and local setup guidlines.

## Actual Behavior
Fails running ```npx webiny deploy api --env=local``` in the end reporting an error.
Seems to be a webiny module error but ```@webiny``` exists in my node modules.
Also reporting that ```package.json``` has no "main" entry so it

[2020-06-10 15:16] amirtds opened #986 "S3 Accelerated 403 error"
## This is:
- Bug

## Specifications

  - version: 4.0.2

## Expected Behavior
S3 `accelerated` should be turned off

## Actual Behavior
During the deployment, the script tries to set accelerated to `true` for the S3 bucket

## Steps to Reproduce the Problem
Run `yarn webiny deploy api --env=local` and it gives 403 access denied for the S3 bucket serverless-aws-s3 package is using

## Detailed Des

[2020-06-10 15:54] doitadrian opened #987 "Headless CMS - refresh schema on content model deletion"
Currently, this isn't the case - schema gets refreshed only when you make a change on an existing content model, or you create a new one.

[2020-06-11 04:52] Ashu96 commented on #967
Hey guys @webiny/developers @SvenAlHamad

I think having a separate field for `Image` and `Image gallery` is not necessary.

We can try doing these for providing more context/clarity to users:
1. Add a description for each field in the editor.
2. Reword `multi values` toggle label such that it will be more clear to the user what is means. something like `use as a list of <field type>` i.e `use as

[2020-06-11 04:54] Ashu96 commented on #933
This one will be resolved with PR #979

[2020-06-11 06:35] Ashu96 commented on #962
Hey @doitadrian
The solution that you suggested which is adding `id` in GQL query will not work, because currently `id` is not getting resolved by GQL.

![image](https://user-images.githubusercontent.com/13612227/84351806-b750cc00-abd9-11ea-8bc1-1ab3b095ca5a.png)

And the reason for that is we only get data key from Settings collection via Settings Manager checkout `packages/api-settings-manager/s

[2020-06-11 07:02] Pavel910 commented on #962
@Ashu96  Or maybe update the apollo cache manually on the client side, to avoid extra api calls.

[2020-06-11 15:45] #657 closed

[2020-06-11 15:45] #868 closed

[2020-06-11 15:45] #950 closed

[2020-06-11 15:45] #956 closed

[2020-06-11 15:45] #960 closed

[2020-06-12 01:10] #947 closed

[2020-06-12 09:45] SvenAlHamad commented on #967
@Ashu96 that's also a good solution - I like it.
Just one smaller amend, for the "multiple files" toggle. Expand the description to "Use as a list of files or an image gallery."

[2020-06-12 11:08] Pavel910 opened #994 "Headless CMS - Supporting authorization using JWT/PAT and public content"
We got several inquiries about building an ecommerce app using Headless CMS. Some of the requested features are posing a blocker at this point in time:
1) having some/all of the content models publicly accessible
2) being able to access the API using user's JWT, and not the access token

What are the things we need to consider to allow this type of use-case? @webiny/developers

[2020-06-12 11:17] #914 closed

[2020-06-12 11:20] #970 closed

[2020-06-12 11:21] #965 closed

[2020-06-12 11:22] #962 closed

[2020-06-12 11:29] #972 closed

[2020-06-12 12:14] #887 closed

[2020-06-12 12:14] #987 closed

[2020-06-12 21:11] ianvonholt commented on #662
Is this still a concern even after [this announcement](https://aws.amazon.com/blogs/compute/announcing-improved-vpc-networking-for-aws-lambda-functions/)?

I'd really like to get VPC's up and running specifically so we can tie in caching for Apollo.

[2020-06-13 08:59] Pavel910 commented on #662
@ianvonholt We haven't tried it since; you could try and see how it performs. Let us know if you need help with anything.

[2020-06-13 14:11] samj commented on #662
This isn't my first time searching for a serverless CMS, and it may not be the last, but I wanted to give some feedback on this issue in particular as I was ready to deploy webiny right up until I ran into the "Update the MONGODB_SERVER variable" direction after running create-webiny-project.

Now there are no "serverless" police, so I'm not here to debate the purity of having a hard **server** de

[2020-06-13 14:21] Pavel910 commented on #662
@samj thanks for the input, we do appreciate all the interest as it helps us prioritize our development efforts. We're a very small team, 3 months ago we only had 3 people working on Webiny, you can imagine the amount of work  :)

Ideally, we'd love to support DynamoDB by default. Mongo was (still is) an `ok` solution for its simplicity. But it does introduce setup friction and we agree - is not e

[2020-06-13 16:23] Ashu96 opened #997 "Headless CMS - number field (multipleValues) not working"
When saving a list of number in the content entry, the values returned from the response is `null` instead of actual numbers

[2020-06-13 21:40] samj commented on #662
@Pavel910 and thank you for the prompt and detailed response — at the end of the day it's your project and prerogative to assign your resources how you want, and I totally understand that you already have a solution that works for you.

To be fair, if not for the context of this particular project (building a truly serverless platform for NoOps) I might well have been tempted to go down the MongoD

[2020-06-13 22:04] SvenAlHamad commented on #662
Hey @samj - appreciate the input in this. We do want to get DynamoDb support into Webiny, and especially because we want it to be a “first-class citizen” we haven’t moved forward with it yet as there are big challenges in how DynamoDb works vs any other NoSQL database. We just haven’t found a solution that will be of great quality and won’t jeopardize the current features of the system.

This issu

[2020-06-14 01:42] balajijegadeesan opened #999 "Client Site - Login Security Feature"
## This is:

- Question

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior
HI, How to add login feature to Client Site App. Currently admin app has this feature. I want to extend this feature to client Site. Pls help in this. thanx in advance.

## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3.

## Detailed Description
HI, How to add login feature to Client Si

[2020-06-14 11:57] Pavel910 opened #1000 "Make Webiny packages usable in codesandbox.io"
## This is:
- Bug

## Expected Behavior
When using `@webiny/react-router` in codesandbox.io, the app should build without errors.

## Actual Behavior
Codesandbox is using `strict` mode while bundling code, and we're overriding `react-router` withRouter HOC which makes the strict mode yell at you for using `setters where only getter is available`.

## Possible Solution
Remove those few usage of `wi

[2020-06-14 18:06] #1000 closed

[2020-06-14 18:14] ivosanchez opened #1002 "Deployed environment throwing error"
I hope it is ok to post this here instead of on slack

installation on:
Catalina /  node 10.20.  / yarn 1.22

&. my default role in AWS has full programmatic,

I get graphql playground ok,
but,
keep getting error bellow instead of home and admin pages.
I've tried with 3 diff environments, each with their respective databases

{
  "requestContext": {
    "resourceId": "se09x2",
    "resourcePath":

[2020-06-14 18:19] Pavel910 commented on #1002
Hi @ivosanchez, sure it's totally fine :)

Did you run through the installation wizard when you deployed the `prod` environment to AWS?

[2020-06-14 18:28] ivosanchez commented on #1002
hi there Pavel910 ,
thanks,
no, I hadnt done that, when I saw the last message on terminal during installation, the one that gives you the graphql playground url and the read /  preview urls, I thought I was supposed to have them working correctly before installing the admin app

[2020-06-14 18:31] Pavel910 commented on #1002
When you deploy a new instance of an environment (`--env=dev` or `--env=prod`), you're creating a completely isolated instance of infrastructure. And since you also have a separate database, it's blank until you run the setup wizard. So each environment is completely isolated, and requires the same setup process.

Whenever you deploy a new `--env` - you always have to run the admin app and complet

[2020-06-14 18:33] ivosanchez commented on #1002
will do so. thank you !!

[2020-06-15 07:34] Mohamed-Abubucker opened #1003 "RTL support."
## This is:

- Question

Hi team,

I want to use webiny for my personal blog project. i am planning to keep it in 2 languages.
1. English
2. Arabic.

I am complete beginner with webiny framework, i don't know webiny support RTL (for Arabic Language - only for public website not for admin) or not.

Kindly help in this by suggessions / guidelines

[2020-06-15 08:13] Pavel910 commented on #1003
Hi @Mohamed-Abubucker, thanks for the issue.  Unfortunately for now RTL is not available. Let's keep this issue open so it's not lost.

[2020-06-15 09:21] #997 closed

[2020-06-15 09:46] samj commented on #662
I've had a look at Commodo with a view to assigning developer/s to it, and it looks to be more of a shim around MongoDB than an abstraction layer like ODBC, which is obviously going to cause problems when it comes to migrating to different databases. It's already impressive that you managed to get it over to MySQL from a document database, but that has a lot of the capabilities (e.g. CONTAINS/LIKE

[2020-06-15 09:51] #913 closed

[2020-06-15 09:56] Pavel910 commented on #662
@samj we basically decided to use MongoDB API syntax, and adapt other databases to it, as it is pretty clear and not SQLish, and SQL queries can be easily generated from it. So yes, Mongo and SQL works nicely.

We've seen that `clever design` video many times when getting to know DynamoDB quirks, I've also read the whole https://www.dynamodbbook.com/ to get myself familiar with the beast.

Thanks

[2020-06-15 10:07] samj commented on #662
What about Cassandra-style wide column databases like [Amazon Keyspaces](https://aws.amazon.com/keyspaces/), which also have no monthly running costs outside usage?

[2020-06-15 10:10] Pavel910 commented on #662
No experience there :( We only have experience with more traditional databases like MySQL, PostgreSQL and MongoDB. These we used for years and know what we can do with them. For other databases we need help.

[2020-06-15 10:24] doitadrian commented on #662
BTW @samj, just wanted to mentioned one thing, related to Commodo itself.

The goal for it wasn't to universally support all databases but to provide a way to quickly execute simple / medium-complex queries. This was definitely successful for us as we have a couple of base apps, and all are basically running on queries, except maybe one or two, where we applied some data restructuring to make it p

[2020-06-15 11:40] Pavel910 commented on #994
@doitadrian @Fsalker this is also related to security scopes, but for now I would be happy with just allowing authenticated users access the API.

[2020-06-15 12:17] Ashu96 commented on #966
Hey team, @SvenAlHamad @webiny/developers
I need your feedback about the new `content form` structure

Changes:
1. Now, we will no longer have the footer. The `save` button is now moved to the form header.
2. There is also a `Save & Publish` button right beside `Save`
3. The actions like `Revision menu` and  `delete` content has been moved to the left side.
4. The `Publish` action has been removed

[2020-06-15 12:21] Pavel910 commented on #966
@Ashu96 how about adding a dropdown menu like in `Page Builder Editor`, so we have `Save` as a button and to the left of it we'd have those 3 dots dropdown button, you can put Delete in there and maybe even `Save & Publish`. Let's see how that would look like.

[2020-06-15 12:26] SvenAlHamad commented on #966
From my side:
1. I think moving the delete option under the "3 dots" menu is a good approach
2. The scrollable area on the right side, I would expand it to the bottom, like in the page builder. It won't matter if the "plus" button goes over it in this case.
3. For the "save" button I would use "secondary button" style, and for the "save & publish" I would use the primary button style (https://stor

[2020-06-15 13:39] jakubgs commented on #868
Nice, I assume this will be released with `v4.0.3`, right? When is that coming?

[2020-06-15 13:41] Pavel910 commented on #868
@jakubgs `4.1.0` coming during tomorrow :)

[2020-06-15 14:09] alastair-todd commented on #846
Is there a rough prio/eta?
Bit of a showstopper for my project but in no rush...go live is months off...

[2020-06-15 14:38] Pavel910 commented on #1002
@ivosanchez I'm closing this as we seem to have figured out the problem. Feel free to reopen or post a new issue if necessary!

[2020-06-15 14:38] #1002 closed

[2020-06-15 14:39] Pavel910 commented on #999
@balajijegadeesan we're working on the docs for app development and we'll include an article on how to setup security for the site app. Stay tuned!

[2020-06-15 14:44] Pavel910 opened #1006 "Scaffolding plugin for a new React app"
## This is:
- Feature request

## Detailed Description
We need a new scaffolding plugin to quickly setup a React app skeleton. The plugin should ask users if they want to setup an `admin` app, a `site` app or an empty skeleton without any templates, just an `index.tsx` with all the config files so the user can start developing his own thing.

[2020-06-15 14:46] Pavel910 opened #1007 "Scaffolding plugin for a new React package"
## This is:
- Feature request

## Detailed Description
We need a new scaffolding plugin to quickly setup a skeleton for a new package for React. It should link the package with `tsconfig.build.json` and extend `babel.react.js` file (see our repo for examples).

[2020-06-15 14:47] alastair-todd commented on #968
Will there be a content search api endpoint as part of this feature?

[2020-06-15 14:47] Pavel910 opened #1008 "Scaffolding plugin for a new node package"
## This is:
- Feature request

## Detailed Description
We need a new scaffolding plugin to quickly setup a skeleton for a new package for node/api. It should link the package with `tsconfig.build.json` and extend `babel.node.js` file (see our repo for examples).

[2020-06-15 15:16] afzalsayed96 commented on #766
Not only in case of error but also for success. Shouldn't both scenarios have a close button?

![Screen Shot 2020-06-15 at 8 39 06 PM](https://user-images.githubusercontent.com/14029371/84674791-0a63af80-af49-11ea-8ede-d2daafa25e5e.png)

[2020-06-15 15:35] Pavel910 commented on #766
@afzalsayed96 success messages disappear automatically, but error messages don't , thus the close button.

[2020-06-15 15:59] afzalsayed96 commented on #766
Hey @Pavel910 - I'm able to see that the error message disappears on it's own as well following your steps to reproduce. Has something changed recently?

[2020-06-15 16:00] Pavel910 commented on #766
I don't think so, this needs some debugging and styling. That `Close` button should be visible, there's definitely something wrong going on.

[2020-06-15 17:01] #937 closed

[2020-06-15 17:01] #942 closed

[2020-06-15 17:01] #968 closed

[2020-06-15 17:02] doitadrian commented on #980
Cannot reproduce - closing this issue.

Feel free to re-open if needed.

[2020-06-15 17:02] #980 closed

[2020-06-15 17:07] #967 closed

[2020-06-15 17:10] #983 closed

[2020-06-15 17:15] #966 closed

[2020-06-15 21:57] TommyJackson85 commented on #984
@Pavel910 Yes I am setting up a repository. I am following that guide and I am running ```npx webiny deploy api --env=local``` from the /sample-project file.
Is there anything else I could have missed ?

[2020-06-16 05:52] #933 closed

[2020-06-16 05:57] doitadrian commented on #854
Resolved by #966, closing.

[2020-06-16 05:57] #854 closed

[2020-06-16 05:59] doitadrian commented on #859
Resolved by #967, closing.

[2020-06-16 05:59] #859 closed

[2020-06-16 06:29] Pavel910 commented on #984
@TommyJackson85 when you setup the repo using `yarn setup-repo`, the packages are built and linked via `node_modules`. You can actually open your `<root>/node_modules/@webiny` and see if the repo packages are linked via symlinks:

![image](https://user-images.githubusercontent.com/3920893/84738976-16805900-afab-11ea-8412-7da8ee9b056c.png)

Note the small `symlink` icon. If those links are not ther

[2020-06-16 09:15] doitadrian opened #1011 "Headless CMS - edit field dialog - dropdown not visible"
![image](https://user-images.githubusercontent.com/5121148/84756105-aa115400-afc2-11ea-8796-1269e1766bb4.png)

[2020-06-16 09:18] doitadrian opened #1012 "Headless CMS - can't immediately publish a new entry"
Can we make this enabled by default?

Internally we can just do save + publish.

![image](https://user-images.githubusercontent.com/5121148/84756362-fe1c3880-afc2-11ea-8fc9-72e74f99ee43.png)

[2020-06-16 09:56] doitadrian opened #1013 "Headless CMS - cannot focus Rich Text Editor"
Only by clicking on the green area, the editor is focusable and the user can start typing the text:

![image](https://user-images.githubusercontent.com/5121148/84760390-3bcf9000-afc8-11ea-920e-330f8b0ca2dd.png)

[2020-06-16 10:25] doitadrian opened #1014 "Headless CMS - multiple values Rich Text Editors - improve visually"
I'd rather just put a fixed default height (like 250px), than go with `vh`. This way we can more be sure we'll avoid these weird cases:

![image](https://user-images.githubusercontent.com/5121148/84763319-4be96e80-afcc-11ea-82e8-83f4afd0e2a0.png)

[2020-06-16 10:39] doitadrian opened #1015 "Headless CMS - make sure to lowercase environment slugs"
Mange API URLs like `/cms/read/Development` should not happen.

Make sure the environment slugs, used in URLs, are always lower-cased, so the above URL should actually be `/cms/read/development`.

[2020-06-16 14:02] #1012 closed

[2020-06-16 15:09] EmilK15 commented on #1015
This issue arises once somebody decides to create an Alias under Headless CMS. They can create a new environment alias, and although the default behavior of the form is to lowercase the text like below:
![image](https://user-images.githubusercontent.com/9532882/84792179-90bbd800-afc1-11ea-87b4-e3bd206471a2.png)
The user can then edit the alias name to include capitals.
Solution:
I'll most likely a

[2020-06-16 15:30] doitadrian commented on #1015
1. The `Bind` component support `onAfterChange` prop, you can use that to lowercase it.

2. The UI check is OK, but it's mandatory for the force-lowercase logic to be implemented on the backend as well. You can do that with a `beforeCreate` hook.

3. Finally, make sure to write a simple test, that ensures that the backend works correctly. One of the recent tests I've written is `packages/api-headl

[2020-06-16 17:53] samj commented on #662
Neither I'm afraid — Cassandra is a black box to me, but it sounds closer to MongoDB than DynamoDB.

[2020-06-16 18:01] Pavel910 commented on #986
Released in `v4.1.0`!

[2020-06-16 18:01] #986 closed

[2020-06-16 18:01] Pavel910 commented on #964
I was unable to replicate this issue. Closing this one for now, we may reopen in the future.

[2020-06-16 18:01] #964 closed

[2020-06-16 18:10] doitadrian commented on #842
@Pavel910 Resolved this one, closing.

[2020-06-16 18:10] #842 closed

[2020-06-16 20:14] TommyJackson85 commented on #984
Ok I ran ```yarn setup-repo``` (from webiny-js folder) again and I realised there is an error I didn't take notice of, which also appears from running ```yarn build``` (from webiny-js folder). The error is to do with ```webiny/commodo```:

[code]

Anything I could of missed?

[2020-06-16 20:23] Pavel910 commented on #984
Commodo packages should be in your `node_modules`, they are not part of the repo. We install them as regular `npm` dependencies, so I have this in my `node_modules`:

![image](https://user-images.githubusercontent.com/3920893/84824089-b11a7f80-b01f-11ea-9e18-47c1af840999.png)

Double check that manually, to be sure you have them. It's a little bit weird, but hopefully we'll figure out what's wrong

[2020-06-16 21:24] TommyJackson85 commented on #984
Here were my npm packages:
<img width="344" alt="Screenshot 2020-06-16 at 21 46 02" src="https://user-images.githubusercontent.com/22279028/84828977-df4b8f80-b01e-11ea-8c21-3aa98a922633.png">
<img width="303" alt="Screenshot 2020-06-16 at 21 42 48" src="https://user-images.githubusercontent.com/22279028/84828994-e7a3ca80-b01e-11ea-8e9d-e60d8801940a.png">
So you were right! I was missing those pack

[2020-06-17 06:22] doitadrian commented on #829
Note that we should also have the ability to disable JWT/scopes auth for certain resolvers.

[2020-06-17 10:36] doitadrian opened #1020 "Headless CMS - Rich text component - add support for videos"
With #846, we also need to add support for embedding videos into the Rich Text Editor.

[2020-06-17 10:43] doitadrian opened #1021 "Headless CMS - repeater fields"
We had a question from the community related to "repeater fields". The following comment explains well what those are:

https://github.com/strapi/strapi/issues/1779#issuecomment-414795715

Action items:
- [x] refactor `app-headless-cms` package
- [x] introduce `<FieldsEditor />` component to render arrays of fields and support nested objects
- [x] add `object` field and support `multiple values`
-

[2020-06-17 11:19] pzg250 opened #1022 "Got "TypeError: task.skip is not a function" when start a new project"
Got TypeError when start a new project

## This is:

- Question

## Specifications
  - OS:  Ubuntu18.04

## Detailed Description

Got TypeError when run command `npx create-webiny-project new-project` .

Output Message:
[code]

## Possible Solution

[2020-06-17 12:07] Pavel910 commented on #1022
@pzg250 thanks for reporting. Apparently one if these 2 commands fail, and then i throws on the `task.skip` below which I think is a bug on our side:

![image](https://user-images.githubusercontent.com/3920893/84896181-c89b4c00-b0a3-11ea-8f3c-86a73328adfb.png)

Is it possible that `git --version` or `git init` are failing on your system? Maybe `git` is not installed?
Try installing `git`, and then

[2020-06-17 12:24] Pavel910 opened #1023 "Deploy - add beforeDeploy hook"
## This is:
- Feature request

## Detailed Description
Need to add support for `beforeDeploy` hook in our `cli-plugin-deploy-components` which will allow us to add state-management plugins to push/pull state from, for example, S3 bucket.

[2020-06-17 12:32] pzg250 commented on #1022
Hi @Pavel910 ,
Thank you very much . Yes , git is not installed on my system. But I met a new problem.
Could you help? Thanks in advance.

[code]

[2020-06-17 12:48] Pavel910 commented on #1022
@pzg250 to figure out what package bothers him, we need to enable logging using `--log` parameter.
Run `npx create-webiny-project my-project --log`. It will log everything into a file at `./my-project/log.txt`. So when the setup fails, look in that file to see which package exactly is causing problems. We'll continue from there.

[2020-06-17 13:37] #766 closed

[2020-06-17 13:45] pzg250 commented on #1022
I got the log. Any advise ? Thanks

[code]

[2020-06-17 13:50] Pavel910 commented on #1022
That's weird because the package version is on `npm`: https://www.npmjs.com/package/@webiny/tracking

This has something to do with npm cache, maybe try `npm cache clean` and retry project creation.

[2020-06-17 13:57] pzg250 commented on #1022
Hmm, after clean the cache I got same error.
And I forgot provide one information, I create the project in a docker container.
This container comes from the docker hub, the latest ubuntu 18.04.

[2020-06-17 14:04] Pavel910 commented on #1022
As long as it talks to `npm` it should work. Don't really know how this is related to Webiny. This looks more like a problem with pulling packages. We use `yarn` to install packages, if that's of any help.

[2020-06-17 17:00] doitadrian commented on #968
Hey @alastair-todd , you can actually already search entries. For example:

![image](https://user-images.githubusercontent.com/5121148/84927234-d1ecde80-b0cc-11ea-83af-1c3c07b48bff.png)

Did that answer your question?

P.S. Sorry for delay, basically I missed your question here.

[2020-06-18 10:54] doitadrian opened #1027 "Form Builder - remove unnecessary "$" in the label"
![image](https://user-images.githubusercontent.com/5121148/85012057-bdf3bc00-b162-11ea-853e-de51f7832235.png)

Change here: `packages/app-form-builder/src/admin/plugins/formDetails/formSubmissions/FormSubmissionsList/FormSubmissionsList.tsx:40`

[2020-06-18 11:16] #1027 closed

[2020-06-18 11:31] jakubgs opened #1029 "Admin page not loading in 4.1.0"
I tried deploying `4.1.0` today and it went fine without any errors, but when I try to open the `/admin` page I get nothing and this error in the JS console:
![webiny_admin_page_error](https://user-images.githubusercontent.com/2212681/85015162-cb5f7500-b167-11ea-92d6-8829979f290c.png)
I checked CloudWatch logs but there's nothing there.

[2020-06-18 11:40] Pavel910 commented on #1029
@jakubgs so this is deployed to AWS, judging by the JS file name. I'll have to double check, haven't encountered this, but will deploy to AWS and see what's going on.

[2020-06-18 12:24] SvenAlHamad opened #1030 "Webiny Telemetry - Improvements and implementation details"
As with any product, for the team behind it., it's important to know how users are interacting with the product. This data tells us where we need to invest time in making things better and how to prioritize them. This is also important for us as the company behind Webiny as our work on the project is funded by investors and if we can't show them our progress, its hard for us to justify additional

[2020-06-18 12:31] Anshuman71 commented on #768
@doitadrian I followed your proposed solution steps and I added the plugin for `no-matching-route` but it is getting rendered on every route as I have not given a path prop. In `<Swtich />` it takes the last route if no other route matches, I'm not sure how that works in webiny-js.
Can you please help me?

[2020-06-18 13:45] doitadrian opened #1032 "Form Builder - Contact Information group not working"
If you click on this label, nothing happens. Let's try to fix this for the upcoming release.

![image](https://user-images.githubusercontent.com/5121148/85027855-b0e2c700-b17a-11ea-89e7-ea57672cc27d.png)

[2020-06-18 13:59] mike23333 opened #1033 "landing page builder text box bug"
On landing page when I click inside the text boxes the white box editor will appear twice. It seems to be happening when I click a 3rd text box. For example when I first fresh page I will click on a text box. Then another text box and it works fine. But when I click the 3rd text box that's when it starts showing the white box twice the whole time. Just keep clicking and double click in text boxes

[2020-06-18 14:16] Fsalker opened #1034 "Headless CMS Security Scopes"
*Addressing the Security Scopes mentioned in #829 and #1018*

Here's how I envision headless security scopes:

### Front End

##### Toggling Model security scopes
- we add a new section under **Security > Headless CMS** called **Models** *(see ss #1)*
- in this section, you select an existing environment *(see ss #2)*
- then, you select **read** / **preview** / **manage api** (imagine 3 different

[2020-06-18 15:40] Fsalker commented on #1034
# Update

- Add scopes to `/settings/cms/accessTokens` (just like in `/roles`)
- Improve `ScopesMultiAutoComplete` to allow a `filter` function and use it in `/settings/cms/accessTokens`

# My personal notes

/read (and implicitly /preview) api is protected by default (`fullAccess: true` or `scopes: [...]`)

add scopes to Access Tokens
C:\Users\Andrei\Desktop\Webiny\webiny2\packages\app-security\s

[2020-06-18 15:54] Fsalker commented on #1008
eg: clone api-i18n keeping only src/plugins/index.ts + keep 1 example plugin

just like scaffold-graphql-service

[2020-06-18 16:09] Fsalker opened #1035 "PAT validation error is assigned in context.user"
`context.user` is assigned an error response from Validate PAT lambda function if an invalid token is sent.

## This is:
- Bug

## Expected Behavior
You should see `context.null === null`

## Actual Behavior
You get `context.null === "{ errors: {...}, statusCode: 500, headers: {...} }"`

## Steps to Reproduce the Problem
Send an invalid AT and you should encounter this issue.

## Possible Solution

[2020-06-18 16:55] Pavel910 commented on #768
Hi @Anshuman71, just tried this in our repo, this seems to work just fine:

[code]

So, to make this work on a more global level, and not only in your app, I would add the following route:

[code]

At this here reference: `packages/app-template-admin/src/index.tsx:64` so that it looks like this:

![image](https://user-images.githubusercontent.com/3920893/85049632-37a49d80-b195-11ea-9fa9-77961fe0c1

[2020-06-18 17:58] EmilK15 commented on #1015
Update:
Solution was the following:
Adding an onChange to the Input containing the slug within `NameSlug` component
Adding a `pipe` on the `onceSet` call within `environmentAlias.model`.
Testing used the GraphQL queries within `environmentAliases.tsx`

[2020-06-19 01:08] Anshuman71 commented on #768
@Pavel910 thanks a lot. Let me try to follow these steps

[2020-06-19 02:28] pzg250 commented on #1022
Hi All,
I changed to use centos, and the error disappeared. But I met a new issue. Will open a new ticket.
Close this.

[2020-06-19 02:28] #1022 closed

[2020-06-19 02:39] pzg250 opened #1038 "connect ETIMEDOUT when run deploy command"
Errors when setup local env.  I think maybe the .env.json didn't config correctly.
Anyone can help? Thanks.

## This is:

- Question

## Specifications
  - OS: CentOS8.2.2004

## Steps to Reproduce the Problem

1. Prepare two docker containers ( centos + mongodb)
2. start new webiny project and change the .env.json -- "MONGODB_SERVER": "mongodb://root:example@mongodb:27017"
3. yarn webiny deploy a

[2020-06-19 03:27] ajurcevic commented on #1038
this comes up when you are missing the AWS credentials file from your machine.
`~\.aws\credentials`

guide: https://docs.webiny.com/docs/guides/aws-credentials

hope that helps

[2020-06-19 03:37] ajurcevic commented on #1038
https://docs.webiny.com/docs/guides/aws-credentials

you may need to configure the credentials file on your machine:
`~/.aws/credentials`

[2020-06-19 11:29] mike23333 opened #1042 "landing page builder Instagram element"
When you add an Instagram post element to landing page and publish the changes the post never shows when you click view the page. Also, all changes to the landing page after you add the Instagram post will not show up wither when you view the page even when you delete the instagram post. All changes do show in editor but not when you view the page.

Bug
I use chrome browser

[2020-06-19 11:32] #1032 closed

[2020-06-19 11:50] #1011 closed

[2020-06-19 11:54] #1013 closed

[2020-06-19 12:21] #1014 closed

[2020-06-19 12:49] doitadrian commented on #833
Will check this one @Ashu96. Still not 100%. :)

[2020-06-19 16:29] #1042 closed

[2020-06-19 16:45] jarretmoses commented on #953
I noticed the preview styles are broken as well where the background color is incorrect (stays white). @icy-meteor are you currently working on this? I'd be interested in fixing this if not.

[2020-06-19 17:01] EmilK15 commented on #863
The approach here so far is to create an (i) icon next to the name of the production.
Probably will have to pull the urls from the environment alias endpoint from GraphQL api and then display a small popup with those urls in a nice format

[2020-06-19 17:17] icy-meteor commented on #953
@jarretmoses Feel free to work on it :)

[2020-06-19 20:22] ianvonholt commented on #821
I wanted to add on-to this that pagination is broken with items pertaining to a DateTime string.

At least with the MongoDB Commodo connector, the cursor is decoded and the query is built here: https://github.com/webiny/commodo/blob/a16b57379ae058ee2c5899cbb50234e04f2a266c/packages/fields-storage/src/withStorage.js#L331

[2020-06-19 21:35] Pavel910 commented on #821
@ianvonholt cursor always contains at least the `id` of the item. The `id`, which is basically a MongoID string, satisfies all the requirements for a valid cursor.

Why exactly do you think that pagination is `broken` ?

[2020-06-20 02:06] Ashu96 commented on #953
Go ahead @jarretmoses 🙂

[2020-06-20 05:30] doitadrian commented on #1021
Another cool video that shows how components and dynamic zones work.
https://strapi.io/blog/release-beta-18-dynamic-zones

[2020-06-20 15:18] ValiDraganescu opened #1043 "webiny An error occurred during deployment of pageBuilderInstallation"
I try to deploy the local environment for api. I get an Access Denied error

## This is:
- Bug

## Specifications

  - version:  cli 4.1.0
  - OS: macOS
  - Browser: Chrome

## Expected Behavior
The api should deploy to AWS

## Actual Behavior
I get this error
[code]
## Steps to Reproduce the Problem
1. follow the tutorial here  [https://docs.webiny.com/docs/get-started/quick-start](https://docs.w

[2020-06-20 15:54] Pavel910 commented on #1043
@ValiDraganescu That error is usually caused by S3, we've seen it a couple of times, but never managed to figure out the exact cause. It has something to do with S3 buckets removal/creation, but it's very hard to replicate reliably. Usually we just rename the `S3_BUCKET` variable in `api/.env.json` and deploy the `api` stack again.

Regarding `Full Admin` access, we know it's not nice, but so far

[2020-06-20 19:03] Pavel910 opened #1044 "TooManyRequests during API Gateway removal"
## This is:
- Bug

## Expected Behavior
When running `webiny remove api --env=local` the whole stack should be removed without errors.

## Actual Behavior
Sometimes the removal breaks on `api` resource, with `TooManyRequests` error.

## Possible Solution
Most likely this has something to do with API Gateway endpoint removal without pause in between SDK calls. Need to review the whole removal proce

[2020-06-20 19:05] Pavel910 opened #1045 "AWS Resources removal tool"
We need to publish our `removeAwsResources` tool so our users can use it to cleanup their messed up stacks. We've received a couple of requests for this last week. Ideally it should go into a separate repository.

[2020-06-20 22:56] ValiDraganescu commented on #1043
@Pavel910
After I change the bucket name I still don't get a successful deployment, see full output bellow
[code]

[2020-06-21 02:27] pzg250 commented on #1038
Hi @ajurcevic ,
So that means we can only deploy webiny on AWS ?
Actually I am trying to deploy webiny on a cloud server but not AWS.

[2020-06-21 07:19] Pavel910 commented on #1038
@pzg250 Yes, Webiny can only be deployed to AWS at the moment, and we have no plans to support servers, VPSes, docker, or anything like that. Our focus is serverless exclusively.

In the future we’ll also be adding support for other clouds.

[2020-06-21 07:22] pzg250 commented on #1038
Got it. Thank you very much.

[2020-06-21 07:22] #1038 closed

[2020-06-21 07:36] Pavel910 commented on #1043
@ValiDraganescu this exact series of errors is something we were trying to debug with another community member on Slack the other day. So annoying, and still not sure what's the root cuase.

Anyhow, the error you're getting now

[code]
is referring to this: `api/resources.js:225`

![image](https://user-images.githubusercontent.com/3920893/85219224-5035d300-b3a2-11ea-8655-679504dc9e82.png)
Basicall

[2020-06-21 10:18] Pavel910 commented on #1045
This is resolved by https://github.com/webiny/remove-aws-resources 🚀

[2020-06-21 10:18] #1045 closed

[2020-06-21 11:51] jeans opened #1046 "Headless CMS - Multisite"
## This is:
- Feature request (first draft)

## Basic idea
- add multisite functionality to webiny CMS
- run multiple websites/apps from 1 webiny installation and 1 database
- global: user administration, Webiny settings, file management, taxonomy/tags ...
- site specific: site settings (title, description, tags, structured data), xml sitemap, routes/site tree, navigation/menus, front pages, ...

[2020-06-21 12:16] Pavel910 commented on #1046
Hey @jeans thanks for the issue, we'd love to discuss this in more details!

Are we talking about just the Headless CMS here, or do you also want this to apply to the PageBuilder/FormBuilder ?

Please post as much info as you can to give us a better understanding of the final goal. If you have  examples of other systems, maybe some screenshots, etc., everything will help to paint the bigger pictur

[2020-06-21 13:14] ValiDraganescu commented on #1043
Is there a way to get more verbose AWS error messages?

[2020-06-21 13:19] ValiDraganescu commented on #1043
In my first code snippet, the error says `region: null,` could this be the issue?

[2020-06-21 13:21] Pavel910 commented on #1043
Unfortunately not. The messages you see are exactly what we get from AWS SDK. We don't wrap or transform them in any way.

I don't think `region: null` is the problem, because if you didn't have a region, you wouldn't be able to deploy any of the resources.

[2020-06-21 13:22] Pavel910 commented on #1043
Let me try deploying to `eu-west-1` region. We'll see how it goes.

[2020-06-21 13:22] ValiDraganescu commented on #1043
Can I reach you over a chat somewhere? Maybe we figure this out

[2020-06-21 13:23] Pavel910 commented on #1043
Sure, jump over to https://www.webiny.com/slack/

[2020-06-21 14:07] Pavel910 opened #1047 "Handle S3 bucket creation error"
## This is:
- Bug

## Expected Behavior
When I delete a stack, and an S3 bucket, and try to deploy to a different region, S3 bucket should be deployed without errors.

## Actual Behavior
[code]
is thrown because apparently the previous bucket was not yet removed.

## Steps to Reproduce the Problem
1. deploy to any region
2. remove the stack
3. delete the bucket
4. deploy again (region doesn't matt

[2020-06-21 15:55] Pavel910 commented on #1047
After some testing I managed to narrow down the problem to the fact that we do not remove S3 bucket on `remove`, which leaves state file in the `.webiny` folder. Subsequent deploys  explode with all sorts of errors (especially if changing target region).

So the solution is to actually remove the S3 bucket when removing the stack.

[2020-06-21 20:08] ValiDraganescu commented on #1044
For the delete API command the quota is `1 request every 30 seconds per account` per [https://docs.aws.amazon.com/apigateway/latest/developerguide/limits.html](https://docs.aws.amazon.com/apigateway/latest/developerguide/limits.html)

[2020-06-21 20:16] Pavel910 commented on #1044
Yes, but I think the problem is not that, but too many parallel requests to remove integrations/endpoints/methods. The error is thrown before deleting the main API Gateway.

I'll debug this more if I ever manage to replicate this. So far, I'm unable to replicate no matter how much I deploy/remove :(

[2020-06-21 22:59] TommyJackson85 commented on #957
@Pavel910 Let me try this as my first commit. :)

[2020-06-22 08:00] jinyindu opened #1049 "npx create-webiny-project new-project 安装错误"
## This is:

- Bug
- Feature request
- Question
- Idea

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
![image](https://user-images.githubusercontent.com/18224886/85263151-55c61280-b4a1-11ea-814a-f7f6252cdb92.png)

2.
3.

## Detailed Description

## Possible Solution

![image](https://user-images.githubuserconte

[2020-06-22 08:39] Pavel910 commented on #1049
Hey @jinyindu, to debug this and find out what package is causing the problem, please run this:

[code]

The `--log` parameter will stream the output of the background process into your `my-project/log.txt` file, and you'll be able to see what package is causing the problem.  Once you have that, send us the error here in this issue.

Cheers!

[2020-06-22 12:42] TommyJackson85 commented on #957
@Pavel910 Can you suggest to be where I might find the toolbar content being rendered or where I should start from? I am searching LeftDrawer, Toolbar, etc. Also checking through the ui folder in packages.

On logging into the created users account (with no permissions) I am navigated to the Not Authorized view first. I had to load localhost:3001 again to get to my logged in account.

[2020-06-22 12:52] Pavel910 commented on #957
@TommyJackson85 so each app is registering a plugin to add a new menu section, you can find that by searching your cloned repo for `type: "admin-menu-settings"`.

![image](https://user-images.githubusercontent.com/3920893/85289327-8d2fc180-b497-11ea-91c4-8d62abb438a3.png)

This will give you the location of all Settings menu plugins. You need to use the component `<SecureView>`, and here's an exam

[2020-06-22 14:12] TommyJackson85 commented on #957
Just trying it out on Form Builder > reCAPTHA
but its not rendering any changes for some reason. I just run ```yarn start``` from admin folder. Is this correct?

<img width="655" alt="Screenshot 2020-06-22 at 15 06 52" src="https://user-images.githubusercontent.com/22279028/85296988-1516cb00-b49a-11ea-87fb-9c193bbd1e5e.png">

<img width="701" alt="Screenshot 2020-06-22 at 15 06 37" src="https://us

[2020-06-22 14:17] Pavel910 commented on #957
@TommyJackson85 please read this guide: https://github.com/webiny/webiny-js/blob/master/docs/CONTRIBUTING.md#local-setup

Especially pay attention to 6. and 7. You need to run a `watch` on packages you're working on, so your changes in `src` folder of the package are built to `dist` folder.

That document describes everything about our development process. Let me know if you're still stuck after i

[2020-06-22 16:51] #768 closed

[2020-06-22 16:55] #938 closed

[2020-06-22 17:01] jarretmoses commented on #953
Am working on now

[2020-06-22 17:54] EmilK15 commented on #863
Added a small (i), and will add an information icon for it so it's not next:
But here is what the current modal looks like with CopyButtons attached:
![image](https://user-images.githubusercontent.com/9532882/85319649-d2e88c00-b48f-11ea-9943-7f2a75d22089.png)

[2020-06-22 18:43] #1015 closed

[2020-06-22 18:44] #969 closed

[2020-06-22 19:06] doitadrian opened #1054 "Page Builder - prevent deletion of a category"
Prevent deletion of a category if there are pages linked with it.

The check should be done in this file:
```packages/api-page-builder/src/plugins/models/pbCategory.model.ts:9```

[2020-06-23 04:54] Anshuman71 commented on #619
@doitadrian can I proceed with this one?

[2020-06-23 06:52] Mohamed-Abubucker commented on #1003
Hi @Pavel910 ,

Thanks for your prompt reply.

by the way, i want to create websites in 2 languages (English and Arabic). i don't need RTL support for admin site. i want know whether the page builder supports RTL or not.

Kindly let me know is it possible in the current release?

[2020-06-23 06:55] Pavel910 commented on #1003
@Mohamed-Abubucker unfortunately, it's not possible.

[2020-06-23 08:41] Pavel910 commented on #1047
This is resolved in a way that when you call `remove`, your S3 bucket will also be removed, and its state file cleaned up. This is the only way to ensure that the state from previous deploys doesn't mess up with new clean deploys.

Also we now handle the `conflicting conditional operation` and tell the user that he needs to wait or rename his bucket.

[2020-06-23 08:41] #1047 closed

[2020-06-23 08:48] Pavel910 commented on #1023
Hooks are now implemented as plugins, and you have `hook-before-deploy`, `hook-after-deploy`, `hook-stack-before-deploy` and `hook-stack-after-deploy` plugin types to register hooks.

[2020-06-23 08:48] #1023 closed

[2020-06-23 09:55] doitadrian opened #1058 "Headless CMS - must refresh the page in order to see my new model"
I created a simple CM.

Then I exited the editor, and created another CM called "Box". Then I went back to my previously created CM, and it's not showing in the dropdown:
![image](https://user-images.githubusercontent.com/5121148/85389765-27e7d900-b548-11ea-9956-784d3227deb5.png)

After I refreshed the page, it's here:
![image](https://user-images.githubusercontent.com/5121148/85389847-3fbf5d00-b5

[2020-06-23 09:59] doitadrian opened #1059 "Headless CMS - drodpown menu changing sides"
Results are showing above the auto-complete complete - this is fine.

But when I type something that's not in the suggestions list, the dropdown gets rendered below the input. Shouldn't it be rendered above the auto-complete input as well?

![Untitled](https://user-images.githubusercontent.com/5121148/85390312-f1f72480-b548-11ea-9f9a-3f77dd8c00e6.gif)

[2020-06-23 10:07] Pavel910 commented on #1059
I think is rendered dynamically, based on how large the dropdown is. I don't know if you'll be able to force him to render in one direction. For dialogs at least, it would be best if the large list was rendered below the input as well.

[2020-06-23 10:09] doitadrian commented on #1059
This above-the-input rendering is our own implementation, so we should be able to make it render above as well.

[2020-06-23 10:50] doitadrian opened #1060 "Headless CMS / I18N - support locale-codes instead of just plain IDs"
One of our users asked about sending the data directly to the Headless CMS GQL, and the pain point of doing that is that you must know the IDs of available locales in the system.

So, let's see if it's possible to support sending locale-codes (e.g. `en-GB`) instead of IDs for locale values. I think it should be doable, since it's very easy to detect if the user sent a locale code or a plain ID.

[2020-06-23 14:13] Pavel910 opened #1061 "Headless CMS - Access Token unable to access listContentModels"
This is:
- Bug

## Expected Behavior
Using Access Token with /read API should allow me to use the `listConentModels` field.

## Actual Behavior
Throws `Not Authorized` error.

![image](https://user-images.githubusercontent.com/3920893/85414395-57a8d800-b56c-11ea-9868-93f266f57339.png)

[2020-06-23 15:14] #1059 closed

[2020-06-23 15:31] Pavel910 commented on #849
Closed long ago. This is now DataManager.

[2020-06-23 15:31] #849 closed

[2020-06-23 15:32] #845 closed

[2020-06-23 15:33] #823 closed

[2020-06-23 15:33] #758 closed

[2020-06-23 15:34] #185 closed

[2020-06-23 15:35] #714 closed

[2020-06-23 15:35] Pavel910 commented on #714
This is already implemented.

[2020-06-23 15:35] #695 closed

[2020-06-23 15:35] Pavel910 commented on #634
Implemented!

[2020-06-23 15:35] #634 closed

[2020-06-23 17:37] Pavel910 opened #1063 "Test deployment with non-default AWS_PROFILE"
## This is:
- Bug Suspicion

## Expected Behavior
Setting AWS_PROFILE to something other than `default` should deploy everything to that profile.

## Actual Behavior
A user reported that that variables is ignored and `default` profile is used instead.

## Steps to Reproduce the Problem
1.  change AWS_PROFILE in `.env.json` to something other than `default`
2. deploy

[2020-06-23 20:43] EmilK15 commented on #863
Changed a few things: Mainly the icon color so it matches moreso to the rest of Webiny.
Added information icon to AliasesForm.
Thought @doitadrian I do have a question about this case for access tokens: should it display only the base url, or a url for every environment it's connected to?
![image](https://user-images.githubusercontent.com/9532882/85459812-99d41880-b570-11ea-8e54-1e46998d523e.png)

[2020-06-23 23:31] TommyJackson85 commented on #1054
I will work on this this week.

[2020-06-23 23:34] TommyJackson85 commented on #957
@Pavel910 please check the pull request I created. I'll be busy the next two days so I might not be able to work on it, just to let you know

[2020-06-24 04:05] doitadrian commented on #1054
Sounds awesome, let us know if you'll have any questions. An example of how to achieve this can be found here - `packages/api-headless-cms/src/content/plugins/models/contentModel.model.ts:81`

[2020-06-24 09:55] Fsalker commented on #1061
i see two possibilities:
1. we move export const validateAccessToken to an utils package. we don't seem to have one, so we can create one. is this a good approach in our monolithic app?
2. i'll copy-paste the validateAccessToken code from api-headless-cms to api-security

[2020-06-24 10:13] Fsalker commented on #1061
more details about the bug:

this bug appears because it seems certain fields such as `listContentModels` employ different authorization. the error thrown comes from `api-security\src\SecurityError.ts` which is used in `api-security\src\hasScope.ts`.

my fix adds a new if clause doing the exact same checks we do in headless cms: `packages\api-headless-cms\src\content\plugins\index.ts`

[2020-06-24 14:44] doitadrian commented on #863
Regarding ATs question that @EmilK15 posted... Yeah, I think it's gonna get nasty if we print out all URLs, for every selected AT.

If you ask me, I'd just not-implement it here.

Anyone else feeling differently? @webiny/developers

[2020-06-24 14:45] doitadrian commented on #863
After this, @EmilK15, let's continue our conversation in the actual PR.

[2020-06-24 16:47] Pavel910 commented on #863
@EmilK15 @doitadrian I'm not entirely sure what you're talking about, but if you talk about a Dialog, you could render URLs for each environment in Tabs. A Tab per Envrionment.

[2020-06-24 16:50] doitadrian commented on #863
We can do that, thought it's was a bit of an overkill.

But yeah, if you think we should not not-have-it in the access tokens area, let's implement your idea @Pavel910.

[2020-06-24 16:53] Pavel910 commented on #863
Let's not do it at all then at this point and see how it goes with the users.

[2020-06-24 21:24] TommyJackson85 opened #1068 "Fix: 'Authentication error' remains on Login Page after a password change action (preceded by a login failure)"
## This is:

- Bug

## Specifications

  - version:
  - Browser:

## Expected Behavior
This is my opinion:
Only related alert messages in response to the most recent action (prior to being redirected to login page), should be displayed. In this case the 'password updated' alert is the only correct response as it was in response to changing the password successfully.

## Actual Behavior

As I also

[2020-06-25 08:40] Ashu96 opened #1069 "Form Builder: field validation error message broken"
In Form Builder app, form field validation error message is broken

## This is:
- Bug

## Specifications

  - version: 4.0.2
  - OS: Ubuntu 18.04 LTS
  - Browser: Chrome 80

## Expected Behavior
The form field should render an appropriate validation message. In this case `Value is required.`

## Actual Behavior
The form field should render an inappropriate validation message. In this case an Error

[2020-06-25 10:05] Pavel910 commented on #1068
@TommyJackson85 Good catch! Actually this has to do with the fact that those  2 messages are handled by 2 different components. The first success message is handled by the `Authenticator` component, and the second one by the `SignIn` component.

Some references for you to dig in:
This is where we set the first `success` message: `packages/app-plugin-security-cognito/src/cognito/states/SetNewPasswo

[2020-06-25 14:51] EmilK15 opened #1071 "Upgrade CmsEnvironment to have an array of aliases rather than a single alias"
This is:
- Feature request

## Detailed Description
You can find the use of the environmentAlias within a CmsEnvironment in:
`packages/api-headless-cms/src/plugins/graphql/environment.ts`
We will also have to change the ways we add aliases to an environment so this parameter gets updated accordingly
## Possible Solution

[2020-06-26 10:53] #957 closed

[2020-06-26 11:00] #984 closed

[2020-06-26 11:34] TommyJackson85 opened #1073 "fix: Hide Settings tab within the Side nav for user accounts with no permissions."
## This is:

- Bug

## Specifications

  - version:
  - Browser:

## Expected Behavior
When creating/adding a new user (from an administrative user account) without giving new user any access permissions (no roles assigned), that new user (when logged in) should not be able to see any Settings tab / dropdown.

## Actual Behavior
After logging in (from a user account with no permissions), the setti

[2020-06-26 11:39] Pavel910 commented on #1073
@TommyJackson85 I don't think that a message about permissions is the right way to go. If you don't have permissions to see something, then you just don't see it. Imagine you being an app admin, and you have 2 team members who create and publish content. You don't want them to see any Settings at all, so you don't assign scopes to their accounts.

When they login, they simply won't see the menu. I

[2020-06-26 11:44] TommyJackson85 commented on #1073
Ok, good point. I will edit my initial post and heading in regards to this.

[2020-06-26 12:47] TommyJackson85 opened #1074 "fix: Action link Widgets displayed on main page to unauthorised users."
## This is:

- Bug

## Specifications

  - Browser:

## Expected Behavior

If an account has no permissions to either of these widgets / links I would think they should not be displayed.

<img width="1259" alt="Screenshot 2020-06-26 at 12 58 25" src="https://user-images.githubusercontent.com/22279028/85856518-1143bb00-b7b0-11ea-8bfa-2fd0bf0bfd75.png">

## Actual Behavior

They are displayed from a

[2020-06-26 12:49] Pavel910 commented on #1074
I'll include @EmilK15  in the conversation, he's the author of this Welcome screen.

[2020-06-26 12:52] TommyJackson85 commented on #1074
No problem, as I solved an issue similar to this, I would be willing to create a PR on this.

[2020-06-26 13:16] Pavel910 commented on #1074
@TommyJackson85 sure, it's most welcome! 🚀 ❤️

[2020-06-26 13:18] Pavel910 commented on #1074
Regarding the Grid, we use Material, and here are the docs: https://storybook.webiny.com/?path=/story/components-grid--usage

But for that Welcome screen in particular I think we went with flexbox and fixed width of widgets, otherwise on large screens it would be stretched way too much. Feel free to dive in and if you need more details, @EmilK15 will be able to assist you.

[2020-06-26 13:27] EmilK15 commented on #1074
hey @TommyJackson85 Taking a look at the details now

[2020-06-26 13:30] #1049 closed

[2020-06-26 14:18] EmilK15 commented on #1074
If you are looking to change the Scope of what should appear to the user; it would be important to note here that there are multiple widgets following this plugin type: `admin-welcome-screen-widget`. So the solution you come up with would need to be applied in the following files: `app-form-builder\src\admin\plugins\welcomeScreenWidget`, `app-headless-cms\src\admin\plugins\welcomeScreenWidget`, an

[2020-06-26 22:23] TommyJackson85 commented on #1054
I'm just curious, what steps did you go about to find this problem? Can you list it out for me so I can find the problem first?

Under pages, I clicked the the plus button at the bottom to select a category (one I created my self) which seemed to create a new page with the category. I edited it and published it, then I deleted the page.

When navigating back to the categories section I found the c

[2020-06-27 06:43] #617 closed

[2020-06-27 06:45] #619 closed

[2020-06-27 06:46] #618 closed

[2020-06-27 06:49] #1069 closed

[2020-06-27 06:57] #1058 closed

[2020-06-27 18:40] designreact opened #1076 "Question: How to add select box and number range UI components"
## This is:
- Question

## Detailed Description
I'm completely new to webiny so apologies if this is something already handled.

I would like to use a select box instead of a radio button select for the number selection.

I would also like to add a number range element to the content model configuration. Is it possible / how easy is it to add a plugin to extend the functionality or would this be s

[2020-06-27 18:47] Pavel910 commented on #1076
Hey @designreact, could you clarify what you're talking about here, is it a CMS field with `predefined values` (sounds like it), is it a React component for custom view you're building?

I'll be able to give you useful references once I know what you're looking for :)

[2020-06-27 20:13] designreact commented on #1076
Thanks for the promt response 🙂

Both are for the data entry, which are configured on /cms/content-models/:content-model-id

I'd like to be able to use a select instead of radio button here:
<img width="1676" alt="image" src="https://user-images.githubusercontent.com/6464260/85931200-800d3b00-b8ba-11ea-9d6f-bd230f85b318.png">

I also want to add a new model field type called something like "Range"

[2020-06-27 20:24] Pavel910 commented on #1076
@designreact Great! Yeah there is definitely a way to add a new plugin(s) to add different components for rendering of the UI.
The best place to start is this here folder: https://github.com/webiny/webiny-js/tree/master/packages/app-headless-cms/src/admin/plugins/fieldRenderers

It contains `field renderers`, essentially, those are plugins to render an appropriate UI component, based on how you co

[2020-06-27 20:54] designreact commented on #1076
Great, gives me a much appreciated starting point. Having storybook as a reference is a big plus too.

Thanks 👍

[2020-06-29 08:22] designreact commented on #1076
Hi folks,

I've dug into the range slider I would like to add and (depending on your thoughts) think this may be better as a standalone plugin.

Where I am currently stuck is with the underlying slider component from material components web. I was a little disapointed with this discovery but it states:

`Note that vertical sliders and range (multi-thumb) sliders are not supported, due to their abs

[2020-06-29 08:37] Pavel910 commented on #1076
@designreact for UI components we're using RMWC library (which is a wrapper for material components). Looks like they don't have range sliders either. The guy maintaining https://github.com/jamesmfriedman/rmwc is very responsive, so I would suggest opening an issue there, and hearing his thoughts on it. He really knows Material Components top to bottom so seeking his opinion would help us decide w

[2020-06-29 11:28] designreact commented on #1076
What value is stored is an interesting question.

I think that given the component might have to support large ranges and/or support sliders which are not given a step / quantized. We probably want a tuple of the upper and lower bounds, something like:

[code]

[code]

[2020-06-29 11:34] doitadrian commented on #1076
So if you had a list of `1, 2, 3, 4, 5`, we would store for example `[3, 5]` ?

[2020-06-29 11:36] Pavel910 commented on #1076
@doitadrian @designreact I think predefined values may not fit very well this concept of `ranges`. What if the range is 1 - 1000 ? For this we would literally have to change the way user defines the actual values in the Content Model Field when `range` is selected 🤔 @doitadrian will surely have an idea, as he worked very closely on this.

[2020-06-29 12:18] designreact commented on #1076
With the present slider we only get to set 3 values; min, max and step. This sort of fulfils my requirement as I'm working with months (1 to 12 with a step of 1).

Initially I was looking to see how to best get these values into the new content model modal, and also how to default and possibly hide the multipleValues & predefinedValues switches, but I got distracted by the slider functionality.

A

[2020-06-29 12:21] designreact commented on #1076
That was my thinking, yes.

[2020-06-29 14:10] doitadrian commented on #1076
Yeah, I'm also thinking this is not something we should be trying to hard-fit into the existing set of features.

I had a couple of ideas on how to tackle this, and all of them would require upgrading the system, unfortunately. It's not as easy as adding a plugin. :/

It's not just about the UI as well, another question that comes into play is how will the users query this? What if they wanted to

[2020-06-29 14:47] #930 closed

[2020-06-29 18:55] designreact commented on #1076
It's not critical as I can use multiple fields and the single thumb slider component for separate monthStart and monthEnd.

I'll reach out to https://github.com/jamesmfriedman/rmwc and see if I can help get a two thumb slider contributed. If in the meantime you fancied defining an approach for adding support for multipleValues fields that would be great.

So far from what I've seen its a neat litt

[2020-06-29 20:01] gpips opened #1083 "Headless CMS - Add ApolloClient for CMS to Webiny site app"
Is it possible to create a way to use `useQuery` from apollo in the site app allowing to choose which api endpoint to query?

For instance switching between /graphql and /cms/manage or read.

[2020-06-30 09:34] #1071 closed

[2020-06-30 09:36] #928 closed

[2020-06-30 09:36] DerikDau opened #1086 "npx create-webiny-project: 'rm' is not recognized as an internal or external command"
## This is:
- Bug:
C:\Users\derik\source\repos\bol3_builder>npx create-webiny-project bol3_builder --log
npx: installed 216 in 10.806s
  Creating project at C:\Users\derik\source\repos\bol3_builder\bol3_builder:
  √ Pre-template setup
  √ Install template package
  √ Create project folders
  × Set up project dependencies
    → operable program or batch file.
    Initialize git
    Get proper packa

[2020-06-30 09:39] #931 closed

[2020-06-30 09:42] doitadrian commented on #936
Sorry to ask, but is there any progress on this one? :)

[2020-06-30 09:43] #961 closed

[2020-06-30 20:13] gpips opened #1089 "Page Builder - spacer layout element not rendering"
While using the page builder app I can click and drag the spacer element in between two other elements and it creates a gap of 20px. then I go back to the page-builder pages list page the preview on the right does not contain the 20px of space between elements.

[2020-07-01 11:08] DerikDau commented on #1086
I got its working on Git bash.

[2020-07-01 11:08] #1086 closed

[2020-07-01 12:17] doitadrian opened #1090 "Headless CMS - wrong queries generated"
If a model was named e.g. B, then these queries are wrong:
![image](https://user-images.githubusercontent.com/5121148/86242503-200de180-bba5-11ea-8411-2c6950e65165.png)

Basically, the queries are incorrectly generated, it should be `listAs`, not `listAS`.

I checked the `pluralize` function, it's simply how it works by default. If all letters are uppercase, then the plural suffix letter will also

[2020-07-01 13:13] Pavel910 opened #1091 "Handle partial deploy resources in any order"
## This is:
- Bug

## Expected Behavior
When you run a partial deploy, like `yarn webiny deploy api apolloGateway apiOtpService  --env=dev`, it should deploy the 2 resources without errors.

## Actual Behavior
Currently, it's important to specify resources in the specific order, the way they depend on each other internally.
For example: `yarn webiny deploy api apolloGateway apiOtpService --env=dev

[2020-07-01 13:16] doitadrian opened #1092 "Headless CMS - cannot delete models"
I had two CMs, Blog and Category, where Blog was referencing Category.

I tried deleting the Category CM, and an error message was correctly shown:
![image](https://user-images.githubusercontent.com/5121148/86247906-6e26e300-bbad-11ea-929c-e0078b4305f9.png)

After that, I went to remove the Blog CM, which worked, but the above error message was still shown when I again tried to remove the Category

[2020-07-01 17:06] Pavel910 opened #1093 "create-webiny-project error logging"
## This is:
- Bug

## Expected Behavior
`npx create-webiny-project project-name` should print error log when something goes wrong.

## Actual Behavior
If something breaks, the following happens:
![image](https://user-images.githubusercontent.com/3920893/86271510-46e00e00-bbcd-11ea-8c82-2bf1a7e9dbc5.png)

## Possible Solution
1) `log` must either have a default value you can use to check if logging

[2020-07-02 08:14] doitadrian opened #1094 "Page Builder - inspect page not refreshing upon making changes to menus"
One of our users reported that after updating a menu, the page on the frontend did not refresh.

Adding `?ssr-no-cache` returns the correct HTML, which means a bug could be somewhere in the SSR Lambda or maybe in the cache invalidation request performed by `packages/api-page-builder/src/plugins/useSsrCacheTags.ts:116`.

[2020-07-02 12:01] ganeshmani commented on #699
I would like to work on this issue

[2020-07-02 15:21] EmilK15 commented on #936
Yup sorry, was pre-occupied with another task. This will be done today

[2020-07-02 20:28] EmilK15 commented on #936
The error now shows the following when the alias url is incorrect:
![image](https://user-images.githubusercontent.com/9532882/86405109-ca0d6c80-bc7e-11ea-9a21-05f9df43f438.png)
![image](https://user-images.githubusercontent.com/9532882/86405134-d72a5b80-bc7e-11ea-9005-056ee5d064c2.png)

[2020-07-03 10:12] doitadrian opened #1096 "Headless CMS - field labels not shown for current locale"
Changing the locale doesn't change the actual labels (we did set them in the field dialog).

![image](https://user-images.githubusercontent.com/5121148/86458992-6cccf600-bd26-11ea-9103-33a8a884c9b8.png)

[2020-07-03 11:16] doitadrian opened #1097 "Headless CMS - remove old `searchModel` property"
This field isn't used anymore so we should remove it. It's present on all fields in `packages/api-headless-cms/src/content/plugins/modelFields/`

![image](https://user-images.githubusercontent.com/5121148/86464170-3ba4f380-bd2f-11ea-88a8-8cb572b629c4.png)

[2020-07-03 14:26] SvenAlHamad opened #1098 "Version checker"
To notify and incentivize users to keep their Webiny installation up to date we need to provide them with a visual cue. My suggestion is to have a small UI widget that's part of the welcome screen which will tell the user if their Webiny version is up to date.

The widget can be placed on the right side of the user's welcome screen.
![image](https://user-images.githubusercontent.com/3808420/864767

[2020-07-04 01:09] TommyJackson85 commented on #1097
I will work on this @doitadrian

[2020-07-04 01:13] TommyJackson85 commented on #738
I will work on this issue if it is still relevant (after the recent changes to the project I mean).

[2020-07-04 01:14] TommyJackson85 commented on #737
I will work on this issue if it is still relevant (after the recent changes to the project I mean).

[2020-07-04 01:15] TommyJackson85 commented on #713
I will work on this issue if it is still relevant (after the recent changes to the project I mean).

[2020-07-04 01:17] TommyJackson85 commented on #711
@Arvisix are you still working on this?
If not, I will work on this issue if it is still relevant (after the recent changes to the project I mean).

[2020-07-04 01:18] TommyJackson85 commented on #699
@ganeshmani are you still working on this issue?
If not, I will work on this issue if it is still relevant (after the recent changes to the project I mean).

[2020-07-04 01:20] TommyJackson85 commented on #798
Should this issue not be closed if @asashay 's pull request has been merged?

[2020-07-04 04:12] MasMedIm commented on #1093
I'm unable to create a project because of that problem, stuck in step 1! A fix would be appreciated

[2020-07-04 04:46] ganeshmani commented on #699
@TommyJackson85 feel free to take this issue..

[2020-07-04 08:41] Pavel910 commented on #1093
@MasMedIm Just add a `—log` flag to the command and you’ll get a log file with full log and an error, if any:

[code]

[2020-07-04 08:45] Pavel910 commented on #798
@TommyJackson85 in theory yes, but sometimes it's not closed. Closing manually.

[2020-07-04 08:45] #798 closed

[2020-07-04 08:56] Pavel910 commented on #1098
This is very much doable. We could pull in changelog from Github release, it's not always beautiful, but at least it's a solid source located in one place.

Upgrade instructions are sometimes one command, and sometimes a whole blog post. I think that to make things simple, we need to only focus on the contents of the Github Release, pull that and display in the dialog. Our Release always includes

[2020-07-04 10:03] TommyJackson85 commented on #699
@doitadrian is this issue still relevant with the recent changes to the application?

[2020-07-04 10:06] Pavel910 commented on #699
@TommyJackson85 I believe it's still relevant. If this was closed, it would be referenced by a PR. So feel free to jump on it. I'll assign you to this issue.

[2020-07-04 10:33] Pavel910 commented on #713
@TommyJackson85 this can now be implemented much better then I initially envisioned, by using a recent addition to the CLI - deploy hooks.

In here `packages/cli-plugin-deploy-components/index.js` add a new plugin of type `hook-before-deploy`, which looks like this:

[code]

This plugin will automatically be processed each time you run a `deploy` command. You just need to implement credentials che

[2020-07-04 10:37] Pavel910 commented on #711
@TommyJackson85 this issue is being handled by one of our developers. @Ashu96 please confirm :)

[2020-07-04 10:40] Pavel910 commented on #737
@Ashu96 @doitadrian please confirm this is still an issue, I'm totally out of the loop on this one.

[2020-07-04 11:36] Ashu96 commented on #711
Thanks @Pavel910

@TommyJackson85 this issue has been resolved. We will close this on shortly. 🙂

[2020-07-04 11:44] #711 closed

[2020-07-04 11:55] Pavel910 commented on #1068
@TommyJackson85 just noticed we never got back to this issue :)

[2020-07-04 12:03] Pavel910 commented on #701
@tjrexer this is an old issue, so I'm closing it and just wanted to inform you that the resource naming was upgraded to look like this `49ae3be_webiny-js_api_dev_apolloGateway`, so the pattern goes like this: `{stateId}_{projectName}_{stack}_{env}_{resourceName}`.

[2020-07-04 12:03] #701 closed

[2020-07-04 12:20] TommyJackson85 commented on #699
@Pavel910 Ok good to know, I will work on it next.

[2020-07-04 14:22] TommyJackson85 commented on #1068
What method do you recommend for this ? Should each communicate with a parent component to over write ?

[2020-07-04 14:58] Pavel910 commented on #1068
@TommyJackson85 Try the approach I suggested in my previous comment, the code example is at the very bottom of the message.

[2020-07-04 18:58] Pavel910 opened #1099 "Project state management"
The goal of this issue is to give an overview and reasons behind current project state management, and collect feedback from the community on potential improvements.

## Current state of things

Our default deployment mechanism is provided by [@webiny/cli-plugin-deploy-components](https://github.com/webiny/webiny-js/tree/master/packages/cli-plugin-deploy-components). Under the hood, that mechanism

[2020-07-04 20:21] bbarthel commented on #1093
When I run the command today I get this:

[2020-07-04 22:50] TommyJackson85 opened #1100 "[MongoDB] Reset database in the simplest way without having to change vaiables"
## This is:

- Question

I am looking for the simplest way to completely reset my mongo database, without having to create a new cluster or mongodb connection link.
If I delete these files individually from Mongodb Atlas, will it create any unwanted errors?:

<img width="909" alt="Screenshot 2020-07-04 at 23 38 17" src="https://user-images.githubusercontent.com/22279028/86522035-fd532580-be4f-11ea

[2020-07-05 06:54] Pavel910 commented on #1100
@TommyJackson85 You can delete the whole database and next time to refresh the browser, the installation wizard will start again. No need to create a new cluster, just drop/clear collections.

What is the error you’re getting btw.?

Also, for easier DB management, get a Studio  3T, they have a free tier for up to 3 DB connections.

[2020-07-05 07:34] Pavel910 commented on #1093
@bbarthel @MasMedIm just realized I'm commenting on an issue that I myself created exactly for the problem you're running into 😅 This will be fixed on Tuesday, for our next release. Stay tuned :)

[2020-07-05 09:56] Pavel910 commented on #1030
This is implemented in 4.3.0 release.

[2020-07-05 09:56] #1030 closed

[2020-07-05 10:37] #1093 closed

[2020-07-05 10:44] Pavel910 opened #1104 "Add a script to initialize a cloned user project (like setupRepo)"
## This is:
- Feature request

## Description
We need to add a script similar to our [scripts/setupRepo.js](https://github.com/webiny/webiny-js/blob/master/scripts/setupRepo.js) to the user's project, so that new team members can quickly get the project ready for development when cloned from VCS.

Part of this problem is described in our #1099 issue and I think it would be very beneficial to inclu

[2020-07-05 11:16] TommyJackson85 commented on #1100
@Pavel910 When working on [Pull Request 1075](https://github.com/webiny/webiny-js/pull/1075), I tested out deleting a category with a linked project, and there was an error picking up the category name data from navigating to page builder from all branches I was working on at the time.

So I deleted the entire 'webiny-dev' (this is what I named my database) mongo database, to reset it. When runnin

[2020-07-05 11:59] Pavel910 commented on #1100
@TommyJackson85 honestly - no idea why this is happening. So I suppose you did complete the installation wizard, you logged in with your new admin account, then you created this new user. When exactly does this error happen, is it during login with this new user, or is it during user creation (while still being logged in with the initial admin account)?

[2020-07-05 12:00] Ashu96 commented on #1100
@TommyJackson85 Have you tried clearing the local storage and cache via going into the `application` tab in chrome dev tools?

Also, If you can, please join our [community slack ](https://www.webiny.com/slack/) you will able to find the help of issues a lot quicker there.

[2020-07-05 14:41] #1054 closed

[2020-07-05 14:51] doitadrian commented on #1098
Maybe an easier solution would be just to have this link to a `docs.webiny.com` page, on which we would have all upgrade instructions, so for `4.1.0 -> 4.2.0`, `4.2.0 -> 4.3.x`, etc....

That means the user would have to apply upgrade instructions for each version, which is a MUST, as @Pavel910 mentioned.

[2020-07-05 15:48] TommyJackson85 commented on #1100
@Pavel910 it happened first when redirecting after registering admin user. Then it kept happening when reloading localhost:3001
Not to worry anyway! @Ashu96 's advice helped with this.
Thanks to both of yeah anyway :)

[2020-07-05 16:45] TommyJackson85 commented on #713
@Pavel910 should i use the [child process node.js documentation](https://nodejs.org/api/child_process.html) to run the aws commands within the hook function?

So far this is what I am going for:
<img width="795" alt="Screenshot 2020-07-05 at 17 43 41" src="https://user-images.githubusercontent.com/22279028/86537466-21ae1100-bee7-11ea-9ff5-06f7974db052.png">

Correct what you see for me so far. I w

[2020-07-05 16:57] Pavel910 commented on #713
@TommyJackson85 use the SDK: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/STS.html#getCallerIdentity-property

And of course, move the plugin into a separate folder, the same way `deploy` and `remove` are handled.
If the user doesn't have the credentials, print a message and attach a link to our docs: https://docs.webiny.com/docs/guides/aws-credentials

[2020-07-05 17:13] Pavel910 commented on #1098
@doitadrian our Github Releases contain those links so using the release body covers both change log and upgrade instructions. It's easy enough to pull in the release data via public API: https://api.github.com/repos/webiny/webiny-js/releases/latest.

We just need to somehow communicate that sometimes you can't skip version and need to apply upgrades one by one.

[2020-07-05 18:42] TommyJackson85 commented on #713
@Pavel910 I assume this post is out dated as this file doesn't exist anymore? The command will now be executed from ```packages/cli-plugin-deploy-components/index.js```, correct?

I've created an aws folder with files index.js and aws.js following the same template as ```deploy``` and ```remove```, for the time being.
What will be passed in ```params``` and ```context``` when this function is run?

[2020-07-05 18:48] Pavel910 commented on #713
@TommyJackson85 yes this issue was opened long ago, and a lot of things changed in the meantime. You're on a good path here.

Just do a `console.log` to see what comes in `params` :) Here are some references to the code that executes hooks:
https://github.com/webiny/webiny-js/blob/master/packages/cli-plugin-deploy-components/deploy/deploy.js#L79

And `context` is an instance of CLI context: https:

[2020-07-05 18:49] TommyJackson85 commented on #713
just updated my last post haha!

[2020-07-05 18:55] Pavel910 commented on #713
@TommyJackson85 credentials will not be passed in `params`. See the link in my previous comment. These plugins are generic, and `params` will contain some basic information about the deploy process.

Webiny itself doesn't load AWS credentials; we absolutely don't care where they come from, as long as AWS SDK is happy.

[2020-07-06 08:04] #1043 closed

[2020-07-06 13:13] #1074 closed

[2020-07-06 14:52] #936 closed

[2020-07-06 16:03] SvenAlHamad commented on #1098
The goal is to keep the users on the latest version. I would imagine a minority of users is after the changelog, but if they need it, we can just provide a link.

My thought would be to kind of power this with our headless cms and have a model in there that controls the content which will be displayed when they click on this version icon. This way we can experiment with a few approaches. We can, f

[2020-07-06 18:21] #953 closed

[2020-07-07 09:36] doitadrian opened #1107 "Apollo GraphQL Service Scaffold - Removal Command"
We had a question about removing the previously scaffold-generated GraphQL Apollo Service.

It would be really useful to have it, so that our users don't have to manually remove the generated files and entries in the `resources.js` file.

What do you think would be the best approach for this?

Any ideas?

I'm starting to think that choosing `Apollo GraphQL Service` scaffold could actually be anoth

[2020-07-07 11:35] Fsalker commented on #1006
**Implementation Plan**

- I'll create a new package in **/packages**: `cli-plugin-scaffold-react-app`, which creates an app very similar to `admin` and displays **"Hello world!"** when you run it.
- this package will be as **similar** as possible to the **existing scaffold plugins**.
- all apps generated with this new scaffold plugin **must** reside within **<project_root>/apps/**
- the generated

[2020-07-07 11:42] Pavel910 commented on #1006
@Fsalker ask the user where he wants to generate the app, it's `apps` by default, but the user has to be able to change the location. Follow the approach we use in other scaffolding plugins.

Also provide the user with a selection of 3 templates: `admin`, `site`, `custom`. The first 2 should look similar to our current setup, and the `custom` one is just a simple `index.tsx`, similar to what `crea

[2020-07-07 11:44] Fsalker commented on #1006
alright

[2020-07-07 12:13] TommyJackson85 commented on #713
@Pavel910 I am trying to run ```lerna watch``` on ```cli-plugin-deploy-components``` to ```console.log(params)``` , but its saying no packages found. Is it only some of the packages that need to be run lerna watch?
Here are the commands I am using:
<img width="966" alt="Screenshot 2020-07-07 at 12 43 38" src="https://user-images.githubusercontent.com/22279028/86775842-9dc36880-c04f-11ea-9396-eb07b

[2020-07-07 12:16] Pavel910 commented on #713
@TommyJackson85 that package is written in Vanilla JS, so you don't need to build it. Just add code as you wish and run the deploy.

[2020-07-07 12:25] TommyJackson85 commented on #713
am i to run it from apps/admin or from api? it is a cli package.

[2020-07-07 12:27] Pavel910 commented on #713
@TommyJackson85 it's a CLI plugin, used in `webiny.root.js`. It add `deploy` command to the CLI. So to run its code, you need to run the deploy, as you normally do it. Run it from `sample-project` folder, `npx webiny deploy api --env=local`.

[2020-07-07 13:00] TommyJackson85 commented on #713
oh sorry! I was running yarn start from admin by mistake.

[2020-07-07 13:41] TommyJackson85 commented on #713
Result of ```params``` and ```context```  ("params:::::::::" and "context::::::::::" are just strings and running in the console to mark which is which):
<img width="1056" alt="Screenshot 2020-07-07 at 14 26 51" src="https://user-images.githubusercontent.com/22279028/86788373-00236580-c05e-11ea-90f8-082a6c81745f.png">
<img width="1058" alt="Screenshot 2020-07-07 at 14 27 07" src="https://user-imag

[2020-07-07 13:45] Pavel910 commented on #713
@TommyJackson85
1) you don't need neither `params` nor `context` for what you're doing.
2) hooks are not repeated twice, they are 2 separate plugins, see the last letter - it's different.
3) to fix `posthog-node` problem, you can either run `yarn` to install all dependencies, or update your fork to the latest `master` because I removed that dependency today.

[2020-07-07 13:59] TommyJackson85 commented on #713
yeah I know, I didn't make a bid deal about the error, I just thought it was to do with the code I wrote. Will fix it now.

[2020-07-07 14:17] TommyJackson85 commented on #713
fixed it and trying to import aws for the sts
<img width="580" alt="Screenshot 2020-07-07 at 15 15 21" src="https://user-images.githubusercontent.com/22279028/86794782-cb66dc80-c064-11ea-9e73-ccfe355e654d.png">
I was getting an sts wasnt defined and now an aws wasnt defined.
Do I need to import aws from a specific file for this?

[2020-07-07 14:22] TommyJackson85 commented on #713
for further context here, I found this is the webiny-js project folder:
[code]
I assume this is a global function that passes in an aws parameter, but i cant find being used anywhere in the project.

[2020-07-07 16:26] Pavel910 commented on #713
@TommyJackson85 nothing is global, and there is no magic. You need to require `aws` like you normally would require any other library:

[code]

The function you're referring to (getAccountId) is part of the package, see the screenshot below:
![image](https://user-images.githubusercontent.com/3920893/86812305-29082280-c07f-11ea-9240-033e8a857135.png)

It has nothing to do with what you're doing. So

[2020-07-07 19:55] #879 closed

[2020-07-07 20:41] Fsalker commented on #1006
should i also add the generated react app to `resources.api.inputs.endpoints` in `resources.js`?

![image](https://user-images.githubusercontent.com/16700631/86840180-1b689200-c0ab-11ea-861f-a782aeae091b.png)

[2020-07-07 21:30] TommyJackson85 commented on #713
"aws/clients/sts" wasnt found, I received this error:
```(node:3103) UnhandledPromiseRejectionWarning: Error: Cannot find module 'aws/clients/sts'```
 so I used "aws-sdk" instead like this (is it the same?):
```const sts = require("aws-sdk/clients/sts");```
Seems to work better but I am now getting this error:
```  🚨 Hook cli-command-aws encountered an error: sts.getCallerIdentity is not a functio

[2020-07-07 23:17] TommyJackson85 commented on #1097
@doitadrian check the pull request to see if I'm going about this correctly. Wasn't sure if you wanted to remove searchModel or the model parameter of searchModel.

[2020-07-08 08:12] Pavel910 commented on #713
@TommyJackson85 yes `aws-sdk` is the right package, my bad.

Read AWS docs to see how SDK clients are being used: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/STS.html
You need to instantiate it.

In AWS docs you'll always see them reference the clients as `var sts = new AWS.STS();`, via the `AWS` variable. That's because the docs are written as if you were loading the whole SDK, but we

[2020-07-08 08:51] jinman opened #1110 "Error during Installation 4.3.0 TypeError: Cannot read property 'startsWith' of undefined"
- Bug
## Specifications

  - version: 4.3.0
  - OS: Catalina
  - Browser:Chrome

## Expected Behavior
npx create-webiny-project new-project should install a new project

## Actual Behavior

[code]

I had previous versions (3.xx) of webiny installed but I removed it manually from AWS as well as from my system.

[2020-07-08 08:53] Pavel910 commented on #1110
Hey @jinman, this is fixed and will be released in a few hours. We're working on a 4.4.0 release right now :)

[2020-07-08 08:54] Pavel910 commented on #1006
@Fsalker yeah, the scaffolded app should be added to `resources.js`.

[2020-07-08 09:23] Pavel910 commented on #1110
@jinman `4.4.0` is live, so feel free to run `npx create-webiny-project new-projec` again :)

[2020-07-08 14:59] TommyJackson85 commented on #713
Thanks for the help so far! Have a look at my PR request to see how I am doing.

[2020-07-08 16:04] doitadrian opened #1112 "S3 Serverless Component - must not use uppercase letters"
Thanks to our user Arun, we discovered that having a bucket name with uppercase letter in it, will result in the whole deploy process to hang.

!["something-mine-WBy" used as a bucket name](https://user-images.githubusercontent.com/5121148/86942334-4ef7fa80-c145-11ea-9938-a7f74faa673b.png)

In the official docs, it states they state the following:
```Bucket name must not contain uppercase characte

[2020-07-08 16:09] Pavel910 commented on #1112
Not sure what's the best way to approach this; we could validate the `S3_BUCKET` env variable before running deploy, but the problem is that developers can use ANY env variable name instead of that one. And since bucket name is passed to several resources, we can't have a centralized place to validate this 🤔

[2020-07-08 16:46] AlbionaHoti opened #1113 ""image gallery component not found" when using the image gallery page element"
## This is:

- Bug

## Specifications

  - version: 4.4.0
  - OS: Mac
  - Browser: Chrome

## Expected Behavior

1. When drag&drop an `image gallery` page element, and click `Add Images` button and the upload view appears, the modal should be closed.
2. When selecting the images, and upload to the page, the images should show up.

## Actual Behavior

1. When drag&drop an `image gallery` page eleme

[2020-07-08 18:38] jinman commented on #1110
@Pavel910,

I tried 4.4.0 but now it just does:
[code]

Does it have to do with the fact that I had previous versions of webiny installed? Also what is a best way to remove webiny stacks in a clean way since there are no CFN stacks. I tried npx remove-aws-resources and had to manually remove the previous instances.

[2020-07-08 18:42] Pavel910 commented on #1110
@jinman there should be an error printed... this look very weird. Try running like this:
`npx create-webiny-project serverless-cms --log` - it will create a log file `cwp-log.txt` and you will be able to see errors in there, if any.

Regarding stacks removal: if the project is not broken, there is a `yarn webiny remove api --env=xy` command to remove a particular stack for a particular environment

[2020-07-08 22:14] lauren57721 opened #1114 "Headless CMS - new environments do not show linked aliases"
## This is:

- Bug

## Specifications

  - version: 4.3.0
  - OS: Ubuntu 16.04
  - Browser: Firefox

## Expected Behavior

When you:
-  create a new environment in "Environments",
- and then create an alias linking to the new environment in "Aliases",
- and then go back to the "Environments" page,

You should:
- see a message saying that the new environment is assigned to the alias.

## Actual Beh

[2020-07-09 00:30] TommyJackson85 opened #1115 "Fix: On shorter screen widths, the display of Welcome screen's widgets and footer links could be improved for better UX"
## This is:

- Bug

## Specifications

  - version:

  - Browser:

## Expected Behavior

Details on the welcome page should be better displayed for reading and clarity.
Grid of columns / widgets should change to full width or 2 columns on smaller screen widths.
Text could be decreased in size.
Links shouldn't overlap each other and should be better aligned.

## Actual Behavior

On smaller screen w

[2020-07-09 04:29] Ashu96 commented on #1115
Hey, @TommyJackson85 thanks for all this information.
Could, you please tell us more about the screen size? (i.e what does small and medium actually means in pixel or device)

Because in my testing the welcome screen's widgets look good on IPad pro and IPad and I'm not sure if the admin app has a use-case for mobile screens.

[2020-07-09 06:10] Ashu96 commented on #1114
Hey, @lauren57721 thanks for reporting this issue.

This is happening because the `LIST_ENVIRONMENTS` query is not refreshing.
`packages/app-headless-cms/src/admin/views/Environments/Environments.tsx:45`

Because if you simply refresh the page you will see the update made in alias reflected in the environment itself. Obviously, this is not an ideal UX.

---
### Possible solution:
- Find out why th

[2020-07-09 12:55] TommyJackson85 commented on #1115
Yeah I think it's not bad on iPad Pro to be fair:
<img width="563" alt="Screenshot 2020-07-09 at 13 31 59" src="https://user-images.githubusercontent.com/22279028/87040484-adc28000-c1e8-11ea-943c-c36fee3e10f2.png">

The regular iPad makes the text squash on the widgets and footer links could be better aligned maybe:
<img width="551" alt="Screenshot 2020-07-09 at 13 31 42" src="https://user-images.

[2020-07-09 15:00] EmilK15 commented on #828
The scope of this has changed to remove createdBy props.

[2020-07-10 00:17] jinman commented on #1110
contents of cwp.log.txt file

[code]

[2020-07-10 06:29] Pavel910 commented on #1110
@jinman this is definitely not what is supposed to be in there. I'll debug this and get back to you.

[2020-07-10 06:32] Pavel910 opened #1116 "create-webiny-project corrupted log file"
## This is:
- Bug

## Detailed Description
When CWP fails at `Install template package` step, `--log` contents is `{   "context": {} }`.

[2020-07-10 09:58] #1116 closed

[2020-07-10 10:00] Pavel910 commented on #1110
@jinman this PR fixes this particular problem and improves the logging overall: https://github.com/webiny/webiny-js/pull/1117.

It will be released on Tuesday with the other stuff we're working on at the moment.

I'm really interested in seeing the error that's causing you problems.

[2020-07-10 11:40] Ashu96 commented on #1115
@TommyJackson85 thanks for reporting this issue.

I'm still not sure that the admin app is meant to be used via a mobile device.
Using any admin app on mobile is not an ideal case IMHO.
Anyhow, this issue will be resolved soon and the result will look something like this:

![localhost_3001_(iPhone X)](https://user-images.githubusercontent.com/13612227/87150437-ade97b00-c2cf-11ea-96c1-5b88e96dd749.

[2020-07-10 13:48] TommyJackson85 commented on #1115
Yeah, I’m reporting this error from web browsers only. Not mobile. It could be different on mobiles for sure. Best thing to do is check the live website from a mobile device.

[2020-07-10 14:57] TommyJackson85 commented on #738
@SvenAlHamad I am not seeing any issue here, can you be more specific on how you came across this problem, like what pages?
@Pavel910 has this issue already been fixed?

[2020-07-10 15:14] EmilK15 opened #1119 "Updating a model that is referenced doesn't show latest revision on query"
Adria within the community mentioned creating two models, modelA and modelB. modelB contains a reference to modelA, and if modelA is updated, modelB's reference to it shows outdated fields.

## This is:
- Bug

## Expected Behavior
I believe modelB should have the current reference to modelA.

## Actual Behavior
modelB will point to the first publishing of modelA.

## Steps to Reproduce the Problem

[2020-07-10 15:27] #764 closed

[2020-07-10 17:01] doitadrian commented on #1119
Yeah, we should store `parent` IDs when storing these references, not the exact `revision` ID.

[2020-07-10 17:53] TommyJackson85 commented on #699
I'm having issues trying to upload images. They dont load once they're uploaded.
Is this a new bug?
<img width="906" alt="Screenshot 2020-07-10 at 18 51 58" src="https://user-images.githubusercontent.com/22279028/87183709-8948cf80-c2de-11ea-896f-ba9627be6149.png">

[2020-07-12 17:27] TommyJackson85 commented on #1068
I tired this, but we want the authProps message to appear after a password change, its the error message we want to remove.

I will take a look at the other files you referenced.

[2020-07-12 17:56] TommyJackson85 commented on #1068
@Pavel910 Maybe comparing previous props and current props to see what was displayed previously, then maybe remounting might work

[2020-07-12 19:21] Pavel910 commented on #1068
@TommyJackson85 the way I see it, using `{authProps.message && !error && ( ... )}` will render the message after a successful password change. Then, when you try to login and fail, the error will be rendered, and the previous password message will disappear, which sounds like what we want.

Not sure if I'm missing something 🤔

[2020-07-13 00:06] TommyJackson85 commented on #1068
I think it is good to do this for defensive programming purposes and could also be used for the other way around to display errors (i.e. ```{ error && !authProps.message && ( ... )}``` ).

However it is not enough and creates other errors (in your suggested case it kept the authentication error alert after successfully resetting password. The reason they were appearing at the same time was because

[2020-07-13 00:31] TommyJackson85 commented on #1068
You were referring to line 88 in the ```Authenticator.ts``` file:
<img width="663" alt="Screenshot 2020-07-13 at 01 29 28" src="https://user-images.githubusercontent.com/22279028/87260201-59e5be80-c4a8-11ea-9543-c701d019a9d2.png">

Could we try and tackle it from here?

[2020-07-13 07:19] Pavel910 commented on #1068
@TommyJackson85 I'll need to dive into the code to provide some useful directions, will let you know when I check this out.

[2020-07-13 11:02] #1115 closed

[2020-07-13 14:42] doitadrian commented on #1035
Since I'm currently in the middle of refactoring, I'll take a look at it.

[2020-07-13 14:54] #1114 closed

[2020-07-13 15:25] TommyJackson85 commented on #1068
Ok, no problem.

[2020-07-14 04:11] #863 closed

[2020-07-14 08:19] #1097 closed

[2020-07-14 09:32] jcode-hub opened #1123 "Deployment to non "default" account not possible"
## This is:

- Bug

## Expected Behavior
When the value of "AWS_PROFILE" in .env.json is changed to "anotheraccount" the deployment should happen in "anotheraccount"

## Actual Behavior

When the value of "AWS_PROFILE" in .env.json is changed to "anotheraccount" the deployment happens in "default" account. It's not possible to deploy in other accounts except of changing your .aws/credentials file

[2020-07-14 09:37] Pavel910 commented on #1123
@jcode-hub several users reported this so far, but I couldn't reproduce it myself using non-default profile.
I'll give it some more testing but we're currently very busy with other stuff, so I can't promise a quick fix.

Hopefully I'll manage to reproduce this, then we can at least begin to think about the cause of the problem.

[2020-07-14 09:49] jcode-hub commented on #1123
@Pavel910 let me know if I can provide any further information.

[2020-07-14 10:35] Pavel910 opened #1124 "Content Model validation message not show in the dialog"
## This is:
- Bug

## Expected Behavior
When an invalid model name is specified, for example `3D Asset`, a validation message should be shown under the `Name` input.

## Actual Behavior
Validation fails with a very obscure `Validation failed` error:
![image](https://user-images.githubusercontent.com/3920893/87415973-49c7ff00-c5ce-11ea-97f6-dba593bc164a.png)

## Steps to Reproduce the Problem
1. Op

[2020-07-14 13:54] TommyJackson85 commented on #1115
@Pavel910 the problem is still prevalent on desktop browsers:
<img width="476" alt="Screenshot 2020-07-14 at 14 42 54" src="https://user-images.githubusercontent.com/22279028/87434006-dc25ce00-c5e1-11ea-841a-08f049ecc022.png">

[2020-07-14 14:00] Pavel910 commented on #1115
@TommyJackson85 Admin app is not supposed to be used on mobile devices. You can force any app to  get out of whack if you hit the correct dimension where it breaks. We won't be investing any time at all into trying to making it work on small screens, especially not touch screens.

The reason is simple: PageBuilder, FormBuilder and CMS UI relies heavily on drag&drop, which won't work on any touchsc

[2020-07-14 14:28] EmilK15 opened #1125 "Create new Content Model dropdown has wrong background in dark-mode"
This is:
- Bug

## Specifications

## Expected Behavior
You should be able to see the actual content models to choose from instead of white background on white text.

## Actual Behavior
Most likely black/grey background for that section

## Steps to Reproduce the Problem
1. Select Dark mode on the top right hand corner of the page
2. Click on Create Model
3. Click on Group to select from dropdown

[2020-07-14 14:34] TommyJackson85 opened #1126 "Fix: add CMS CRUD security scope for Headless CMS Welcome Widget [partially blocked]"
## This is:

- Bug

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior

Headless CMS welcome widget to be hidden from accounts that have no authorisation to access it.

## Actual Behavior

***Widget still exists:***
<img width="1046" alt="Screenshot 2020-07-14 at 15 10 19" src="https://user-images.githubusercontent.com/22279028/87435939-463f7280-c5e4-11ea-8487-c27fd65b4968.

[2020-07-14 15:03] TommyJackson85 opened #1127 "Fix: logging into a new unauthorised account for the first time gives an unauthorised error"
## This is:

- Bug

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior

When logging into a newly added user account for the first time (added by an admin account), and then resetting password as required, I should be navigated to the welcome screen.

## Actual Behavior

I am navigated to the "You are not authorized to access this route" page. I have to manually navigate to

[2020-07-14 15:09] Ashu96 opened #1128 "Headless CMS: API information improvements"
Add improvements to the `API information` section in the admin app.

## This is:
- Bug

## Specifications

  - version: 4.5.0
  - OS: Ubuntu
  - Browser: Chrome 80

## Expected Behavior

1. API information should resolve immediately after creating an alias.
2. The placement of tooltip in the API information dialog should be near to the title, as shown in the screenshot.

## Actual Behavior
1. API

[2020-07-14 17:30] TommyJackson85 commented on #1115
@Pavel910 I'm not talking about mobile devices though, I am talking about browsers on desktops and laptops when you decrease the width of the browser. The screenshot is from a laptop chrome browser decreased in width.

I pulled the master branch again to get most recent changes and ran yarn start from apps/admin to check, and the same design issues are there.

By all means though, if this is not e

[2020-07-14 17:47] TommyJackson85 commented on #1113
@AlbionaHoti I have been having issues uploading images to page builder and trying to render them. Do you think this could be related to this issue? Check the console logs in these screenshots:

<img width="1389" alt="Screenshot 2020-07-14 at 18 41 45" src="https://user-images.githubusercontent.com/22279028/87458335-bc9e9d80-c601-11ea-933f-25d41854ee39.png">
<img width="1098" alt="Screenshot 2020-

[2020-07-14 17:50] Pavel910 commented on #1115
@TommyJackson85 Desktop or mobile, it doesn’t really matter, it’s the screen width that’s the constraint. If the viewport width is smaller than around 1200px, you can safely ignore all the problems.

[2020-07-14 18:09] TommyJackson85 commented on #1073
@Pavel910 I will look into this now. I might create a PR too.

[2020-07-14 19:17] EmilK15 commented on #910
After testing in the following fashion, we came to the conclusion that it was not possible to reproduce this problem via the UI.
1. Create a Content Model
2. Edit the Content Model to have a list of text values
3. Clicking on Indexes Tab shows that the text values are **unable** to be indexed in order for them to appear in the `/cms/read/development` and `/cms/manage/development` api url's.

So we

[2020-07-15 03:56] EmilK15 opened #1129 "Headless CMS error when clicking add index with nothing selected"
## This is:
- Bug

## Expected Behavior
You should see the index greyed out unable to click on it

## Actual Behavior
You will see this error:
![image](https://user-images.githubusercontent.com/9532882/87501633-8ecf4e00-c62d-11ea-84e1-f5a10d27d0c0.png)

## Steps to Reproduce the Problem
1. Create Content Model
2. Add 4 fields, you can have them an assortment of numbers and text types
3. Click on I

[2020-07-15 21:10] alessandrolosacco commented on #1123
+1

[2020-07-15 21:33] EmilK15 commented on #1090
The steps to reproduce this problem is the following:
1. Create a Content Model with a single uppercase letter Ex. G
2. Head to the Model under Headless CMS and click on G to create a model of that
3. Click Save and Publish, this error will appear.
It's important to note here that if you use an all uppercase name like MADD (or other acronyms)
This issue does not present itself, and in the playgrou

[2020-07-16 05:38] jinman commented on #1110
@Pavel910, thanks for your help. but now I am getting...

[code]

[2020-07-16 05:40] Ashu96 commented on #1110
@jinman It looks like there is a network problem on your end as the error message suggests.

[2020-07-16 09:27] AlbionaHoti commented on #1113
Hi @TommyJackson85

The bug is occurring only with the `image gallery` page element.

If you are interested to jump in and see what is causing the bug, you are more than welcome :)

[2020-07-16 09:36] Pavel910 commented on #1110
@jinman this isn't really related to Webiny. It's an `npm` issue. It looks like your registry is configured to be at `127.0.0.1:5000`. A wild guess is that you're hosting a private registry using `vedaccio` or something.

Look into that, or simply switch the registry back to the original `https://registry.npmjs.org`..

[2020-07-16 09:41] Pavel910 opened #1133 "Add a way to trigger rebuild without a webhook"
This issue originates from this Slack message: https://webiny-community.slack.com/archives/C0147R8166P/p1594888406408000

## This is:
- Feature request

## Detailed Description
Until we have a native support for webhooks, we need to allow users to hook into the CMS via a plugin so they can trigger a site build via code.

## Possible Solution
Add some kind of a `hook` to `packages\api-headless-cms\

[2020-07-16 10:02] Pavel910 commented on #791
This is long resolved! :) Closing.

[2020-07-16 10:02] #791 closed

[2020-07-16 10:03] Pavel910 commented on #633
Closing this issue as most of it was implemented in the meantime.
The last thing to implement is a CLI plugin to push/pull the state, but that is now also easily doable with the recent addition of deploy hooks.

[2020-07-16 10:03] #633 closed

[2020-07-16 10:04] #120 closed

[2020-07-16 10:06] Pavel910 commented on #625
Closing this. In the meantime we embraced TDD for API handlers so constant logging to terminal is no longer necessary. We can now use proper debugging (while developing locally).

[2020-07-16 10:06] #625 closed

[2020-07-16 10:08] #749 closed

[2020-07-16 10:09] Pavel910 commented on #1110
I'm closing the issue, as we now moved away from the original problem.

[2020-07-16 10:09] #1110 closed

[2020-07-16 22:34] #828 closed

[2020-07-17 10:52] doitadrian opened #1138 "Webiny Project Setup Upgrades"
## This is:

- Bug
- Feature request

## Detailed Description
This issue mentions a couple of upgrades we should do on the `create-webiny-project` package.

1. Create `yarn setup-repo` script, that will setup all of the `.env` variables
2. Leave `example.env` files in the project, so that other team members can start working on the project easier.
3. https://github.com/webiny/webiny-js/issues/1167

[2020-07-17 12:30] #910 closed

[2020-07-17 16:09] econtentmaps opened #1139 "On-the-fly content render/transform plugin framework for Headless CMS"
## This is:
- Feature request

## Detailed Description
Being able to serialise and transform items from a specific content model using arbitrary logic would allow data from webiny to be consumed by any other system a client might have. Extensive content reuse across an organisation, particularly where the client has multiple brand properties and channels or where there's some element of white-labe

[2020-07-17 17:00] Pavel910 commented on #1139
@econtentmaps interesting, so you're talking about complete API here, not just the Slate data you mentioned in Slack.
GraphQL only works with JSON data and predictable (fixed) data model. To achieve what you're talking about here, you'd need to create an extra API endpoint, most likely a REST one, and expose a similar querying mechanism (list, pagination, etc.).

I'm not saying this can't be done,

[2020-07-18 09:37] PercyJax opened #1141 "GraphQL Syntax Error on create-webiny-project Deploy"
Admin webpage shows "GraphQL API is unavailable" error. When I visit XXX.cloudfront.net/graphql page to test if API works, I get JSON response with SyntaxError: Unexpected token � in JSON at position 0.

Waiting 30+ minutes does not change.

Upon refresh, slight changes every time, to fields like "functionName" switches between XXX_api_local_pageBuilderGraphQL, XXX_api_local_cmsGraphQL, XXX_api_lo

[2020-07-18 09:50] doitadrian commented on #1141
Hi @PercyJax,

thanks for the report.

can you provide a screenshot of `XXX.cloudfront.net/graphql` please? Or even better, can you try checking out the CloudWatch logs in AWS, and see if there more details there?

You can check the logs for these functions here (type "GraphQL" into the top filter input):
![image](https://user-images.githubusercontent.com/5121148/87849895-76d92200-c8ec-11ea-82c1-a

[2020-07-18 11:26] doitadrian commented on #1141
Hey @PercyJax,

we've managed to reproduce it. So far, it looks like that an update on one of 3rd party dependencies is causing this issue.

We'll update you as soon as we have some concrete info.

Thanks!

[2020-07-18 11:40] doitadrian commented on #1141
Hey @PercyJax,

as suspected, the issue is happening because of the `apollo-server-lambda` package, that was released yesterday.

I tried to deploy a brand new project, and changed the version of the package to `  "version": "2.15.1",`, it started working immediately.

[2020-07-18 11:52] doitadrian commented on #1141
Hey @PercyJax,

You might be able to resolve this via the `resolutions` setting in `package.json`, something like:

[code]

It's a `yarn` feature, check this article for more info:
https://classic.yarnpkg.com/en/docs/selective-version-resolutions/

[2020-07-18 17:16] Pavel910 opened #1143 "Add a CLI command to view project information"
## This is:
- Feature request

## Description
Webiny CLI needs to contain a command to list all relevant URLs for all environments and stacks as it is very difficult to find this information when you need it. Ideally, it would be `yarn webiny info`, and it would list all the data for each stack and every environment that is deployed for each stack.

## Possible Solution
Since every project can be

[2020-07-18 19:40] PercyJax commented on #1141
Wow - thanks for the quick response!

I tried out the resolutions fix on a brand new install and the admin app seems to be coming up fine. Just saw this though https://github.com/webiny/webiny-js/commit/f6f57e4c91dada71d6feb3ed7e5d11e267c2182d so not actually sure if that was the fix or the resolutions, but glad to see something past the Syntax Error!

[2020-07-19 08:23] Pavel910 commented on #1141
@PercyJax it's your `resolutions` that fixed it. The commit in question is not yet released. Glad you made it past that error. We'll see how we can automate dependency version locking during publishing so this kind of stuff never happens again.

[2020-07-19 14:54] TommyJackson85 commented on #1113
@AlbionaHoti yeah no problem :) I will look into this and create a PR on it if needs be.

[2020-07-19 15:21] jsblx opened #1147 "Fresh-install following quickstart guide creates inaccessible GraphQL API (Unexpected token in JSON)"
I went through the quickstart guide and have reached the admin app setup. While the page does load on my browser, it mentions that I am unable to access the GraphQL APIs. Upon attempting to access GraphQL APIs, the following error appears:

[code]

## This is:
- Bug

## Specifications

  - version: webiny version 4.5.0
  - OS: macOS 10.15.5
  - Browser: Google Chrome Version 83.0.4103.116

## Expe

[2020-07-19 17:22] apylon commented on #1147
I'm also getting the same problem

[2020-07-19 17:58] Pavel910 commented on #1147
Duplicate of #1141.

@jsblx @apylon for a quick fix see this comment: https://github.com/webiny/webiny-js/issues/1141#issuecomment-660471829

We'll release an actual fix as soon as possible, but the fix in the comment will work for you.

[2020-07-19 17:58] #1147 closed

[2020-07-19 19:07] doitadrian commented on #1147
@apylon @jsblx

We released `4.5.1`. Please run `yarn upgrade` to upgrade the packages, and then redeploy your API using the usual `webiny deploy api --env YOUR-ENV`.

[2020-07-20 06:56] asastre opened #1149 "Delete models and contents in bulk"
## This is:
- Feature request

## Detailed Description
It would be nice to have the possibility to delete models and contents in bulk. Now you have to delete individually each model or content created and if there are lots of them created it's a hard task to do.

## Possible Solution
For each element in the lists (models and contents), add a checkbox in order to select/deselect the elements to be

[2020-07-20 10:12] #1129 closed

[2020-07-20 10:27] #1133 closed

[2020-07-20 10:37] #713 closed

[2020-07-20 13:41] jsblx commented on #1147
Hi @Pavel910 @doitadrian,

Thanks for the help! I tried out v4.5.1 and confirm it resolved the issue. :)

[2020-07-20 14:56] Ashu96 opened #1150 "Multi-cloud support"
Add support for GCP and Azure
---
Among all major cloud providers currently, we only support [AWS](https://aws.amazon.com/) out of the box.
Support of other cloud providers like [GCP](https://cloud.google.com/) and [Azure](https://azure.microsoft.com/en-in/) is in our product roadmap.

The goal of this issue is to discuss the support of other cloud providers mentioned above.

[2020-07-20 15:04] Ashu96 opened #1151 "Plugin repository"
A public searchable repository of Webiny plugins.
---
As you may know, everything in Webiny is built using [plugins](http://docs.webiny.com/docs/deep-dive/plugins-crash-course).

There are a ton of plugins available in Webiny and you can also create these plugins by yourself.

As a part of our roadmap, the plan is to create a public searchable repository of Webiny plugin.
It will be a place where

[2020-07-20 15:33] TommyJackson85 commented on #1113
@AlbionaHoti so far I see your point, but I think the modal not closing is a separate issue to the images not showing. Regardless I am looking into both at the same time anyway. Thanks for highlighting this!

[2020-07-21 03:17] Ashu96 opened #1152 "Support 3rd party identity providers"
Support 3rd party identity providers (Okta, Auth0)
---

Manage access to Webiny using 3rd party identity providers.
It is very often the case that one wants to manage access to their app using 3rd party identity providers like [Okta](https://www.okta.com/) and [Auth0](https://auth0.com/)

The goal of this issue is to discuss the support and implementation of such a workflow.

[2020-07-21 03:24] Ashu96 opened #1153 "Amazon Aurora Serverless"
Add support for Amazon Aurora Serverless
---
As a part of our product road map, we want to run Webiny using an SQL database on [Serverless Aurora](https://aws.amazon.com/rds/aurora/serverless/).

Currently, Webiny only supports MongoDB as a database out of the box. The goal of this issue is to discuss this possibility of
running Webiny using an SQL database on Serverless Aurora.

[2020-07-21 07:47] #1096 closed

[2020-07-21 08:02] Pavel910 commented on #1113
@TommyJackson85 yes, definitely split the issues 👍 Thanks!

[2020-07-21 09:31] Pavel910 commented on #883
This is implemented long ago :) Closing.

[2020-07-21 09:31] #883 closed

[2020-07-21 10:33] doitadrian opened #1154 "Create a simple CRUD module scaffold"
# Introduction
Out of the box, Webiny offers a couple of "scaffolds" that help users evolve their app faster and easier.

In the project root, by running the `yarn webiny scaffold` command, currently, users have two options:

![image](https://user-images.githubusercontent.com/5121148/88041703-10057400-cb4b-11ea-88c0-558e68f72dd9.png)

And if we, for example, choose `GraphQL Apollo Service` (and th

[2020-07-21 21:15] EmilK15 commented on #1092
After trying to reproduce the steps above,
in this case when deleting Category I was able to do so without error. The reference field within the CM for Blog was then changed to blank when looking at that specific Blog.

[2020-07-22 14:12] Arun4you opened #1155 "Enable "additional standard or custom attributes" and "usernameAttribute" configuration for aws-cognito-user-pool"
## This is:
- Feature request

## Expected Behavior
1. Any standard or custom attributes added in the resource configuration(resources.js) will be added to the user pool configuration.
2. The the user will be able to configure the "username" attribute when deploying the cognito for the first time.

## Actual Behavior
1. Unable to configure standard or custom attributes to the userpool
2. Unable to

[2020-07-22 16:18] TommyJackson85 opened #1156 "Fix: Images Modal not hiding / closing when selecting "Add Images""
## This is:

- Bug

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior

When drag & drop an image gallery page element, and click Add Images button from the modal, the upload view appears, the modal should be closed or hidden temporarely.

## Actual Behavior

The modal is staying open while the page in the background loads to the images page. Only when we click outside the

[2020-07-22 16:36] Arun4you commented on #1155
Below are the expected changes from above cognito configurations,

### Custom Attribute

![cusattr](https://user-images.githubusercontent.com/8560113/88202953-34ef0980-cc67-11ea-8b35-dcd03832e903.PNG)

### Standard Attribute

![attr](https://user-images.githubusercontent.com/8560113/88203012-47694300-cc67-11ea-9854-3946b47de153.PNG)

### All Attributes

![attrcusstrr](https://user-images.githubuse

[2020-07-22 16:53] TommyJackson85 commented on #1113
@Pavel910 @AlbionaHoti  I created a separate issue for closing Modals (issue #1156). See the link above.
So feel free to edit this initial post to be more suited to the "image gallery component not found" issue.

[2020-07-22 17:08] TommyJackson85 commented on #1156
I will work on this issue.

[2020-07-23 11:52] Pavel910 opened #1158 "Research deployment to VPC"
## This is:
- Feature request

## Detailed Description
We need to try deploying Webiny to VPC to allow using services like DocumentDB. It's a request that occurs frequently, so we need to conduct a research and review our current setup to see what is necessary to allow deployments to VPC.

[2020-07-23 19:15] econtentmaps opened #1161 "'future-proof' slugs for the serverless-cms"
## This is:
- Feature request

## Detailed Description
To get an item from the (any) headless CMS for an SPA and support mapping content reliably to a valid path,  I can see 2 issues 1) slug is cool, but it needs to be “sluggy” (users can’t be trusted to understand valid URL syntax!).  And what if someone changes the slug for whatever reason? This is something we’ve dealt with on numerous occasion

[2020-07-23 19:30] econtentmaps commented on #1161
For example. A client creates an article in the CMS and it's therefore visible in their site at a path defined by them using some SEO research using a user-editable slug. The SEO agency comes back a month or so later and says 'that did OK, but there's this new campaign we think will perform better so we need to change the URL. Now this may be demonstrable B$, but the client's an idiot. They want t

[2020-07-23 19:34] econtentmaps commented on #1161
Of course, this means more than one feature:  1) a simple text field that can be slugified and therefore used for a path and 2) exposing he UUID (and potentially slug history) in the API to allow the client to source the content irrespective of when the URL to it was shared and 3) a global namespace for 'slugs' that could be queries when setting the field. I'd appreciare feedback on the idea?

[2020-07-24 05:30] Arun4you commented on #1155
updated the schema and attributes inputs mentioned in the issue with lowercase.

[2020-07-24 11:12] #1128 closed

[2020-07-24 23:16] gax97 opened #1162 "Update job post from Readme"
Job post from Readme expired.

[2020-07-24 23:21] #1162 closed

[2020-07-26 13:16] tmikaeld commented on #1046
I'd assume it to work just like any shared hosting or multi-site Wordpress.

This would make it possible to use Webiny as a real hosting competitor and would attract a lot of agencies and even hosting providers.

[2020-07-27 09:54] arvi opened #1163 "Form Builder form is not updating the redirect url"
## This is

- Bug

## Specifications

  - version: 4.6.0
  - OS: Mac OS
  - Browser: Chrome

## Expected Behavior

The form redirect url should be updated when I click "Save" and "Publish Changes" after editing the url
## Actual Behavior

I recorded it. Sometimes it work, sometimes it doesn't. The issue is appearing on both cloudfront url and alias domain.

This one is recorded in the cloudfront u

[2020-07-27 10:54] gomonkey commented on #569
After you fix it, I still have the same error

[code]

[2020-07-27 10:55] Ashu96 commented on #1163
Hey @arvi
Thanks for reporting the issue :+1:

I'm curious to know one thing. Can you please try `step 4` a little differently. i.e

Before clicking the pencil icon on the form to edit from the list. Try reloading the revisions by clicking the `refresh list button`

![image](https://user-images.githubusercontent.com/13612227/88534366-90354900-d025-11ea-8f21-78fbc2a667f6.png)

[2020-07-27 10:59] Ashu96 commented on #569
Hey @gomonkey

BTW, which version of `webiny` and OS are you using?

[2020-07-27 17:47] TommyJackson85 commented on #1113
@Pavel910 @AlbionaHoti I created a PR for this but I am wondering is this just something related to data storage of images in development. Maybe I need to upgrade my AWS package to allow more image storage.

As I highlight above and in the newest PR, there is ```500 ``` errors with get requests of images.

[2020-07-27 17:49] gomonkey commented on #569
@Ashu96  I don't know which version is it, I think is the last version of the branch.
I just follow the instructions in the documentation [here](https://docs.webiny.com/docs/get-started/quick-start)
The server is Ubuntu 18.04 (64-bit), same error as reported in this issue.

[2020-07-27 17:54] TommyJackson85 commented on #1104
@Pavel910 I would be happy to work in this issue if its still relevant. Would like to try something more challenging.

[2020-07-27 19:28] Pavel910 commented on #1104
@TommyJackson85 it is still relevant :) Let me know if you need more info 🚀

[2020-07-27 19:30] Pavel910 commented on #569
@gomonkey that's not an error, just an `info`. For example, for `OSX` that dependency works fine so it will be installed. For Windows, it will simply skip that dependency but print that `info` to tell you that it's `Excluding it from installation.`.

[2020-07-27 19:35] Pavel910 commented on #1113
@TommyJackson85 it's definitely `not` related to any AWS limits on storage (there are no limits on AWS, except your wallet capacity :D ).

A potential explanation is that maybe your CDN URL in the database, doesn't match your actual API URL. Open your MongoDB client, go to `Settings` collection, find a record with `key: "file-manager"`. See if the `srcPrefix` matches your actual API URL:

![image]

[2020-07-27 20:00] #1155 closed

[2020-07-27 20:14] TommyJackson85 commented on #1104
Great :) looking for a more challenging task. Will looking it tomorrow. Any further suggestions on files to look at ?

Sent from my iPhone

[2020-07-28 11:34] doitadrian opened #1166 "Use camelCased version of the appName where needed"
The other day, I ran `webiny create-webiny-project wby-4.5.1`, which caused an issue when trying to create S3 buckets and a new database in runtime.

### How to resolve?
Upon assigning the `MONGODB_NAME` value in the `env.json` files, we should at least `camelCase` it, so we don't end up with an invalid database name. We should do the same for the S3 bucket name.

### Implementation

When creating

[2020-07-28 12:14] Pavel910 opened #1167 "Create a project template for a blank admin app with API"
## This is:
- Feature request

## Detailed Description
Webiny currently offers 2 project templates to use with `create-webiny-project`: [cwp-template-full](https://github.com/webiny/webiny-js/tree/master/packages/cwp-template-full) and [cwp-template-cms](https://github.com/webiny/webiny-js/tree/master/packages/cwp-template-cms).

We need to create a new project template, `cwp-template-basic`, whic

[2020-07-28 13:28] Fsalker commented on #1143
here's how I'd approach this issue:

we'll have a new file `deployed-stacks.json` where we store info about deployed stacks/envs

1. create info folder similar to `webiny3\packages\cli\commands\run`. this command prints all information stored in `deployed-stacks.json`
	`webiny3\packages\cli\commands\info\index.js`
1* add the new command in `commands/index.js`, next to `run`
	`webiny3\packages\cli\

[2020-07-28 14:06] Fsalker commented on #1143
after discussing on Slack, here's the new take on this issue:

For our `apps`/`api` stacks, we will export a plugin with type `hook-stacks-info` (see the ss below for the files containing the new plugins), which reads state data from `./.webiny/state/<STACK_NAME>` to get all stacks, then reads every particular stack's `url` from its `Webiny.cdn.json` file. In the end, we will have an array contain

[2020-07-28 16:55] Pavel910 commented on #1104
@TommyJackson85 The following snippet of code shows about 95% of the actual implementation. You'll need to add the generation of `.env.json` in the `site` app as well (it's missing in this code). Also, I'm thinking maybe the best way to do it, is to include this script as an actual package inside the new project, so it would look like this:

![image](https://user-images.githubusercontent.com/39208

[2020-07-29 11:02] Pavel910 opened #1168 "Handle duplicate element ids"
## This is:
- Bug

## Actual Behavior
Sometimes, element manipulation and undo/redo actions leave the state in a broken state, and duplicate IDs happen on multiple elements.

## Steps to reproduce
It's very hard to reproduce from the editor, but it is possible to replicate by explicitly assigning the same ID to 2 elements via a DB client.

## Note
We need to see why the error is not localized with

[2020-07-29 11:07] Pavel910 opened #1169 "Add a CDN distribution comment to easily identify distributions in AWS console"
## This is:
- Feature request

## Detailed Description
Add a `comment` input to the `resources.js` files in all `cwp-template-*` packages to contain the name of the API the CDN is pointing to. It will make it easier to locate the relevant distribution in the AWS console.

![image](https://user-images.githubusercontent.com/3920893/88792887-41f68600-d19c-11ea-9275-8e76dad0b8ae.png)

[2020-07-29 11:11] Pavel910 commented on #927
This was reported by other users, so I'm marking this as `high priority`. We need to resolve this for the next release.

[2020-07-29 13:00] TommyJackson85 commented on #1156
@Pavel910 thanks for assigning me. Check my PR again as I feel it's almost complete.

[2020-07-29 13:13] TommyJackson85 commented on #1113
@Pavel910 yeah under ```file-manager``` in my Mongodb Atlas database I found this:
```srcPrefix: "https://d1n9phpywaycl3.cloudfront.net/files/"```
Where should my API URL be located in the local repository?

[2020-07-29 13:16] Pavel910 commented on #1113
@TommyJackson85 it's your API CDN domain, just see where your React app is sending requests for the API.
Or, you can go to `.webiny/state/api/local/Webiny.cdn.json` and find it there.

[2020-07-29 16:16] TommyJackson85 commented on #1113
@Pavel910 after rerunning ```yarn webiny deploy api --env=local``` from the root folder I got the following links:
[code]
So you're correct, they are not matching with the Mongodb file manager srcPrefix! I will update the Mongodb database for this.

[2020-07-29 16:31] TommyJackson85 commented on #1113
@Pavel910 It worked! After changing the url I ran ```yarn start``` from ```apps/admin``` again. The previous images I attempted to upload were uploaded to the database anyway, and are now appearing, which  tells me it had issues loading the mongodb client link data  :
<img width="992" alt="Screenshot 2020-07-29 at 17 25 24" src="https://user-images.githubusercontent.com/22279028/88826421-a62b4100-

[2020-07-29 16:32] TommyJackson85 commented on #1113
From the image library:
<img width="958" alt="Screenshot 2020-07-29 at 17 32 01" src="https://user-images.githubusercontent.com/22279028/88827136-79c3f480-d1c1-11ea-8ada-ffb2b82b48dd.png">

[2020-07-31 08:09] #808 closed

[2020-07-31 11:44] gustavotr commented on #1150
I want to help with the GCP support, how do we start?

[2020-07-31 11:48] Pavel910 commented on #1150
@gustavotr First we need to figure out what alternatives do we have for CloudFront, API Gateway and S3 in the GCP world, as those are the main services Webiny depends on. Well, obviously Lambda as well, but for that we have functions.

So first we need a high level plan on how we will deploy Webiny as a whole (or partially?) to particular services.

[2020-07-31 12:02] gustavotr commented on #1150
For S3, Cloud Storage is an obvious choice. I know that GCP has an API service called API endpoints but I never used and don't know if if it has what we need. And for CDN we might be able to use Cloud Storage configuration.

[2020-07-31 12:31] Pavel910 commented on #1150
@gustavotr I'd be really interested in seeing a working PoC, not involving Webiny, just plain GCP setup with some simple code. We need to cover the following request flow:

CDN -> API Gateway -> Lambda -> S3 and back to the browser. Also it's important to be able to flush CDN cache via an API (it's used by our Page Builder, and is very important for SSR of pages).

Once we have that, we'll see wha

[2020-07-31 16:03] arvi opened #1173 "The mobile menu navigation has display issue"
Css issue on default webiny header navigation on mobile

## This is:
- Bug

## Specifications

  - version: 4.6.0
  - OS: Mac OS
  - Browser: Chrome & Brave (Mobile Phone)

## Expected Behavior
Mobile menu display is block or list-item: https://ibb.co/gTb4zyN

## Actual Behavior
Mobile menu display is flex: https://ibb.co/X70br0F

## Steps to Reproduce the Problem

1. View the website menu in mobi

[2020-08-02 16:43] TommyJackson85 commented on #1104
@Pavel910 Just getting around to this now. I will have a look.

[2020-08-02 17:34] TommyJackson85 commented on #1104
@Pavel910 I can't seem to find the setup-rep folder is packages so I will assume you made it up on the fly for demonstration.

I just copied your code snippet into it a new package called ```setup-project``` to keep it consistent with the package.json script.

I'm gonna create a draft PR for this while I further discuss this with you but I'm happy to keep this discussion going in the issue page in

[2020-08-02 17:36] Pavel910 commented on #1104
@TommyJackson85 you're absolutely right; in our repo we have `scripts/setupRepo.js`, but for new projects I wanted to make it into a package, with its own dependencies, then developers can customize it for their project needs.

Looking forward to your PR and we'll continue the discussion there 👍

[2020-08-02 17:59] TommyJackson85 commented on #1104
@Pavel910 checkout the PR and lets continue the discussion there so.

[2020-08-03 10:08] #1090 closed

[2020-08-03 14:12] Pavel910 opened #1176 "Menu element plugin for Page Builder"
## This is:
- Feature request

## Detailed Description
We want to create a new element plugin for Page Builder, which will allow us to use Menus, defined in the Menus module, as part of the page content.

![image](https://user-images.githubusercontent.com/3920893/89190808-4955cf00-d5a2-11ea-9331-dc1f82fe8d35.png)

Once the user creates a new menu, he should be able to go to the page editor, and ad

[2020-08-04 17:21] gustavotr commented on #1150
I have managed to create a similar API Gateway -> Lambda -> S3 flow. I will add the CDN next but from what I have seen it's not very difficult. How can I share what I have done after I finish?

[2020-08-04 17:26] Pavel910 commented on #1150
Maybe you could share it as a github repo? Just create a repository on your account and post a link here. Thanks a lot for spending your time on this!! ❤️

[2020-08-04 18:26] TommyJackson85 commented on #1113
@AlbionaHoti just realised "image gallery component not found still" in the editor. Will take another look at this when I can.

[2020-08-04 19:04] AlbionaHoti opened #1177 "Custom plugins are not reflected on the page builder"
## This is:

- Bug

## Specifications

  - OS: Mac
  - Browser: Chrome

## Expected Behavior

When creating a new [page builder theme](http://docs.webiny.com/docs/webiny-apps/page-builder/development/themes/introduction), the changes are not effective; the default theme is active.

## Actual Behavior

When creating a new [page builder theme](http://docs.webiny.com/docs/webiny-apps/page-builder/dev

[2020-08-04 19:26] Pavel910 commented on #1177
The fix here is to move user's plugins to the bottom of the plugins array so it can replace existing built-in plugins:

![image](https://user-images.githubusercontent.com/3920893/89336034-15a9a080-d699-11ea-84a0-44890763caa7.png)

[2020-08-05 15:51] TommyJackson85 commented on #1177
@AlbionaHoti @Pavel910 I will work on this!

[2020-08-07 09:24] #1113 closed

[2020-08-07 09:25] #1156 closed

[2020-08-07 15:21] markwilcox opened #1179 "Better support for video content via Mux integration"
Currently Webiny supports a generic file content type which could be used to upload a video. However this doesn't support the sorts of features you'd usually need when working with videos, e.g. thumbnails, adaptive bitrate streams etc.

## This is:
- Feature request

## Detailed Description
For my personal use case I only need support in the headless CMS. A way for content editors to see the thumb

[2020-08-07 15:45] doitadrian commented on #1179
Just trying to figure out how would this work.

So you would be doing all uploads in the standard way - via the File Manager.

And then, we call the Mux API to let it know about the newly uploaded video.

And the goal is to have Mux URLs in the File Managers ?

I mean, when you wanted to add a video file to an existing content entry, we would always work with the Mux URL right? Never with the Clou

[2020-08-07 19:42] Pavel910 commented on #1179
@markwilcox  @doitadrian Here's another suggestion: to handle Mux API you would create a new field plugin which would be like an enhanced `file` plugin, which would upload the video file to S3 using our File Manager, then send the file URL to Mux API and retrieve the playback ID. In that plugin you can then handle your videos however you like and upgrade with thumbnails, etc.

[2020-08-10 06:50] Ashu96 opened #1180 "File manager: closing drawer won't save `tags`"
## This is:
- Bug

## Specifications

  - version: 4.7.0
  - OS: Ubuntu 18.0.4 LTS
  - Browser: Chrome 80

## Expected Behavior
Should save tags assigned to a file, when the user closes the file details drawer. (even by clicking outside of drawer)

## Actual Behavior
Tags assigned to a file are only being saved, when the user closes the file details drawer by pressing the `Esc` button

## Steps to

[2020-08-10 14:43] KudMath opened #1181 "Admin darkmode dashboard cards' shadow are not dark moded"
## This is:

- Improvement

It seems the shadows in darkmode are not changed to darkmode (or are not that beautiful :) )
![Screenshot 2020-08-10 at 16 41 43](https://user-images.githubusercontent.com/3056289/89795396-a31d4280-db28-11ea-97ba-da043e08b700.png)

[2020-08-10 14:54] markwilcox commented on #1179
Thanks for the input so far. I've been reading through some of the code this afternoon to try to understand how this should work.

I don't know. I think the interaction with Mux to ingest the video should really happen on the backend (to avoid exposing the Mux API credentials in the client code). I guess I could use the standard File Manager and then make another request.

It'd be cleaner to have

[2020-08-10 18:52] gwalesh opened #1182 "I am having problem Installing Webiny"
## Specifications

  - version:
  - OS: Windows 10
  - Browser: Chrome

## Steps to Reproduce the Problem

## Detailed Description

## Possible Solution

[2020-08-11 09:46] everium opened #1183 "Basic site search not available"
## This is:

- Feature request

## Detailed Description

The GraphQL API currently allows searching by title or tags, but page content appears to be excluded. It would be useful to at least have the ability to search the snippet text as a v1 basic site search.

[2020-08-11 11:26] doitadrian commented on #1182
What seems to be the problem? :)

[2020-08-11 11:53] doitadrian commented on #1179
Sorry for delay @markwilcox !

If you're aiming to use Mux only in Headless CMS (and not e.g. also in PB), then @Pavel910's suggestion seems legit as well.

So, what Pavel meant here, is adding a field here:
![image](https://user-images.githubusercontent.com/5121148/89892745-6f4d2600-dbd7-11ea-8ca8-9382076d8aa5.png)

To achieve this, the first step is to add necessary plugins in the React app.

We

[2020-08-11 13:37] TommyJackson85 commented on #1177
@AlbionaHoti I am trying to follow the example link that you provided for setting up custom plugins, just to test out the changes @Pavel910 suggested to me.
The instructions are making note of a plugin folder from ```apps/site/src```folder from the root directory, but it is not here already. I don't know if I am to run a command that builds it for me or not.
Am I to create a ```plugin``` folder wi

[2020-08-11 14:07] AlbionaHoti commented on #1177
Hi @TommyJackson85, if you follow the iframe plugin example, it's your choice if you want to have the new plugins in a  `plugin` folder or not in a folder at all. In the iframe example, I created the `iframe` folder in the `apps/site/src/iframe` and added the newly created plugins.  You have to create an `index.ts` file in your `plugin` folder, in order to export the plugins you create and registe

[2020-08-11 14:58] gustavotr commented on #1150
I finally got some free time so I created a repo with my current progress. I still have to configure the CDN correctly. Probably I will have to configure with a real domain to make it work. Here is my repo -> https://github.com/gustavotr/serverless-api-over-cdn-on-gcp

[2020-08-11 16:04] TommyJackson85 commented on #1177
@AlbionaHoti can you link me to your repository where you built the iframe example ? :)

[2020-08-11 16:15] TommyJackson85 commented on #1177
@AlbionaHoti Also, just so you know, I was trying to do this from the main webiny repository, let me know if that is wrong.

[2020-08-11 16:23] AlbionaHoti commented on #1177
Hey @TommyJackson85, here is the guide: http://docs.webiny.com/docs/guides/creating-iframe-element-plugin. You will find the github example repo there too. :)

[2020-08-11 16:46] AlbionaHoti commented on #1177
I would recommend to create a new Webiny project, follow the guide here: http://docs.webiny.com/docs/get-started/quick-start. Then follow the Guide on adding a custom plugin with the link I provided.

[2020-08-11 17:12] TommyJackson85 commented on #1177
Sorry i didnt mean to react with a confused emoji. site is not allowing me undo it.

[2020-08-12 07:31] #1006 closed

[2020-08-12 07:33] #1007 closed

[2020-08-12 07:37] #1008 closed

[2020-08-12 07:38] #1143 closed

[2020-08-12 08:12] #1154 closed

[2020-08-12 16:38] gustavotr commented on #1150
Finally created the CDN and updated the repo. I had to use gcloud cli since the feature that creates a serverless network endpoint on terraform is on their master branch but did not get released yet. I believe that it will be available on the next one.

[2020-08-12 16:42] Pavel910 commented on #1150
@gustavotr Lovely, thanks a lot! I'll try to take a look at it one of these days, we're a bit overwhelmed with different tasks and calls, but I'm writing this down so it's not forgotten :)

[2020-08-13 09:37] KudMath opened #1186 "Reference list, order update"
## This is:

- Feature request

On a list of reference, I'd want to be able to edit the order of references (a drag and drop ui would be nice).

[2020-08-13 10:17] KudMath opened #1187 "Supporting Union in CMS"
## This is:

- Feature request

## Specifications
<img width="534" alt="Screenshot 2020-08-13 at 12 15 57" src="https://user-images.githubusercontent.com/3056289/90123275-d812da80-dd5e-11ea-826d-44838f638c45.png">

[2020-08-13 14:54] Pavel910 commented on #1161
@econtentmaps really sorry for the delay, really busy on all fronts 🤯

I understand the intention here. Will you be loading the data from CMS dynamically, when the user hits a certain URL, or will you simply rebuild the site when the slugs change?

The unique document ID you're talking about, and slug history - how do you plan on using that?

[2020-08-14 04:56] doitadrian commented on #1179
Let us know if you need more help here @markwilcox. 🧐

[2020-08-14 10:18] markwilcox commented on #1179
Sorry for the slow cycle time here, I have quite a lot of time off with the kids this summer, and other projects to work on. I'm still getting my head around how it all fits together, but the total effort looks reasonable, so I'm going to start working on this today. Will probably be back with more questions!

[2020-08-14 10:44] doitadrian commented on #1179
Hehe that's awesome @markwilcox!

No worries really, I was just checking to see if you got stuck at some point.

Take your time, and of course, if there will be anything else to go through, ping here!

🍻

[2020-08-15 08:25] arvi opened #1189 "Form submissions doesn't have scroll functionality"
## This is:
- Bug

## Specifications

  - version: Webiny 4.8.0
  - OS: Mac OS
  - Browser: Chrome

## Expected Behavior
I should be able to scroll the form submissions list

## Actual Behavior
Depending on screen size, you can only see the latest submissions. In a 13inch laptop, I can only see 2 out of 20 submissions

## Steps to Reproduce the Problem

1. Create a form
2. Submit entry multiple ti

[2020-08-15 08:32] arvi opened #1190 "Buttons have unnecessary top margin"
## This is:

- Bug

## Specifications

  - version: 4.8.0
  - OS: Mac OS
  - Browser: Chrome

## Expected Behavior

When you create an `H1, H2, H3, H4, H5, H6` button, it should have default margin

## Actual Behavior

There is unnecessary margins for buttons that are not `p`

## Steps to Reproduce the Problem

1. Create a button that is either `H1, H2, H3, H4, H5, H6`
2. Check the rendered output

[2020-08-15 13:15] jcode-hub commented on #1123
the issue seems to be gone with the new version (checkd with cwp-template-cms@4.8.0)

[2020-08-15 13:15] #1123 closed

[2020-08-16 12:29] ramonck commented on #1150
I'm looking forward to using Azure so looking at static web apps with Cosmos DB.

[2020-08-17 11:24] Ashu96 commented on #1189
Thanks, @arvi  for reporting this issue and possible fix as well :zap: :+1:

[2020-08-17 21:08] #1177 closed

[2020-08-18 09:43] #1180 closed

[2020-08-18 15:29] jeans commented on #1046
Right. You should be able to switch not only between environments, but also between different brands or apis, e.g. like this:
![image](https://user-images.githubusercontent.com/10599/90532903-130a7900-e178-11ea-8a0a-29a79878cfe9.png)

[2020-08-20 08:53] Pavel910 opened #1194 "Security layer upgrade (API)"
During the past couple of months we've received many requests about our security layer: how to handle new Cognito user pools, authorize requests to API, create custom signup flows, etc. One of the requests stood out the most - support for 3rd party identity providers, like Okta, Auth0, Ory and fine-grained permission control on both access and business logic level.

This document contains our late

[2020-08-20 09:44] econtentmaps commented on #1161
I was thinking this: Slug is an array. When an article is created, the first item in the array is populated with the item's (not version's) unique id. If the user creates a 'friendly URL' slug, then that will simply be added to the end of the array (once the string has been slugified). The SPA would take the URL path and query the API for articles that have a match in their slug array, and if it's

[2020-08-20 11:01] Pavel910 commented on #1161
@econtentmaps nice explanation, thanks!

What happens if another content entry uses the slug that is in the "history" of another entry? Should that even be allowed?

[2020-08-20 11:05] econtentmaps commented on #1161
Yes. I guess the safest would be global name collision detection on save, but maybe you could have an option to enable sit a scope level instead... I can see collections being presented at specific paths in many apps...?

[2020-08-20 13:18] Pavel910 commented on #1161
I think uniqueness on a content model level is enough, since you always need to know what model you're querying. You can't just query a `slug` and expect the CMS to know what content model it is - so we're safe here.

This is very interesting, I'll talk this over with the team internally to see if there is a way to implement this without too many changes.

Thanks a lot for taking part in this and

[2020-08-20 14:35] Pavel910 commented on #1150
@gustavotr I went through the code, thanks a lot for putting this together! 🚀

It looks pretty straightforward, but will will first need to introduce some improvements on the existing code base to be able to deploy to different cloud providers.

Main things to upgrade:
- **invocation of functions** - we currently use AWS SDK directly in our code to invoke Lambda functions - we'll need to introduce

[2020-08-20 17:37] gustavotr commented on #1150
Count me in @Pavel910 .

[2020-08-21 13:59] bbarthel opened #1195 "Feature request: Show version of webiny"
Feature request:  Show what version of Webiny that is published

Thoughts about location (/admin):
- API Information
- at the very bottom, e.g.  webiny.com v4.9.2

[2020-08-21 14:25] markwilcox opened #1196 "UserMenu: email addresses with hyphens wrap and break the layout"
The UserInfo component in the UserMenu prevents the user's name from wrapping, but not the email. Of course email addresses don't usually contain whitespace, but a hyphen is fairly common and counts as a whitespace character for the purposes of text wrapping.

## This is:
- Bug

## Specifications

  - version: v4.9.0
  - OS: Any
  - Browser: Any (but tested in Chrome and Safari)

## Expected Behav

[2020-08-26 15:47] TylerFisher opened #1198 "Headless CMS: Cannot see list of content models"
## This is:

- Bug

## Specifications

  - version: 4.9.0
  - OS: Mac OS X 10.14.6
  - Browser: Firefox 79.0

## Expected Behavior
I want to visit `/admin/cms/content-models` and see a list of the content models I have defined so that I can edit them.

## Actual Behavior
I see an empty list.

<img width="1665" alt="Screen Shot 2020-08-25 at 2 55 00 PM" src="https://user-images.githubusercontent.co

[2020-08-26 17:11] markwilcox commented on #1179
I've had another chunk of time to work on this at last today. As expected I have a few queries :smile:

1. For the plugins in question, is there currently a mechanism to add third party plugins? I'm currently adding mine with the others, as they seem to get added as part of static lists in the relevant index.ts in each folder. I can see that not everyone would want these plugins though. I'm just n

[2020-08-27 18:14] TylerFisher commented on #1198
User error! After updating, I deployed the API stack but not the app stack. I didn't realize the admin runs out of the app stack.

[2020-08-27 18:14] #1198 closed

[2020-08-28 09:34] Pavel910 opened #1200 "Upgrade to @apollo/client v3"
## This is:
- Feature request

## Detailed Description
As part of our v5 release, we'll use the opportunity and upgrade Apollo Client to the recent v3, which greatly reduces the amount of  dependencies you, as a developer, need to work with. The whole Apollo Client is now in one package which makes it a lot faster to work with: https://www.apollographql.com/docs/react/migrating/apollo-client-3-mig

[2020-08-29 15:16] mativiscusso opened #1201 "Documentation Headles CMS and Gatsby with error"
## This is:

- Bug

## Specifications

  - version:
  - OS: Windows 10 64bits
  - Browser: Chrome - Firefox

## Expected Behavior

## Actual Behavior

The expected behavior is that the guide to build the blog with gatsby and headless cms  works and does not throw an error in the rendering

## Steps to Reproduce the Problem

1. I generate the API models
2. I install graphql plugin in gatsby and put

[2020-08-30 17:45] TommyJackson85 commented on #699
@Pavel910 When putting loading images through render and not the images the width and height keys dont appear to be generated.
 Maybe as a further enhancement, instead of changing the width/height to 100% (when width/height keys are not found) we could attempt to render the image src file in advance to find it's ```naturalHeight``` / ```naturalWidth``` dimensions.
[code]
Could create a separate is

[2020-08-30 18:06] #1182 closed

[2020-08-30 18:07] doitadrian commented on #1169
Let's revisit this one with V5.

[2020-08-30 18:12] #795 closed

[2020-08-31 16:50] TommyJackson85 commented on #699
Continue this conversation in the new PR if you like.

[2020-08-31 17:14] TommyJackson85 opened #1203 "Documentation: Have the Slack community and older community links more easily spotted in the Readme file"
## This is:

- Idea

## Specifications

  - version:
  - OS:
  - Browser:

## Expected Behavior

For new users of Webiny it might be better to have all valuable community discussion boards at the top of the Readme file discussed clearly for user to spot them.
i.e. The [Slack Community](https://www.webiny.com/slack) and the links to older discussion boards.
 Just presented in a small paragrah with

[2020-08-31 19:05] TommyJackson85 commented on #1187
@KudMath  what would be the main purpose and advantages in using Graphql unions here?
Would it be for searching both pages and images types in one for example?

[2020-08-31 19:10] TommyJackson85 commented on #1176
@Pavel910 can I try this ? :)

[2020-09-01 00:31] jacqui commented on #1119
Hello, just wanted to say that we've run into this exact problem and would love it if the parent ID could be stored instead of a revision ID. Thanks!

[2020-09-01 05:22] doitadrian commented on #1119
I just linked a PR that will fix this. Should go out today / tomorrow @jacqui.

[2020-09-01 06:28] jacqui commented on #1119
Amazing, that was so fast @doitadrian! Thank you.

[2020-09-01 06:49] Pavel910 commented on #1176
@TommyJackson85 sure! 🚀

[2020-09-01 09:23] everium opened #1205 "Pages-list Next link doesn't work"
When using a pages-list element on a page, clicking next to see additional pages results in the error:

Cannot read property ‘id’ of undefined”

I've tried this on my local dev deployment as well as my production deployment and only have issues with the production deployment. The only difference between the two is the production deployment has more pages in the category being displayed (between 50

[2020-09-01 11:51] Pavel910 opened #1206 "Security layer upgrade (React)"
This is part 2 of our *Security layer upgrade* journey, and it's focused on the React side of things. You can find part 1 here: https://github.com/webiny/webiny-js/issues/1194, which talks about how things will work on the API side.

## Security Framework (React)

A high level architecture looks like this:
![image](https://user-images.githubusercontent.com/3920893/91831973-0c363880-ec45-11ea-9fc9-

[2020-09-01 12:23] Pavel910 commented on #1152
This issue will be resolved by implementing #1194 and #1206. Those 2 issues cover the approach in details, and will allow anyone to implement any number of 3rd party identity providers.

[2020-09-01 12:25] Pavel910 commented on #747
Linking this with #1206 and #1194  which describe how fine-grained permissions will work.

[2020-09-01 12:35] Pavel910 commented on #1194
The second part of this was just added: https://github.com/webiny/webiny-js/issues/1206
@markwilcox Would be interested in hearing your opinion, please take a look 🚀 Cheers!

[2020-09-01 13:31] TommyJackson85 commented on #1176
@Pavel910 Thanks! Looks like a good challenge for myself. :) How urgent is it to be done?

[2020-09-01 13:32] Pavel910 commented on #1176
@TommyJackson85 not urgent at all, it's just here so we don't forget about this feature. Take as much time as you need :)

[2020-09-01 13:33] TommyJackson85 commented on #1176
@Pavel910 thats great! Will start by reading the turorial anyway.

[2020-09-01 15:05] TommyJackson85 commented on #1176
@Pavel910 would it be best to start by creating the plugin as a package within Webiny's root directory ```packages``` folder while following the [page builder element plugin tutorial](https://docs.webiny.com/docs/guides/creating-iframe-element-plugin/) ?
The tutorial shows you how to create a custom plugin for newly created projects as apposed to adding it to the main webiny repository.
If yes, sh

[2020-09-01 15:32] Pavel910 commented on #1176
@TommyJackson85 the logic of building a plugin within or outside of Webiny is the same. Plugin is a plugin.
But for this task in particular, I would add this plugin directly to the `app-page-builder` core package. It's a very solid feature and it would be great to have it out of the box.

[2020-09-01 15:59] TommyJackson85 commented on #1176
@Pavel910 so in the ```app-page-builder/src/editor/plugins/elements``` and ``app-page-builder/src/render/plugins/elements```  we will create a ```menu``` folders to hold the plugins?

[2020-09-01 16:04] Pavel910 commented on #1176
@TommyJackson85 just follow the existing structure, there are more than enough examples in that `elements` folder :) Just get going, and we'll easily refactor later on if needed 👍

[2020-09-01 16:06] TommyJackson85 commented on #1176
ok for sure!

[2020-09-01 16:46] #1119 closed

[2020-09-01 20:51] markwilcox commented on #1206
This looks very straightforward. One thing I don’t see here (maybe Amplify is doing it behind the scenes but I don’t think it did when I last used it) is managing token refresh. When your token expires it’d be good to have the framework automatically managed refreshing it for you where possible, even if you need to define a plugin, or a function in the plugin to do that.

As a more general comment

[2020-09-01 21:25] Pavel910 commented on #1206
@markwilcox Thanks for joining this topic 🚀

Amplify **does** handle token refresh for you. Any time you call an `Auth.currentSession()` it does it behind the scenes.

As for the rest: it's not biased at all. You can store user data anywhere you want. If you don't want to use our `user-management` package (which provides Users/Groups/Permissions management for admin app), you can do everything usi

[2020-09-02 06:04] markwilcox commented on #1206
That’s awesome, 👏 for the Amplify team. Doing it manually with the Cognito SDK never felt like a good use of time.

I understand the whole replaceable “I can do whatever I want myself” but I do want the batteries included, I’d just prefer them to keep the PII separate. I probably would choose Cognito (because IaC and cheap) as long as I don’t want social/federated login (I know it can, but not wel

[2020-09-02 06:24] alanchrt commented on #877
I just ran into a need for this. Webiny CMS backend/gatsby frontend. As a shot in the dark, I tried installing `@webiny/app-page-builder` and importing the readonly slate editor from there:

[code]

But, no dice due to lack of slate plugins actually being loaded.

Any advice for the short term on rendering rich text in consumers?

[2020-09-02 07:07] Pavel910 commented on #877
@alanchrt the fastest way at this point is to use a package created by one of our community members: https://www.npmjs.com/package/webiny-richtext-serializer

And for usage example please see this sandbox: https://codesandbox.io/s/cold-frog-vfu5j?file=/src/App.js

Besides that, I'll review our existing plugins and Slate component and will post some instructions on how to connect them together and

[2020-09-02 07:19] Pavel910 commented on #1206
@markwilcox hahah, yeah the batteries 🔋 😄 I understand your point of view, it's perfectly legitimate. But also keep in mind that Webiny is a **framework** more than **app provider**. The apps we have are a showcase of what you can do with the framework, but we're a **dev tool** first, apps second.

The main challenge with security is that everybody will want his own set of batteries, which we can'

[2020-09-02 09:27] doitadrian commented on #1119
Hey @jacqui , **4.10.0** was released yesterday.

Please check the https://github.com/webiny/webiny-js/pull/1204 (the Blog section at the bottom of the PR body) for details about the feature and further steps.

And let us know if you have any questions, thanks!

[2020-09-02 10:34] Pavel910 commented on #877
IMPORTANT @webiny/developers:

I'm moving this issue to our [v5 project](https://github.com/webiny/webiny-js/projects/11), as we currently have a blocking issue which is preventing us from creating a standalone package for rich text editor. The blocker comes in form of a Page Builder, which still uses a very old version of Slate editor. It's creating a huge dependency mismatch problem which is not

[2020-09-02 10:42] Pavel910 opened #1208 "Upgrade Page Builder to latest Slate.js version"
## This is:
- Important improvement

## Detailed Description
For the next release (v5) we need to upgrade Page Builder slate editor to use the same version as the rest of the apps in the repo. This is important for 2 reasons:
1) from 0.50.x a lot has changed in the data structure and API of Slate.js which makes it a lot more flexible and easier to handle (+ full TS support). We're already using th

[2020-09-02 14:48] alanchrt commented on #877
@Pavel910 thanks so much! This is really helpful for the interim.

[2020-09-03 09:13] nkumnberlin opened #1209 "FileManager - Can't save Tags and delete Images"
Whenever I try to add a Tag to an image the tag won't be saved.
Also if I try to delete an image literally nothing happens

## This is:

- Bug

## Specifications

  - version: latest Webiny build
  - OS: W10
  - Browser: Chrome, Edge, Firefox

## Expected Behavior

To add a tag for sorting, also delete Image after clicking on the bucket icon

## Steps to Reproduce the Problem

Upload a bunch of im

[2020-09-03 09:24] nkumnberlin opened #1210 "CMS - Content Model: Adding a description to a content model causes DB crash"
After adding a description within a content the Database crashes and the user is unable to access them unless he deletes the description in the mongo db.

## This is:

- Bug

## Specifications

  - version: latest Webiny Version
  - OS: W10
  - Browser: Chrome
  - Database: MongoDB

## Steps to Reproduce the Problem

1. Open a random Model and try to change the description.
![originalModel](https:

[2020-09-03 10:04] Ashu96 commented on #1210
@nkumnberlin Can you please confirm you're using the latest version of `webiny v4.10.0`?

If not, please try upgrading the Webiny project using `yarn upgrade` and then redeploy the API stack.

[2020-09-03 11:18] Ashu96 commented on #1209
@nkumnberlin

For image tags, Once you're happy with the edits that you have made to tags, please press `Esc` key to save them.
We already added a better, more obvious UX for this feature.

Please try upgrading the Webiny project using yarn upgrade and then redeploy the stacks to get all new updates.

For image delete action. We'll fix this bug in the upcoming release. Thanks for reporting :+1:

[2020-09-03 11:31] Ashu96 commented on #1209
The `Delete` image action is not working because the `ConfirmationDialog` has a lower `zIndex` than `OverlayLayoutWrapper`.

https://github.com/webiny/webiny-js/tree/master/packages/app-admin/src/components/FileManager/FileDetails.tsx#L146
https://github.com/webiny/webiny-js/tree/master/packages/app-admin/src/components/OverlayLayout/OverlayLayout.tsx#L11

To fix this issue, we need to add a highe

[2020-09-03 12:01] nkumnberlin commented on #1210
@Ashu96
Its 4.8.0
We will update the project tomorrow and test it again. We'll be in touch

[2020-09-04 11:29] Ashu96 opened #1211 "CMS: Adding a field named `id` to the content model leads to a server crash"
## This is:
- Bug

## Specifications

  - version: `4.10.0`

## Expected Behavior
When a user tries to create a content model with a field name `id` the system should disallow the operation because every content model already has an `id` field automatically generated for you.

## Actual Behavior
When a user tries to create a content model with a field name `id` the system allows the operation and

[2020-09-04 13:24] tbender-unicon commented on #1107
This would be helpful. In fact, it would be helpful to know how to do this manually as well. I have created scaffold service `api/catalog` with an entity `organization` --- but now my playground does not come up and I'd like to remove this scaffold service and bring up the playground and try again.

[2020-09-04 13:27] doitadrian commented on #1107
Good point @tbender-unicon.

For starters, can you try removing the entry in the `resources.js` file and redeploy it?

For example, if I added the api/books service, I would have something like this in it:
![image](https://user-images.githubusercontent.com/5121148/92244384-1d8c7880-eec3-11ea-807d-52ddffebcf89.png)

Can you try that?

[2020-09-04 13:36] tbender-unicon commented on #1107
YEs, I"ll remove that. Is that all I have to remove then?

[2020-09-04 13:55] doitadrian commented on #1107
Just to confirm, yeah, that should be removed as well.

Good catch 👍

[2020-09-07 09:16] nkumnberlin opened #1213 "Irregular high Response times while querying CmsContent"
After working intensively with the headless CMS within an project an issue occured on an irregulary basis.

Sometimes we encountered extremly long load times while quering the CmsContentLambda. The peaks may very between 9 and 12sec. At first we thought the reason would be the mongoDB Server within our EC2 instance, but we quickly switched to MongoDB Atlas and there it happend again.

We got in to

[2020-09-07 09:19] nkumnberlin commented on #1210
@Ashu96  fixed. Worked with the latest version! Thanks

[2020-09-07 09:19] #1210 closed

[2020-09-07 13:28] markwilcox commented on #1179
I'm back from a week of holiday and about to start looking at this again @doitadrian - any thoughts on the above queries before I get stuck in?

[2020-09-09 10:06] latotty opened #1214 "Project Utils: OpenBrowser option for StartApp should work"
## This is:

- Bug

## Specifications

  - version: 4.10.0
  - OS: MacOS

## Expected Behavior
When I set the openBrowser flag to false, it shouldn't open the browser.

## Actual Behavior
It currently reseted to 'true' on every falsy input.

## Steps to Reproduce the Problem
In admin or site webiny.config.js:
[code]

## Detailed Description

Problematic code: https://github.com/webiny/webiny-js/bl

[2020-09-09 10:08] Pavel910 commented on #1214
@latotty oh that's a bad `if` :D Please do send a PR :) Thanks!

[2020-09-09 10:11] #1214 closed

[2020-09-09 10:16] #1209 closed

[2020-09-09 10:32] latotty opened #1218 "Project Utils: Build App SSR source files shouldn't be hard coded"
## This is:

- Feature request

## Specifications

  - version: 4.10.0

## Expected Behavior

When I set up SSR for site, I would like to define where the index.html and the appComponent factory is located.

## Actual Behavior

Currently it is hard coded to "./build/index.html" and "./src/App".

## Detailed Description

In my codebase I structured the code differently, I separated the createApp fr

[2020-09-09 10:45] latotty opened #1219 "CLI: Deploy Status is spamming the CI output logs"
## This is:

- Bug
- Feature request

## Specifications

  - version: 4.10.0

## Expected Behavior

When the `CI` environment variable is enabled, the progress notifications should be disabled.

## Actual Behavior

Currently it pollutes the output in our CI environment.

## Steps to Reproduce the Problem

Try to deploy using Github Actions/Gitlab CI (or any CI solution)

## Detailed Description

W

[2020-09-09 10:46] Pavel910 commented on #1218
@latotty you could approach it in more than 1 way, that's why we have `webiny.config.js` where you can use your own tools however you like it. That's the whole point of Webiny - give structure, but allow full customization.

The built-in SSR setup is very basic, but works for 95% of cases. If you're willing to send another PR with your improvements, that would be great! 👍

[2020-09-09 10:49] Pavel910 commented on #1219
Great, we can solve this for the next release, next week :) Thanks for reporting!

[2020-09-09 10:53] latotty commented on #1218
@Pavel910  Sure thing! I saw the `buildAppSSRFromSource` where I can provide my own bundler, but I really like your solution, and I think it would save time for most of the users if they could use the 'default' one, just with a bit of customisations 😉

I used `ssrOptions` in my solution, do you like it, or should I just spread the options (`indexHtmlPath`, `createAppPath`) like you did with the `a

[2020-09-09 11:02] Pavel910 commented on #1218
@latotty sure, let's expand the options. I think we don't need the extra `ssrOptions` key, let's just put the options in the same level with `app`, since that function only handles SSR:

[code]

Feel free to add more options if you find them useful :)

[2020-09-09 11:12] Pavel910 commented on #1219
Leaving this reference here for whoever will be working on this issue:
https://github.com/webiny/webiny-js/blob/master/packages/cli-plugin-deploy-components/execute/Status.js#L23

I think we can just this simple `if` and it should do the trick:

![image](https://user-images.githubusercontent.com/3920893/92591357-0b815000-f29e-11ea-9cf5-a5a2c8ee407b.png)

[2020-09-10 06:15] #1211 closed

[2020-09-10 11:47] latotty opened #1221 "App admin: Compiled plugins/index.d.ts file contains reference to invalid type"
## This is:

- Bug

## Specifications

  - version: 4.10.0, 4.11.0 (I checked those 2)

## Expected Behavior

To have just local or package imported type references.

## Actual Behavior

Invalid reference `import("../../../app/src/types")`

## Steps to Reproduce the Problem

Try to create a package which exports the type from the `app-admin/plugins/index`.

## Detailed Description

When the tsc tr