[2022-03-31 13:32] sunnythelucky opened #2306 "Checkboxes refresh the page removing every value in other fields."
### Version

5.24.0

### Operating System

mac OS

### Browser

Chrome

### What steps will reproduce the bug?

When I click one of the values and publish it, it refreshes all the other values in other fields. The field looks like this.

[code]

### What is the expected behavior?

It doesn't refresh the form and keep all the values when I publish the asset.

### What do you see instead?

_No respo

[2022-03-31 13:36] Pavel910 commented on #2306
@sunnythelucky it's not very clear what exactly you're doing, so please provide the following information:
- is this a content model created via UI, or via a plugin (code)
- if it's a model via plugin, please post the exact source code for us to inspect
- some screenshots or a short video demonstrating steps to reproduce and the problem itself, so we can clearly see how you encountered it

Thanks!

[2022-03-31 13:44] sunnythelucky commented on #2306
- it is a content model created via plugin
- this is the exact source code I have for the field

## Click the value and add a value to a title
![Screenshot 2022-03-31 at 09 43 05](https://user-images.githubusercontent.com/40551978/161069624-28ecb995-3486-4ab2-a9d4-fe8d6259b40b.png)
![Screenshot 2022-03-31 at 09 43 14](https://user-images.githubusercontent.com/40551978/161069623-7e6fb889-60a6-4b72-

[2022-03-31 13:47] Pavel910 commented on #2306
@sunnythelucky I'm confused, so let me explain:
In Webiny, you can create content models via the UI, using the visual editor, OR, you can create a plugin via code, which defines the content model. Which approach did you use?

If you used the plugin approach, can you share the source code?

[2022-03-31 13:54] sunnythelucky commented on #2306
I have created a plugin via code to make content models. It resides in `api/code/headlessCMS/src/plugins/models/projects`

[2022-03-31 13:56] sunnythelucky commented on #2306
`base.ts` has this code inside

[code]

[2022-03-31 14:01] Pavel910 commented on #2306
Ok thanks, we'll have to try this code to see if we can replicate the issue.

[2022-03-31 14:03] sunnythelucky commented on #2306
Thank you so much @Pavel910 Let me know when more info is needed from my side!

[2022-03-31 14:03] sunnythelucky commented on #1844
I am having the same issue. Was it solved?

[2022-03-31 16:03] Pavel910 commented on #1844
@sunnythelucky unfortunately not. This is still an issue.

[2022-03-31 16:12] Pavel910 commented on #1844
Adding more context to this issue:
- radio buttons get a default value of `[]` assigned, which is weird; should be `undefined`
- checkboxes only have a `required` validator available. It is necessary to have a `minLength`, to be able to require  certain number of values. The `required` validator is not working because the default checkbox value is `[]`, and it effectively _is_ a valid value, so `r

[2022-04-01 10:42] japomani opened #2307 "Format color on individual words"
### Is your feature request related to a problem? Please describe.

No

### Describe the solution you'd like.

In addition to formatting Bold, Underline, and Italics, I would also like to change the color of individual words in text boxes

### Describe alternatives you've considered.

_No response_

[2022-04-01 10:47] japomani opened #2308 "Edit theme css without deploying"
### Is your feature request related to a problem? Please describe.

Not a technical problem, just web-development is several hundred times slower in Webiny than in other platforms. Most other platforms have similar tools like page builder, but in most other platforms I can edit the theme in the UI.

### Describe the solution you'd like.

I wish there was a way to update theme css without deploying

[2022-04-01 10:52] japomani opened #2309 "Create page elements through UI, without needing to deploy"
### Is your feature request related to a problem? Please describe.

Development is too slow

### Describe the solution you'd like.

Creating simple HTML, CSS, JS elements is very slow and requires a higher level of understanding of CLI and react and other things than is really necessary. Plus, it is very slow to develop because the deploy time for each tiny change is very slow.

I wish there was a

[2022-04-01 11:17] Pavel910 commented on #2308
@japomani you don't have to redeploy React apps while developing. API is what needs to be redeployed if changed, but React apps work perfectly fine on localhost: https://www.webiny.com/docs/core-development-concepts/basics/watch-command#watching-project-applications

The commands you're looking for are:

`yarn webiny watch apps/admin --env dev` for Admin app
`yarn webiny watch apps/website --env d

[2022-04-01 12:12] japomani opened #2310 "resize layout cells"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

I wish I could resize the 2 and 3 cell layout options so the cells were a size that better fit my design. In other platforms this is done by putting a handle on the border between cells and sliding back and forth.

### Describe alternatives you've considered.

_No response_

[2022-04-01 12:18] japomani opened #2312 "Allow a custom color swatch pallet"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

two primary colors is not enough, I have 5 accent colors. Let me create the color swatch through the UI, not with code

### Describe alternatives you've considered.

Looks like I'll have to dig into the code a lot to make this change, and it will probably get broken when I upda

[2022-04-01 12:29] Pavel910 commented on #2312
@japomani you can add as many colors as you want in the theme: https://github.com/webiny/webiny-js/blob/next/apps/theme/pageBuilder/index.ts#L10-L14

Just add more key/value pairs to define your colors, and change the existing once if necessary.

https://www.webiny.com/docs/page-builder/theming/introduction

[2022-04-01 12:31] japomani commented on #2308
Thanks Pavel, however, this is not a solution I can hand to my marketing guy to tweak our theme design. I think I am simply the wrong audience for this tool. I need something that fits into my business processes. We are looking for a quick and simple tool for making marketing landing pages. Page builder requires too much backend coding to customize. My feature request is to move the most common th

[2022-04-01 12:33] Pavel910 commented on #2308
@japomani yes you're right, we don't strive to be Wix/Squarespace. Different audience :)
Still, thanks for the feedback, we appreciate your time and will keep this in mind for future improvements.

[2022-04-01 12:36] Pavel910 commented on #2310
@japomani Arbitrary cell resizing is how it used to be, but it didn't work well for responsiveness and was extremely clunky. So we switched it to these fixed presets, so it's a lot more robust from the responsive design standpoint. Unfortunately, this isn't something we'll be changing any time soon.

[2022-04-01 12:36] #2310 closed, assigned to nobody

[2022-04-01 12:40] japomani commented on #2312
I did change those but my new colors did not show up in the color picker

$webiny-pb-theme-primary: #ed008c !default;
$webiny-pb-theme-secondary: #00adef !default;
$webiny-pb-theme-background: #eaecec !default;
$webiny-pb-theme-surface: #424242 !default;
$webiny-pb-theme-on-primary: #ffffff !default;
$webiny-pb-theme-on-secondary: #ffffff !default;
$webiny-pb-theme-on-surface: #000000 !default;
$w

[2022-04-01 12:44] japomani commented on #2308
I'm curious who you think your audience is? A simple page builder is not that useful for a power user, and a page builder that is too simple is not that useful for non-technical user.

It seems like for your page builder to be useful, you need a power user paired with a non-technical user. Someone who can customize your page builder so that it can be useful for a non-technical user.

It seems to m

[2022-04-01 12:48] Pavel910 commented on #2312
Then Webiny is not a good fit for you :) There's nothing we can do about it right now.

What you changed are SASS variables, which are meaningless unless you define CSS variables for them and map them to the theme, which I linked in the previous comment.

[2022-04-01 12:55] Pavel910 commented on #2308
Exactly that. The majority of Webiny users have developers preparing the system for their content-writers/marketers, so once the theme is configured, elements created, etc., content writers just use that. If you look at our community, there are many web-design agencies, who prepare systems for the end-user. We have clients with entire teams of developers developing custom Page Builder plugins base

[2022-04-02 01:30] snstanton opened #2314 "Unable to select first predefined value"
### Version

5.25.0-beta.5

### Operating System

MacOS

### Browser

Chrome

### What steps will reproduce the bug?

* Create a field with predefined values and a required validation.
* Create a new entry, but leave the value unspecified
* Attempt to save
* See the validation error
* Attempt to select the first value
* Note that the first value is already marked as selected
* Attempt to save
* Se

[2022-04-04 16:17] adrians5j commented on #2052
Not relevant anymore.

[2022-04-04 16:17] #2052 closed, assigned to nobody

[2022-04-04 17:43] snstanton commented on #2314
As a workaround, I am always setting a default value for select-box fields.

[2022-04-05 09:34] #2296 closed, assigned to nobody

[2022-04-06 19:30] sunnythelucky opened #2318 "Sharp png compression is not working inside webiny package"
### Version

5.25.0

### Operating System

OS

### Browser

Chrome

### What steps will reproduce the bug?

We modified compressionLevel in `optimizeImage.ts` and `transformImage.ts` from `./node_modules/@webiny/api-file-manager/handlers/transform` and then use patch command to update @webiny package in node_module. But the png image is not being compressed as we expected. So we tested it with a s

[2022-04-06 19:41] sunnythelucky commented on #2318
##optimizeImage.js

[code]

##transformImage.js

[code]

[2022-04-07 02:44] anthony-sap commented on #2247
I'm also seeing this issue. When the permission is set to Only entries created by the user and permission allow "Request Review" or "Request Changes" there is no ability to save the object again after the initial save. Once saved I can request review or change but then once published even those buttons are disabled.

![image](https://user-images.githubusercontent.com/12808283/162109813-58d43851-43

[2022-04-08 07:46] #2051 closed, assigned to nobody

[2022-04-08 07:46] #2048 closed, assigned to nobody

[2022-04-08 07:46] #2036 closed, assigned to nobody

[2022-04-08 07:46] #2003 closed, assigned to nobody

[2022-04-08 17:01] snstanton commented on #2011
Still happening.

[2022-04-11 15:04] plsalvado opened #2322 "Headless CMS content models - option for unique integer"
### Is your feature request related to a problem? Please describe.

Certain field types like Text can be defined as Unique in the system, but not Integers.

There are use cases such storing employee IDs, or book ISBNs (or FWIW any integer based UUID) - where integers should be treated as unique in the system.

### Describe the solution you'd like.

Include a "Unique" option in the Integer field ty

[2022-04-12 10:04] TripleA-rocks opened #2325 "Installing Theme Manager not working"
### Version

5.25.0

### Operating System

MacOS Monterey 12.2.1

### Browser

Chrome

### What steps will reproduce the bug?

1. Install webiny according to the documentation ->  https://www.webiny.com/docs/get-started/install-webiny
2. Install Multi-Tenancy according to the documentation -> https://www.webiny.com/docs/enterprise/multi-tenancy
3. Install Theme-Manager according to the documentati

[2022-04-13 07:54] Pavel910 commented on #2112
Closing this issue as the new admin app framework is already implemented for the main Admin app.
For Page Builder Editor framework, a new issue will be opened with a demo (work in progress).

[2022-04-13 07:54] #2112 closed, assigned to Pavel910

[2022-04-14 12:38] Pavel910 commented on #2325
@TripleA-rocks thanks for reporting, will look into it and get back to you.

[2022-04-15 09:20] Ashu96 opened #2330 "CMS: Add ability to filter entries based on fields inside object field"
### Is your feature request related to a problem? Please describe.

Currently, when a user creates a cms model, filters are created for the `listEntries` query based on every field except the `object` field.
This limitation in searching capability limits the business logic in a way that application code is responsible for filtering data rather than the storage layer (DB). And, in some cases, it is

[2022-04-15 09:31] Ashu96 opened #2331 "CMS: Add an ability to define default value for a field"
### Is your feature request related to a problem? Please describe.

At the moment we can define a default value of a field in CMS.
Although, we have an option to define `predefined values`, the returned value after creation is `null`.

For example, let's say, we created a CMS model named `Product` with a field `discount`. We might want to set `10%` as the `default` value for it, which we can at th

[2022-04-15 09:46] Ashu96 opened #2332 "CMS: Add ability to benchmark DB calls for observability and debugging"
### Is your feature request related to a problem? Please describe.

Headless CMS is great!
When building an application using cms as the storage layer a lot of complexity and code can be completely removed which is awesome. But, as the application author, we don't have much insight into the performance aspect of using cms as the storage layer. Currently, there is no way to know if we're making red

[2022-04-16 01:46] winglunlam opened #2334 "Unable to update a option correctly in radio button - Form Builder"
### Version

5.24.0

### Operating System

MacOS

### Browser

Chrome

### What steps will reproduce the bug?

1. create a radio button in Form Builder
2. add two options `[apple, orange]` to the radio button in sequence
3. edit a label of the option `orange` to `orange-2`
<img width="1118" alt="Screenshot 2022-04-13 at 10 12 31 AM" src="https://user-images.githubusercontent.com/44934955/163656832

[2022-04-16 07:46] #2108 closed, assigned to nobody

[2022-04-19 15:10] endymion1818 opened #2336 "[pageBuilder] Max width of grid elements is hard coded"
### Is your feature request related to a problem? Please describe.

In a recent support thread a user wanted to change the width of the `<Grid/>` element and found it was not possible to do so easily.

### Describe the solution you'd like.

I think this should be a new setting where the user can override the default and have more control over the overall width of grid elements:

![image](https://u

[2022-04-20 07:50] Mikep95 opened #2337 "[FILE_MANAGER] Adding custom SUPPORTED_IMAGE_RESIZE_WIDTH"
### Is your feature request related to a problem? Please describe.

Currently, when an image is loaded into the file manager, it is resized to the default widths ([here](https://github.com/webiny/webiny-js/blob/next/packages/api-file-manager/src/handlers/transform/loaders/sanitizeImageTransformations.ts))
It would be helpful to have the ability to customize these widths

### Describe the solution

[2022-04-21 04:22] winglunlam opened #2338 "Unable to set reCAPTCHA in Form Builder"
### Version

5.25.0

### Operating System

MacOS

### Browser

Chrome

### What steps will reproduce the bug?

1. Go to Form Settings
2. Navigate to reCAPTCHA
3. Toggle Enable button
4. Input a site key and secret key
5. Press the button "ENABLE GOOGLE RECAPTCHA"

### What is the expected behavior?

reCAPTCHA should be enabled

### What do you see instead?

Can't enable the reCAPTCHA and there is

[2022-04-22 07:49] Pavel910 commented on #1911
Closing this as we now use webpack 5, and the tutorial was updated with new packages and commands.

[2022-04-22 07:49] #1911 closed, assigned to nobody

[2022-04-22 07:51] Pavel910 commented on #2336
Shouldn't the grid always be 100% wide? A grid container always fills the available space. It doesn't make sense to make the grid width configurable 🤔

[2022-04-24 11:44] Pavel910 commented on #2325
@TripleA-rocks I was able to reproduce this, it's a type error that was introduced in 5.25.0 (that release contained a lot of TS  changes and upgrades), and it will be fixed in 5.26.0 (release planned some time next week). Once again, thanks for reporting! 🍻

[2022-04-24 19:36] TripleA-rocks commented on #2325
Hi @Pavel910 that is awesome news. Thank you for your work. Glad to be a part of the community. Cheers 🍻!

[2022-04-25 07:59] jimjoes commented on #2336
Well at the moment, you can specify a px width or a %. Currently the default is 1100px. My requirement is to have a way to configure the max width of the content on a pagebuilder page to 800 and 1024 on two different projects. I think the grid should be able to have a relative % width, definitely, but I'm less convinced by px/rem (although I can see the case). If I could easily configure a max-wid

[2022-04-25 08:58] #2325 closed, assigned to Pavel910

[2022-04-25 09:59] endymion1818 commented on #2336
Thanks for your input @jimjoes, this is possible but not with the grid element — you can set it with the block element which wraps the grid, and then set the grid to 100% width:

![Setting 100% width with the block element](https://user-images.githubusercontent.com/2216344/165066614-b21c06f8-352e-4368-8a21-49d6175b0d49.png)

You might have to mess with the margins of the grid element, and the padd

[2022-04-25 11:52] mislavstreicher opened #2346 "[Page Builder] Pasting function pastes text at the beginning of the paragraph instead of new row"
### Version

5.24.0

### Operating System

MacOS 12.2.1

### Browser

Chrome

### What steps will reproduce the bug?

1. In Page Builder, create a new page and add an element to it.
(I've had this issue with Heading, Paragraph, List and Block quote elements).

2. Within the element, write some text then try to paste more text at the end of the sentence or in a new row.

### What is the expected be

[2022-04-25 21:03] brucehsu commented on #2229
This seems to have been addressed by #2295.

[2022-04-26 08:32] adrians5j opened #2349 "Headless CMS/Programmatic Usage Error: `There is no default plugin to create CmsModelManager`"
At the moment, an error is being thrown if one would try to create a new content model programmatically, within the GraphQL handler (Lambda function).

For example - if we were to run [this code](https://github.com/webiny/webiny-js/blob/cms-models-creation-gql/api/code/graphql/src/plugins/customCmsPlugins.ts#L40-L44) (a simple GraphQL resolver where we use CMS API), the following error would occur

[2022-04-26 08:45] brunozoric commented on #2349
The graphql and headlessCMS lambda used to be quite different as the graphql was used to install the headless cms and headlessCMS was used to actually do something with the cms groups, models and entries. We could possibly have a single `createHadlessCmsContext()` for both lambdas. The `createGraphQL` should be separated as it is now.

[2022-04-26 13:56] jimjoes opened #2354 "FormBuilder: Allow a hidden field to be an array"
### Is your feature request related to a problem? Please describe.

I would like CMS users to be able to add an array of strings of arbitrary length to a form that can be passed into the backend (or a web-hook) but that are hidden to end users when filling out the form on the website. In this case, to be used as tags in a subscriber flow (different locations on the site reqiure different tags)

##

[2022-04-27 12:30] plsalvado opened #2359 "Users name not updated in Page Builder Created By field"
### Version

5.25.0

### Operating System

macOS

### Browser

Safari

### What steps will reproduce the bug?

1. Create a new page in PB
2. Change the user's first name and last name in Account Details
3. Go back to PB and you will see that the "Created by" description still references the old name

### What is the expected behavior?

The Created By description should always reflect the latest fi

[2022-04-27 13:09] Pavel910 commented on #2359
Due to data denormalization (NoSQL), this is one thing that is not going to be updated. `createdBy` is not stored as a reference, but as exact values, to avoid unnecessary data reads (and paying for it). Keep in mind (remember Okta integration?) that a system might not have records about users, so the data is taken from identity token and stored right there in the record. If a user changes his nam

[2022-04-27 13:09] #2359 closed, assigned to nobody

[2022-04-28 12:58] mislavstreicher opened #2362 "[Page Builder] UI issue - Page title bleeds into control options"
### Version

5.24.0

### Operating System

MacOS 12.2.1

### Browser

Chrome

### What steps will reproduce the bug?

Open Page Builder app and create a page that has a longer title.
On my laptop/screen resolution, any title over 37 characters would result in this issue.

### What is the expected behavior?

UI should ideally only show the first part of the title shortened with "..." or adjust the

[2022-04-29 05:59] swapnilmmane opened #2363 "Unable to preview/render pages from different locale"
### Version

5.25.0

### Operating System

macOS

### Browser

Firefox

### What steps will reproduce the bug?

I have added a new locale and created a page for this new locale. While previewing(or viewing) this locale-specific page, getting the following error on the browser's console.

[code]

### Here are the steps to reproduce the error (considering we already have one default locale `en-US`):

[2022-04-30 09:21] ProjectDocHelp opened #2368 ""Silent die" when jsonpack returns bulls***"
### Version

v5.24.0

### Operating System

all

### Browser

Chrome

### What steps will reproduce the bug?

Hi team,
A customer of mine experienced a strange behavior: They copy 'n' pasted stuff from google docs to a rich text field and saved it. Webiny said the save was successful, and then the copied text vanished.

### What is the expected behavior?

Either a working save (the same is show in

[2022-05-02 08:55] timruppert commented on #2349
Just checking in @brunozoric - as you can imagine, this has us stalled in trying to migrate to using the headlessCMS on our app.

Where does the real fix fit into the dev schedule?  If it's not coming soon, since the way that we were trying to do this isn't working - is there another work around that we can use in the meantime that will fit in nicely when it is fixed?

[2022-05-03 10:37] Pavel910 opened #2371 "[Headless CMS] Make filter by status work on the API side"
### Is your feature request related to a problem? Please describe.
The filter by `status` shown in the screenshot below works on the client side.

![image](https://user-images.githubusercontent.com/3920893/166439433-06179d75-e4c0-468b-9b86-2d17fca40317.png)

### Describe the solution you'd like.
When filtering by status, it would be a lot more correct to let the API do the filtering. Currently the

[2022-05-04 07:13] taifok opened #2373 "CMS Model cannot create entry when having a `long-text` field with multiple values"
### Version

5.24

### Operating System

Wsl

### Browser

Chrome

### What steps will reproduce the bug?

Create a model entry with long-text field accepting multiple values.

### What is the expected behavior?

A entry is created.

### What do you see instead?

A error message pop up
[code]

### Additional information

_No response_

### Possible solution

_No response_

[2022-05-04 12:15] websuits opened #2374 "Images smaller than 2500 width are not scaled to 2500 and this returns Image not found for desktop."
### Version

5.24

### Operating System

MacOS

### Browser

Chrome

### What steps will reproduce the bug?

Drag an image component to a page. Upload an image smaller than 2500px width.

### What is the expected behavior?

The image should skip the 2500 scaled version, and use the biggest available scaled version.

### What do you see instead?

Image not found.

### Additional information

Screen

[2022-05-04 13:02] swapnilmmane commented on #2374
### Additional Details

We discovered this issue when the image uploaded in Page Builder was not visible on desktop but was visible on mobile devices. It issue is related to this particular image (attached one).
If you upload this image, it will get resized to all the [sizes](https://github.com/webiny/webiny-js/blob/433ad67ff10b0f16de77bc7a9602922d7c9888c6/packages/api-file-manager/src/handlers/tr

[2022-05-06 07:47] #2148 closed, assigned to nobody

[2022-05-07 17:36] Pavel910 opened #2383 "[Headless CMS] Wrong label on file field input"
### What steps will reproduce the bug?

Create a new content model, and add a `File` field. Switch to the `Preview` tab, and you'll see `Select an image` label. This is wrong, because it assumes that only an image can be selected, but in fact, it can be any asset.

<img width="1726" alt="image" src="https://user-images.githubusercontent.com/3920893/167265430-54b7f700-9387-4b62-b583-7eb74fca343c.pn

[2022-05-08 01:50] blimmer commented on #2263
Another option is to override Puppeteer's setup behavior as described in this [Slack Overflow answer](https://stackoverflow.com/a/66044814/808678).

1. Install chromium via homebrew: `brew install chromium`
2. Set the following environment variables in your shell config (e.g., `.zshrc` or` `.bashrc`)
[code]

Now the install should pass.

[2022-05-08 14:23] Pavel910 opened #2386 "[Internal] Don't overwrite tsconfig.json content if it already exists"
This issue is related to our script `scripts/generateTsConfigsInPackages` which generates proper tsconfig .json files for all the workspaces. One little issue with that script is that it completely wipes out the content of the file, if it already exists. Some packages will have custom configs which might differ from the common template we use.

The solution is to check if the file already exists,

[2022-05-08 23:49] blimmer opened #2387 "Use CloudFront Origin Access Identity to make S3 buckets private"
### Is your feature request related to a problem? Please describe.

Currently, the `app` and `admin` buckets are set to have `public-read` ACLs. Many organizations enforce that all S3 buckets must be marked as private for compliance reasons. Their content can still be served via CloudFront.

### Describe the solution you'd like.

Because the app and admin console are served via CloudFront, I think

[2022-05-11 12:33] jimjoes opened #2394 "Add webp image support"
### Is your feature request related to a problem? Please describe.

While I can upload webp images, the image component/api doesn't seem to know what to do with them.

### Describe the solution you'd like.

Possibly allow webp images to 'passhrough' the image handler and just be resized rather than compressed and resized?

### Describe alternatives you've considered.

_No response_

[2022-05-12 05:30] uncle-mo opened #2396 "Comprehensive permissions for Headless CMS ContentEntries to allow both Read but also Read, Write, Delete at the same time depending on the content model."
### Is your feature request related to a problem? Please describe.

I have two scenarios that I'm unable to configure the appropriate permissions for.

1. I'd like to be able to have a content manager who can read, write and delete entries for a specific content model whilst still be able to have read access to entries for one or more other content models

2. I'd like to allow the content creator

[2022-05-12 07:46] #2169 closed, assigned to nobody

[2022-05-12 12:38] SvenAlHamad opened #2397 "Page Builder - Element tree doesn't display the full path"
### Version

5.26

### Operating System

iOS

### Browser

Safari

### What steps will reproduce the bug?

Add a block and a grid into the page builder editor. Select the cell in the editor.

### What is the expected behavior?

The element tree at the bottom of the page should say Block > Grid > Cell.

### What do you see instead?

Instead, it currently displays just "Cell".

<img width="1172" alt

[2022-05-12 12:48] SvenAlHamad opened #2398 "Headless CMS - Rich text editor icon rendered outside the editor field"
### Version

5.26

### Operating System

MacOS

### Browser

Safari

### What steps will reproduce the bug?

Create a content model that has a rich text editor field. Go to the list of entries and add a new entry. Focus on the rich text field and add a heading, then select the heading and look for the icon that controls the additional settings for that row. The icon is rendered outside the editor

[2022-05-13 14:15] bmccarthyco commented on #1850
@plsalvado @doitadrian We soon hope to setup CI/CD but this will hold us up unless there are other workarounds. Enterprise is significantly more expensive ($21/per mo/per user vs. $4) and is not feasible for organizations/teams/agencies who have many contributors and users on multiple (non-Webiny) projects.

[2022-05-14 07:47] #2178 closed, assigned to nobody

[2022-05-17 12:45] sunnythelucky opened #2404 "File Manager : state locale that the user is in"
### Is your feature request related to a problem? Please describe.

According to the locale, the user can see different contents in the file manager app. I think it would be really helpful to see which locale the user is using. In that way, the user can get the idea better of which content they should upload and check if they are in the right locale to work.

### Describe the solution you'd like.

[2022-05-17 21:03] websuits opened #2407 "Can't add hyphen in page URL's"
### Version

2.25

### Operating System

OSX

### Browser

Chrome

### What steps will reproduce the bug?

Create new page, try to change page url to something-like-that. Can't add hyphen, nothing adds when you type it.

### What is the expected behavior?

Add the hyphen

### What do you see instead?

Nothing

### Additional information

_No response_

### Possible solution

_No response_

[2022-05-17 21:06] websuits opened #2408 "Pagebuilder hiding paragraphs after page load"
### Version

5.25

### Operating System

OSX

### Browser

Chrome

### What steps will reproduce the bug?

Create a page add multiple paragraphs. At one point changes are not made on first publish, after you edit-publish again will appear. But the it's stops rendering the paragraphs, you can slightly see them on page loading, but after page load some paragraphs will dissapear.

### What is the exp

[2022-05-18 03:31] winglunlam commented on #2407
@websuits
From my past experience, you can add hyphen like that:

1.  change page url to somethinglikethat
2. move cusor to the place that you want to add hyphen and then add hyphen there, like this: something-likethat

Hope this can help you.

[2022-05-18 07:35] Pavel910 commented on #2407
This bug was fixed twice already and it somehow keeps resurfacing 🤔🤯

Will doublecheck this, thanks for reporting.

[2022-05-18 09:14] plsalvado opened #2409 "Admin app login screen active for a split second after successful login"
### Version

5.23.1

### Operating System

macOS

### Browser

Safari

### What steps will reproduce the bug?

Log out of the Admin app and try to log back in.

### What is the expected behavior?

After the user logs in successfully with valid credentials, the app should redirect the user immediately to the Admin App. The form should be enabled for further input after the user has been authenticat

[2022-05-18 13:23] jimjoes commented on #2397
+1!

[2022-05-19 00:50] thoughtAddict opened #2410 "Internal Error: Assertion failed: Expected workspace api-file-manager-download"
### Version

New Install - No Webiny Version

### Operating System

Amazon Linux 2, t3.micro

### Browser

Chrome 99

### What steps will reproduce the bug?

**Step 1**:
**nvm install v12.13.0**

**Output**:
Downloading and installing node v12.13.0...
Downloading https://nodejs.org/dist/v12.13.0/node-v12.13.0-linux-x64.tar.xz...
#####################################################################

[2022-05-19 00:52] thoughtAddict commented on #2410
Other information that _might_ help:

EC2 is behind an AWS ALB with ports 80 / 443 open.

[2022-05-19 01:01] thoughtAddict commented on #2410
What's curious is I ran the same command, same machine just now.

Different result, but still related to "cwp-template-aws":

**npx create-webiny-project webiny-test**
npx: installed 168 in 8.024s
Initializing a new Webiny project in /home/ec2-user/webiny/webiny-test...
  ✔ Prepare project folder
  ✔ Setup yarn
  ✖ Install template package
    → ➤ YN0000: Failed with errors in 1m 25s

ERROR OUTPUT

[2022-05-19 01:23] thoughtAddict commented on #2410
I'm able to get beyond that item, (it helps adding the new EC2 I spun up to the ALB Target Group).

But now I'm hitting the same brick wall as all the previous attempts:

**yarn webiny deploy**

Internal Error: Assertion failed: Expected workspace api-file-manager-download (/home/ec2-user/webiny/webiny-test/api/code/fileManager/download/package.json) to have been resolved. Run "yarn install" to up

[2022-05-19 02:34] thoughtAddict commented on #2410
Tried the same commands on an Ubuntu v20.04 and am hitting that same brick wall.

**Internal Error: Assertion failed: Expected workspace api-file-manager-download**

At this point, I've spent maybe 5 hours trying to get Webiny up and running.

If anyone has an idea of what's going on with this "api-file-manager-download" issue, I'd appreciate if you could share.

[2022-05-19 06:07] jimjoes opened #2411 "Pagebuilder: Iframe component's validation is too restrictive."
### Version

5.26.0

### Operating System

macos 12.2.1

### Browser

Chrome 101.0.4951.64

### What steps will reproduce the bug?

1. Create an iframe on a page and start typing a url in the field. The admin app will crash when validation fails on https://w
2. Create an iframe on a page, and try pasting the src with get parameters (e.g. google maps from this site: https://www.maps.ie/create-googl

[2022-05-19 06:11] jimjoes commented on #2408
+1 - we have a 2xcol grid on a page, with each column containing another grid, with one cell. That cell contains a headline and a paragraph. The paragraph is in the rendered HTML, and you can see it when the page loads, but when the css is applied, it disappears. I think this is because the element is being incorrectly parsed into HTML when it's pre-rendered. The pre-rendered HTML looks likes this

[2022-05-19 06:20] jimjoes opened #2412 "Pagebuilder: Grid component enhancement: grid order"
### Is your feature request related to a problem? Please describe.

Many layouts have a section with a bunch of image/text rows (e.g. feature blocks) that go in sequence, left/right then right/left (e.g. https://www.bookdapp.io/). While this is achievable on desktop with Webiny, when the grid is rendered on mobile, the order of the opposing grids needs to be 'reversible' so that the order on mobil

[2022-05-19 06:26] jimjoes opened #2413 "Pagebuilder: Grid enhancement: # columns by viewport control"
### Is your feature request related to a problem? Please describe.

It would be useful to be able to specify how the grid behaves at different viewports. At the moment, it's 1 column wide < 768  and an arbitrary number of columns wide > 768. This is quite inflexible and makes it difficult to make fluidly responsive layouts.

### Describe the solution you'd like.

Be able to specify how the grid be

[2022-05-19 16:04] sunnythelucky opened #2416 "File Manager : feature to assign a tag to multiple files"
### Is your feature request related to a problem? Please describe.

I think it will be really useful if we have a feature that we can assign a tag to multiple assets. When we handle assets within File Manager, there is a high possibility of assigning a tag to multiple assets. And it is kind of bothersome to do that task N times to N assets.

### Describe the solution you'd like.

I think it will b

[2022-05-20 09:46] endymion1818 commented on #2411
Yes I've just validated this, see attached screenshot.

![Screen Shot 2022-05-20 at 10 44 43](https://user-images.githubusercontent.com/2216344/169501813-e660fd89-35b4-4843-be97-fc41d3e6b229.png)

We're using our `validation` package (`validation.validateSync(data.url, "url:allowHref");` for this string, and it seems it could be a little too aggressive. It's fine for YouTube but also fails with ou

[2022-05-20 22:29] andperks6 opened #2417 "create-webiny-project error at yarn setup"
after running
`npx create-webiny-project my-new-project   `
I get this error
`ENOENT: no such file or directory, open '/Users/username/code/test/my-new-project/.yarnrc.yml'`
prepare project folder claims to run successfully but if I kill the process before files are cleaned up there is no .yarnrc.yml created. Tested with yarn 2.4.2 and 1.22.19

Full Log:
`
Initializing a new Webiny project in /Use

[2022-05-21 01:41] hkbertoson opened #2418 "Yarn Webiny Deploy not working with Node 12"
### Version

yarn run v1.22.18

### Operating System

Mac OS

### Browser

Chrome

### What steps will reproduce the bug?

By running `yarn webiny deploy` I get an error that states:

[code]

I switched to Node 14 and it worked just fine.

### What is the expected behavior?

_No response_

### What do you see instead?

_No response_

### Additional information

_No response_

### Possible solution

[2022-05-22 07:46] #2191 closed, assigned to brunozoric

[2022-05-22 07:46] #2158 closed, assigned to nobody

[2022-05-22 07:46] #2122 closed, assigned to brunozoric

[2022-05-22 15:43] Pavel910 commented on #2418
Thanks @hkbertoson. This is because we started using newer node features recently, and it's been some time since we switched to node v14, so we forgot to test with node 12. Since AWS Lambda now also supports node v16, we'll probably be completely moving away from v12.

Is this a huge issue for you? Will you be able to use node 14?

[2022-05-22 15:46] Pavel910 commented on #2407
@wllam44 @websuits I just checked this on 5.26. and that bug is not present there. I know we fixed it in the past, just not sure which version exactly. Please upgrade to 5.26. to get rid of that bug. Thanks for bringing this up 👍

[2022-05-22 15:46] #2407 closed, assigned to Pavel910

[2022-05-22 15:46] Pavel910 commented on #2226
This is fixed and released. Closing.

[2022-05-22 15:46] #2226 closed, assigned to Pavel910

[2022-05-22 15:47] Pavel910 commented on #1941
This was fixed some time ago. Closing.

[2022-05-22 15:47] #1941 closed, assigned to Pavel910

[2022-05-23 07:58] #2398 closed, assigned to nobody

[2022-05-23 16:25] hkbertoson commented on #2418
Yes. I can use Node 14. Thank you for clarifying.

[2022-05-23 16:25] #2418 closed, assigned to nobody

[2022-05-24 08:25] jimjoes commented on #802
+1 on this. While the [discussion](https://github.com/webiny/webiny-js/discussions/1726) helps with the deployment of the file, it would be great if it could be dynamically generated because creating pages is rightly decoupled from deployments, so only being able to update the sitemap or robots files per deployment means development is still too coupled to the content workflow.

[2022-05-25 10:06] jimjoes opened #2430 "Headless CMS. Extend search capabilities for publishedOn field in <model>ListWhereInput"
### Is your feature request related to a problem? Please describe.

I can't do queries like this for publishedOn, like I would be able to do with createdOn :

[code]

### Describe the solution you'd like.

Provide the same search interface for `publishedOn` as we have for `createdOn`.

### Describe alternatives you've considered.

_No response_

[2022-05-25 14:00] sunnythelucky opened #2436 "File Manager : Clicking image/file returns dashboard"
### Is your feature request related to a problem? Please describe.

In File Manager when I click the files it shows the dashboard welcome page. When the user is on Dashboard and clicks the File Manager menu, the same FM UI modal is opened and when you click on the file, the FM UI modal is closed. All I want to do is to prevent this or show file details instead.

### Describe the solution you'd lik

[2022-05-25 14:12] Pavel910 commented on #2436
@sunnythelucky thanks for reporting! This is a new one, we haven't noticed this behavior before. We'll look into this :)

A note for whoever will be working on this:

Clicking the settings icon will open file details correctly, but clicking the thumbnail itself is closing the FM, which shouldn't be the case:
![CleanShot 2022-05-25 at 16 13 06@2x](https://user-images.githubusercontent.com/3920893/1

[2022-05-25 15:55] Pavel910 commented on #2436
@sunnythelucky this will be fixed in 5.27.0 (being released today or tomorrow), and clicking on the image preview will not close the FM itself. But, it won't open the file details either, and that's on purpose.

File Manager is used all across the system, and there are scenarios where you can select multiple files at once, by clicking on them. To keep the behavior consistent no matter where you're

[2022-05-25 16:15] sunnythelucky opened #2437 "File Manager : Suggestion in searching assets with tags"
### Is your feature request related to a problem? Please describe.

I have a question regarding the search operation at file manager. So when I want to see an asset that has "A" and "B" as a tag. So I clicked those two tags or I put those keywords in a search bar. And then it shows all the assets either as "A" or "B", not "A" and "B". I think it makes more sense to put more depth into selecting as

[2022-05-25 16:17] sunnythelucky commented on #2436
@Pavel910  Sounds great! I am looking forward to the new update :) And the explanation written above makes sense to me.

[2022-05-25 17:39] bmccarthyco commented on #2436
@Pavel910  In the FM-only UI, could we select multiples as well, and have a bulk edit option (tag, delete, etc.) Maybe a new issue to open but wanted to get feedback first.

https://github.com/webiny/webiny-js/issues/2416

[2022-05-25 17:42] Pavel910 commented on #2436
@bmccarthynn there's currently no such functionality. Feel free to open a new issue as we're planning some improvements on the FM in the near future. We'll then see if it can be done as part of that batch.

[2022-05-25 17:42] sunnythelucky commented on #2436
@bmccarthynn @Pavel910  Hey, actually this suggestion was made here : https://github.com/webiny/webiny-js/issues/2416 . Is it similar to what you wanted to have?

[2022-05-25 17:42] bmccarthyco commented on #2436
I found @sunnythelucky already opened it here: https://github.com/webiny/webiny-js/issues/2416.

[2022-05-25 17:47] bmccarthyco opened #2439 "File Manager : select and delete multiple files"
### Is your feature request related to a problem? Please describe.

When maintaining large collections of files, selecting the settings cog, then the delete icon, per file, one at a time is very time-consuming.

### Describe the solution you'd like.

Select and delete multiple files in bulk. Feature could be implemented in conjunction with https://github.com/webiny/webiny-js/issues/2416.

### Desc

[2022-05-25 18:25] Pavel910 opened #2440 "Add missing ENV vars to CWP env declarations"
The following ENV var declarations are missing in `types/env/index.d.ts`.

![CleanShot 2022-05-25 at 20 24 19@2x](https://user-images.githubusercontent.com/3920893/170339063-7914b7a4-f2b5-4aaf-b42c-927c31ae9969.png)

[2022-05-26 13:37] sunnythelucky commented on #2439
Hey Brendon,

I wonder if you are not interested in this issue by any chance.
[#2437](https://github.com/webiny/webiny-js/issues/2437)

Regards,
Sunny

[2022-05-28 13:11] larissa-n opened #2446 "Issues with Quotes (rich text content type)"
### Version

Most recent

### Operating System

Any

### Browser

Any

### What steps will reproduce the bug?

Using Headless CMS & @webiny/react-rich-text-renderer
Docs: https://www.webiny.com/docs/headless-cms/extending/render-rich-text-content

### What is the expected behavior?

Quote text should be rendered as it was provided, including special characters

### What do you see instead?

& is r

[2022-05-30 10:35] ray-wienand opened #2449 "Hide / minify left panel when creating content"
### Is your feature request related to a problem? Please describe.

When creating content the left panel is too wide and does give the content creation panel enough space. Especially when working with the RichText editor. As can be seen in the video below when trying to add content to column.

https://www.awesomescreenshot.com/video/9171883?key=8beb7ac356b795499ca4cac2b9a9c9b2

### Describe the so

[2022-05-30 16:42] sunnythelucky opened #2452 "Headless CMS : An object can not contain multiple files in a Content Model"
### Version

5.27.0

### Operating System

OS

### Browser

Chrome

### What steps will reproduce the bug?

Hey Team, Thank you for your support. I have an issue regarding setting up Content Models.

When I add files to the property, a list of files inside an object errors out in the preview and if I tried to save the model it errors out as well when trying to create a new Entity.

![Screenshot 20

[2022-05-30 17:48] Pavel910 commented on #2452
@sunnythelucky I can reproduce this. Thanks for reporting!

[2022-05-31 06:01] ray-wienand opened #2454 "Rich Text is acting strange."
### Version

5.27.0

### Operating System

Windows 11

### Browser

Chrome

### What steps will reproduce the bug?

Using the rich text in a cms model.
Columns were added to the rich text

### What is the expected behavior?

https://github.com/calumk/editorjs-columns/raw/main/assets/demo.gif

### What do you see instead?

https://www.awesomescreenshot.com/video/9180610?key=e2ead198214a3f4941e9396e

[2022-05-31 07:10] Pavel910 commented on #2454
Hi @digital-inception, there are two problems here:
1) the space around the editor: we don't have enough space to keep that toolbar outside of the typing area (see the image below), so we had to move it inside, and with that we had to add the background color, so the icons are visible on top of the text. Not ideal, but we don't have better idea at this point.

![CleanShot 2022-05-31 at 08 59 24@2x

[2022-05-31 10:48] ray-wienand commented on #2454
Thanks @Pavel910 that's what my suspicions were.
The Columns is the only additional plugin used.

[2022-05-31 12:10] pikkolojoe opened #2455 "Add custom logic on model's field"
### Is your feature request related to a problem? Please describe.

Creating a model entry, if given to the customer, could be complex, as there may be fields that are not needed.

It would be useful to be able to guide the user to fill in the entry correctly, hiding or showing a field based on the value of another.

### Describe the solution you'd like.

_No response_

### Describe alternatives y

[2022-05-31 13:05] Pavel910 commented on #2455
@pikkolojoe check this out: https://www.webiny.com/docs/headless-cms/extending/customize-entry-form-layout

It requires a plugin to build a custom layout, but it does what you need. Let me know if this helps.

[2022-06-01 15:19] pikkolojoe commented on #2455
Hi @Pavel910,
I managed to make some logic, but it seems to be very slow, right?

[2022-06-01 15:27] Pavel910 commented on #2455
It is slow in terms of development, and very hard-coded, but it's the best we have today to get you unblocked.

We're collecting feedback and ideas in that area from various users and clients, so feel free to drop your thoughts or maybe even other software as an example. Much appreciated!

[2022-06-01 15:41] freyp577 opened #2459 "yarn webiny deploy fails with exit code 255"
Hi,
we are new to webiny and evaluating it for a new project. So we read the overview (partly) and then decided to try to install it into a new AWS account to continue with the evaluation

install was successful, but deploy running "yarn webiny deploy" fails
we see the following error but do not know what it means

can you please give us some directions where to look and how to fix the cause of th

[2022-06-01 15:57] freyp577 commented on #2459
Update: I assume it is related to the isue documented in
[issue #2290](https://github.com/webiny/webiny-js/issues/2290)

our organization does not allow public access to internally used S3 buckets

is there a way to deploy webiny without having public access to the S3 bucket that is created by pulumi?

[2022-06-01 17:12] Pavel910 commented on #2387
This is on our TODO list for the near future, and you could basically tweak the Pulumi config yourself within your project, but we do want to make this a default setup. Thanks for taking the time to report this!

[2022-06-01 17:14] Pavel910 commented on #2290
@o7g8 same answer as here: #2387. We'll get to making it the default soon. We're doing some upgrades on Pulumi config setup, and once it's done we'll look into making buckets private. Thanks for opening an issue!

[2022-06-01 17:17] Pavel910 commented on #2459
Left a comment on that issue you are referring to (there are 3 basically identical issues). Can't tell if it would really break your deployment, but it's definitely something to address.

[2022-06-01 19:41] sunnythelucky opened #2461 "File Manager : List view of assets with all details stated where we can filter and align assets"
### Is your feature request related to a problem? Please describe.

I was hoping after enabling Elastic search to be able to do more advanced search queries within the file Manger but Unfortunately, that is not the case. Is there a guide on how to implement such a thing in the file manager using the elastic search plugin or is there a use case already done for advance searching in the file manager

[2022-06-01 19:49] Pavel910 commented on #2461
@sunnythelucky currently, it's not possible to implement this type of UI. The limitation is primarily on the UI side, not the API (elastic search).

First, we're upgrading our underlying RMWC UI library to the latest version, which will be the beginning of some of these improvements (for example, we'll finally have access to proper data table component).

Secondly, current FileManager component is

[2022-06-03 07:42] pikkolojoe commented on #2455
I find it very slow even while inserting a new entry, it takes about 2/3 seconds before displaying what has been typed from the keyboard. By inserting a log, I see that it is called many times at every slightest modification of the form.

[2022-06-03 07:57] Pavel910 commented on #2455
That's not related. We're using it regularly for various purposes, with lots of custom components and it never slowed down the UI. It's probably something within your code, or some custom component you're using.

Form rerenders will happen, because data flows top to bottom, but we never ran into visible issues with it.

[2022-06-03 13:16] pikkolojoe commented on #2455
Ok, it seems that the slowdown is only reflected by working locally, so that's okay.

[2022-06-03 14:29] #2455 closed, assigned to nobody

[2022-06-06 06:13] jimjoes opened #2466 "Pagebuilder: Shadow not correctly applied to image."
### Version

5.26

### Operating System

MacOS

### Browser

Chrome

### What steps will reproduce the bug?

Create a page with an image in a grid.
Set the image width to 200px.
Add a shadow to the image.
The shadow is incorrectly applied to the image container (webiny-pb-base-page-element-style webiny-pb-page-element-image), not the image itself.

### What is the expected behavior?

The image sho

[2022-06-06 07:42] #2452 closed, assigned to nobody

[2022-06-07 05:57] jimjoes commented on #2446
+1 The rich text renderer also does this with lists.

[2022-06-07 07:13] Pavel910 commented on #2446
You can, for the time being, bypass the issue by providing your own renderer:
https://github.com/webiny/webiny-js/tree/next/packages/react-rich-text-renderer#adding-custom-renderers

If you do implement your own renderer, please share your implementation with us, or even better, open a PR that fixes these issues.

[2022-06-07 11:38] jimjoes opened #2468 "Headless CMS: Null items not allowed for Text field set to "use as a list of texts" even when field is set as not required"
### Version

5.27.0

### Operating System

MacOS

### Browser

Chrome

### What steps will reproduce the bug?

Create a content model with text field called `tags` set to `use as a list of texts` and `not required`.
Save item,

### What is the expected behavior?

Null list values should be allowed if field is not required

### What do you see instead?

item fails to save and API responds with `mes

[2022-06-07 12:29] Pavel910 commented on #2468
Thanks @jimjoes! We'll have someone look into this.

[2022-06-09 09:47] adrians5j opened #2470 "Prefix Block Categories With the Word "Page""
If we'll have the time, for consistency's sake, Instead of having  `blockCategory`, let's have `pageBlockCategory`. In other words, let's include the "page" prefix.

We can do this before merging the whole Page Blocks v2 feature set.

[2022-06-09 13:56] adrians5j opened #2471 "GraphQL - `createCategory` Mutation Throwing an Incorrect Error Message"
### Version

5.29.0

### Operating System

/

### Browser

/

### What steps will reproduce the bug?

Just try issuing the following mutation, and you should be able to see the error message on the right:

![Snipaste_2022-06-09_11-50-28](https://user-images.githubusercontent.com/5121148/172862557-9f85cab5-516e-4ff2-8e5d-5315faf25bfc.png)

### What is the expected behavior?

We should not get this

[2022-06-10 10:14] Pavel910 opened #2472 "Add missing dependency to the website app"
`source-map-explorer` in `website` app is missing as a dependency.

Also, it might be a good idea to add another script to the website app, called `build-with-sourcemap`, which uses `cross-env` to set the `GENERATE_SOURCEMAP` ENV variable, so it works on all OS-es.

Something like this:
[code]

[2022-06-11 18:46] ademoverflow opened #2474 "Add a "Dynamic Field" on the Content Model builder (Headless CMS)."
### Is your feature request related to a problem? Please describe.

Not a problem, just a new feature 🎉

### Describe the solution you'd like.

I started to use Webiny for my projects because it supports serverless deployment on AWS (but not only for that).

I would like to use the headless API part of webiny as a page content manager, and thus I need a field that can hold a list of different fiel

[2022-06-11 19:47] SvenAlHamad commented on #2474
Hey @adem-usta, thanks for raising this request. We will have a feature coming soon where you'll be able to do something like that.
In the meantime, if it's urgent for you, you can build a custom field type for your project that adds such support using this guide here:
https://www.webiny.com/docs/headless-cms/extending/custom-field-type

[2022-06-11 20:13] ademoverflow commented on #2474
Hey @SvenAlHamad , thank you for your fast answer !
Yes, I saw this part of the documentation, I will dig it.

Has webiny got a public roadmap for its new coming features ? That would be great !

[2022-06-11 21:11] SvenAlHamad commented on #2474
We’re a bit behind in updating our public roadmap at the moment, but I hope we’ll have something online in the next few weeks. In the meantime if you do have any roadmap questions, just ping us on our community slack.

[2022-06-12 11:09] Pavel910 commented on #2474
@adem-usta Do you have a more concrete example of what you're looking for? Maybe another CMS that has that feature or maybe just a UI sketch? I'd like to understand your requirement a bit better.

The issue with dynamic fields is that they need to generate a proper GraphQL schema, which is challenging if every entry can have entirely different fields. Unless you make a container field, and make it

[2022-06-12 12:28] ademoverflow commented on #2474
The idea is pretty simple:

Imagine that you want to manage a website pages with Webiny (without using the Page Builder).

You'll create a "Page" Content model, with some basic info:

- title (str)
- path (str)
- icon (whatever the type)
etc ...
- AND a 'content' field which is supposed to store all the page contents (header, sliders, cards, etc ...)
By the nature of this field, we cannot define a

[2022-06-12 13:51] Pavel910 commented on #2474
Thanks for all the details @adem-usta, this really helps setting the stage.

Dynamic Zone is something we do plan to add, we actually built a PoC for that, and I think our implementation will even have more flexibility. Judging by your description and the link you shared, our approach should be a good fit for your problem, but it's not yet ready for release.

To answer your second question, yes, P

[2022-06-12 14:41] ademoverflow commented on #2474
Thank you for your answer @Pavel910

Great to read that ! Any idea on when do you plan to release this feature ?

[2022-06-12 19:25] Pavel910 commented on #2474
@adem-usta we'll be working on proper implementation in Q3. Can't give you any better estimates for now, unfortunately.

Please let us know which way you proceed, and we'd really appreciate if you could share some visuals/videos of whatever you come up with.

[2022-06-15 08:27] larissa-n commented on #2138
Any news on this?
Current workaround is to delete rows from DynamoDB in AWS ...

Thanks!

[2022-06-16 04:25] winglunlam opened #2488 "Error on Account details page"
### Version

5.24.0

### Operating System

MacOS

### Browser

Chrome

### What steps will reproduce the bug?

1. Create a security group that have "No access" for Admin Users.
![fig1](https://user-images.githubusercontent.com/44934955/173990106-b773b32c-3a78-45e2-ae36-ddf08bce12d4.png)

2. Create an account who is assigned to the security group.
![fig2](https://user-images.githubusercontent.com/4

[2022-06-16 07:47] #2228 closed, assigned to nobody

[2022-06-16 08:31] Pavel910 commented on #2488
@wllam44 this is something else. The error says `cannot read properties of undefined (reading 'adminUsers')`, which means the permissions themselves are undefined. Can you please check the network requests, and find the `Login` mutation. What's the response of that mutation? Thanks.

[2022-06-16 08:41] winglunlam commented on #2488
@Pavel910 below is the response of the `Login` mutation:

[{"data":{"security":{"login":{"data":{"id":"c7d46527-c82f-45ed-864d-22f6d01b99b9","displayName":"test test","type":"admin","permissions":[{"name":"content.i18n"},{"name":"cms.*"},{"name":"pb.category","rwd":"rwd"},{"name":"pb.menu","rwd":"rwd"},{"name":"pb.page","rwd":"rwd","pw":"rc"},{"name":"pb.settings"}],"profile":{"email":"test@testin

[2022-06-16 08:45] Pavel910 commented on #2488
@wllam44 thanks a lot! We'll have a look at this 👍

[2022-06-16 11:50] Pavel910 commented on #2488
The actual error is not on react side, it's on the GraphQL API side. It's a simple permission check bug. Should be easy to fix. Thanks for reporting @wllam44 🍻

![CleanShot 2022-06-16 at 13 48 49](https://user-images.githubusercontent.com/3920893/174063480-27bf1e4b-f2d7-45ba-b6d8-bb49b3cdb5fa.png)

[2022-06-16 18:26] Pavel910 commented on #2397
Ran in to this myself, did a bit of digging, and this is only happening on new empty blocks. Once you add content to them, or even simply reload the editor, they do show the correct breadcrumbs 🤔

https://user-images.githubusercontent.com/3920893/174140086-5ef17e50-e5ce-4171-bfa9-6b11983ade10.mp4

[2022-06-17 02:04] winglunlam commented on #2488
Great to hear that. Thanks a lot.

[2022-06-17 10:35] ademoverflow commented on #2474
Thank you for your answer @Pavel910
Great news ! Waiting for this key new feature 🔥

Yes completely, I am currently working on a viable solution. Once I am satisfied with it, I'll share my temporary solution here.

[2022-06-17 12:09] #2488 closed, assigned to nobody

[2022-06-21 08:47] Pavel910 commented on #1824
This was fixed long ago, closing.

[2022-06-21 08:47] #1824 closed, assigned to nobody

[2022-06-21 08:48] #1806 closed, assigned to adrians5j

[2022-06-21 08:49] Pavel910 commented on #1689
Closing this issue since this was solved on the system level using `context.security.disableAuthorization()` and `context.security.enableAuthorization()`, so per-method parameters are not necessary, and there's not param drilling.

[2022-06-21 08:49] #1689 closed, assigned to nobody

[2022-06-21 08:50] #1651 closed, assigned to Pavel910

[2022-06-21 08:52] #1427 closed, assigned to Pavel910

[2022-06-21 12:21] swapnilmmane opened #2498 "Unable to submit form on Brave Browser"
### Version

5.28.0

### Operating System

Windows

### Browser

Brave v1.39.122

### What steps will reproduce the bug?

#### Issue:

Unable to submit the form on the Brave browser.

#### Steps to reproduce (use the Brave browser to submit form):

1. Create a form
2. Add it to Page Builder Page
3. Open to the Form Page
4. Submit the form
5. Screen gets frozen (submit button is disabled)

### What

[2022-06-22 21:49] rsshilli commented on #2408
I have the same problem with version 5.16. It's so weird. Any workaround?

[2022-06-23 04:36] jimjoes commented on #2408
Not sure about 5.16, but with 5.26 you can use bullets for the copy and remove the bullet itself - for visible, <p> like behaviour. As long as you don't use bullets elsewhere, you can also modify the <li> styles in the theme.

[2022-06-24 22:48] susanev opened #2503 "pulumi webiny blog updates"
hi @adrians5j, i think yall recently made some changes that are causing the webiny blog on the pulumi website to have some 404s now, and i think some of the content may need to be updated as well.

mind giving us some direction on how you'd like the content updated?
https://github.com/pulumi/pulumi-hugo/blob/master/themes/default/content/blog/how-webiny-built-a-serverless-application-framework/ind

[2022-06-28 10:51] adrians5j commented on #2503
Thanks for reporting this @susanev, I'll take a look at this during this week and get back to you with an update (via this GH issue).

[2022-06-28 11:18] adrians5j opened #2508 "Dummy Issue"
Testing comments-related GitHub action.

Will remove this issue once I'm done.

[2022-06-28 11:18] adrians5j commented on #2508
/cy

[2022-06-28 11:21] adrians5j commented on #2508
/cy

[2022-06-28 11:28] adrians5j commented on #2508
/cy

[2022-06-28 11:31] adrians5j commented on #2508
/cy

[2022-06-28 11:34] adrians5j commented on #2508
/cy

[2022-06-28 11:35] adrians5j commented on #2508
/cy

[2022-06-28 11:37] adrians5j commented on #2508
/cy

[2022-06-28 11:40] adrians5j commented on #2508
/cy

[2022-06-28 11:41] adrians5j commented on #2508
/cy

[2022-06-28 15:47] adrians5j commented on #2508
/cypress

[2022-06-29 07:46] adrians5j commented on #2508
/cypress

[2022-06-29 07:46] #2508 closed, assigned to nobody

[2022-07-02 00:36] #2503 closed, assigned to nobody

[2022-07-04 07:46] #1968 closed, assigned to nobody

[2022-07-04 23:17] bmccarthyco commented on #2251
Same issue. Typed up the following for [Slack](https://webiny-community.slack.com/archives/C014Y0HGJ0Y/p1656974918614469) but copying here instead:

1. Create a new content model with two fields, Title (text) and Description (long text).
2. Create a new entry, only enter the Title, leave Description empty.
3. Save and return to edit content model.
4. The option to delete the Description field is g

[2022-07-05 06:17] ancs21 opened #2519 "[Deployment] Using Localstack for local deployment and development"
### Is your feature request related to a problem? Please describe.

Because we need to deploy to a real AWS environment, it's so hard for testing and deployment.

### Describe the solution you'd like.

Using [Localstack](https://localstack.cloud/)

### Describe alternatives you've considered.

_No response_

[2022-07-05 07:48] Pavel910 commented on #2251
@bmccarthynn This problem is scheduled for Q3, so it will be resolved. There are more issues with this than just field deletion. With Elasticsearch this becomes very tricky, because you can have `Field A` of type `number`, you create an entry, Elasticsearch now treats `Field A` as a number. If you delete that field and create `Field A` again, but this time as a string, Elasticsearch will not like

[2022-07-06 08:22] ThomasRedstone commented on #2228
As far as I'm aware, this is still an issue.

[2022-07-06 08:43] timruppert opened #2522 "API needs to guard the programmatic creation of models so that it doesn't allow the same name to be used"
### Version

5.28.0

### Operating System

Mac Monterey

### Browser

Chrome (new)

### What steps will reproduce the bug?

This is related to an issue that we raised about error handling when trying to create models.  This was fixed on the front end and stops a user from using a model that's already been created - confirmed by @endymion1818 https://github.com/webiny/webiny-js/pull/2324

During ou

[2022-07-06 08:45] timruppert commented on #2522
Original conversation from Ostap with @Pavel910 from April 12th at 10:17 AM

@Pavel910 we updated to 5.24.0 with HeadlessCMS fix for the issue I reported. But seems it doesn’t fix it fully. It does not allow to create a model with name “TenantSettings” as it exists in the schema, but “Tenant Settings” works for this validation but crash the schema.

![image](https://user-images.githubusercontent.c

[2022-07-06 10:21] endymion1818 commented on #2519
Thanks for your interest @ancs21 ! We have looked at this a number of times in the past but we don't believe it's the best solution for Webiny, even though it does add an extra step to the evaluation process.

Please see https://github.com/webiny/webiny-js/issues/1528 as well as this article for more background: https://www.webiny.com/blog/local-development-is-dying-and-it-s-for-the-better

[2022-07-06 10:22] #2519 closed, assigned to endymion1818

[2022-07-06 16:02] machineghost opened #2524 "No Username on User? And no Way to Add One?"
### Version

5.2.9.0

### Operating System

Linux

### Browser

Chrome

### What steps will reproduce the bug?

I installed Webiny as per the documentation instructions.  When I got to the users page, I discovered they have a first and last name ... but no username.

The documentation seems to make no mention of adding a username, or otherwise customizing the user at all ... but surely it's possib

[2022-07-08 01:27] TheBoatyMcBoatFace opened #2526 "Multiple Deployment Failures"
### Version

_No response_

### Operating System

linux

### Browser

_No response_

### What steps will reproduce the bug?

Initially I deployed it locally on a Ubuntu Docker Container. I ended up with an error, the same  I am seeing, so I spun up an ec2 instance and tried it there.

## How to recreate the issue
I ran the following commands in the termal as the default `ubuntu` user in an AWS ec2

[2022-07-08 07:46] #2252 closed, assigned to nobody

[2022-07-13 07:47] #2259 closed, assigned to nobody

[2022-07-14 17:59] ProjectDocHelp commented on #2256
This one is about to get closed and I can't remove the label. A pity. 😭

[2022-07-14 18:03] Pavel910 commented on #2256
@HOKComics there, removed :) Thanks for chiming in 👍

[2022-07-19 03:07] winglunlam opened #2543 "White flickering when entering to the page with Chrome at the first time"
### Version

5.29.0

### Operating System

Mac OS

### Browser

Chrome

### What steps will reproduce the bug?

1. Create a page
2. Publish the page
3. Open Chrome with incognito window
4. Enter an url of the page into the browser
5. White flickering before page rendering correctly

### What is the expected behavior?

should be no white flickering whenever entering to a page

### What do you see i

[2022-07-19 08:52] plsalvado opened #2544 "User photo not showing up on account details page"
### Version

5.29.0

### Operating System

macOS

### Browser

Chrome

### What steps will reproduce the bug?

1. Add a photo to your user profile,
2. Then click on the Account Details button on the top right corner.

### What is the expected behavior?

Since the user added a photo, that photo should be displayed on the Account Details page, but it doesn't.

### What do you see instead?

Instead,

[2022-07-20 15:34] Pavel910 commented on #2397
@monikawebiny this is resolved. Closing.

[2022-07-20 15:34] #2397 closed, assigned to nobody

[2022-07-20 15:35] Pavel910 commented on #2409
@monikawebiny this is resolved as well. Not sure why Unito is reopening there.

[2022-07-20 15:35] #2409 closed, assigned to Pavel910

[2022-07-21 07:46] #2269 closed, assigned to nobody

[2022-07-21 08:47] Kracker1911 commented on #2417
I also got the error, my yarn version is 3.2.1.
@andperks6 have you solved it?

[2022-07-25 13:41] mean2me opened #2554 "Problem creating workflows on executing CD/CI scaffold"
### Version

5.29.0

### Operating System

Mac OS

### Browser

_No response_

### What are the steps to reproduce this bug?

From the project folder, execute `yarn webiny scaffold` and select Setup CD/CI into an existing repo.

### What is the expected behavior?

Github workflows created successfully.

### What do you see instead?

I got this only error (all other steps worked):

Creation of GitH

[2022-07-26 07:46] #2233 closed, assigned to nobody

[2022-07-28 10:40] monikawebiny commented on #2284
This is now working in v5.30

[2022-07-28 10:40] #2284 closed, assigned to nobody

[2022-07-28 10:40] m0nikaza commented on #2284
![image](https://user-images.githubusercontent.com/106819205/181486495-84e093c0-3102-47b5-ade5-42db75fc6e50.png) This is now working in v5.30

[2022-07-28 11:07] #2293 closed, assigned to nobody

[2022-07-28 11:07] m0nikaza commented on #2293
fixed already

[2022-07-29 07:47] #2224 closed, assigned to nobody

[2022-07-29 08:59] madwyn commented on #2298
I installed the latest version two weeks ago and this issue still persisted.

I know how to fix this manually, but are there any plans to have it fixed in this repo?

[2022-07-29 09:00] Pavel910 commented on #2298
@madwyn we're working on makin all buckets private for the next release, and I'll have a look at this issue as well.

[2022-07-30 12:22] Pavel910 commented on #2302
Note to self: document this as this is now possible.

[2022-08-01 03:47] JPrisk opened #2557 "Issue with quick start installation"
### Version

create-webiny-project@5.30.0

### Operating System

macOS 12.5

### Browser

n/a

### What are the steps to reproduce this bug?

Run the installation instruction from the homepage

`npx create-webiny-project my-new-project`

### What is the expected behavior?

Yarn to provision a new instance of Webiny

### What do you see instead?

Error logged to console and written to build.log fil

[2022-08-01 04:00] JPrisk commented on #2557
Looks like it was just an issue with my `M1`, resolved with by following the steps in this article

https://stackoverflow.com/questions/65928783/puppeteer5-5-0-install-node-install-js-on-m1

[2022-08-01 04:00] #2557 closed, assigned to nobody

[2022-08-01 10:23] Pavel910 commented on #2298
@madwyn if your project was created with Webiny >= 5.29., you'll get a fix for this in our next release.
If there are any other resources that are causing troubles for you, please let us know.

![CleanShot 2022-08-01 at 12 20 39](https://user-images.githubusercontent.com/3920893/182128252-1d17b79f-44f6-4c7d-98b2-b0e1fc1b97ea.png)

[2022-08-02 08:24] amirarabirazdadeh opened #2559 "deploy api error"
### Version

5.30.0

### Operating System

windows 10 Enterprise LTSC 1809

### Browser

google chrome

### What are the steps to reproduce this bug?

1. Fork and clone webiny repo
2. yarn install
3. yarn setup-project
4. yarn webiny deploy apps/core --env=dev
5. yarn webiny deploy apps/api --env=dev

### What is the expected behavior?

### yarn webiny deploy apps/api --env dev

webiny info: Runni

[2022-08-02 08:26] Pavel910 commented on #2559
@amirarabirazdadeh thanks for reporting. We'll double-check this on Windows (@swapnilmmane) and get back to you.

[2022-08-02 09:02] winglunlam opened #2560 "One NAT gateway for multiple production environment"
### Is your feature request related to a problem? Please describe.

My client would like to deploy multiple production environment in the same AWS account but they noticed that it would cost a lot if each production environment has its own NAT gateway.

### Describe the feature's behavior.

If there can be one NAT gateway for multiple production environment, it can minimize the cost.

### Describe

[2022-08-02 09:04] madwyn commented on #2298
Thanks for resolving this.

[2022-08-02 09:38] plsalvado opened #2562 "Wrong casing in 404 page - "Take me home" button"
### Version

5.29.0

### Operating System

macOS

### Browser

Chrome

### What are the steps to reproduce this bug?

Force Webiny to serve the 404 page, e.g. hit a random URL like https://d1e03ena47allo.cloudfront.net/guide/untitled-l6bysdct/sweetcaroline

Now the catch is this. You will only see the problem if you've edited the button theme CSS and removed the uppercase styling - which is what I

[2022-08-02 09:42] Pavel910 commented on #2562
@plsalvado or should it be all uppercase? 🤔

[2022-08-02 09:51] plsalvado opened #2563 "Copied text into PB paragraph element not visible"
### Version

5.29.0

### Operating System

macOS

### Browser

Chrome

### What are the steps to reproduce this bug?

1. Create a page with a paragraph element
2. Go to [this](https://about.google/?fg=1&utm_source=google-GB&utm_medium=referral&utm_campaign=hp-header) page - as an example - and copy the text at the top "Our mission is to organise the world’s information and make it universally acce

[2022-08-02 20:37] plsalvado commented on #2562
If it's all uppercase by default and I want to make it lowercase I just need to apply `text-transform: capitalize;` in CSS. That will also work.

[2022-08-03 14:25] Pavel910 commented on #1870
@pedrobarri I know this is an old one, and we've done lots of improvements on the prerendering service in the meantime, so I'm quite sure this has been resolved. Please open a new issue if you run into any problems.

[2022-08-03 14:25] #1870 closed, assigned to nobody

[2022-08-03 14:44] #2290 closed, assigned to nobody

[2022-08-03 14:44] #2459 closed, assigned to nobody

[2022-08-03 14:44] #2298 closed, assigned to nobody

[2022-08-03 14:44] #2387 closed, assigned to nobody

[2022-08-04 07:46] #2292 closed, assigned to nobody

[2022-08-04 07:46] #2281 closed, assigned to nobody

[2022-08-04 14:18] chanesteves opened #2565 "Allow 'Reference' field to be programmatically added when extending the admin area"
### Is your feature request related to a problem? Please describe.

Not a problem, just a new feature request 🎉

I used `yarn webiny scaffold` to [extend the admin area](https://www.webiny.com/docs/admin-area/new-app-tutorial/scaffolding) and it allowed me to create a screens/pages that perform CRUD operations using a form. Unfortunately, [@webiny/ui](https://storybook.webiny.com/) library just al

[2022-08-07 07:46] #2306 closed, assigned to nobody

[2022-08-07 07:46] #1844 closed, assigned to nobody

[2022-08-08 06:34] chanesteves opened #2567 "New permissions needed for v5.29 not reflected to the Cloudformation template"
### Version

5.30

### Operating System

Windows

### Browser

Google Chrome

### What are the steps to reproduce this bug?

1. Follow the steps in [Attaching a Fine-Grained Policy](https://www.webiny.com/docs/infrastructure/aws/configure-aws-credentials#attaching-a-fine-grained-policy)
2. Create a new _Webiny_ project v5.29 (or later). We're currently in version 5.30.
3. Follow the [installation

[2022-08-08 07:46] #2308 closed, assigned to nobody

[2022-08-08 07:46] #2312 closed, assigned to nobody

[2022-08-08 07:46] #2307 closed, assigned to nobody

[2022-08-08 19:42] gil-3bd opened #2570 "504 error from CloudFront on large video/mp4 files"
### Version

5.30.0

### Operating System

macOS Monterey 12.4

### Browser

Google Chrome

### What are the steps to reproduce this bug?

When uploading a large (1GB) video/mp4 file through File Manager, the files upload successfully but when I try to access or load the file via the "File Details" URL the files don't load and eventually I get a 504 error from CloudFront. However, if the file is u

[2022-08-09 20:22] #2559 closed, assigned to Pavel910

[2022-08-09 23:06] gil-3bd opened #2572 "Uploaded files that include special characters in their names such as '#' return "Access Denied""
### Version

5.30.0

### Operating System

macOS Monterey 12.4

### Browser

Google Chrome

### What are the steps to reproduce this bug?

Uploaded files that include special characters in their names such as '#' don't render and return an "Access Denied" when trying to access them.

Example file name: my#1videofile.mp4

Error:
`// 20220809160347`
`// https://uniquenumber.cloudfront.net/files/9l6m

[2022-08-10 08:01] pikkolojoe opened #2573 "New deploy: Pages are not updated"
### Version

5.30.0

### Operating System

MacOS Monterey 12.4

### Browser

Google Chrome

### What are the steps to reproduce this bug?

1 - Deploy website package
2 - Add/Modify something, for example a console.log()
3 - Deploy website package again

### What is the expected behavior?

On the page I should see the console log.

### What do you see instead?

The page is exactly as it was before.

[2022-08-10 08:03] Pavel910 commented on #2573
@pikkolojoe was this project created with 5.30., or was it upgraded from an earlier version? Thanks.

[2022-08-10 08:05] endymion1818 commented on #2573
I have been able to replicate this in 5.30.0

Preview URL: https://d10rw9zewbkmo7.cloudfront.net/untitled-l6mdd1kn?preview=62f284a7dfe28900095e00e0%230002&__locale=en-US&__tenant=root
Live URL: https://dpkz273x5ol82.cloudfront.net/untitled-l6mdd1kn/

As you can see, the preview URL has a `console.log()` with the value `here`, but the live URL has only `here`

There were no logs generated.

Here's

[2022-08-10 08:39] pikkolojoe commented on #2573
@Pavel910 It was updgraded from an earlier version

[2022-08-10 08:49] pikkolojoe commented on #2573
@Pavel910 I also had the same problem with 5.29.0, I updated at 5.30 am hoping it would be solved

[2022-08-10 12:25] hemzet opened #2574 "Automated deployment of custom domain, ssl cert and dns entries"
### Is your feature request related to a problem? Please describe.

Currently the setup of a custom domain requires lots of manual steps. Webiny could automate and simplify this process by utilising AWS services und Pulumi. I imagine a fully automated setup, which I assume is possible in Pulumi similar to Terraform/CDK.

### Describe the feature's behavior.

Something like:
1. Manually copy a mult

[2022-08-10 15:42] endymion1818 commented on #2573
Hello @pikkolojoe , great news, we've identified a bug in the prerendering system and we've got a fix that'll be going into v5.31.0, which should be out in the next few weeks. Thanks for reporting this!

[2022-08-11 08:56] #2573 closed, assigned to nobody

[2022-08-11 20:01] SvenAlHamad opened #2579 "Default Page Builder theme breaks page rendering if main menu is not present"
### Version

5.30

### Operating System

MacOs

### Browser

Safari

### What are the steps to reproduce this bug?

Delete the main-menu from the page builder and try to preview a page. You get a blank page with errors in the console.

### What is the expected behavior?

Page to be rendered correctly.

### What do you see instead?

Blank screen

### Additional information

The default theme expect

[2022-08-12 12:49] ian-lmry opened #2580 "The provided execution role does not have permissions to call CreateNetworkInterface on EC2"
### Version

5.30.0

### Operating System

_No response_

### Browser

_No response_

### What are the steps to reproduce this bug?

Deploy a webiny project created via `npx create-webiny-project <folder>` to AWS using `yarn webiny deploy --env prod`

### What is the expected behavior?

The DEV deployment using the same project was successful. However this issue persists on PROD after many retries

[2022-08-12 13:11] Pavel910 commented on #2580
Interesting, thanks, we'll test this.

[2022-08-12 13:33] ian-lmry commented on #2580
Thank you, let me know if you need any further information. In the meantime I'm playing around with adding the correct policy although I've never used pulumi before so it's a Friday adventure!

https://stackoverflow.com/questions/41177965/aws-lambdathe-provided-execution-role-does-not-have-permissions-to-call-describ/54668725#54668725

[2022-08-13 11:01] #2570 closed, assigned to nobody

[2022-08-14 15:48] Pavel910 commented on #2011
@endymion1818 @leopuleo can you check to see if this is still happening with RMWC v7? Thanks!

[2022-08-15 09:39] winglunlam opened #2583 "Showing error message on the page "Set New Password" when the password does not confirm to policy"
### Is your feature request related to a problem? Please describe.

If there is no error message on the page, it's so difficult for a user to know what problem occurs as there is no response by clicking the button "SET PASSWORD" if the password does not confirm to policy.

### Describe the feature's behavior.

Show an error message at the bottom of the page.
![Screenshot 2022-08-15 at 5 27 55 PM](

[2022-08-15 10:44] endymion1818 commented on #2011
@Pavel910 Unfortunately it is still happening in v5.30 with RMWC v7

[2022-08-15 11:08] #2263 closed, assigned to nobody

[2022-08-15 20:21] Pavel910 commented on #2580
@ian-lmry I looked into this, and it will be fixed in 5.31.0 release coming up this week. Many thanks for reporting this issue! 🙌
In short, the issue is with execution roles we assign to those Lambda functions when VPC is enabled (and VPC is enabled in a `prod` environment).

[2022-08-16 08:20] #2580 closed, assigned to Pavel910

[2022-08-16 10:22] Pavel910 commented on #2263
Instead of assigning ENV variables, I found a better way, using `puppeteer-core` package, which by definition doesn't download binaries. That's exactly what we need, since we don't even need those binaries locally.

[2022-08-18 18:12] bmccarthyco commented on #1850
Issue should now resolved per https://github.com/webiny/webiny-js/pull/2586.

[2022-08-20 21:19] EOEboh opened #2588 "Error installing Webiny"
### Version

[code]

[2022-08-20 21:19] #2588 closed, assigned to nobody

[2022-08-20 21:25] EOEboh opened #2589 "Error Installing Webiny"
### Version

$ yarn webiny --version yarn run v1.22.19 error Couldn't find a package.json file in "C:\\Users\\USER\\Desktop" info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

### Operating System

Windows

### Browser

Chrome

### What are the steps to reproduce this bug?

When I run the `npx create-webiny-project my-new-project` command, it begins the steps of

[2022-08-22 07:46] #2121 closed, assigned to adrians5j

[2022-08-23 07:19] timruppert commented on #2263
@BenjaminButon take a look at this and let's see if this gets you past it.

[2022-08-25 21:14] gil-3bd commented on #2570
Upgrading to **Webiny v5.31.0** has fixed the **504 Error** when accessing large files in the  File Manager.

[2022-08-26 18:01] gil-3bd commented on #2570
I'm trying to upload a single 5GB file _(not multiple)_ via the File Manager but now I’m getting an error that reads **“Multiple max size exceeded.”** even after increasing the **"Maximum file upload size"** value. However, if the file is under 1GB it uploads correctly.

<img width="639" alt="image" src="https://user-images.githubusercontent.com/82060323/186962088-73d41c9a-70e9-4f4a-b4ab-b177fbc35

[2022-08-27 08:07] Pavel910 commented on #2570
@gil-3bd Good catch. What do you think, should we remove that client side limitation entirely, and let users upload whatever they like? I don't remember when and why, but I think that limitation was defined there completely randomly.

[2022-08-29 15:12] taifok opened #2594 "plugins in createWebsiteApp is not registered when `yarn webiny deploy --build false`"
### Version

v5.30.0

### What is the expected behavior?

I think the plugins should be registered no matter the packages is rebuild or not but the plugins defined is ignored when `--build false`

### Additional information

I found this behavior is caused by the following lines.

https://github.com/webiny/webiny-js/blob/bb1e201410cee41ca68aa5ef5b8f12770a20248c/packages/cli-plugin-deploy-pulumi/co

[2022-08-29 15:16] Pavel910 commented on #2594
@taifok We're aware of this issue, but at this point in time, whenever you add something to `webiny.application.ts`, you _must_ run it with a build step, so just remove the `--build=false`. That flag not only affects the actual app bundle itself, but also the underlying workspaces and plugins. This will be improved in the future, but for now, just remove the `--build` flag.

[2022-08-29 15:20] taifok commented on #2594
@Pavel910 Thanks for quick reply.

I am actually finding a way to build the `apps/website` with `--profile`. Is there any way to pass this param when `yarn webiny deploy`?

[2022-08-29 15:21] Pavel910 commented on #2594
@taifok what is `--profile`? is it like AWS_PROFILE, or ... ?

[2022-08-29 15:26] taifok commented on #2594
@Pavel910 I want webpack to build `apps/website` with react-profiling build to debug my app. and found this can be done by running `yarn webiny ws run build --folder apps/website --profile --env dev`

https://github.com/webiny/webiny-js/blob/bb1e201410cee41ca68aa5ef5b8f12770a20248c/packages/project-utils/bundling/app/config/webpack.config.js#L74

[2022-08-29 15:30] Pavel910 commented on #2594
@taifok Ah got it. Hmm, I don't think it's possible right now, but you can set it in the website's package.json, like this:
![CleanShot 2022-08-29 at 17 28 53@2x](https://user-images.githubusercontent.com/3920893/187237785-92a86140-75b5-4a07-b61a-08f836dee43c.png)

That should be then picked up by `process.argv.includes("--profile")`.

[2022-08-30 02:02] sljunior commented on #2579
How can I recreate this main menu?

[2022-08-30 15:25] gil-3bd commented on #2570
@Pavel910 I think we should let the users upload whatever they like by defining it in the backend **General Settings**

[2022-08-31 18:04] ehwarren commented on #2567
FYI, missing permissions are listed below:

[code]

[2022-09-05 14:16] chanesteves commented on #2567
Hello, just following up for any updates in this issue.

[2022-09-05 14:16] chanesteves commented on #2565
Hello, just following up for any updates in this issue.

[2022-09-05 14:33] Pavel910 commented on #2567
@chanesteves not yet, but it's on the list. Would you like to work on a PR?

[2022-09-05 14:38] chanesteves opened #2604 "More Flexibility on Models Created Using Admin Scaffold"
### Is your feature request related to a problem? Please describe.

Currently, when you [extend admin area](https://www.webiny.com/docs/admin-area/new-app-tutorial/scaffolding), the related GraphQL queries that can be called to retrieve the records of models (e.g. ToDo) created via API are limited to:

- retrieving a record by ID (e.g. getToDo)
- retrieving all records (e.g. listToDos)

![Screensh

[2022-09-05 14:46] Pavel910 commented on #2604
Scaffolds are there just to give you a starting point. Since DynamoDB querying is very different from relational databases, your querying/filtering very much depends on the data model; and vice versa; your data model and indexes depend on what access patterns you need.

These are not meant to give you ready-made apps, but rather give you a skeleton which you then upgrade to fit your project needs.

[2022-09-05 14:46] #2604 closed, assigned to nobody

[2022-09-05 14:57] zibberzoo commented on #2417
I have the same error.  I am on WSL2 with Ubuntu 20.04 with the following output generated:

developer@kfcP53:~/webiny-js$ npx create-webiny-project my-new-project
npx: installed 166 in 6.843s
Initializing a new Webiny project in /home/developer/webiny-js/my-new-project...
  ✔ Prepare project folder
  ✖ Setup yarn
    → ENOENT: no such file or directory, open '/home/developer/webiny-js/my-new-proj

[2022-09-05 15:16] zibberzoo commented on #2417
Same issue trying newer Node & Yarn versions:

developer@kfcP53:~/webiny-js$ npx create-webiny-project my-new-project
npx: installed 166 in 16.302s
Initializing a new Webiny project in /home/developer/webiny-js/my-new-project...
  ✔ Prepare project folder
  ✖ Setup yarn
    → ENOENT: no such file or directory, open '/home/developer/webiny-js/my-new-project/.yarnrc.yml'
    Install template package

[2022-09-05 15:19] Pavel910 commented on #2417
Can you post the contents of `cwp-logs.txt`? Thanks.

[2022-09-05 15:43] zibberzoo commented on #2417
The content of the cwp-logs.txt file is simply the Error Output above:

Error: ENOENT: no such file or directory, open '/home/developer/webiny-js/my-new-project/.yarnrc.yml'

[2022-09-05 17:24] ryohei-kamiya opened #2606 "Short-lived environments deployed by CD are not destroyed when PR is closed."
### Version

5.31.0

### Operating System

_No response_

### Browser

_No response_

### What are the steps to reproduce this bug?

1. Set up CI/CD
    1. `@webiny/cli-plugin-scaffold-ci` is not work ( reported in #2554, then fixed in #2601 ). Therefore, copy files from `packages/cli-plugin-scaffold-ci/src/githubActions/files/workflows/.github` in this repository to `.github` in your project repo

[2022-09-05 21:34] zibberzoo commented on #2417
I spun up a new Ubuntu LTS VM (VMware Workstation Pro 16.x on Windows 11), and I have the same problem with

1. Node 16.17.0 & Yarn 1.22.19 & create-webiny-project 5.31.0
2. Node 16.17.0 & Yarn 3.1.0 & create-webiny-project 5.31.0
3. Node 16.17.0 & Yarn 3.2.3 & create-webiny-project 5.31.0
4. Node 14.20.0 & Yarn 3.2.3 & create-webiny-project 5.31.0
5. Node 14.20.0 & Yarn 1.22.19 & create-webiny-pr

[2022-09-06 08:09] Pavel910 commented on #2417
@zibberzoo within the team, we run Webiny on Node 14 and 16 (depends on the developer), and we use Windows 11 and macOS (various versions). In our CI/CD pipelines we test project creation using `ubuntu-latest`, so we have all OS-es covered.

Regarding Yarn, we have it installed on 1.22.x and 2.4.3 (again, depends on the developer), but Yarn is pretty much irrelevant, because when a Webiny project

[2022-09-06 15:05] adrians5j commented on #2606
Looking into this.

For now, I can tell you it's related to the `destroy` command.

Will submit a PR soon, so that the fix can be included with the upcoming release (this week).

[2022-09-06 16:13] #2606 closed, assigned to nobody

[2022-09-06 16:14] adrians5j commented on #2606
Merged a PR, will give it another test before we release (5.32.0).

[2022-09-06 16:50] ryohei-kamiya commented on #2606
@adrians5j
Thank you for the improvement!
I expect that it work fine when I choice an S3 URL as my Pulumi backend.
I'm looking forward to the release v5.32.0.

[2022-09-06 18:24] zibberzoo commented on #2417
@Pavel910 , once I removed all things .yarn* (directory and rc file) that came with the repository (as I had to do with a package.json and yarn.lock file), then I was able to get through the project creation.  Since you may have others who are not regular yarn users, may I recommend you either check for .yarn* in the createProject.js (where you check for yarn.lock & package.json), make a note in y

[2022-09-06 18:27] Pavel910 commented on #2417
@zibberzoo I don't think I follow. Can you please explain which exact file was causing issues, and where in the directory hierarchy was it located? I'm sensing it was higher up the hierarchy, but please confirm. Thanks!

Also, what do you mean by `that came with the repository`?

[2022-09-06 19:06] Pavel910 commented on #2589
@EOEboh `ECONNRESET` usually indicates network issues. Have you, by any chance, tried to create a project since then?

[2022-09-06 19:11] Pavel910 commented on #2574
This does sound interesting, but it makes Webiny dependent on Route53, which is not a service everybody uses, or wants to pay for. Even we, at Webiny, do not use Route 53. We hook up everything via Cloudflare.

To be honest, I doubt this will make it into the system as the default behavior. But it could be implemented as a community plugin. If anyone is willing to give it a go, we'd be glad to par

[2022-09-06 20:19] Pavel910 commented on #2560
@wllam44 thanks for bringing this up. I don't have a simple answer for this at this point, but it's a great idea and we'll have a look at how we could make it possible.

Also, I'm curious, is it just he NAT Gateway instance that's problematic, or would you like to reuse the same VPC across all production environments?

[2022-09-07 14:09] zibberzoo commented on #2417
@Pavel910,

Successful approaches:
1. Commenting out the yarnPath in the webiny-js/.yarnrc.yml file allowed success and included the following output block

[code]
2. Deleting webiny-js/.yamlrc.yml and webiny-js/.yarn resulted in success with the only noticeable difference being the lack of the "Post-resolution validation" block from Approach 1.  [This Approach 2 seemed worth trying given the cont

[2022-09-07 14:16] Pavel910 commented on #2417
@zibberzoo what I don't understand is, _when_ do you delete those? `create-webiny-project` is a single process from start to the end. At what point do you go there and manually delete stuff?

Could you record a video of the entire process and share with us? It would really help us understand your journey from the beginning. Thanks a lot!

[2022-09-08 02:28] uncle-mo opened #2612 "Cannot create an entry when model has a Text field with multiple values enabled and the field is left blank."
### Version

5.30

### Operating System

Windows

### Browser

Chrome

### What are the steps to reproduce this bug?

- Create a model with a "Text" field with "use as a list of text" option set.
- Try to Create an entry for the model without adding anything to the new Text field list.

### What is the expected behavior?

Entry should be be created with null value.

### What do you see instead?

H

[2022-09-08 07:52] Pavel910 commented on #2612
Closing as a duplicate of https://github.com/webiny/webiny-js/issues/2468. Please leave a +1 there to improve visibility. Thanks a lot!

[2022-09-08 07:52] #2612 closed, assigned to nobody

[2022-09-08 15:18] zibberzoo commented on #2417
@Pavel910, here is the sequence:

1. clone webiny-js repository
2. cd to webiny-js and run npx create-webiny-project my-new-project
3. error regarding existing webiny-js/package.json and webiny-js/yarn.lock
4. remove existing webiny-js/package.json and webiny-js/yarn.lock
5. run npx create-webiny-project my-new-project
6. error per my first post in this thread
7. comment out yarnPath in webiny-js/

[2022-09-08 15:20] Pavel910 commented on #2417
@zibberzoo ok now I see what the issue is. The first 2 steps explain it all:
[code]

You cannot, and shouldn't, run `create-webiny-project` within a cloned repo :) That's it. All the errors make sense now that I understand your exact steps. May I ask, what was the reason for running `create-webiny-project` within a cloned repo?

Cheers!

[2022-09-08 15:34] Pavel910 commented on #2417
If you just want to start a Webiny project within a cloned repo, follow this guide: https://github.com/webiny/webiny-js/blob/next/docs/CONTRIBUTING.md

Basically, `webiny-js` repo is already a Webiny project, just like the one you get with `create-webiny-project`, except it also contains all our packages.

[2022-09-08 15:34] #2417 closed, assigned to nobody

[2022-09-08 15:41] zibberzoo commented on #2417
I'm just trying to test webiny-js.  I've been following the webiny docs (https://www.webiny.com/docs/get-started/install-webiny) and github (https://github.com/webiny/webiny-js).  Are those both stale?

[2022-09-08 15:44] Pavel910 commented on #2417
They're not stale, but you've mixed them up. It's either one OR the other.
To create a standalone project, use `create-webiny-project` (don't clone our repo).
To work on our repo, follow the `contributing` guide I linked in my previous comment.

So pick one of these paths, whatever it is you want to do, and follow that. The two are in no way related. Hope this helps :)

[2022-09-08 16:04] zibberzoo commented on #2417
My bad. Since the github repository (I found via search) linked to the webiny docs, I assumed the former was necessary for the latter.

Z

[2022-09-08 16:06] Pavel910 commented on #2417
No worries :) Just follow https://www.webiny.com/docs/get-started/install-webiny and you'll be good to go.
Let us know if you have any more problems, and join our Community Slack if you need help with anything: https://www.webiny.com/slack

[2022-09-09 00:40] uncle-mo commented on #2468
+1

[2022-09-11 06:59] jimjoes commented on #802
+1

[2022-09-12 08:41] timruppert opened #2616 "Expose configuration for website app preview Cloudfront"
### Is your feature request related to a problem? Please describe.

We are currently configuring our website domain and would like the preview domain to also be configurable, but it's not exposed in the app.resources during the createWebsiteApp function.

### Describe the feature's behavior.

When a user is working with the page builder, and they want to see work in progress, they get taken to the

[2022-09-12 17:15] MarkiyanPyts opened #2619 "Issue With Reference type field subcomponents order when saving or publishing."
### Version

5.32.0

### Operating System

Mac OS Monterey

### Browser

Safari

### What are the steps to reproduce this bug?

1) Create 2 content models
say **component_model_1** and **component_model_2** they both can have only 1 title field of type string it does not matter.
2) Create a **Page** content model, for it create **components** field of type Reference(should be array of references),

[2022-09-14 16:19] florianbepunkt opened #2626 "MFA"
### Is your feature request related to a problem? Please describe.

We require two factor auth for all our internal services. Webiny does not seem to support 2FA/MFA out of the box it seems.

### Describe the feature's behavior.

Enabling MFA via Authenticator apps.

### Describe alternatives you've considered.

_No response_

[2022-09-14 18:06] SvenAlHamad commented on #2626
Hey @florianbepunkt - at the moment options like SSO and MFA are only available on the Enterprise offering of our product. If you want to have a chat about this tier, feel free to reach out to us via the enterprise form: https://site.webiny.com/forms/enterprise-requirements/

[2022-09-15 05:28] taifok opened #2628 "Ability to customize response headers"
### Is your feature request related to a problem? Please describe.

In `/graphql` and `/cms` api set `"Access-Control-Allow-Headers"` response header as "*"
which is ignored in some old browsers (in my test case: iphone 6, safari < 13), and would cause error in browser and only a blank page is shown.

Related stackoverflow:
https://stackoverflow.com/questions/13146892/cors-access-control-allow-hea

[2022-09-15 05:41] taifok commented on #2628
or exposing the `reply` to `Context` like `request` in fastify `preParsing` hook, then we can set the headers by `reply.headers(...)`.

https://github.com/webiny/webiny-js/blob/0af7ac294c5843709e894af9ce8e1db153a4c880/packages/handler/src/fastify.ts#L243-L249

[2022-09-15 12:11] brunozoric commented on #2628
Hi @taifok
We could possibly add some lifecycle hooks (or something similar) so you can add your stuff when you need to.
Exposing `reply` to the `Context` would not help because context plugins are initialized after the `onRequest`, where we are setting the default headers (see [Fastify Lifecycle](https://www.fastify.io/docs/latest/Reference/Lifecycle/) docs) - it would be too late for OPTIONS req

[2022-09-16 16:01] Pavel910 opened #2629 "Don't use utf8 encoding when reading files for upload after deploy"
### Version

5.31.0

### What are the steps to reproduce this bug?

Create a 5.31. project, or upgrade an older project to that version, and run a deploy.

### What is the expected behavior?

Non-text files are uploaded to S3 bucket correctly, and are accessible.

### What do you see instead?

Static non-text assets (images, videos), are broken/inaccessible. Also, if you check the S3 bucket, these

[2022-09-16 16:18] Pavel910 opened #2630 "Switch places of dev and prod configs for Elasticsearch in the Core pulumi app"
### Version

Presumably, all >=5.29. versions.

### What are the steps to reproduce this bug?

Create a new project, use DynamoDB + Elasticsearch setup, and deploy.

### What is the expected behavior?

`--env=dev` should deploy the small development instance, and `--env=prod` should deploy a production instance.

### What do you see instead?

Dev and Prod configs places are switched, so `dev` depl

[2022-09-16 16:31] Pavel910 opened #2631 "Don’t add Host header on admin/api custom domains"
### Version

Presumably all >=5.29.0 are affected.

### What are the steps to reproduce this bug?

Create a project and apply a custom domain to `admin` and `api` apps, following the tutorial on connecting a custom domain to the `website` app: https://www.webiny.com/docs/infrastructure/additional-resources/connect-custom-domain (do the same changes, but in the `apps/admin` or in `apps/api` apps, i

[2022-09-16 16:58] Pavel910 commented on #2616
@timruppert @adrians5j does this look acceptable?

![CleanShot 2022-09-16 at 18 56 14](https://user-images.githubusercontent.com/3920893/190690543-ec7f2d0b-685d-4fed-bd8e-fc6207c742f3.png)

I'm trying to come up with the simplest possible solution. This one seems rather simple, but it will require you to have both delivery and preview domains be handled by the same certificate.

Alternatively, we

[2022-09-20 22:21] chiizzy1 commented on #2629
Hi Pavel, I have made the necessary edit to the code and I'll go ahead to open a pull request.

[2022-09-21 12:47] austa-ias commented on #2474
Hi @Pavel910 ! Any update on this feature ?

[2022-09-21 12:49] ademoverflow commented on #2474
Hi @Pavel910, any update on this feature ?

[2022-09-21 19:10] Pavel910 commented on #2474
@adem-usta this is being worked on, but it will be more than just a new field. We've developed an entire new concept of "Headless Pages" which is specifically targeted at managing pages in a headless manner. More on this very soon :)

[2022-09-22 08:40] timruppert opened #2637 "website-router-origin-request resource does not respect resource name configuration"
### Version

5.32.0

### Operating System

Mac 12.3.1

### Browser

N/A

### What are the steps to reproduce this bug?

To configure our resources, we added this snippet of code to make them easily identifiable in our apps/*/webiny.application.ts files:

[code]

### What is the expected behavior?

As with all of our other resources, I would expect the name to change to {prefix}-website-router-orig

[2022-09-22 23:58] LarrydNguyen commented on #2630
Hey, @Pavel910 I raised a PR, but there's some kind of failure in the testing, I'm not sure where and could really use some guidance.

[2022-09-23 07:32] brunozoric commented on #2630
Hi @LarrydNguyen, outside collaborators do not have access to our Elasticsearch cluster so that test is failing. PR is otherwise ok - I will merge.

[2022-09-23 07:34] #2630 closed, assigned to nobody

[2022-09-23 14:18] slscreditas opened #2639 "Error SignatureDoesNotMatch when Open Cloud Front Link"
### Version

_No response_

### Operating System

_No response_

### Browser

_No response_

### What are the steps to reproduce this bug?

Define specific Domain for my Webiny App;
Open Website Cloudfront URL;

### What is the expected behavior?

Open Webiny Website

### What do you see instead?

AWS Error:

`This XML file does not appear to have any style information associated with it. The docu

[2022-09-23 16:24] ademoverflow commented on #2474
Great to read that ! Can't wait to test it 🔥

[2022-09-27 15:23] #2629 closed, assigned to nobody

[2022-09-27 15:24] adrians5j commented on #2629
Closed by @chiizzy1, thanks again 🍻 !

[2022-09-28 22:09] PooneetThaper commented on #2524
This sounds like a feature request more so than an issue. Might be good to label it as such.

[2022-09-28 22:30] Pavel910 commented on #2524
This partially has to do with how we configured Cognito in our older implementation, in Webiny v4, where we used `email` as username, so a dedicated attribute was not necessary. Now in v5 we use Cognito's `preferred_username`, so it can be updated, but we still stick to email to reduce the amount of attributes, and things to handle.

So far, this is the first time we've received such a request, so

[2022-09-30 09:55] plsalvado opened #2647 "Page Builder - Grid deleted from navigator doesn't disappear from navigator"
### Version

5.31.0

### Operating System

macOS

### Browser

Chrome

### What are the steps to reproduce this bug?

1. Create a page with 2 grids
2. Open PB navigator on the left-hand-side
3. Delete the 2nd grid from the navigator (press **delete**)

### What is the expected behavior?

The grid should disappear from the canvas but also from the navigator

### What do you see instead?

The grid d

[2022-10-04 15:31] privacyrepo opened #2659 "Can not update model when have empty text field(toggled as list of texts)"
### Version

 v5.32.0

### Operating System

win 11

### Browser

Chrome

### What are the steps to reproduce this bug?

Installed webiny with aws, login to admin on cloudfront, create two models, one has reference of another one
![image](https://user-images.githubusercontent.com/112838080/193859469-e72e6849-2709-40c9-8c5d-1b679653f574.png)
And include text field (toggle use as list of texts)
![im

[2022-10-07 13:03] adrians5j commented on #2616
I'd like to implement 2nd solution. @Pavel910 can you green-light it please?

[2022-10-07 13:08] Pavel910 commented on #2616
@adrians5j let's go with the 2nd option 👍

[2022-10-07 13:08] adrians5j commented on #2616
Thanks! Will submit PR soon!

[2022-10-10 08:31] #2616 closed, assigned to nobody

[2022-10-11 11:06] rajkumarks7 commented on #2639
facing the same issue

[2022-10-11 11:12] Pavel910 commented on #2639
@slscreditas and @rajkumarks7 this will be fixed in the release coming this week. It has to do with custom domain which mistakenly configures `Host` header forwarding, which creates this issue.

Meanwhile, you can bypass the issue by applying this customization to your admin app `webiny.application.ts`:

[code]

[2022-10-11 11:13] Pavel910 commented on #2639
Closing; fixed in #2663.

[2022-10-11 11:13] #2639 closed, assigned to nobody

[2022-10-11 14:48] taifok opened #2678 "`uploadFolderToS3` doesnt support video file"
### Version

v5.31.0

### Operating System

_No response_

### Browser

_No response_

### What are the steps to reproduce this bug?

I imported video file in react app. the app files is uploaded with `utf-8` encoding but not `buffer` for these files.
so the video file cannot be viewed on S3.

### What is the expected behavior?

_No response_

### What do you see instead?

_No response_

### Addit

[2022-10-11 14:51] adrians5j commented on #2678
Fixed by https://github.com/webiny/webiny-js/pull/2635.

Will be released this week.

🙂

P.S. Will close this issue.

[2022-10-11 14:51] #2678 closed, assigned to nobody

[2022-10-11 17:02] rajkumarks7 commented on #2579
@SvenAlHamad how can i recreate the main menu?

[2022-10-11 17:31] Pavel910 commented on #2579
@rajkumarks7 it's in the main admin navigation; create a menu with slug `main-menu`:

![CleanShot 2022-10-11 at 19 30 21](https://user-images.githubusercontent.com/3920893/195160030-1e01a1f1-c9dc-4c99-ba44-6891f9a94a6a.png)

![CleanShot 2022-10-11 at 19 30 52](https://user-images.githubusercontent.com/3920893/195160086-cf432c9d-9b73-4cbf-8630-23e890324c05.png)

[2022-10-14 08:23] imso077 opened #2684 "Watch command doesn't work on webiny.application.ts file"
### Version

5.32.0

### Operating System

Linux

### Browser

_No response_

### What are the steps to reproduce this bug?

Try to edit the webiny.application.ts file, changes are not picked up by the Watch command.

### What is the expected behavior?

The watch command should work on this file also.

### What do you see instead?

Have to run deployment separatly, to push the Pulumi changes.

###

[2022-10-16 23:43] JamesMillerBlog opened #2688 "Custom Cognito identity and user pool"
Hi there

I’ve come across Webiny and it looks very exciting.

Core question for me, is if I wanted to use Webiny CMS with all it features, but wanted to use an existing cognito identity and user pool (instead of the one generated by Webiny via Pulumi) is this possible?

If so, could you please point me to an example of how exactly I can swap in my own cognito identity and user pool envs into Webi

[2022-10-17 08:03] Pavel910 commented on #2688
Hi @JamesMillerBlog, your requirement popped up a few times in the past, but we never got to trying it out.
Just want to mention that our user pool is only used in the admin app for "admin" users. For custom frontend apps, you'll need to have a separate user pool. So I'm curious, do you need to use your own user pool for Webiny admin app, or as a pool of your app users? (like webshop, or what have

[2022-10-17 13:09] SvenAlHamad commented on #2363
The underlying issue is explained in #2979. Once that one is fixed, this one will be automatically resolved.

[2022-10-17 13:09] #2363 closed, assigned to nobody

[2022-10-17 13:12] #2336 closed, assigned to nobody

[2022-10-17 13:16] #2229 closed, assigned to nobody

[2022-10-17 13:18] #2152 closed, assigned to brunozoric

[2022-10-17 13:36] Pavel910 commented on #2363
@SvenAlHamad `2979` doesn't exist. Please post the correct link, thanks.

[2022-10-17 14:53] SvenAlHamad commented on #1583
Closing this -> this is possible by navigating to the required device view and just activating the "hide" option on the selected cell that you wish to hide on that particular device.

[2022-10-17 14:53] #1583 closed, assigned to nobody

[2022-10-18 08:59] adrians5j opened #2694 "Multi-tenancy - Cannot Delete Lambda@Edge Functions"
### Version

5.33.0

### Operating System

MacOS

### Browser

N/A

### What are the steps to reproduce this bug?

Enable MT, deploy, then destroy.

### What is the expected behavior?

Destroy should work.

### What do you see instead?

With the multi-tenancy enabled, during the destroy operation of the Website project app, an error is thrown by Pulumi:

[code]

### Additional information

Unfortu

[2022-10-18 11:30] autoexec-midi commented on #2413
Also important: ordering columns (reverse) by viewports

[2022-10-18 12:50] SvenAlHamad commented on #2413
Thanks @autoexec-midi - I've noted this down. We'll be addressing this feature this quarter.

[2022-10-18 15:11] plsalvado opened #2695 "Page Builder - nested grid layout - inner grid 100% height not taking up outer grid height"
### Version

5.33.0

### Operating System

macOS

### Browser

Chrome

### What are the steps to reproduce this bug?

1. Create a grid and give it a height of 500px (for example)
2. Create another grid inside that grid and give it a height of 100%

### What is the expected behavior?

The inner grid should expand to height of the outer grid but it doesn't - see screenshot below.

<img width="1680"

[2022-10-18 15:34] plsalvado opened #2696 "Page Builder - adding a 5px padding in the editor for every PB cell"
### Version

5.33

### Operating System

macOS

### Browser

Chrome

### What are the steps to reproduce this bug?

1. Add a block to a page and set a background image
2. Add a grid inside that block and define a background colour with some transparency

You'll get an effect such as this
<img width="1344" alt="image" src="https://user-images.githubusercontent.com/8825508/196475372-d8ceb99e-6802-47

[2022-10-19 12:44] plsalvado opened #2699 "Page Builder - margin and padding units"
### Version

5.33.0

### Operating System

macOS

### Browser

Chrome

### What are the steps to reproduce this bug?

Create any page and add a block to it. Try to change the margin (same applies to padding in that page).

### What is the expected behavior?

There are 2 issues with the margins/padding units:

1. The units change from px to % - when trying to edit the margins - without any user inp

[2022-10-20 06:54] Pavel910 commented on #2637
@timruppert Looked into this, it's because of direct instantiation of a Pulumi resource, instead of using `app.addResource`, which then executes your hooks.

![CleanShot 2022-10-20 at 08 53 21@2x](https://user-images.githubusercontent.com/3920893/196877228-95c80b57-f491-4a66-9af5-2447bbc988ca.png)

It's an easy fix, we'll probably get it into the next release.

[2022-10-20 09:09] timruppert commented on #2637
That's fantastic @Pavel910 - thank you.

[2022-10-20 09:32] m0nikaza opened #2700 "WCP Billing"

[2022-10-20 15:58] adrians5j commented on #2694
Pasting the relevant part of the message @timruppert sent me via Slack:

[2022-10-21 00:14] riyadshauk opened #2701 "Graphql mutation update by only providing fields I want to update [potential bug]"
### Is your feature request related to a problem? Please describe.

I want to simply not need to input a ton of fields when updating an item in my content model... am I overlooking something? Say, given a revisionID, what if I just want to change one field, like `fxRate`?

[code]

Maybe this is a bug?? When I try running the following mutation,

[code]

I get this response:
[code]

Why would it ex

[2022-10-21 00:25] JamesMillerBlog commented on #2688
Hey @Pavel910 thanks for your fast reply and sorry for my slow one!

For my use case:
1. I'd like a 'standard' user to log into my web app (jwt is generated when they login via cognito), they can then use that jwt to authenticate against my apps back end lambda functions to retrieve appropriate data.
2. I'd also like an 'admin user' to also be able to log into my web app, and authenticate with the

[2022-10-21 00:29] JamesMillerBlog opened #2702 "Terraform implementation"
### Is your feature request related to a problem? Please describe.

Hi there, quick question - does Webiny have a terraform implementation that I can use?

### Describe the feature's behavior.

My ideal scenario is to use HCL to create the Webiny CMS.

### Describe alternatives you've considered.

I've looked at Pulumi, it does look really cool and I'd love to learn it sometime.

Learning Pulumi m

[2022-10-21 06:43] Pavel910 commented on #2688
@JamesMillerBlog we'll keep this requirement in mind, thanks for providing insights into your requirements, it helps us plan the implementation 👍

[2022-10-21 07:42] endymion1818 commented on #2701
Hi @riyadshauk I'm afraid this is an architectural decision and not a bug. Revisions are immutable so each time you want to make a modification you have to make a new revision. I have spoken to others who have also  asked for this to be changed. We'll likely take a look at how we can implement it at some point.

[2022-10-21 08:01] brunozoric commented on #2701
Hi @riyadshauk
You are using the GraphQL call wrong. This is how it should look like:
[code]

At the moment you cannot update partially out of the box, but you can create your own mutation that does it. You can check [here](https://github.com/webiny/webiny-js/blob/next/packages/api-headless-cms/src/crud/contentEntry.crud.ts#L827) how we do it and use some parts of that code. There are some interna

[2022-10-21 12:10] m0nikaza opened #2703 "Filtering tagged pages for the List of pages doesn't work"
### Version

5.33

### Operating System

Mac

### Browser

Chrome

### What are the steps to reproduce this bug?

Steps to replicate:

- Create a page and tag it with “bmw”, save and publish

- Create a new page and add the List of Pages, in the Element settings define a filter with a tag = bmw and Save

- The list of pages is not showing the page with a tag “bmw” it says No pages match the criter

[2022-10-21 17:07] robin-vinck commented on #2474
Hi @Pavel910 ,

Do you have an update on this matter?
Out of necessity I created a custom post field just for this, but it has much less flexibility.

Do you have an example of the solution and an ETA?

[2022-10-21 17:22] robin-vinck opened #2704 "You have the impression that you can change a Content Model created in code in the admin UI"
### Version

5.31

### Operating System

macOS Monterey

### Browser

Google chrome

### What are the steps to reproduce this bug?

1. Create a content model defined in code
2. Open the content model entries
3. Click on the name of the model
4. It seems like you are able to change this model, if you make a change and try to save it fails

<img width="1215" alt="Schermafbeelding 2022-10-21 om 19 16

[2022-10-23 05:49] brunozoric commented on #2704
Hi @robin-vinck
[Here](https://github.com/webiny/webiny-js/blob/next/packages/app-headless-cms/src/admin/views/contentEntries/ContentEntriesList.tsx#L153) is where the link is rendered. If you get the chance, fix it and make a PR. I'll mark this as good first issue as it's simple to fix.
Btw. you have a `plugin` property on `contentModel` to check if it's a model created via plugin.

[2022-10-24 10:13] m0nikaza opened #2705 "☁️ Azure Support"
Among all major cloud providers currently, we only support AWS out of the box.
We would like to add Azure to offer our users the flexibility to use a cloud provider of their choice.

[2022-10-24 10:24] m0nikaza opened #2706 "🚥 Conditional Fields"
Conditional fields are important for better data consistency, accuracy and avoid incorrect data entry. Conditional fields allow the admin to manage a set of dependencies between fields. Hiding and showing the dependent field, for example. When a field is "dependent", it will only be available for editing and displayed if the state of the "controlling" field matches the right condition and/or the d

[2022-10-24 10:49] m0nikaza opened #2707 "🔐 S3 Private Bucket"
For many users, this will be a long-awaited feature. All Webiny S3 buckets are now configured to be private. CloudFront now uses OriginAccessIdentity to request files from S3. With this approach, S3 bucket web hosting has to be turned off, and to replace some features provided by it, we had to add a Cloudfront Function to the website delivery distribution, to take care of website routing.

**IMPOR

[2022-10-24 10:49] m0nikaza opened #2708 "🎛 Webiny Control Panel Alpha"
At Webiny we have a mission to empower developers and organisations to build serverless applications. As the next step in our mission, we want to bring Webiny even closer to our audience. Webiny Control Panel will be our first commercial product and it will greatly complement our open-source offering. Here are some of its features.

- Management interface: Using Webiny Control Panel (WCP) manage a

[2022-10-24 10:50] m0nikaza opened #2709 "🚦 Advanced Publishing Workflow Release"
For certain organisations, specifically the larger ones, they tend to have strictly defined processes around publishing content. The content publishing usually requires several different reviews and sign-offs, e.g. from sales, marketing, legal, design and other departments.  Through this process organisations ensure the content that goes live is of top quality, and was reviewed by several members

[2022-10-24 10:50] m0nikaza opened #2710 "👪 Introducing Teams to User Management"
Webiny will make several improvements to the security module. Some include the ability to assign users into teams, where teams have one or more security roles assigned. These improvements will make it easier and more efficient to manage large amounts of users, as well as have additional control over the access permissions.
When a user selects “Custom access” that admins don’t define just one custo

[2022-10-24 10:51] m0nikaza opened #2711 "📂 Advanced Content Organisation for Pages"
Worried about your 10.000 pages website being trapped into a legacy CMS? Having a large amount of content organised in a multiple-level structure? We are working on offering you a user-friendly solution to manage high volume of pages. We will release a set of new features that enables enterprises to better organise and navigate their content. Editors will be able to manage their content in multipl

[2022-10-24 10:51] m0nikaza opened #2712 "🧘 Advanced Content Organisation for Headless CMS"
Having to manage huge amount of content entries is always a challenge, but with the new advanced content organisation, this will be a lot easier with ACO.  This feature will allow users to organise and navigate their content effectively. We will release a set of new features that enables enterprises to better organise and navigate their content. Editors will be able to manage their content in mult

[2022-10-24 10:51] m0nikaza opened #2713 "📚 Advanced Content Organisation for Files"
Having to manage huge amount of images, videos and other files is always a challenge, but with the new advanced content organisation, this will be a lot easier.  This feature will allow users to organise and navigate their content effectively. The user will be able to see more details in the list view or look through images and other content with the thumbnail view. We are also planning on adding

[2022-10-24 10:51] m0nikaza opened #2714 "🔎 Headless CMS Search Improvements"
Enable users of the Headless CMS to run more powerful search queries, and return search results in a more optimised way. Users of the Webiny CMS will have to write less code to get just the content they want, how they want it, and served at the performance and scale that Webiny has got us used to. When it comes to more advanced searching, such as full-text searching or conditional search criteria,

[2022-10-24 10:52] m0nikaza opened #2715 "⛶ A New Powerful Grid Functionality"
Improve application’s stability, and provide a better user experience and offer an enhanced Grid management functionality.

[2022-10-24 10:52] m0nikaza opened #2716 "🛠 Performance Improvements for Page Builder"
Optimisation of the experience with the Page Editor, the way Page Builder generates CSS, improve the page element rendering for the website and overall speed of the application

[2022-10-24 10:52] m0nikaza opened #2717 "🤖 Dynamic Pages MS 1"
The system is being prepped in the background to offer the ability to create static pages using headless CMS data.

[2022-10-24 10:52] m0nikaza opened #2718 "🤯 Headless Pages Foundation"
![Image](https://user-images.githubusercontent.com/106819205/206130387-763a2df6-d9dc-4716-81b2-7945b9c76b25.svg)

Enable content standardisation and organisation at scale using Headless Pages. Organisations that manage and produce content at scale will be able to not only define how their content looks like, but also how it’s put together. It empowers editors to follow defined rules around content

[2022-10-24 10:53] m0nikaza opened #2719 "🏗 Page Builder Blocks 2.0"
Page Builder Blocks are a feature inside the Page Builder application. Users can create a block through the Page Builder editor, save it, and then re-use it in other pages. If, for example, you would like to have consistent Product pages, you can create a Product Page block with a Heading, Description, Image Gallery, call to action button and add Links to Pages which show your latest products. Onc

[2022-10-24 10:53] m0nikaza opened #2720 "☁️ GCP Support"
Among all major cloud providers currently, we only support AWS out of the box.
We would like to add Google Cloud to offer our users the flexibility to use a cloud provider of their choice.

[2022-10-24 10:53] m0nikaza opened #2721 "🎒 Third Party CMS Migration Utility"
Ability to import data from 3rd parties such as Contentful, Strapi, etc

[2022-10-24 10:53] m0nikaza opened #2722 "🔄 Flow Builder Alpha"
Ability to configure processes to execute an immediate or scheduled action(s) when certain criteria are met.

[2022-10-24 10:54] m0nikaza opened #2723 "📑 Multi-step Form"
Ability to break down long and complex forms into smaller pieces to keep things simple and improve the user experience for your customers.

[2022-10-24 10:54] m0nikaza opened #2724 "⬆️ Webiny Version Upgrades Improvements"
We would make the upgrade process so simple and seamless that it matches a SaaS-like experience. However, this is challenging due to the open-source nature of the product. There are strategic changes we can implement to the release process and the version management to allow users to either skip versions or only upgrade once a quarter

[2022-10-24 10:54] m0nikaza opened #2725 "🤗 Onboarding Improvements"
The first impression of a new system is important, and user adoption of new tools and processes could be challenging. Hence, we are considering a customisable onboarding experience for your users. It is a great way to welcome, engage, inspire your users and save time and money for the organisation. The solution will be able to leverage existing documentation and user guides, but also to allow the

[2022-10-24 10:54] m0nikaza opened #2726 "👜 Content Migration"
Ability to migrate data and config between environments, e.g. from dev to stage to production environment. The current manual workaround is using export/import scripts for these migrations.

[2022-10-24 10:54] m0nikaza opened #2727 "🍕 Staged Rollouts"
Staged Rollouts  enables enterprises to better manage the risk of changes to their core applications. With Staged Rollouts, Webiny customers will be able to release code changes more safely, by gradually onboarding users into new versions of the code instead of promoting big-bang changes, that when gone wrong can disrupt the service and cause large material damages to companies.

[2022-10-24 10:55] m0nikaza opened #2728 "💽 State Storage"
Webiny Control Panel helps you store, sync and protect your infrastructure state files for your Webiny CMS instance.

Webiny under the hood uses Pulumi to manage the creation of your Webiny CMS infrastructure on your AWS cloud. When the infrastructure files are created, there is a state file which tells to the system what AWS resources have been created. Using the same state files the system is ab

[2022-10-24 10:55] m0nikaza opened #2729 "💸 Cloud Cost Analysis"
Understand the consumption and the cost of the underlying AWS resources your Webiny instance is consuming.

[2022-10-24 10:55] m0nikaza opened #2730 "♻️ Point-in-time Data Recovery"
- Up to 30 days old database snapshots you can restore to as needed.
    - Older backups you can store for more extended periods for compliance reasons.

[2022-10-24 10:55] m0nikaza opened #2731 "⚠️ Receive alerts on different events in your Webiny instance"
Get a notification on different events in your Webiny instance, be that API performance drop, a significant increase in cloud consumption, or a CI/CD deployment error.

[2022-10-26 22:52] riyadshauk opened #2736 "JSON field in Content Model with JSON editor syntax highlighting etc on front-end"
### Is your feature request related to a problem? Please describe.

Simply want to use Webiny as a Headless CMS with a nice web-based UI for developers and potentially other content creators to collaborate in.

### Describe the feature's behavior.

It would be great to have a JSON field datatype in the Content Models.

To start, it would give you JSON-syntax-enabled text box to type in the JSON ob

[2022-10-27 08:00] Pavel910 commented on #2736
@riyadshauk we have a docs article on creating a custom field type, so you can implement this yourself quite easily: https://www.webiny.com/docs/headless-cms/extending/custom-field-type

If `long-text` is something that works, you can simply create a custom field renderer (a simple React plugin), to render a proper code editor :) Check this video which shows how to create a color picker on top of

[2022-10-29 10:26] taifok opened #2739 "Cannot save when no input in list text field in Admin CMS"
### Version

v5.31.0

### Operating System

_No response_

### Browser

_No response_

### What are the steps to reproduce this bug?

1. Create a model with a text field accept multiple values
2. Click "new entry" to create a entry without input a value in that field
3. Save

### What is the expected behavior?

Should create a entry with that field without any values

### What do you see instead?

[2022-10-30 13:27] TheGreyRaven opened #2740 "Unable to deploy Webiny to AWS"
### Version

5.33.0

### Operating System

macOS (Ventura) 13.0

### Browser

Opera

### What are the steps to reproduce this bug?

Start with a fresh AWS account and run: ``yarn webiny deploy``

### What is the expected behavior?

The service would be deployed to AWS instead of throwing an error and exiting.

### What do you see instead?

[code]

### Additional information

_No response_

### Pos

[2022-11-01 11:13] robin-vinck commented on #2704
Hi @brunozoric

It seems like I cannot open an issue branch.
<img width="340" alt="Schermafbeelding 2022-11-01 om 12 12 25" src="https://user-images.githubusercontent.com/53557527/199220728-60af4343-ebb1-4f67-b9f1-7e950f2fe489.png">
Following this guide:
https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-a-branch-for-an-issue

[2022-11-02 13:29] m0nikaza opened #2751 "Fix PB paragraph rendering"
### Version

5.33

### Operating System

_No response_

### Browser

_No response_

### What are the steps to reproduce this bug?

Go to this URL, and recreate the left side, with bolded titles and text, using the Paragraph element in the editor.
https://site.webiny.com/signup/demo-request/

![CleanShot 2022-11-02 at 15 38 52](https://user-images.githubusercontent.com/3920893/199518668-dfee1157-f5

[2022-11-07 14:36] Pavel910 commented on #2751
Fixed in this commit: https://github.com/webiny/webiny-js/commit/956625a786fca1e99ee0bf5d08c961c55038dd89

[2022-11-07 14:36] #2751 closed, assigned to Pavel910

[2022-11-14 23:49] 666Andy6661 opened #2775 "The page image saved in page settings cannot be stored"
### Version

version 5.3.3

### Operating System

Windows & macOS

### Browser

Chrome

### What are the steps to reproduce this bug?

1. Open the pages in Page Builder
2. Choose an existing page and edit it, then click settings.
3. At the bottom of setting list, there is a image upload area. Upload one image and save it
4. When you refresh the page, the image disappear. Checked it in API playgrou

[2022-11-15 14:52] Pavel910 opened #2776 "PageBuilder - onSave callback on advanced element settings plugins is not executed"
### Version

_No response_

### Operating System

_No response_

### Browser

_No response_

### What are the steps to reproduce this bug?

Define a plugin with the `onSave` callback as depicted by the following plugin type:

[code]

The `onSave` callback is not called when the settings form is submitted.

### What is the expected behavior?

The `onSave` callback is executed, and my `data` modific

[2022-11-15 15:19] Temidayo32 opened #2777 "Abnormal behavior with Content models and Groups."
### Version

It is a demo.webiny.com instance

### Operating System

Window 10

### Browser

Google Chrome

### What are the steps to reproduce this bug?

1. Using a demo instance, I created two model( DemoBlog and PelicanBlog) in the default content group (ungrouped).
2. Renamed **ungrouped** to **Blog**.
3. **First abnormal behavior observation:** When querying the content models in the API play

[2022-11-16 15:56] ZRogerson opened #2781 "Forever scroll not working when container is taller that initial entries"
### Version

5.33.1

### Operating System

Mac (M1)

### Browser

Chrome/Firefox

### What are the steps to reproduce this bug?

1. Ensure height of browser window is taller than the initial 10 entries.
2. Visit an entry page.

### What is the expected behavior?

Entries list should populate enough entries to fill the panel and allow for forever scroll.

### What do you see instead?

The initial 1

[2022-11-17 04:26] hemzet commented on #2776
Hi Pavel,
Does this ticket cover also what we're experiencing (see below)? Thanks

[..}
Uploaded image to page in page builder (edit ->settings). When refreshing, the image will disappear. And we also checked by API Playground, we found that the image was not stored in data of the page.
[..}

[2022-11-18 13:41] mbejawada opened #2785 "Support custom form layout tabs for nested objects in Headless CMS content models"
### Is your feature request related to a problem? Please describe.

We have multiple nested object datasets in Headless CMS content model, and unable to create tabs for nested objects dataset.

### Describe the feature's behavior.

We would like to display nested object datasets in to multiple tabs.
for example, In my model, features and powerTrains are two different nested object datasets and we

[2022-11-23 20:39] data-ux commented on #2408
I’m experiencing the same issue on v5.33.2. Paragraphs are visible in page builder, but hidden on the published page.

[2022-11-23 20:42] SvenAlHamad commented on #2408
@data-ux we have this fixed in the unstable branch at the moment. We expect it to be released in the stable branch towards end of the quarter.
This is the commit with the fix.
https://github.com/webiny/webiny-js/commit/956625a786fca1e99ee0bf5d08c961c55038dd89
You can use §yarn patch§ to create a patch for that file within your project until we do the official release.

[2022-11-24 13:30] data-ux commented on #2408
Thanks @SvenAlHamad! I made the same change as the linked commit with `yarn patch` to package @webiny/app-page-builder and the issue is now resolved for me.

[2022-11-28 11:06] m0nikaza opened #2808 "🎨 Low/ No Code Website Theme Management Improvements Phase 1"
![Image](https://user-images.githubusercontent.com/106819205/206130518-bbe0c518-38a5-4f15-a456-8d72e2035e51.svg)

This feature will allow non-developers to customise the look and feel of the website. We will offer you the ability to set up the CSS global theme using Page Builder interface to ensure the visual styling is consistent across pages. The initial release will focus on typography, colour

[2022-11-29 06:36] adrians5j opened #2810 "Create An Initialization Script For Ephemeral Environments"
## The Issue

At the moment, it's not easy to run any kind of tests tests against ephemeral Webiny project environments. This is because every time we deploy a new Webiny project, it first needs to be installed.

![image](https://user-images.githubusercontent.com/5121148/204456998-ffb05879-8eb5-4c39-a258-857bb650d25f.png)

## Proposed Solution

Ideally, whenever a new ephemeral environment is spun

[2022-11-29 09:43] SvenAlHamad commented on #2810
A similar approach might be also useful for when you create new tenants in Tenant Manager. Often times when you create a tenant you don’t want to go through the installation steps, but have a tenant that’s ready to use out of the box.

[2022-11-30 19:40] Pavel910 commented on #2776
@hemzet no, this issue is not related. But, the issue you mentioned is resolved in #2804 :)